html,body{padding:0px;margin:0px;_overflow-y:auto; font-family:'\5FAE\8F6F\96C5\9ED1';  font-size:14px;color:#333}
div,form,img,ul,ol,li,dl,dt,dd{margin:0;padding:0;border:0;text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;margin:0}
input,select,button,textarea{font-size:100%}
input,textarea{margin:0;padding:0; outline: none;font-size: 100%;vertical-align: baseline;}
ol,ul{margin:0;padding:0;list-style:none}
table{border-collapse:collapse;border-spacing:0}
a{color:#333;text-decoration:none;}
a img{border:0;vertical-align:middle}
a:hover{color:#f36;}
red{color: red;}

.clear:after{clear:both; content:'.'; display:block; height:0; font-size:0; visibility:hidden;}
.clearfix{clear:both; content:'.'; display:block;}
.fl{float:left;_display:inline}
.fr{float:right;_display:inline}

/** top css */
.lv-header{width: 1000px; margin:0 auto;height: 80px;}
.lv-header .logo{width: 172px;height: 70px;float: left;margin: 2px 0;}
.nav{padding: 0 67px;float: left;}
.nav li{float: left;width: 60px;padding: 0 10px;height: 80px;line-height: 80px;text-align: center;}
.nav li a:hover,.nav li.active a,.lv-user .lgoregi li a:hover{color:#21a0f1;}
.lv-user{float: right;margin-right:20px;padding: 0 5px;margin: 15px 0;position: relative;}
.lv-user .user-icon:hover{color: #333;}
.lv-user .user-icon img{margin-right: 5px;}
.top-iocn{background: url(../img/bottom-arrow.png) no-repeat center right;width: 19px;height:7px;display: inline-block;}
.lv-user .lgoregi{display: none;}
.lv-user .lgoregi li{line-height: 30px; text-align: right;padding-right: 19px;}
.lv-user.activer{background: #fff;border-bottom:0;}
.lv-user.activer .lgoregi{display:block;position: absolute;z-index: 22222;background: #fff;width: 112px;border-top: 0px; top: 50px;left:-1px;}


/** 注册/登录共用 */
.inpbg{height: 37px;line-height:37px;background: #21a0f1;cursor: pointer;color: #fff;text-align: center;}
.colorred{color: red;}
.colorccc{color: #ccc;}

/** 登录弹出框 */
.error_tip,#mwshow{display: none;}
.login-wrap{width: 400px;background:#fff;padding: 50px 40px;margin:0 auto;}
.error_tip {background: #ffebeb url(../img/error-icon.png) no-repeat  5px 6px;border: 1px solid #e4393c;height: 30px;line-height: 30px;color: #e4393c;  width: 250px;margin: 0 auto;padding-left: 30px;margin-bottom: 20px;font-size: 12px;}
.login-wrap h3{border-bottom: 1px solid #ccc; margin: 0 auto;text-align: center;line-height: 30px;  font-size: 18px;font-weight: normal;padding-bottom: 5px;margin-bottom: 30px;}
.item,.lg-login,.lg-reg-a,.securityCode{width: 280px;margin: 0 auto;height:35px;}
.item{border: 1px solid #ccc;  clear: both;margin-top: 20px;position: relative;}
.item .login-label{width: 18px;height:18px;float: left; text-align: center; margin: 7px 5px;}
.item .name-label{background: url(../img/userName.png) no-repeat  0px 1px;}
.item .pwd-label{background: url(../img/userPwd.png) no-repeat  0px 2px;}
.item .isShowHideIcon{ background: url(../img/isShowHide-icon.png) no-repeat  3px 2px;float: right;width: 25px;height: 18px;margin: 7px 0;cursor: pointer;}
.item input.itxt{width: 224px;height:30px;border:none;float: left;margin: 2px 0;background: #fff;line-height: 30px;}
.lg-login{margin-top: 30px;}
.lg-login label{float:right;margin-top: 15px;}
.lg-login .sub {display: inline;float: left;border: none;width: 140px;margin-left: 20px;}
.lg-reg-a{margin-top: 10px;padding-left:50px}
.lg-reg-a a{padding-left: 5px;padding-right: 5px}
.other-logo{border-top:1px solid #ccc;margin-top:30px;}
.txt{width: 224px;position: absolute;z-index: 2;height: 30px;line-height: 30px;margin: 2px 0;color: #999;cursor: text;float: left;left: 30px;}

/** 注册弹出框 */
.register-wrap{width: 400px;margin:0 auto;}
.securityCode {clear: both;margin-top: 20px;position: relative;}
.securityCode input.itxtcode{width: 120px;height: 35px;line-height:35px;border: 1px solid #ccc;padding:0 5px;float: left;}
.chekeCode{display: inline;border: none;width: 120px;float: right;}
.goregi{width: 280px;height: 35px;border: none;}
.mobilecode{display: none;}

/*中间*/
.lv-center{height:500px;}


/*底部*/
.lv-footer{height:179px;border-top:2px solid #bebebe;}
.lv-footer p{width: 1000px;margin:0 auto;text-align: center;  line-height: 40px;}
.lv-footer p.ftop-50{margin-top:50px;}



/*Initialize Swiper*/
.site-footer{border-top: 2px solid #ccc;margin-top: 10px;}
.col-link {margin:10px 0;  text-align: center;}
.col-link a,.col-ylink p a{ margin-right: 10px;}
.col-copIcp,.col-ylink,.col-ylink p a{color: #757575; }
.col-copIcp{text-align: center}
{}