<style type="text/css">
	.evaluateImg.img1 {background:url('../img/icon/1.png');}
	.evaluateImg.img2 {background:url('../img/icon/2.png');}
	.evaluateImg.img3 {background:url('../img/icon/3.png');}
	.evaluateImg.img4 {background:url('../img/icon/4.png');}
	.evaluateImg.img5 {background:url('../img/icon/5.png');}

	.evaluateImg.img1.active{background:url('../img/icon/1_1.png');background-size: contain;}
	.evaluateImg.img2.active{background:url('../img/icon/2_2.png');background-size: contain;}
	.evaluateImg.img3.active{background:url('../img/icon/3_3.png');background-size: contain;}
	.evaluateImg.img4.active{background:url('../img/icon/4_4.png');background-size: contain;}
	.evaluateImg.img5.active{background:url('../img/icon/5_5.png');background-size: contain;}

	.evaluateImg.evaluateImg{background-size: contain;}
	.col .checkbox input, .checkbox-icon{
		position: relative;
	    width: 28px;
	    height: 28px;
	    display: block;
	    border: 0;
	    background: transparent;
	    cursor: pointer;
	    -webkit-appearance: none
	}
	.col .checkbox input:checked:before, input:checked + .checkbox-icon:before {
 		 border-width: 0; 
 	}
 	.checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before {
	    background: #004799;
	    border-color: #004799; 
	}
	.col .checkbox input:before, .checkbox-icon:before {
	    display: table;
	    width: 100%;
	    height: 100%;
	    border-width: 0;
	    border-style: none;
	    border-radius: 28px;
	    background: transparent;
	    content: ' ';
	    -webkit-transition: background-color 20ms ease-in-out;
	    transition: background-color 20ms ease-in-out;
	}
	.col .checkbox input:checked:after, input:checked + .checkbox-icon:after {
	    opacity: 0;
	}


	.workscope{
		text-align: left;margin-bottom: 10px;
	}
	.workscope span{
		background-color: #f0f1f3;
	    border-radius: 10%;
	    padding: 3px 11px 7px 12px;;
	    margin: 5px;
	    display: inline-block;
	}
	.bg_positive span{
		border: 1px solid #004799;
		background-color: #004799;
	    border-radius: 10%;
	    padding: 5px 7px;
	    margin: 5px;
	    display: inline-block;
	    color: #fff;
	}
	.bg_positive .errer{
		color: #ccc;
		 padding: 5px 7px;
    	margin: 5px;
	}

	.workscope span.active_tag{
		background-color: #f7851e;
	}

	.workscope span label{
		color: #7f7f7f;
		font-size: 12px;
	}
	.workscope span.active_tag label{
		color:#fff;
	}
</style>
<ion-view hide-tabs="true" cache-view="false">
	<ion-pane>
		<form name="myForm" role="form" novalidate ng-controller="confirmCompletionCtrl">
			<ion-content class="has-tabs">

				<div class="card" style="border-radius: 10px;padding: 20px 10px;">
					<div class="row row-no-padding row-center" style="text-align: center;">
						<div class="col col-center" ng-repeat="evaluate in evaluates">
					  		<div style="width:100%;height:5px;clear:both;"></div>
					  		<label class="checkbox evaluateImg img{{evaluate.value}}" ng-class="{active: active == {{evaluate.value}} }" ng-click="evaluate_click(user.evaluate_score)">
                                <input ng-model="user.evaluate_score" name="evaluate_score" type="radio" value="{{evaluate.value}}">
                            </label>
					  	</div>
					  	{{evaluate.value}}
					</div>
				</div>
				<div class="card" style="border-radius: 10px;padding: 20px 10px;">
					<div class="list workscope">
						<span ng-repeat="item in items" ng-class="{active_tag: inShowtags(item.key)}" ng-click="click_tag(item.key,item.value)" > 
							<label>{{item.value}}</label>
						</span>
					</div>
					<label class="item item-input" style="border-color:#fff;border: 1px solid #f0f1f3;border-radius: 10px;">
			          <textarea ng-model="user.evaluate_comment" name="evaluate_comment" rows="10" cols="70" class="itxtarea" placeholder="亲，留下点什么吧(至少两个字)" ng-minlength="0" ng-maxlength="50"></textarea>
			        </label>

				</div>
				<!-- <div class="item" style="padding: 10px 0;font-size: 12px;">
					<div class="row row-no-padding row-center" style="text-align: center;">
						<div class="col col-center" ng-repeat="evaluate in evaluates">
					  		{{evaluate.title}}
					  		<div style="width:100%;height:5px;clear:both;"></div>
					  		<label class="checkbox evaluateImg img{{evaluate.value}}" ng-class="{active: active == {{evaluate.value}} }" ng-click="evaluate_click(user.evaluate_score)">
                                <input ng-model="user.evaluate_score" name="evaluate_score" type="radio" value="{{evaluate.value}}">
                            </label>
					  	</div>
					</div>
				</div> -->


				<!-- <div class="list workscope" style="background-color: #fff;margin-bottom: 0px;">
					<span ng-repeat="item in items" ng-class="{active_tag: inShowtags(item.key)}" ng-click="click_tag(item.key,item.value)" > 
						<label>{{item.value}}</label>
					</span>
				</div>

				<ion-list>
			        <ion-item class="item item-text-wrap" style="border-color:#fff;margin-top: 10px;">
			          	<label class="item item-input" style="border-color:#fff">
				          <textarea ng-model="user.evaluate_comment" name="evaluate_comment" rows="10" cols="70" class="itxtarea" placeholder="请写下对律师的感受吧，对他人的帮助很大哦..." ng-minlength="0" ng-maxlength="50"></textarea>
				        </label>
				        <p ng-if="myForm.evaluate_comment.$error.maxlength" style="color:red;">字符的长度不能超过50个</p>
			        </ion-item>
		        </ion-list> -->
		    </ion-content>
		    <div class="tabs" style="background-color:#fff;height: 59px;">
				<!-- 发表评价 -->
				<div class="row" style="padding: 5px 10px;">
					<button class="button button-block button-positive" ng-disabled="myForm.$invalid" ng-click="submit(user)" style="border-radius: 10px;">发表评价</button>
				</div>

			</div>
		</form>
	</ion-pane>
</ion-view>