<ion-view hide-tabs="true" cache-view="false" view-title="订单详情">
	<ion-pane>
		<ion-content class="has-tabs">

			<div class="card" style="border-radius: 10px;box-shadow:none;">
				<div class="item item-text-wrap">
					<p>订单编号：{{items.order_no}}</p>
					<p>创建时间：{{items.created_at}}</p>
					<p>订单金额：199元</p>
					<p>订单信息：{{items.type_name}}</p>
				</div>
			</div>
			<div class="card" style="border-radius: 10px;box-shadow:none;">
				<div class="item item-text-wrap">
					<h3 class="c7f7f7f" style="margin-bottom: 13px;">订单详情</h3>
					<div class="hr mb10"></div>
					<p class="contents" style="padding: 0 10px;">{{items.content}}</p>
				</div>
			</div>

	    </ion-content>

	    <div class="tabs" style="background-color:#fff;height: 59px;">

			<!-- 待确认 -->
			<!-- <div class="row row-center row-no-padding" style="padding: 5px 10px;">
				<div class="col col-center" style="margin-right: 10px;">
					<button class="button button-block button-positive" style="border-radius: 10px;" ng-click="to_complete(items.transitions[1].to_complete)">确认完成</button>
				</div>
				<div class="col col-center">
					<button class="button button-block button-positive" style="border-radius: 10px;" ng-click="to_ask(items.id)">联系律师</button>
				</div>
			</div> -->

			<!-- 待评价 -->
			<div class="row" style="padding: 5px 10px;">
				<button class="button button-block button-positive" style="border-radius: 10px;" ng-click="to_evaluate(items.id,items.type)">服务评价</button>
			</div>

			<!-- 已结束 -->
			<!-- <div class="row" style="padding: 5px 10px;">
				<button class="button button-block button-positive" style="border-radius: 10px;">聊天记录</button>
			</div> -->

		</div>


	</ion-pane>
</ion-view>