<ion-view hide-tabs="true" cache-view="false" view-title="订单管理">
    <ion-content>
    	
    	<ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
    		<div ng-if="nodata == false" class="nodate">
				<i class="nodate-iocn"></i><br>
				<label>暂无数据，请稍后再试</label>
			</div>
    		<div class="card" ng-repeat="item in items" style="border-radius: 10px;">
				<a class="item item-text-wrap" style="border-width: 0px;" ng-href="#/user/order/view/{{item.id}}">
					<h3 style="margin-bottom: 12px;color: #48b4ff;">
						{{item.status_name}}
						<i class="icon ion-chevron-right" style="color: #7f7f7f;margin-top:2px;"></i>
					</h3>
					<div class="hr mb10"></div>
					<p>
						订单编号：12345678912345612
					</p>
					<p>
						创建时间：{{item.created_at}}
					</p>
					<p>
						订单金额：199元
					</p>
					<p>
						订单信息：{{item.type_name}}
					</p>
				</a>
			</div>
		<ion-infinite-scroll pulling-text="上拉加载" ng-if="moredata" on-infinite="loadMore()" distance="1%"> </ion-infinite-scroll>
    </ion-content>
</ion-view>