<ion-view hide-tabs>
		<ion-pane>
			<ion-header-bar align-title="center" class="bar bar-header bar-light">
				<button class="button button-clear button-positive" ng-click="jumpGoBack()">  
	                <i class="icon icon-left ion-ios-arrow-back"></i>  
	            </button>
				<h1 class="title">我的律团</h1>
			</ion-header-bar>
			<ion-content>
				<div class="list" >
					<a class="item item-button-right" ng-href="#/userquestion">
						<img ng-src="img/wdzx.png" style="width:20px;height:20px;float:left;margin-top:1px;margin-right:5px;" />
			            我的咨询
					    <button class="button button-clear">
					      <i class="icon ion-ios-arrow-right"></i>
					    </button>
					</a>
					<a class="item item-button-right" ng-href="#/orderuser">
						<img ng-src="img/wddd.png" style="width:20px;height:20px;float:left;margin-top:1px;margin-right:5px;" />
			            我的订单
					    <button class="button button-clear">
					      <i class="icon ion-ios-arrow-right"></i>
					    </button>
					</a>
			        <a class="item item-button-right" ng-href="#/user/wallet">
			        	<img ng-src="img/wdqb.png" style="width:20px;height:20px;float:left;margin-top:1px;margin-right:5px;" />
			            我的钱包
					    <button class="button button-clear">
					      <i class="icon ion-ios-arrow-right"></i>
					    </button>
					</a>
			    </div>
			</ion-content>
			
		</ion-pane>
</ion-view>