<ion-view hide-tabs="true">
		<ion-pane>
			<ion-header-bar align-title="center" class="bar bar-header bar-light">
				<a class="button icon-left ion-chevron-left button-clear button-positive button-small ion-ios-arrow-back" ng-href="#/about"></a>
				<h1 class="title">应用介绍</h1>
			</ion-header-bar>
			<ion-content>
				<div class="item" style="text-align: center;padding: 50px 0 0 0;border-color: #fff;">
				    <img ng-src="../img/gylt_logo.png" style="width:30%;">
				    <div class="height10"></div>
				    <b>开启全民触手可及的法律时代</b>
				</div>
				<div class="item" style="border-color: #fff;">
					<p class="contents" style="text-indent: 2em;">律团是一个借助移动端而建、致力于为广大用户和中小微企业提供专业法律服务的法务社区平台，也是国内首家打造网站、微信、APP“三屏合一”法律圈概念的法律电商平台。律团拥有数千位资深律师组成的法律顾问团队，并根据客户不同层次的法律需求，匹配法律服务资源，开发出一整套服务收费标准化、服务内容标准化、服务流程标准化、服务质量标准化的产品，为用户和中小微企业提供最专业的法律服务。有困难，找律团，期待您与律团一起“开启触手可及的全民法律时代”。</p>
				</div>
			</ion-content>
		</ion-pane>
</ion-view>
