<style type="text/css">
.css-form .row{padding: 5px 0}
.css-form .item-input{padding: 6px 0 5px 0px}
</style>
<ion-view hide-tabs="true" view-title="认证成为律师">
		<ion-pane  class="web-body">
			<ion-header-bar class="bar bar-header bar-light">
				<a class="button icon-left ion-chevron-left button-clear button-positive button-small ion-ios-arrow-back" ng-href="#/center"></a>
				<h1 ng-if="user_group_id == 1 || user_group_id == 2 && is_verified == 0" class="title">认证律师</h1>
				<h1 ng-if="user_group_id == 2 &&  is_verified == 1" class="title">修改认证律师</h1>
			</ion-header-bar>
			<ion-content class="web-body" style="margin-bottom:0;">
			<form name="myForm" class="css-form" id="myForm" novalidate>
				<div ng-if="user_group_id == 1 || user_group_id == 2 && is_verified == 0">
						<h4 class="title web-title web-fc666">资格认证 <span class="web-ftcred" style="font-size:14px;">(审核通过后，不可修改)</span></h4>
						<div class="list">
							<div class="item item-input">
								<div class="row">
								  <div class="col col-center">执业人</div>
								  <div class="col col-75 col-center">
								  	<input placeholder="请输入真实姓名" ng-model="realname" name="realname" type="text" required>
								  </div>
								</div>
							</div>
							<div class="item item-input">
								<div class="row">
								  <div class="col col-center">性别</div>
								  <div class="col col-75 col-center">
								  	<select class="web-font16" ng-model="sex" name="sex" required>
								      	<option value="" selected>--性别--</option>
								      	<option ng-repeat="sex in sexs" value="{{sex.key}}">
								      		{{sex.value}}
								      	</option>
								    </select>
								  </div>
								</div>
							</div>
							<div class="item item-input">
								<div class="row">
								  <div class="col col-center">执业证号</div>
								  <div class="col col-75 col-center">
								  	<input placeholder="请输入执业证号"  ng-model="license" name="license" type="text" required>
								  </div>
								</div>
							</div>
							<div class="item item-input">
								<div class="row">
								  <div class="col col-center">执业机构</div>
								  <div class="col col-75 col-center">
								  	<input placeholder="请输入执业机构" ng-model="company_name" name="company_name" type="text" required>
								  </div>
								</div>
							</div>
							<div class="item item-input">
								<div class="row">
								  <div class="col col-center">执业证书</div>
								  <div class="col col-75 col-center">

									<div ng-model="license_file" class="button item-note ion-ios-plus-empty button-light" ngf-pattern="'image/*'"  accept="image/*" ngf-max-size="20MB" ngf-min-height="100" ngf-select="uploadFiles($file,1)"></div>
									<img ng-src="{{file_1}}" ngf-thumbnail="license_file || ''" width="52" height="50">
									<input type="hidden" name="license_file" value="{{file_1}}" />
									<span class="progress_1" ng-show="progress_1 >= 0">
					                  <div style="width:{{progress_1}}%" ng-bind="progress_1 + '%'"></div>
					                </span>

								  </div>
								</div>
							</div>
							<div class="item item-input">
								<div class="row">
								  <div class="col col-center">身份证照</div>
								  <div class="col col-75 col-center">

									<div ng-model="ID_img" class="button item-note ion-ios-plus-empty button-light" ngf-pattern="'image/*'"  accept="image/*" ngf-max-size="20MB" ngf-min-height="100" ngf-select="uploadFiles($file,4)"></div>
									<img ng-src="{{file_4}}" ngf-thumbnail="ID_img || ''" width="52" height="50">
									<input type="hidden" name="ID_img" value="{{file_1}}" />
									<span class="progress_4" ng-show="progress_4 >= 0">
					                  <div style="width:{{progress_4}}%" ng-bind="progress_4 + '%'"></div>
					                </span>

								  </div>
								</div>
							</div>
						</div>
					</div>
					<h4 class="title web-title web-fc666">个人资料</h4>
					<div class="list">
						<div class="item item-input item-icon-right">
							<div class="row">
							  <div class="col col-center">个人头像</div>
							  <div class="col col-75 col-center">

								<div class="button item-note ion-ios-plus-empty button-light" ng-model="avatar" ngf-pattern="'image/*'"  accept="image/*" ngf-max-size="20MB" ngf-min-height="100" ngf-select="uploadFiles($file,2)"></div>
								<img ng-src="{{file_2}}" ngf-thumbnail="avatar || ''" width="52" height="50">
								<input type="hidden" name="avatar" value="{{file_2}}" />
								<span class="progress_2" ng-show="progress_2 >= 0">
				                  <div style="width:{{progress_2}}%" ng-bind="progress_2 + '%'"></div>
				                </span>


							  </div>
							</div>
						</div>
						<div class="item item-input item-icon-right">
							<div class="row">
							  <div class="col col-center">背景图片</div>
							  <div class="col col-75 col-center">

								<div class="button item-note ion-ios-plus-empty button-light" ng-model="bg_image" ngf-pattern="'image/*'"  accept="image/*" ngf-max-size="20MB" ngf-min-height="100" ngf-select="uploadFiles($file,3)"></div>
								<img ng-src="{{file_3}}" ngf-thumbnail="bg_image || ''" width="52" height="50">
								<input type="hidden" name="bg_image" value="{{file_3}}" />
								<span class="progress_3" ng-show="progress_3 >= 0">
				                  <div style="width:{{progress_3}}%" ng-bind="progress_3 + '%'"></div>
				                </span>

							  </div>
							</div>
						</div>
						<div class="item item-input">
							<div class="row">
							  <div class="col col-center">所在地区</div>
							  <div class="col col-75 col-center">
							    <select  class="web-font16" required ng-model="province" name="province" ng-options="province as province.value for province in provinces track by province.key" ng-change="getCity(province.key)">
										<option value="">--省份--</option>
							    </select>

							    <br><br>

							     <select class="web-font16" ng-show="province" required  ng-model="city" name="city" ng-options="city as city.value for city in citys track by city.key" ng-change="getDistrict(city.key)">
										<option value="">--城市--</option>
							    </select>

							    <br><br>

							     <select ng-show="city" class="web-font16" required ng-model="district" name="district" ng-options="district as district.value for district in districts track by district.key">
										<option value="">--城市--</option>
							    </select>
							  </div>
							</div>
						</div>
						<div class="item item-input">
							<div class="row">
							  <div class="col col-center">详细地址</div>
							  <div class="col col-75 col-center">
							  	 <input placeholder="请输入详细地址" ng-model="address" name="address" type="text" required>
							  </div>
							</div>
						</div>
						<div class="item item-input">
							<div class="row">
							  <div class="col col-center">律师类型</div>
							  <div class="col col-75 col-center">

							  	<select class="web-font16" required ng-model="position" name="position" ng-options="position as position.value for position in positions track by position.key">
										<option value="">--律师类型--</option>
							    </select>
							  </div>
							</div>
						</div>
						<div class="item item-input">
							<div class="row">
							  <div class="col col-center">执业年限</div>
							  <div class="col col-75 col-center">

							  	<select class="web-font16" required ng-model="practice_period" name="practice_period" ng-options="period as period.value for period in periods track by period.key">
										<option value="">--执业年限--</option>
							    </select>
							  </div>
							</div>
						</div>
						<div class="item item-input">
							<div class="row">
							  <div class="col col-center">擅长领域</div>
							  <div class="col col-75 col-center">
							  	<select class="web-font16" required data-disabled="disabled" id="workscope_one" ng-model="workscope_one" name="workscope_one"  ng-options="workscopes_one as workscopes_one.value for workscopes_one in workscopes_one track by workscopes_one.key" ng-change="getworkscopes_one(workscope_one)">
										<option value="">--擅长领域--</option>
							    </select>
							    <br><br>
							    <select class="web-font16" data-disabled="disabled" ng-show="workscope_one" id="workscope_two"  ng-model="workscope_two" name="workscope_two" ng-options="workscopes_two as workscopes_two.value for workscopes_two in workscopes_two track by workscopes_two.key" ng-change="getworkscopes_two(workscope_two)">
										<option value="">--擅长领域--</option>
							    </select>
							    <br><br>
							    <select class="web-font16" data-disabled="disabled" ng-show="workscope_two" id="workscope_three" ng-model="workscope_three" name="workscope_three"  ng-options="workscopes_three as workscopes_three.value for workscopes_three in workscopes_three track by workscopes_three.key" ng-change="getworkscopes_three(workscope_three)">
										<option value="">--擅长领域--</option>
							    </select>
							  </div>
							</div>
						</div>
						<div class="item item-input">
							<div class="row">
							  <div class="col col-center">语音咨询价格</div>
							  <div class="col col-55 col-center">
							  	<input placeholder="请输入语音咨询价格" ng-model="phonereplyfee" name="phone_reply_fee" type="number" required>
							  	<span class="error" ng-show="myForm.phone_reply_fee.$error.number">您输入的不是数字!</span>
							  </div>
							</div>
						</div>
						<div class="item item-input">
							<div class="row">
							  <div class="col col-center">图文咨询价格</div>
							  <div class="col col-55 col-center">
							  	<input placeholder="请输入图文咨询价格" ng-model="textreplyfee" name="text_reply_fee" type="number" required>
							  	<span class="error" ng-show="myForm.text_reply_fee.$error.number">您输入的不是数字!</span>
							  </div>
							</div>
						</div>
						
						<div class="item item-input"  style="margin:1px 0 0 0;">
							<div class="row">
							  <div class="col">个人简介</div>
							</div>
						</div>
						<div class="item item-input" style="margin:0;">
							<div class="row">
							  <div class="col">
							  	<textarea placeholder="请输入个人简介" ng-model="introduce" name="introduce" required ng-minlength="" ng-maxlength="" ng-pattern="" ng-trim="">
								</textarea>
							  </div>
							</div>
						</div>
						<div class="item item-input"  style="margin:1px 0 0 0;">
							<div class="row">
							  <div class="col">工作经历</div>
							</div>
						</div>
						<div class="item item-input" style="margin:0;">
							<div class="row">
							  <div class="col">
							  	<textarea placeholder="请输入工作经历" ng-model="experience" name="experience" required ng-minlength="" ng-maxlength="" ng-pattern="" ng-trim="">
								</textarea>
							  </div>
							</div>
						</div>
						<div class="item item-input"  style="margin:1px 0 0 0;">
							<div class="row">
							  <div class="col">成功案例</div>
							</div>
						</div>
						<div class="item item-input" style="margin:0;">
							<div class="row">
							  <div class="col">
							  	<textarea placeholder="请输入成功案例" ng-model="law_cases" name="law_cases" required ng-minlength="" ng-maxlength="" ng-pattern=""  ng-trim="">
								</textarea>
							  </div>
							</div>
						</div>
					</div>

					<button ng-if="user_group_id == 1 || user_group_id == 2 && is_verified == 0" class="button button-block button-positive web-wid8c web-top10" type="submit" ng-disabled="myForm.$invalid" ng-click="submit()">提交</button>
					<button ng-if="user_group_id == 2 &&  is_verified == 1" class="button button-block button-positive web-wid8c web-top10" type="submit" ng-disabled="myForm.$invalid" ng-click="sever()">保存</button>
				</form>
			</ion-content>
			
		</ion-pane>
</ion-view>