
<style type="text/css">
.css-form .row{padding: 5px 0}
.css-form .item-input{padding: 6px 0 5px 0px}
</style>
<ion-view view-title="认证为律师">
		<ion-pane  class="web-body">
			<ion-header-bar class="bar bar-header bar-light">
				<a class="button icon-left ion-chevron-left button-clear button-positive button-small ion-ios-arrow-back" onclick="history.go(-1);"></a>
				<h1 class="title">认证为律师</h1>
			</ion-header-bar>
			<ion-content class="web-body" style="margin-bottom:0;">
				<h4 class="title web-title web-fc666">资格认证 <span class="web-ftcred" style="font-size:12px;">(审核通过后，不可修改)</span></h4>
				<form name="myForm" class="css-form" id="myForm" novalidate>
					<div class="list">
						<div class="item item-input">
							<div class="row">
							  <div class="col col-center">执业人</div>
							  <div class="col col-75 col-center">
							  	<input ng-model="user.realname" name="realname" type="text" required>
							  </div>
							</div>
						</div>
						<div class="item item-input">
							<div class="row">
							  <div class="col col-center">性别</div>
							  <div class="col col-75 col-center">
							  	<select class="web-font16" ng-model="user.sex" name="sex" required>
							      	<option value="" selected>--性别--</option>
							      	<option ng-repeat="sex in sexs" value="{{sex.key}}">
							      		{{sex.value}}
							      	</option>
							    </select>
							  </div>
							</div>
						</div>
						<div class="item item-input">
							<div class="row">
							  <div class="col col-center">执业证号</div>
							  <div class="col col-75 col-center">
							  	<input ng-model="user.license" name="license" type="text" required>
							  </div>
							</div>
						</div>
						<div class="item item-input">
							<div class="row">
							  <div class="col col-center">执业机构</div>
							  <div class="col col-75 col-center">
							  	<input ng-model="user.company_name" name="company_name" type="text" required>
							  </div>
							</div>
						</div>
						<div class="item item-input">
							<div class="row">
							  <div class="col col-center">执业证书</div>
							  <div class="col col-75 col-center">

								<div ng-model="user.license_file" class="button item-note ion-ios-plus-empty button-light" ngf-pattern="'image/*'"  accept="image/*" ngf-max-size="20MB" ngf-min-height="100" ngf-select="uploadFiles($file,1)"></div>
								<img ng-src="{{file_1}}" ngf-thumbnail="license_file || '/thumb.jpg'" width="52" height="50">
								<input type="hidden" name="license_file" value="{{file_1}}" />
								<span class="progress_1" ng-show="progress_1 >= 0">
				                  <div style="width:{{progress_1}}%" ng-bind="progress_1 + '%'"></div>
				                </span>

							  </div>
							</div>
						</div>
					</div>

					<h4 class="title web-title web-fc666">个人资料</h4>
					<div class="list">
						<div class="item item-input item-icon-right">
							<div class="row">
							  <div class="col col-center">个人头像</div>
							  <div class="col col-75 col-center">

								<div class="button item-note ion-ios-plus-empty button-light" ng-model="user.avatar" ngf-pattern="'image/*'"  accept="image/*" ngf-max-size="20MB" ngf-min-height="100" ngf-select="uploadFiles($file,2)"></div>
								<img ng-src="{{file_2}}" ngf-thumbnail="avatar || '/thumb.jpg'" width="52" height="50">
								<input type="hidden" name="avatar" value="{{file_2}}" />
								<span class="progress_2" ng-show="progress_2 >= 0">
				                  <div style="width:{{progress_2}}%" ng-bind="progress_2 + '%'"></div>
				                </span>


							  </div>
							</div>
						</div>
						<div class="item item-input item-icon-right">
							<div class="row">
							  <div class="col col-center">背景图片</div>
							  <div class="col col-75 col-center">

								<div class="button item-note ion-ios-plus-empty button-light" ng-model="user.bg_image" ngf-pattern="'image/*'"  accept="image/*" ngf-max-size="20MB" ngf-min-height="100" ngf-select="uploadFiles($file,3)"></div>
								<img ng-src="{{file_3}}" ngf-thumbnail="bg_image || '/thumb.jpg'" width="52" height="50">
								<input type="hidden" name="bg_image" value="{{file_3}}" />
								<span class="progress_3" ng-show="progress_3 >= 0">
				                  <div style="width:{{progress_3}}%" ng-bind="progress_3 + '%'"></div>
				                </span>

							  </div>
							</div>
						</div>
						<div class="item item-input">
							<div class="row">
							  <div class="col col-center">所在地区</div>
							  <div class="col col-75 col-center">
							    <select class="web-font16" ng-model="user.province" name="province" required ng-change="getCity(user.province)">
									<option value="" selected>--省份--</option>
									<option ng-repeat="province in provinces" value="{{province.key}}">
										{{province.value}}
									</option>
							    </select>
							    <br><br>
							    <select ng-show="user.province" class="web-font16" ng-model="user.city" name="city" required ng-change="getDistrict(user.city)">
							      	<option value="" selected>--城市--</option>
									<option ng-repeat="city in citys" value="{{city.key}}">
										{{city.value}}
									</option>
							    </select>
							    <br><br>
							    <select ng-show="user.city" class="web-font16" ng-model="user.district" name="district" required>
							      <option value="" selected>--地区--</option>
									<option ng-repeat="district in districts" value="{{district.key}}">
										{{district.value}}
									</option>
							    </select>
							  </div>
							</div>
						</div>
						<div class="item item-input">
							<div class="row">
							  <div class="col col-center">详细地址</div>
							  <div class="col col-75 col-center">
							  	 <input ng-model="user.address" name="address" type="text" required>
							  </div>
							</div>
						</div>
						<div class="item item-input">
							<div class="row">
							  <div class="col col-center">律师类型</div>
							  <div class="col col-75 col-center">
							  	<select class="web-font16" ng-model="user.position" name="position" required >
							  		<option value="" selected>--律师类型--</option>
							      	<option ng-repeat="position in positions" value="{{position.key}}">
							      		{{position.value}}
							      	</option>
							    </select>
							    <br><br>

							  </div>
							</div>
						</div>
						<div class="item item-input">
							<div class="row">
							  <div class="col col-center">执业年限</div>
							  <div class="col col-75 col-center">
							    <select class="web-font16" ng-model="user.practice_period" name="practice_period" required>
							      	<option value="" selected>--执业年限--</option>
							      	<option ng-repeat="period in periods" value="{{period.key}}">
							      		{{period.value}}
							      	</option>
							    </select>
							  </div>
							</div>
						</div>
						<div class="item item-input">
							<div class="row">
							  <div class="col col-center">擅长领域</div>
							  <div class="col col-75 col-center">
							  	<select class="web-font16" data-disabled="disabled" ng-model="user.workscope_one" name="workscope_one" required ng-change="getworkscopes_one(user.workscope_one)">
								    	<option value="" selected>--擅长领域--</option>
								      	<option ng-repeat="workscope_one in workscopes_one" value="{{workscope_one.key}}">
								      	{{workscope_one.value}}
								    </option>
							    </select>
							    <br><br>
							    <select class="web-font16" data-disabled="disabled" ng-show="user.workscope_one"  ng-model="user.workscope_two" name="workscope_two" ng-change="getworkscopes_two(user.workscope_two)">
								    	<option value="" selected>--擅长领域--</option>
								      	<option ng-repeat="workscope_two in workscopes_two" value="{{workscope_two.key}}">
								      	{{workscope_two.value}}
								    </option>
							    </select>
							    <br><br>
							    <select class="web-font16" data-disabled="disabled" ng-show="user.workscope_two" ng-model="user.workscope_three" name="workscope_three" ng-change="getworkscopes_three(user.workscope_three)">
								    	<option value="" selected>--擅长领域--</option>
								      	<option ng-repeat="workscope_three in workscopes_three" value="{{workscope_three.key}}">
								      	{{workscope_three.value}}
								    </option>
							    </select>
							  </div>
							</div>
						</div>
						<div class="item item-input">
							<div class="row">
							  <div class="col col-center">语音咨询价格</div>
							  <div class="col col-75 col-center">
							  	<input ng-model="user.phonereplyfee" name="phone_reply_fee" type="number" required>
							  	<span class="error" ng-show="myForm.phone_reply_fee.$error.number">您输入的不是数字!</span>
							  </div>
							</div>
						</div>
						<div class="item item-input">
							<div class="row">
							  <div class="col col-center">图文咨询价格</div>
							  <div class="col col-75 col-center">
							  	<input ng-model="user.textreplyfee" name="text_reply_fee" type="number" required>
							  	<span class="error" ng-show="myForm.text_reply_fee.$error.number">您输入的不是数字!</span>
							  </div>
							</div>
						</div>
						
						<div class="item item-input"  style="margin:1px 0 0 0;">
							<div class="row">
							  <div class="col">个人简介</div>
							</div>
						</div>
						<div class="item item-input" style="margin:0;">
							<div class="row">
							  <div class="col">
							  	<textarea ng-model="user.introduce" name="introduce" required ng-minlength="" ng-maxlength="" ng-pattern="" ng-trim="">
								</textarea>
							  </div>
							</div>
						</div>
						<div class="item item-input"  style="margin:1px 0 0 0;">
							<div class="row">
							  <div class="col">工作经历</div>
							</div>
						</div>
						<div class="item item-input" style="margin:0;">
							<div class="row">
							  <div class="col">
							  	<textarea ng-model="user.experience" name="experience" required ng-minlength="" ng-maxlength="" ng-pattern="" ng-trim="">
								</textarea>
							  </div>
							</div>
						</div>
						<div class="item item-input"  style="margin:1px 0 0 0;">
							<div class="row">
							  <div class="col">成功案例</div>
							</div>
						</div>
						<div class="item item-input" style="margin:0;">
							<div class="row">
							  <div class="col">
							  	<textarea ng-model="user.law_cases" name="law_cases" required ng-minlength="" ng-maxlength="" ng-pattern=""  ng-trim="">
								</textarea>
							  </div>
							</div>
						</div>
					</div>

					<button class="button button-block button-positive web-wid8c web-top10" type="submit" ng-disabled="myForm.$invalid" ng-click="submit(user)" />提交</button>
				</form>
			</ion-content>
			
		</ion-pane>
</ion-view>