<ion-view view-title="我的">
		<ion-pane  class="web-body">
			<ion-header-bar class="bar bar-header bar-light">
				<a class="button button-icon  button-clear button-positive" ng-href="#/index">
      				<img class="v-align" src="img/smallback.png"/>
      			</a>
				<h1 class="title">我的</h1>
			</ion-header-bar>

			<ion-content class="web-body web-top10" ng-model="is_lawyer">

				<div class="list">
				    <div class="item item-thumbnail-left item-icon-right" >
				      <img ng-src="{{items.user.avatar}}">
				      <h2 class="web-top10">
				      		<a ng-if="user_group_id == 1 || user_group_id == 2 && is_verified == 0" ng-href="#/info">{{items.user.realname}}</a>
				      		<a ng-if="user_group_id == 2 && is_verified == 1" ng-href="#/becomelawyer">{{items.user.realname}} <span class="web-font14">律师</span></a>
				      </h2>
				      <a ng-href="#/messages">
					      <icon  class="icon ion-ios-email-outline positive" style="font-size: 42px;"></icon>
					  </a>

				      <p  class="web-top5" >{{items.user.phone}}</p>
				    </div>
				</div>
				
				<div ng-if="user_group_id == 1 || user_group_id == 2 && is_verified == 0" class="list">
					 <!-- <a class="item" ng-href="#/userlvtuan">
					    我的律团
					    <i class="icon ion-chevron-right"></i>
					  </a> -->
					  <a class="item" ng-href="#/orderuser">
					    我的订单
					    <i class="icon ion-chevron-right"></i>
					  </a>
					  <a class="item" ng-href="#/userquestion">
					    我的咨询
					    <i class="icon ion-chevron-right"></i>
					  </a>
					  <a class="item" ng-href="#/userwallet">
					    我的钱包
					    <i class="icon ion-chevron-right"></i>
					  </a>
					  <a class="item" ng-if="user_group_id == 1 &&  is_verified == 0" ng-href="#/becomelawyer">
					    认证律师
					    <i class="icon ion-chevron-right"></i>
					  </a>
					  <a class="item" ng-if="user_group_id == 2 &&  is_verified == 0">
					    认证律师审核中，请您耐心等待...
					  </a>
					  <a class="item" ng-href="#/listscores">
					    我的积分
					    <span class="badge badge-assertive icon-left" style="top:16px;">{{items.user.score}}</span>
					    <i class="icon ion-chevron-right"></i>
					  </a>
					  <a class="item" ng-href="#/collect">
					    我的收藏
					    <i class="icon ion-chevron-right"></i>
					  </a>
					  <a class="item" ng-href="#/comment"> 
					    我的评论
					    <i class="icon ion-chevron-right"></i>
					  </a>
					  <a class="item" ng-href="#/followed"> 
					    我的关注
					    <i class="icon ion-chevron-right"></i>
					  </a>
					  <a class="item" ng-click="invitefriend()">
					    邀请好友
					    <i class="icon ion-chevron-right"></i>
					  </a>
					  <a class="item" ng-href="#/site">
					    设置
					    <i class="icon ion-chevron-right"></i>
					  </a>
				</div>

				<div ng-if="user_group_id == 2 && is_verified == 1" class="list">
					<!-- <a class="item" ng-href="#/workbenchlawyer">
					    我的律团
					    <i class="icon ion-chevron-right"></i>
					  </a> -->
					  <a class="item" ng-href="#/orderlawyer">
					    我的订单
					    <i class="icon ion-chevron-right"></i>
					  </a>
					  <a class="item" ng-href="#/lawyerquestion">
					    我的咨询
					    <i class="icon ion-chevron-right"></i>
					  </a>
					  <a class="item" ng-href="#/userwallet">
					    我的钱包
					    <i class="icon ion-chevron-right"></i>
					  </a>
					  <a class="item" ng-href="#/article_lawyer"> 
					    我的文章
					    <i class="icon ion-chevron-right"></i>
					  </a>
					  <a class="item" ng-href="#/listscores_lawyer">
					    我的积分
					    <span class="badge badge-assertive icon-left">{{items.user.score}}</span>
					    <i class="icon ion-chevron-right"></i>
					  </a>
					  <a class="item" ng-href="#/collect"> 
					    我的收藏
					    <i class="icon ion-chevron-right"></i>
					  </a>
					  <a class="item" ng-href="#/comment"> 
					    我的评论
					    <i class="icon ion-chevron-right"></i>
					  </a>
					  <a class="item" ng-href="#/followed_lawyer"> 
					    我的关注
					    <i class="icon ion-chevron-right"></i>
					  </a>
					  <a class="item" ng-click="invitefriend()">
					    邀请好友
					    <i class="icon ion-chevron-right"></i>
					  </a>
					  <a class="item" ng-href="#/site">
					    设置
					    <i class="icon ion-chevron-right"></i>
					  </a>
				</div>


				<div style="width:100%;height:50px;clear:both;"></div>
			</ion-content>
		</ion-pane>
</ion-view>
<script id="popup-invitefriend-template.html" type="text/ng-template">
	<ion-header-bar>
		  <h1 class="title">分享到</h1>
	</ion-header-bar>
	
  	<div class="item item-text-wrap">
  		分享您的邀请码<span class="fc-red">2wk4</span>给你的朋友，只需等待您的好友注册后，优惠码（积分）肌肤即可向您发出。
  	</div>
  	<div class="item tabs tabs-icon-top">
  		<a href="#" class="tab-item">
	  		<i class="icon ion-thumbsup"></i>
	  		微信好友		  			
  		</a>
  		<a href="#" class="tab-item">
	  		<i class="icon ion-thumbsup"></i>
	  		微信好友		  			
  		</a>
  		<a href="#" class="tab-item">
	  		<i class="icon ion-thumbsup"></i>
	  		微信好友		  			
  		</a>
  	</div>
</script>