<style type="text/css">
	.infobg{background: #ffffff;position: absolute;top: 10px;max-width: 54px;max-height: 54px;width: 100%;height:100%;border-radius: 50%;}
	.centerMain .fixdisplay{padding:0 8px;line-height: 100%;max-height: 100%;color: #fff;}
	.centerMain .fixbadge{top: 2px;position: absolute;left: 55%;font-weight: normal;font-size: 12px;padding: 2px 4px;min-width: 20px;max-width: 100%;}
</style>
<ion-view hide-tabs="false">
		<ion-pane  class="web-body">
			<ion-header-bar align-title="center" class="bar bar-header bar-light headers">
				<!-- <a class="button icon-left ion-chevron-left button-clear button-positive button-small ion-ios-arrow-back" ng-href="#/index" ></a> -->
				<h1 class="title">我的</h1>
			</ion-header-bar>

			<ion-content class="web-body web-top10 centerMain" ng-model="is_lawyer">

				<div class="list view-heard" style="background:url(../img/usercenter-bg.png);background-size:100% 100%;color: #fff;">

					<div class="row" style="height: 75px;">
					  <div class="col col-20 col-center"  style="height: 100%;">
					  		<div class="infobg">
					  			<a ng-href="#/info/{{items.id}}">
						  			<img ng-src="{{items.avatar}}" style="position: absolute;width: 50px;height: 50px;border-radius: 50%;top: 2px;left:2px;">.
						  		</a>
					  		</div>
					  </div>
					  <div class="col col-center">
					  	<a style="color:#fff;" ng-href="#/info/{{items.id}}">
			      			<label ng-if="!currentUser.is_verified_lawyer" style="font-size:16px;">{{items.realname}}</label>
			      			<label ng-if="currentUser.is_verified_lawyer">{{items.realname}}<span class="web-font14">律师</span></label>
			      			<br>
			      			<label>{{items.phone}}</label>
			      		</a>
					  </div>
					  <div class="col col-25 col-center" style="text-align: right;">
					  	<span ng-if=" items.unread_counts.letter != '0'" class="badge badge-assertive icon-left" style="position: absolute;right: 2%;font-weight: normal;font-size: 12px;padding: 2px 4px;top: 12px;min-width: 20px;max-width: 100%;">{{items.unread_counts.letter}}</span>
					  		<div ng-click="jump('#/messages');">
					  			<img ng-src="../img/emails.png" style="max-width: 31px;max-height: 21px;width: 45%;height: 100%;">
							</div>
					  </div>
					</div>

					
				    <div class="button-bar bg_transparent" style="height: 57px;">
					    <a class="button button-clear fixdisplay" ng-href="#/question/gratis">
					    	<span ng-if=" items.unread_counts.question != '0'" class="badge badge-assertive icon-left fixbadge">
					    		{{items.unread_counts.question}}
					    	</span>
					    	<img ng-src="../img/mfzx-iocn.png" width="28" height="26" style="margin-top: 4px;">
					  	    <div style="width:100%;height:2px;clear:both;"></div>
					  	    <label>免费咨询</label>
					    </a>
					    <div><i class="border1" style="height:57px;margin-top: 0;"></i></div>
					    <a class="button button-clear fixdisplay" ng-href="#/question/paytext">
					      <span ng-if=" items.unread_counts.pay_text != '0'" class="badge badge-assertive icon-left fixbadge">
					      	{{items.unread_counts.pay_text}}
					      </span>
					  	  <img ng-src="../img/twzx-iocn.png" width="28" height="26" style="margin-top: 4px;">
					  	  <div style="width:100%;height:2px;clear:both;"></div>
					  	  <label>图文咨询</label>
					    </a>
					    <div><i class="border1" style="height:57px;margin-top: 0;"></i></div>
					    <a class="button button-clear fixdisplay" ng-href="#/question/payphone">
					    	<span ng-if=" items.unread_counts.pay_phone != '0'" class="badge badge-assertive icon-left fixbadge">
					    		{{items.unread_counts.pay_phone}}
					    	</span>
					  	 <img ng-src="../img/dhzx-iocn.png" width="28" height="26" style="margin-top: 4px;">
					  	  <div style="width:100%;height:2px;clear:both;"></div>
					  	  <label>电话咨询</label>
					    </a>
					    <div><i class="border1" style="height:57px;margin-top: 0;"></i></div>
					    <a class="button button-clear fixdisplay" ng-href="#/question/paycompany">
					    	<span ng-if=" items.unread_counts.pay_company != '0' " class="badge badge-assertive icon-left fixbadge">
					    		{{items.unread_counts.pay_company}}
					    	</span>
					  	  <img ng-src="../img/flgw-iocn.png" width="28" height="26" style="margin-top: 4px;">
					  	  <div style="width:100%;height:2px;clear:both;"></div>
					  	  <label>法律顾问</label>
					    </a>
					</div>
				</div>

				<div class="height10"></div>
				
				<div ng-if="!currentUser.is_verified_lawyer" class="list center-list" style="padding-bottom: 20px;">
					<div class="my-consultation">
						<a class="item" ng-href="#/commodity">
						    我的商品
						    <span ng-if=" items.unread_counts.shopping != '0' " class="badge badge-assertive icon-left" style="top:16px;">{{items.unread_counts.shopping}}</span>
						    <i class="icon ion-chevron-right"></i>
						</a>
					</div>
					<div class="my-wallet">
						<a class="item" ng-href="#/wallet">
						    我的钱包
						    <i class="icon ion-chevron-right"></i>
						    <label class="rig" style="margin-right: 10px;font-size: 12px;color: #ccc;">账户余额：￥{{items.money}}</label>
						</a>
					</div>
					<div class="become-lawyer">
						<a class="item" ng-if="items.status == 1" ng-href="#/becomenav">
						    认证律师
						    <i class="icon ion-chevron-right"></i>
						</a>
						<a class="item" ng-if="items.status == 2">
						    认证律师审核中，请您耐心等待...
						</a>
					</div>
					<div class="my-integral">
						<a class="item" ng-href="#/listscores">
						    我的积分
						  <span ng-if=" items.score != '0'" class="badge badge-assertive icon-left" style="top:16px;">{{items.score}}</span>
						    <i class="icon ion-chevron-right"></i>
						</a>
					</div>
					<div class="my-collection">
						<a class="item" ng-href="#/collect">
						    我的收藏
						    <i class="icon ion-chevron-right"></i>
						</a>
					</div>
					<div class="my-comment">
						<a class="item" ng-href="#/comment"> 
						    我的评论
						    <i class="icon ion-chevron-right"></i>
						</a>
					</div>
					<div class="my-follow">
						<a class="item" ng-href="#/followed"> 
						    我的关注
						    <i class="icon ion-chevron-right"></i>
						</a>
					</div>
					<div class="my-set">
						<a class="item" ng-href="#/site">
						    设置
						    <i class="icon ion-chevron-right"></i>
						</a>
					</div>
					<div class="my-about">
						<a class="item" ng-href="#/about"> 
						    关于律团
						    <i class="icon ion-chevron-right"></i>
						</a>
					</div>
				</div>

				<div ng-if="currentUser.is_verified_lawyer" class="list center-list" style="padding-bottom: 20px;">
					<div class="my-wallet">
						<a class="item" ng-href="#/wallet">
					    	我的钱包
					    	<i class="icon ion-chevron-right"></i>
					    	<label class="rig" style="margin-right: 10px;font-size: 12px;color: #ccc;">账户余额：￥{{items.money}}</label>
						</a>
					</div>
					<div class="become-lawyer">
						<a class="item" ng-href="#/becomenav">
						    认证律师
						    <i class="icon ion-chevron-right"></i>
						</a>
					</div>
					<div class="my-integral">
						<a class="item" ng-href="#/listscores">
					    	我的积分
					    <span ng-if=" items.score != '0'" class="badge badge-assertive icon-left">{{items.score}}</span>
					    	<i class="icon ion-chevron-right"></i>
						</a>
					</div>
					<div class="my-collection">
						<a class="item" ng-href="#/collect"> 
					    	我的收藏
					    	<i class="icon ion-chevron-right"></i>
						</a>
					</div>
					<div class="my-comment">
						<a class="item" ng-href="#/comment"> 
					    	我的评论
					    	<i class="icon ion-chevron-right"></i>
						</a>
					</div>
					<div class="my-follow">
						<a class="item" ng-href="#/followed"> 
					    	我的关注
					    	<i class="icon ion-chevron-right"></i>
						</a>
					</div>
					<div class="my-set">
						<a class="item" ng-href="#/site">
					    	设置
				    		<i class="icon ion-chevron-right"></i>
						</a>
					</div>
					<div class="my-about">
						<a class="item" ng-href="#/about"> 
						    关于律团
						    <i class="icon ion-chevron-right"></i>
						</a>
					</div>
				</div>
				<div style="width:100%;height:50px;clear:both;"></div>
			</ion-content>
		</ion-pane>
</ion-view>
<script id="popup-invitefriend-template.html" type="text/ng-template">
	<ion-header-bar align-title="center">
		  <h1 class="title">分享到</h1>
	</ion-header-bar>
	
  	<div class="item item-text-wrap">
  		分享您的邀请码<span class="fc-red">2wk4</span>给你的朋友，只需等待您的好友注册后，优惠码（积分）肌肤即可向您发出。
  	</div>
  	<div class="item tabs tabs-icon-top">
  		<a href="#" class="tab-item">
	  		<i class="icon ion-thumbsup"></i>
	  		微信好友		  			
  		</a>
  		<a href="#" class="tab-item">
	  		<i class="icon ion-thumbsup"></i>
	  		微信好友		  			
  		</a>
  		<a href="#" class="tab-item">
	  		<i class="icon ion-thumbsup"></i>
	  		微信好友		  			
  		</a>
  	</div>
</script>