<ion-view hide-Tabs="true" view-title="我的收藏">
	<ion-pane>
		<ion-content class="has-tabs">
			<div ng-if="nodata == false" class="nodate">
				<i class="nodate-iocn"></i><br>
				<label>暂无数据！</label>
			</div>
			<ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
				<div class="list">
			        <a class="item" ng-class="itemcheckbox" ng-repeat="item in items" ng-href="#/questionsview/{{item.item_id}}">
						<label ng-hide="visible"  class="checkbox" ng-click="collects_del(item.id,$index)" style="top:40%;">
			            	<i class="icon ion-ios-close-outline" style="font-size: 2.5rem;"></i>
			            </label>
			            <p class="content txt-c-99">
							{{item.collect_type_str}}
						</p>
						<p class="contents">
							{{item.title}}
						</p>
						<p>
							 <label class="rig txt-c-99">{{item.created_at}}</label>
						</p>
			        </a>
			    </div>
			<ion-infinite-scroll pulling-text="上拉加载" ng-if="moredata" on-infinite="loadMore()" distance="1%"> </ion-infinite-scroll>
		</ion-content>

		<div class="tabs" style="background-color:#fff;padding-top: 0;">
			<div class="row" style="padding: 0 10px;">
				<button class="button button-block button-positive" style="border-radius: 10px;" ng-click="toggle()" type="submit">
					<label ng-if="visible">编辑</label>
					<label ng-if="!visible">取消</label>
				</button>
			</div>
		</div>

	</ion-pane>
</ion-view>