<ion-view hide-Tabs="true">
	<ion-pane>
		<ion-header-bar align-title="center" class="bar bar-header bar-light">
			<a class="button icon-left ion-chevron-left button-clear button-positive button-small ion-ios-arrow-back" ng-href="#/center"></a>
			<h1 class="title">我的收藏</h1>
			<button ng-click="toggle()" class="button button-clear button-positive icon-right" type="submit">
				<label ng-if="visible">编辑</label>
				<label ng-if="!visible">取消</label>
			</button>
		</ion-header-bar>

		<ion-content>
			<ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
			    <ul class="list">
			        <li class="item" ng-class="itemcheckbox" ng-repeat="item in items">
			            <label ng-hide="visible"  class="checkbox" ng-click="collects_del(item.id,$index)">
			            	<i class="icon ion-ios-close-outline" style="font-size: 2.5rem;"></i>
			            </label>
			            <p class="content txt-c-99">
							{{item.collect_type_str}}
						</p>
						<p class="contents">
							{{item.title}}
						</p>
						<p>
							 <label class="rig txt-c-99">{{item.created_at}}</label>
						</p>
			        </li>
			    </ul>
			<ion-infinite-scroll pulling-text="上拉加载" ng-if="moredata" on-infinite="loadMore()" distance="1%"> </ion-infinite-scroll>
		</ion-content>

	</ion-pane>
</ion-view>