<ion-view hide-tabs="true" view-title="我的评论">
		<ion-pane>
			<ion-content>
				<div ng-if="nodata == false" class="nodate">
					<i class="nodate-iocn"></i><br>
					<label>暂无数据！</label>
				</div>
				
				<ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
				 <div class="list">
			        <a class="item" ng-repeat="item in items" ng-href="#/knowledgeview/{{item.article_id}}">
						<p class="content">
							 {{item.title}}
						</p>
						<p class="contents txt-c-99">
							{{item.comment}}
						</p>
						<p>
							 <label class="rig txt-c-99">{{item.created_at}}</label>
						</p>
			        </a>
			    </div>
				<ion-infinite-scroll pulling-text="上拉加载" ng-if="moredata" on-infinite="loadMore()" distance="1%"> </ion-infinite-scroll>
			</ion-content>
			
		</ion-pane>
</ion-view>