
<ion-view hide-tabs="true">
		<ion-pane>
			<ion-header-bar class="bar bar-header bar-light">
				<a class="button icon-left ion-chevron-left button-clear button-positive button-small ion-ios-arrow-back" ng-href="#/center"></a>
				<h1 class="title">用户协议</h1>
			</ion-header-bar>
			<ion-content>
				<div class="item" style="border-color: #fff;" ng-repeat="item in items">
					<p class="contents">
						<b>{{item.info}}</b>
					</p>
					<div class="height10"></div>
					<p class="contents" style="text-indent: 2em;" ng-bind-html="item.content"></p>
				</div>
			</ion-content>
		</ion-pane>
</ion-view>
