<ion-view hide-tabs="true">
		<ion-pane>
			<ion-header-bar class="bar bar-header bar-light">
				<a class="button icon-left ion-chevron-left button-clear button-positive button-small ion-ios-arrow-back"  ng-href="#/user/wallet"></a>
				<h1 class="title">我的钱包</h1>
			</ion-header-bar>
			<ion-content>
				<div class="has-header ionic-pseudo">
					<form name="myForm" novalidate>
						<div class="list">
							<div class="item item-divider">
							  当前可用余额为 {{summoney}} 元
							</div>
							<div class="item item-input">
								<div class="row row-no-padding">
								  <div class="col col-center">充值金额</div>
								  <div class="col col-75 col-center">
								  	<input id="money" placeholder="请输入充值金额" ng-model="user.money" name="money" type="number" required>
								  </div>
								</div>
							</div>
							<div class="item">
							 	微信支付
							</div>
							<button class="button button-block button-positive web-wid8c web-top10" type="submit" ng-disabled="myForm.$invalid" ng-click="submit(user)">充值</button>
						</div>
					</form>
				</div>
			</ion-content>
		</ion-pane>
</ion-view>