<ion-view hide-tabs="true">
	<ion-pane>
		<ion-header-bar class="bar bar-header bar-light">
			<button class="button button-clear button-positive" ng-click="jumpGoBack()">  
                <i class="icon icon-left ion-ios-arrow-back"></i>  
            </button>
			<h1 class="title">{{comments_count}}条评论</h1>
			<!-- <i class="button icon-right button-clear button-positive button-small ion-android-open"></i> -->
		</ion-header-bar>
		<ion-content class="web-body" style="margin-bottom:50px;">
			<ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
			<ion-list>
	        	<ion-item class="item item-thumbnail-left"  ng-repeat="item in items">
		          	<img ng-src="{{item.avatar}}" style="left:6px;border-radius:5px;">
		          	<h2 class="contents" style="color:#999">
		          		<label class="lef">{{item.realname}}</label>
		          		<label class="rig">{{item.created_at}}</label>
		          	</h2>
					<p class="contents" style="color:#333">{{item.comment}}</p>
		        </ion-item>
	        </ion-list>
			<ion-infinite-scroll pulling-text="上拉加载" ng-if="moredata" on-infinite="loadMore()" distance="1%"> </ion-infinite-scroll>
		    </ion-content>

	    <div class="tabs tabs-color-positive">
		  	<div class="row">
		  		<!-- 点击评论 -->
			  <div class="col" style="border-right:1px solid #b2b2b2;text-align:center" ng-click="comments(items.id)">
			  	<i class="icon ion-edit web-ion-img1-2" style="margin-right:10px;font-size: 1.4rem;"></i>说点什么吧！...
			  </div>
			</div>
		</div>
	</ion-pane>
</ion-view>