<ion-view>
    <ion-content>
		<ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
		<ion-list>
        	<ion-item class="item item-thumbnail-left"  ng-repeat="item in items" ng-href="#/knowledgeview/{{item.id}}">
	          	<img ng-src="{{item.img}}" style="left:6px;border-radius:5px;">
				<!-- <h2 style="height:30px;margin-top:5px;">{{item.title}}</h2> -->
				<p class="content">{{item.title}}</p>
				<p>{{item.info}}</p>
				<p>
					<i class="icon ion-android-favorite-outline web-ion-img1-2 knowledge-love">
						<label>{{item.likes_count}}</label>
					</i>
					<i class="icon ion-android-star-outline web-ion-img1-2 knowledge-stars">
						<label>{{item.views_count}}</label>
					</i>
				</p>
	        </ion-item>
         </ion-list>
         <ion-infinite-scroll pulling-text="上拉加载" ng-if="moredata" on-infinite="loadMore()" distance="1%"> </ion-infinite-scroll>
         <!-- ediate-check="false" -->

    </ion-content>
</ion-view>