
<ion-view view-title="知识">
		<ion-pane  class="web-body">
			<ion-header-bar class="bar bar-header bar-light">
				<a class="button icon-left ion-chevron-left button-clear button-positive button-small ion-ios-arrow-back" onclick="history.go(-1);"></a>
				<h1 class="title">知识</h1>
			</ion-header-bar>

			<ion-tabs class="tabs-top">
			    <ion-tab title="法规" href="#/knowledge/knowledges">
			        <ion-nav-view name="knowledge-knowledges">法规</ion-nav-view>
			    </ion-tab>

			    <ion-tab title="文库" href="#/knowledge/documents">
			        <ion-nav-view name="knowledge-documents">文库</ion-nav-view>
			    </ion-tab>

			    <ion-tab title="案例" href="#/knowledge/cases">
			        <ion-nav-view name="knowledge-cases">案例</ion-nav-view>
			    </ion-tab>
			</ion-tabs>
			
			<div class="tabs tabs-icon-top tabs-color-positive tabs-bottom">
				  <a class="tab-item" href="#/index">
				    <i class="icon ion-home"></i>
				    首页
				  </a>
				  <a class="tab-item" href="#/group">
				    <i class="icon ion-android-contacts"></i>
				    圈子
				  </a>
				  <a class="tab-item active" href="#/knowledge">
				    <i class="icon ion-social-buffer"></i>
				    知识
				  </a>
				  <a class="tab-item" href="#/center">
				    <i class="icon ion-android-contact"></i>
				    我的
				  </a>
			</div>
		</ion-pane>
</ion-view>