<ion-view hide-tabs="false" title-view="知识">
		<ion-pane>
			<ion-tabs class="tabs-top">
			    <ion-tab title="看新闻" href="#/knowledge/knowledges">
			        <ion-nav-view  name="knowledge-knowledges">看新闻</ion-nav-view>
			    </ion-tab>

			    <ion-tab title="搜案例" href="#/knowledge/documents">
			        <ion-nav-view name="knowledge-documents">搜案例</ion-nav-view>
			    </ion-tab>

			    <ion-tab title="学知识" href="#/knowledge/cases">
			        <ion-nav-view name="knowledge-cases">学知识</ion-nav-view>
			    </ion-tab>
			</ion-tabs>
			
		</ion-pane>
</ion-view>