<style type="text/css">
	.ngbindhtml img{
		width: 100%;
	}
</style>
<script src="/lib/ionic/js/angular/angular-sanitize.min.js"></script>
<ion-view hide-tabs="true">
	<ion-pane>
		<ion-header-bar class="bar bar-header bar-light">
			<button class="button button-clear button-positive" ng-click="jumpGoBack()">  
                <i class="icon icon-left ion-ios-arrow-back"></i>  
            </button>
			<h1 class="title">知识详情</h1>
			<!-- <i class="button icon-right button-clear button-positive button-small ion-android-open"></i> -->
		</ion-header-bar>
		<ion-content class="web-body" style="margin-bottom:50px;">
			<ion-list>
	        	<ion-item class="item">
	        		<p class="contents"> <b>{{items.title}}</b></p>
	        		<p class="web-paddingtb5" style="margin:0px;">
				      <label class="lef">{{items.author.author_name}}</label>
				      <label class="rig">{{items.created_at}}</label>
				    </p>
				    <img class="full-image" src="{{items.img}}" style="max-height:150px;">
				    <p class="contents ngbindhtml" ng-bind-html="items.content"></p>
		        </ion-item>
	         </ion-list>
	    </ion-content>

	    <div class="tabs tabs-color-positive">
		  	<div class="row" style="line-height: 28px;">
		  		<!-- 点击评论 -->
			  <div class="col" style="border-right:1px solid #b2b2b2;text-align:center" ng-click="comments(items.id)">
			  	<i class="icon ion-edit web-ion-img1-2" style="margin-right:10px;font-size: 1.4rem;"></i>写评论
			  </div>
			  <div class="col col-66" style="text-align:right">
			  	<!-- 点赞 -->
			  	<i ng-if="items.is_like == true" class="praisea tpraisea" style="font-size:1.4rem;">
			  		<label>{{items.likes_count}}</label>
			  	</i>
			  	<!-- 未点赞 -->
			  	<i ng-if="items.is_like == false" ng-click="likes(items.id)" class="praisea fpraisea" style="font-size:1.4rem;">
			  		<label>{{items.likes_count}}</label>
			  	</i>
				<!-- 收藏 -->
			  	<i ng-if="items.is_collect == true" ng-click="collects_del(items.id)" class="collectiona tcollectiona" style="font-size:1.6rem;">
			  		<label>{{items.collects_count}}</label>
			  	</i>
			  	<!-- 未收藏 -->
			  	<i ng-if="items.is_collect == false" ng-click="collects(items.id)" class="collectiona fcollectiona" style="font-size:1.6rem;">
			  		<label>{{items.collects_count}}</label>
			  	</i>
				<a class="messages messagesa" ng-href="#/comments/view/{{items.id}}">
					<label>{{items.comments_count}}</label>
				</a>
			  </div>
			</div>
		</div>
	</ion-pane>
</ion-view>