<ion-view view-title="知识">
		<ion-pane  class="web-body">
			<ion-header-bar class="bar bar-header bar-light">
				<a class="button icon-left ion-chevron-left button-clear button-positive button-small ion-ios-arrow-back" href="#/index"></a>
				<h1 class="title">知识</h1>
			</ion-header-bar>

			<ion-tabs class="tabs-top">
			    <ion-tab title="新闻" href="#/knowledge/knowledges">
			        <ion-nav-view name="knowledge-knowledges">新闻</ion-nav-view>
			    </ion-tab>

			    <ion-tab title="知识" href="#/knowledge/documents">
			        <ion-nav-view name="knowledge-documents">知识</ion-nav-view>
			    </ion-tab>

			    <ion-tab title="案例" href="#/knowledge/cases">
			        <ion-nav-view name="knowledge-cases">案例</ion-nav-view>
			    </ion-tab>
			</ion-tabs>
			
		</ion-pane>
</ion-view>