<script src="/lib/ionic/js/angular/angular-sanitize.min.js"></script>
<ion-view hide-tabs view-title="知识详情">
	<ion-pane>
		<ion-header-bar class="bar bar-header bar-light">
			<a class="button icon-left ion-chevron-left button-clear button-positive button-small ion-ios-arrow-back" href="#/knowledge/knowledges"></a>
			<h1 class="title">知识详情</h1>
			<i class="button icon-right button-clear button-positive button-small ion-android-open"></i>
		</ion-header-bar>
		<ion-content class="web-body" style="margin-bottom:50px;">
			<ion-list>
	        	<ion-item class="item">
	        		<h2 style="text-align:center"> {{items.title}}</h2>
	        		<p class="web-paddingtb5" style="margin:0px;">
				      <label class="lef">律团</label>
				      <label class="rig">{{items.created_at.date}}</label>
				    </p>
				    <img class="full-image" src="{{items.img}}" style="max-height:150px;">
				    <p class="contents" ng-bind-html="items.content"></p>
		        </ion-item>
	         </ion-list>
	    </ion-content>

	    <div class="tabs tabs-color-positive">
		  <p class="tab-item active" ng-click="graphic5(items.id,5)">图文咨询</p>  
		  <p class="tab-item active" ng-click="graphic5(items.id,6)">电话咨询</p>
		  	<div class="row">
		  		<!-- 点击评论 -->
			  <div class="col" style="border-right:1px solid #b2b2b2;text-align:center" ng-click="comments(items.id)">
			  	<i class="icon ion-edit web-ion-img1-2" style="margin-right:10px;font-size: 1.4rem;"></i>
			  </div>
			  <div class="col col-66" style="text-align:right">
			  	<i ng-click="likes(items.id)" class="icon ion-android-favorite-outline web-ion-img1-2" style="margin-right:10px;font-size:1.4rem;">
			  		<label>{{items.likes_count}}</label>
			  	</i>
			  	<i ng-click="collects(items.id)" class="icon ion-android-star-outline web-ion-img1-2" style="margin-right:10px;font-size:1.6rem;">
			  		<label>{{items.collects_count}}</label>
			  	</i>
				<i class="icon ion-chatbox-working web-ion-img1-2" style="margin-right:10px;font-size:1.4rem;">
					<label class="positive">{{items.comments_count}}</label>
				</i>
			  </div>
			</div>
		</div>
	</ion-pane>
</ion-view>