<ion-view view-title="knowledge-knowledges">
    <ion-content>
   		<form id="search_form">
			<div class="item item-input-inset web-body">
				<div class="item-input-wrapper">
			    	<input name="q" type="search" placeholder="搜索你想要的内容" class="search">
			    	<i class="icon ion-search placeholder-icon" ng-click="search()"></i>
				</div>
			</div>
		</form>
		<ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
		<ion-list>
        	<ion-item  ng-repeat="item in items" style="margin-top: 10px;padding:16px;">
        		<a ng-href="#/knowledgeview/{{item.id}}"><img class="full-image" ng-src="{{item.img}}" style="max-height:150px;"></a>
				<h2> {{item.title}}</h2>
			    <p class="web-paddingtb5" style="margin:0px;">
			      律团
			    </p>
			    <p class="item web-paddingtb5" style="margin:0px;padding:0px;border:0px;">
			       <span class="item-note"><i class="icon ion-ios-star-outline web-ion-img1-2">&nbsp;{{item.views_count}}</i></span>
			      {{item.created_at.date}}
			    </p>
	       
	        </ion-item>
         </ion-list>
         <ion-infinite-scroll pulling-text="上拉加载" ng-if="moredata" on-infinite="loadMore()" distance="1%"> </ion-infinite-scroll>
         <!-- ediate-check="false" -->

    </ion-content>
</ion-view>