<ion-view hide-tabs="true">
		<ion-pane  class="web-body">
			<ion-header-bar class="bar bar-header bar-light">
				<a class="button icon-left ion-chevron-left button-clear button-positive button-small ion-ios-arrow-back" ng-href="#/center"></a> 
				<h1 class="title">我的文章</h1>
			</ion-header-bar>

			<ion-tabs class="tabs-top">
			    <ion-tab title="案列分析" href="#/article_lawyer/case/370">
			        <ion-nav-view name="article-case">案列分析</ion-nav-view>
			    </ion-tab>

			    <ion-tab title="资讯" href="#/article_lawyer/advisory/368">
			        <ion-nav-view name="article-advisory">资讯</ion-nav-view>
			    </ion-tab>

			    <ion-tab title="知识" href="#/article_lawyer/lknowledge/369">
			        <ion-nav-view name="article-lknowledge">知识</ion-nav-view>
			    </ion-tab>
			</ion-tabs>
		</ion-pane>
</ion-view>