<ion-view view-title="article-case">
    <ion-content>

    	<ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
		<ion-list>
			<ion-item class="item-thumbnail-left" ng-repeat="item in items" ng-href="#/lawyer/article/view/{{item.id}}">
				<img ng-src="{{item.img}}" />
				<h2>{{item.title}}</h2>
				<p class="content">{{item.info}}</p>
				<p>{{item.created_at}}</p>
			</ion-item>
		</ion-list>
		<ion-infinite-scroll pulling-text="上拉加载" ng-if="moredata" on-infinite="loadMore()" distance="1%"> </ion-infinite-scroll>

    </ion-content>
</ion-view>