<ion-view view-title="我的">
		<ion-pane  class="web-body">
			<ion-header-bar class="bar bar-header bar-light">
				<a class="button button-icon  button-clear button-positive" onclick="history.go(-1);">
      				<img class="v-align" src="img/smallback.png"/>
      			</a>
				<h1 class="title">我的</h1>
			</ion-header-bar>
			<ion-content class="web-body web-top10 ">
				<div class="list">
				    <a class="item item-thumbnail-left item-icon-right" ng-href="#/infolawyer">
				      <img src="{{items.user.avatar}}">
				      <h2 class="web-top10"><span class="badge badge-assertive icon-left">证</span>{{items.user.realname}}  <span class="web-font14">律师</span></h2>
				      <p  class="web-top5">{{items.user.phone}}</p>
				    </a>
				</div>
				
				<div class="list">
					  <a class="item" ng-href="#/followed_lawyer"> 
					    <img src="img/web_person006.png" style="width:20px;height:20px;float:left;margin-top:1px;margin-right:5px;" />
					    我的关注
					    <i class="icon ion-chevron-right"></i>
					  </a>
					  <a class="item" ng-href="#/listscores_lawyer">
					    <img src="img/web_person008.png" style="width:20px;height:20px;float:left;margin-top:1px;margin-right:5px;" />
					    我的积分
					    <span class="badge badge-assertive icon-left">{{items.user.score}}</span>
					    <i class="icon ion-chevron-right"></i>
					  </a>
					  <a class="item" ng-href="#/comment_lawyer"> 
					    <img src="img/web_person003.png" style="width:20px;height:20px;float:left;margin-top:1px;margin-right:5px;" />
					    我的评论
					    <i class="icon ion-chevron-right"></i>
					  </a>
					  <a class="item" ng-href="#/article_lawyer"> 
					    <img src="img/web_person003.png" style="width:20px;height:20px;float:left;margin-top:1px;margin-right:5px;" />
					    我的文章
					    <i class="icon ion-chevron-right"></i>
					  </a>
					  <a class="item" ng-href="#/messages_lawyer"> 
					    <img src="img/web_person004.png" style="width:20px;height:20px;float:left;margin-top:1px;margin-right:5px;" />
					    我的消息
					    <span class="badge badge-assertive icon-left">10</span>
					    <i class="icon ion-chevron-right"></i>
					  </a>
					  <a class="item" ng-click="invitefriend()">
					    <img src="img/web_person006.png" style="width:20px;height:20px;float:left;margin-top:1px;margin-right:5px;" />
					    邀请好友
					    <i class="icon ion-chevron-right"></i>
					  </a>
					  <a class="item" ng-href="#/about">
					    <img src="img/web_person006.png" style="width:20px;height:20px;float:left;margin-top:1px;margin-right:5px;" />
					    关于律团
					    <i class="icon ion-chevron-right"></i>
					  </a>
					  <a class="item" ng-href="#/site">
					    <img src="img/web_person007.png" style="width:20px;height:20px;float:left;margin-top:1px;margin-right:5px;" />
					    设置
					    <i class="icon ion-chevron-right"></i>
					  </a>
				
				</div>
				<div style="width:100%;height:50px;clear:both;"></div>
			</ion-content>
			<div class="tabs tabs-icon-top tabs-color-positive" ng-model="is_lawyer">
				  <a class="tab-item" onclick='layer.goHome()'>
				    <i class="icon ion-home"></i>
				    首页
				  </a>
				  <a class="tab-item" ng-href="#/group">
				    <i class="icon ion-android-contacts"></i>
				    圈子
				  </a>
				  <a class="tab-item" ng-href="#/knowledge">
				    <i class="icon ion-social-buffer"></i>
				    知识
				  </a>
				  <a ng-if="is_lawyer == null" ng-href="#/login" class="tab-item active">
				    <i class="icon ion-android-contact"></i>
				    我的
				  </a>
				  <a ng-if="is_lawyer == false" ng-href="#/center" class="tab-item active">
				    <i class="icon ion-android-contact"></i>
				    我的
				  </a>
				  <a ng-if="is_lawyer == true" ng-href="#/center_lawyer" class="tab-item active">
				    <i class="icon ion-android-contact"></i>
				    我的
				  </a>
			</div>
		</ion-pane>
</ion-view>
<script id="popup-invitefriend-template.html" type="text/ng-template">
	<ion-header-bar>
		  <h1 class="title">分享到</h1>
	</ion-header-bar>
	
  	<div class="item item-text-wrap">
  		分享您的邀请码<span class="fc-red">2wk4</span>给你的朋友，只需等待您的好友注册后，优惠码（积分）肌肤即可向您发出。
  	</div>
  	<div class="item tabs tabs-icon-top">
  		<a ng-href="#" class="tab-item">
	  		<i class="icon ion-thumbsup"></i>
	  		微信好友		  			
  		</a>
  		<a ng-href="#" class="tab-item">
	  		<i class="icon ion-thumbsup"></i>
	  		微信好友		  			
  		</a>
  		<a ng-href="#" class="tab-item">
	  		<i class="icon ion-thumbsup"></i>
	  		微信好友		  			
  		</a>
  	</div>
</script>