<ion-view view-title="我的收藏">
	<ion-pane>
		<ion-header-bar class="bar bar-header bar-light">
			<a class="button icon-left ion-chevron-left button-clear button-positive button-small ion-ios-arrow-back" onclick="history.go(-1);"></a>
			<h1 class="title">我的收藏</h1>
		</ion-header-bar>

		<ion-content>
			<ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
			<ion-list>
				<ion-item>
					<p>咨询列表咨询列表</p>
					<div class="item item-thumbnail-left">
						<img ng-src="{{item.avatar}}"/>
						<h4>
					      	<span class="sp-name fc-nan ng-binding">何盛</span>
					      	<span class="sp-level fc-nan">高级律师</span>
					      	<img ng-show="" class="img-v ng-hide" src="img/vip.png">
					      </h4>
						<p>咨询列表咨询列表</p>
						<p>2015-10-26 16:22:24 </p>
						<p class="ion-chevron-down icon-right item-icon-right">
							<a href="###">
								共98条回复，点击查看全部
							</a>
						</p>
					</div>
				</ion-item>
			</ion-list>
			<ion-infinite-scroll pulling-text="上拉加载" ng-if="moredata" on-infinite="loadMore()" distance="1%"> </ion-infinite-scroll>
		</ion-content>

	</ion-pane>
</ion-view>