<ion-view view-title="我的">
		<ion-pane  class="web-body">
			<ion-header-bar class="bar bar-header bar-light">
				<a class="button icon-left ion-chevron-left button-clear button-positive button-small ion-ios-arrow-back"  ng-href="#/center"></a>
				<h1 class="title">我的资料</h1>
			</ion-header-bar>
			<ion-content class="web-body">
				<h4 class="title web-title web-fc666">资格认证<span class="web-ftcred">(审核通过后，不可修改)</span></h4>
				<div class="list web-bottom0">
					<label class="item item-input">
					    <span class="input-label web-ftcred">*执业人</span>
					    <input type="text">
					</label>
					<label class="item item-input item-select">
					    <div class="input-label  web-ftcred">
					      *性别
					    </div>
					    <select class="web-font16">
					      <option selected>男</option>
					      <option>女</option>
					    </select>
					</label>
					<label class="item item-input">
					    <span class="input-label web-ftcred">*执业证号</span>
					    <input type="text">
					</label>
					<label class="item item-input">
					    <span class="input-label web-ftcred">*执业机构</span>
					    <input type="text">
					</label>
					<label class="item item-input">
					    <span class="input-label web-ftcred">*执业证书</span>
					    <input type="text">
					</label>
				</div>
				<h4 class="title web-title web-fc666">个人资料</h4>
				<div class="list">
					<label class="item item-icon-left web-paddingleft16 webpaddingtb5" ng-click="show();">
						<span class="button item-note ion-ios-plus-empty button-light"></span>
					    <span class="input-label web-ftcred">*个人头像<br/><span class="web-fc666 web-font14">上传免冠照片</span></span>
					</label>
					<a class="item item-input" href="web120.html">
					    <span class="input-label web-ftcred">*所在地区</span>
					</a>
					<label class="item item-input" ng-click="lishow();">
					    <span class="input-label web-ftcred">*律师类型</span>
					</label>
					<a class="item item-input" href="web122.html">
					    <span class="input-label web-ftcred">*执业年限</span>
					</a>
					<a class="item item-input" href="web123.html">
					    <span class="input-label web-ftcred">*擅长领域</span>
					</a>
					<label class="item item-input">
					    <span class="input-label web-ftcred">*联系方式</span>
					    <input type="text" placeholder="请输入号码">
					</label>
					<a class="item item-input" href="web124.html">
					    <span class="input-label">个人简介</span>
					</a>
					<a class="item item-input" href="web125.html">
					    <span class="input-label">工作经历</span>
					</a>
					<a class="item item-input" href="web126.html">
					    <span class="input-label">成功案例</span>
					</a>
				</div>
				<button class="button button-full button-positive web-wid8c web-top10">提交</button>
			</ion-content>
			
		</ion-pane>
</ion-view>