<ion-view hide-Tabs="true" cache-view="false" view-title="文书详情">
	<ion-pane>
		<ion-content class="has-tabs">
			
			<div class="card" style="border-radius: 10px;box-shadow:none;" >
				<div class="item" style="border-color:#fff;border-style: none;border-width:0;padding-bottom: 11px;">
					<h2  style="margin-bottom: 5px;">{{itmes.title}}</h2>
		        </div>
		        <div class="carditem">
			        <p class="contents">
				    	使用说明：
				    </p>
				  	<p class="mt10" style="color: #7f7f7f;" ng-bind-html="itmes.content"></p>
		        </div>
		    </div>
		</ion-content>
		<div class="tabs" style="background-color:#fff;height: 59px;">
			<div class="row" style="padding: 5px 10px;">
				<a class="button button-block button-positive" type="button" style="border-radius: 10px;width:100%;" href="{{itmes.file_path}}">下载</a>
			</div>
		</div>
	</ion-pane>
</ion-view>