<ion-view hide-tabs="true" view-title="文书搜索">
	<ion-pane>
		<ion-content>	
			<form id="searchForm" name="searchForm" ng-controller="documentlistsearchCtrl">
				<!--搜索你想要的内容  -->
			  	<div class="item-input-inset" style="border-radius: 10px;">
				  <label class="item-input-wrapper">
				  	<i class="icon ion-ios-search placeholder-icon"></i>
				    <input ng-model="q" type="search" name="q" placeholder="搜索" class="search" ng-model-options="{debounce:2000}" required >
				  </label>
				</div>

				
				<ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
				
				<div ng-if="nodata == false" class="nodate">
					<i class="nodate-iocn"></i><br>
					<label>暂无数据！</label>
				</div>
				
				<div class="card" ng-repeat="item in items" style="border-radius: 10px;">
				  <a class="item item-text-wrap" ng-href="#/document/download_list/{{item.id}}">
				  	<h2>{{item.title}}</h2>
				  	<p class="content">{{item.info}}</p>
				  	<p class="mt10">
				  		<span class="subdued cb5b5b5">浏览</span>
				  		<label class="cf7861e">{{item.views_count}}</label>
				  		<label class="cb5b5b5">·</label>
					  	<span class="subdued cb5b5b5">下载</span>
					  	<label class="cf7861e">{{item.downs}}</label>
					  	<span class="cb5b5b5">{{item.difference_date}}</span>
				  	</p>
				  </a>
				</div>
				<ion-infinite-scroll pulling-text="上拉加载" ng-if="moredata" on-infinite="loadMore()" distance="1%"> </ion-infinite-scroll>

			</form>
		</ion-content>
	</ion-pane>
</ion-view>