<ion-view hide-tabs="true">
		<ion-pane  class="web-body">
			<ion-header-bar align-title="center" class="bar bar-header bar-light">
				<button class="button button-clear button-positive" ng-click="jumpGoBack()">  
	                <i class="icon icon-left ion-ios-arrow-back"></i>  
	            </button>
				<h1 class="title">文书详情</h1>
			</ion-header-bar>
			
			<ion-content class="bg-c-white download-content">	
					<div class="item download-name">
						<span>{{itmes.title}}</span>
					</div>
					<div class="list">
						<div class="item">
							<!-- <i class="icon ion-chevron-down" ng-click="isclose = !isclose"></i> -->
							<span>使用说明</span>
							<p class="contents text-indent">{{itmes.info}}</p>
						</div>
						<div class="item">
							<div class="row">
							    <div class="col">
                                    <img ng-src="http://192.168.1.43/img/default_imgs/[]10.png">
                                </div>
							    <div class="col">
                                    <img ng-src="http://192.168.1.43/img/default_imgs/[]16.png">
                                </div>
							</div>
							<a class="button button-block button-positive web-wid8c web-top10" href="{{itmes.file_path}}">下载</a>
						</div>
					</div>
			</ion-content>
		</ion-pane>
</ion-view>