<style type="text/css">
.main{
	width:30%;
	float:left;
	height: 100%;
	margin-top: 44px;
	padding-bottom: 44px; 
}
.wsfb{
	overflow: hidden;
	text-align: center;
	padding: 10px 0;
	height: 118px;
}
.scroll1{
	float:left;height: 100%;overflow-x: scroll;
	overflow-x: hidden;
	overflow-y: scroll;
	resize:both;
	-webkit-overflow-scrolling: touch;
	
}
::-webkit-scrollbar {
    width: 0px;
}
.scroll2{
	width: 70%;
}
.scroll2.scroll-content{
	left: 30%;
}
.scroll1 ul{
	width: 100%;
	margin-bottom:118px;
}
.scroll1 ul li{
	width: 80%;
	margin: 0 10%;
	height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-top: 1px solid #f2f2f2;
    position: relative;
}
.textright{
	font-size: 12px;
	text-align:right;
}
.border-bottom{
	border-bottom: 1px solid #f2f2f2;
	margin: 10px;
	padding-bottom: 10px;
}
.border-bottom .row {
	padding: 5px 0;
}
.border-bottom .row .col{
	padding: 0;
}
/*箭头向左*/
.scroll1 ul li.active i{
    display: inline-block;
    width: 0;
    height: 0;
    border-width: 12px;
    border-style: dashed;
    border-color: transparent;
    border-left-width: 0;
    border-right-color: #eee;
    border-right-style: solid;
    top:8px;
    right: -13%;
    position: absolute;
}

</style>
<ion-view hide-tabs="true">
		<ion-pane  class="web-body">
			<ion-header-bar align-title="center" class="bar bar-header bar-light">
				<button class="button button-clear button-positive pull-left" ng-click="jumpGo('#/index')">  
	                <i class="icon icon-left ion-ios-arrow-back"></i>  
	            </button>
	            <button class="button button-clear pull-right" ng-click="jumpGo('#/document/list/search')">  
	                <i class="icon ion-ios-search-strong positive"></i>
	            </button>
				<h1 class="title">法律文书</h1>
			</ion-header-bar>
				
			<div class="main">
				<div class="wsfb">
					<img src="../img/wsfb.png" width="48" height="58">
					<h5>文书范本</h5>
				</div>
				<div class="scroll1">
					<ul>
						<li ng-repeat="workscope in workscopes" ng-class="{ 'active':inShowscopes(workscope.key) }" ng-click="ngClick_list(workscope.key)">
							{{workscope.value}}
							<i></i>
						</li>
					</ul>
				</div>
			</div>

			<ion-content  class="scroll2">	
				<ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
				<div class="border-bottom" ng-repeat="item in items">
					<div class="row">
						<div class="col col-60 content_txt1 txt-c-66"><a ng-href="#/document/download_list/{{item.id}}">{{item.title}}</a></div>
					  <div class="col textright txt-c-99">下载:{{item.downs}}次</div>
					</div>
					<div class="row">
						<div class="col content_txt2 txt-c-99">{{item.info}}</div>
					</div>
				</div>
				<ion-infinite-scroll pulling-text="上拉加载" ng-if="moredata" on-infinite="loadMore()" distance="1%"> </ion-infinite-scroll>
			</ion-content>
		</ion-pane>
</ion-view>