<ion-view view-title="法律文书" hide-tabs="true">
		<ion-pane  class="web-body">
			<ion-header-bar class="bar bar-header bar-light">
				<a class="button icon-left ion-chevron-left button-clear button-positive button-small ion-ios-arrow-back" onclick="history.go(-1);"></a>
				<h1 class="title">法律文书</h1>
			</ion-header-bar>
			
			<ion-content>				
				<form id="search_form" name="myForm">
					<!--搜索你想要的内容-->
					<div class="item-input-inset">
						<div class="item-input-wrapper">
					    	<input name="q" type="search" placeholder="搜索你想要的内容" class="searchq">
					    	<i class="icon ion-search placeholder-icon" ng-click="search()"></i>
						</div>
						<button class="button button-icon ion-funnel button-clear"></button>
					</div>
					<div class="item" style="padding:0;">
						<select name="cat_id" class="opt-bl" ng-change="searchCatId()" ng-model="cat_id" style="width:100%;height:50px;line-height:50px;border: none;">
					    	<option value="">-- 请选择法律领域 --</option>
					      	<option ng-repeat="workscope in workscopes" value="{{workscope.key}}">
					      	{{workscope.value}}
					      	</option>
						</select>
					</div>
				</form>

				<!--评论-->
				<ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>

				<ion-list ng-repeat="item in items" >
	            	<ion-item class="item item-thumbnail-left" ng-href="#/document/download_list/{{item.id}}">
			          	<img ng-src="{{item.img}}" style="border-radius:4px;" />
						<div class="row" style="padding: 5px 0;">
						  <div class="col col-60" style="padding: 5px 0 0 0;">
						  	<h2>{{item.title}}</h2>
						  </div>
						  <div class="col" style="text-align: right;padding-right: 0px;"><h2>下载：{{item.downs}}</h2></div>
						</div>
						<p class="content">{{item.content}}</p>
			        </ion-item>
		         </ion-list>

				<ion-infinite-scroll pulling-text="上拉加载" ng-if="moredata" on-infinite="loadMore()" distance="1%"> </ion-infinite-scroll>
			</ion-content>

		</ion-pane>
</ion-view>