<ion-view hide-tabs="true" view-title="全部评价">
		<ion-pane>
			<ion-content>
				<div style="display: inline-block;width: 100%;background-color: #fff;">
					<div class="radiuscf label-list">
						<div class="row row-no-padding">
				    		<div class="col col-center row-no-padding">
				    			<span class="labels" ng-class="{ 'active':inEvaluate('1') }" ng-click="click_evaluate('1')">全部</span>
				    		</div>
				    		<div class="col col-center row-no-padding">
				    			<span class="labels" ng-class="{ 'active':inEvaluate('2') }" ng-click="click_evaluate('2')">好评 480</span>
				    		</div>
				    		<div class="col col-center row-no-padding" style="text-align: right;">
				    			<span class="labels" ng-class="{ 'active':inEvaluate('3') }" ng-click="click_evaluate('3')">中评 18</span>
				    		</div>
				    		<div class="col col-center row-no-padding" style="text-align: right;">
				    			<span class="labels" ng-class="{ 'active':inEvaluate('4') }" ng-click="click_evaluate('4')">差评 2</span>
				    		</div>
				    	</div>
				    </div>
				</div>
				<div class="card" style="border-radius: 10px;">
					<div class="item item-text-wrap" style="border-width: 0px;">
						<div class="row row-no-padding mb10">
				       		<div class="col col-center row-no-padding">
			       				<label class="cb5b5b5">张女士</label><br>
			       				<label class="font12 cb5b5b5">2016-05-14</label>
				       		</div>
						  	<div class="col col-center row-no-padding textright">
						  		<b class="cff4670" style="font-size: 26px;">4.0</b> <label class="font12">分</label>
						  	</div>
						</div>
						<p>
							用户评价用户评价用户评价用户评价用户评价用户评价用户评价用户评价用户评价用户评价用户评价用户评价用户评价用户评价用户评价
						</p>
						<p class="mt10">
							<label class="label">服务态度好</label>
							<label class="label">回复数度快</label>
							<label class="label">专业程度高</label>
							<label class="label">主动热情</label>
							<label class="label">解答详细</label>
						</p>
						<div class="hr" style="margin: 11px 0 1px 0;"></div>
						<div class="item item-avatar" style="border-color:#fff;border-style: none;border-width:0;padding-bottom: 11px;padding-left: 55px;">
							<img ng-src="http://test.elvtuan.com/file/show?path=uploads/user_img/4/1427688228Kpeq.jpg" src="http://test.elvtuan.com/file/show?path=uploads/user_img/4/1427688228Kpeq.jpg" style="left: 0px;">
							<div>
							  <h2 class="c48b4ff" style="margin-bottom: 5px;">
							  	杨津津律师
							  	<a ng-href="#/all-evaluate" class="item-note" style="color: #48b4ff;">>></a>
							  </h2>
							  <p class="cb5b5b5">
							  	执业3-5年 
							  </p>
							</div>
				        </div>
					</div>
				</div>

				<div class="card" style="border-radius: 10px;">
					<div class="item item-text-wrap" style="border-width: 0px;">
						<div class="row row-no-padding mb10">
				       		<div class="col col-center row-no-padding">
			       				<label class="cb5b5b5">张女士</label><br>
			       				<label class="font12 cb5b5b5">2016-05-14</label>
				       		</div>
						  	<div class="col col-center row-no-padding textright">
						  		<b class="cff4670" style="font-size: 26px;">4.0</b> <label class="font12">分</label>
						  	</div>
						</div>
						<p>
							用户评价用户评价用户评价用户评价用户评价用户评价用户评价用户评价用户评价用户评价用户评价用户评价用户评价用户评价用户评价
						</p>
						<p class="mt10">
							<label class="label">服务态度好</label>
							<label class="label">回复数度快</label>
							<label class="label">专业程度高</label>
							<label class="label">主动热情</label>
							<label class="label">解答详细</label>
				  			
						</p>
						<div class="hr" style="margin: 11px 0 1px 0;"></div>
						<div class="item item-avatar" style="border-color:#fff;border-style: none;border-width:0;padding-bottom: 11px;padding-left: 55px;">
							<img ng-src="http://test.elvtuan.com/file/show?path=uploads/user_img/4/1427688228Kpeq.jpg" src="http://test.elvtuan.com/file/show?path=uploads/user_img/4/1427688228Kpeq.jpg" style="left: 0px;">
							<div>
							  <h2 class="c48b4ff" style="margin-bottom: 5px;">
							  	杨津津律师
							  	<a ng-href="#/all-evaluate" class="item-note" style="color: #48b4ff;">>></a>
							  </h2>
							  <p class="cb5b5b5">
							  	执业3-5年 
							  </p>
							</div>
				        </div>
					</div>
				</div>

			</ion-content>
		</ion-pane>
</ion-view>>