<ion-view view-title="找律师">
	<ion-pane>
		<ion-header-bar class="bar bar-header">
			<!--<a class="button icon-left ion-chevron-left button-clear button-small"></a>-->
			<a class="button button-icon  button-clear button-positive" onclick="history.go(-1);">
  				<img class="v-align" src="img/smallback.png"/>
  			</a>
			<h1 class="title">找律师</h1>
			<!--<a class="button button-icon icon-right button-clear">深圳 <i class="icon ion-arrow-down-b"></i></a>-->
			<button class="button icon-right button-clear">
				深圳
				<i class="icon"><img src="img/arrow-down.png" class="iwh" /></i>
			</button>
		</ion-header-bar>
		
		<ion-content ng-controller="findlawyerCtrl">
			<div class="row">
				<div class="col txt-right">法律文书下载</div>
				<div class="col txt-left">文书审核</div>
			</div>
			<div class="tbg"></div>
			<!-- <div class="bdh">
				<div class="bdh-a bb-cn">法律文书下载</div>
				<div class="bdh-b">文书审核</div>
				<div class="clear"></div>
			</div>
			<div class="tbg"></div> -->

			<div>	
				<div class="list list-case-searchtype">
					<div class="item item-input" ng-click="toggleMenu()">
						<input type="text" placeholder="法律领域" value="法律领域" />
						<!--<span class="button button-positive button-clear button-icon ion-chevron-up"></span>-->
						<button class="button button-icon icon-right" ng-click="toggleMenu()">全部<i class="icon"><img src="img/arrow-down.png" class="iwh" /></i></button>
					</div>
				</div>
				
				<div class="list list-case-type" ng-show="isShowObj.show">
					<div class="item item-button-right" ng-repeat="typeItem in askLawyerTypeItems" ng-click="toggleMenu()">						
						{{typeItem.name}}
						<i class="button button-clear icon-right ion-arrow-up-c icon-r-wn"></i>
					</div>
					
				</div>	
			</div>
			
			<div>	
				<div class="list list-case-searchtype">
					<div class="item item-input" ng-click="toggleMenu2()">
						<input type="text" placeholder="选择范围" value="选择范围" />
						<!--<span class="button button-positive button-clear button-icon ion-chevron-up"></span>-->
						<button class="button button-icon icon-right" ng-click="toggleMenu2()">不限<i class="icon"><img src="img/arrow-down.png" class="iwh" /></i></button>
					</div>
				</div>
				
				<div class="list list-case-type" ng-show="isShowList.show">
					<div class="item item-button-right" ng-repeat="typeItem in rItems" ng-click="toggleMenu2()">						
						{{typeItem.name}}
						<i class="button button-clear icon-right ion-arrow-up-c icon-r-wn"></i>
					</div>
					
				</div>	
			</div>				
			
			<div class="list list-borderless">
				<div class="item item-divider">金牌律师推荐</div>
			</div>
			
			<div class="bd-list">
				<div class="bd-item" ng-repeat="bdItem in BookDownItems">
					<img src="img/17.png"/><br />
					<p class="fc-33 txt-fw">{{bdItem.bdName}}</p>
					<p>
						{{bdItem.bdTime}}
					</p>
					<p>
						{{bdItem.bdNum}}次
					</p>
				</div>
				<div class="clear"></div>
			</div>
			
		</ion-content>
		<!--<ion-footer-bar align-title="left" class="bar-default">

		</ion-footer-bar>-->
	</ion-pane>
</ion-view>