<ion-view hide-tabs="true">
		<ion-pane>
			<ion-content>
				<form id="myForm" name="myForm" novalidate ng-controller="graphicCtrl">
					<div class="main">
						  <label class="item-input mb10">
				          <textarea class="textareacss" ng-model="content" name="content" rows="10" placeholder="详情描述：(10-300字)" ng-minlength="10" ng-maxlength="300" required ></textarea>
				        </label>
					</div>
					<div style="background-color: #fff;padding:5px 10px;margin-top:50px;">
						<button class="button button-block button-positive" style="border-radius: 10px;" ng-disabled="myForm.$invalid" ng-click="submit()">提交</button>
					</div>
				</form>
			</ion-content>
		</ion-pane>
</ion-view>