<ion-view hide-tabs="true">
		<ion-pane>
			<ion-header-bar class="bar bar-header">
				<button class="button button-clear button-positive" ng-click="jumpGoBack()">  
	                <i class="icon icon-left ion-ios-arrow-back"></i>  
	            </button>
				<h1 class="title">购买服务</h1>
				<!--<a class="button icon-right ion-chevron-right button-clear button-small"></a>-->
			</ion-header-bar>
			
			<ion-content>
				<form id="questions_form" name="myForm" novalidate ng-controller="graphicCtrl">

					<div class="ist-case-searchtype">	
						<select required ng-model="user.cat_id" ng-options="value.key as value.value for value in workscopes" style="width:100%;height:50px;line-height:50px;border: none;">
								<option value="">-- 请选择案例类型 --</option>
					    </select>
					</div>
					<div class="list">
						<label class="item item-input">
						  <input ng-model="user.title" name="title" type="text" placeholder="请输入标题" required>
						</label>
						<label class="item item-input">
				          <textarea ng-model="user.content" name="content" rows="10" placeholder="请输入问题" required ng-minlength="2" ng-maxlength="1000"></textarea>
				        </label>
				        <p class="item" ng-show="myForm.content.$error.minlength">
							<span class="fc-red">字符不能小于2个字符</span>
						</p>
						<p class="item" ng-show="myForm.content.$error.maxlength">
							<span class="fc-red">字符的长度不能超过1000个</span>
						</p>
					</div>
					<div class="item group-site">
						<label class="name">上传附件：</label>

						<div class="rig" style="width: 92px;">
							<div ng-disabled="booleans" ng-model="file_paths"  accept="image/*,.doc,.docx"  gf-pattern="'image/*,.doc,.docx'" ngf-max-size="2MB" ngf-select="uploadFiles($files, $invalidFiles)" class="icon-right" style="font-size:4em;padding:0 20px;color:#ccc;float:right" multiple><i class="icon ion-ios-plus-outline"></i></div>
							<input type="hidden" name="file_paths" value="{{file}}" />
						</div>
						 <br><br>
						  <label ng-show="files">文件名称:</label>
						  <ul>
						    <li ng-repeat="f in files" style="font:smaller">{{f.name}} {{f.$errorParam}}
						      <span class="progress" ng-show="f.progress >= 0">
						        <div style="width:{{f.progress}}%"  
						            ng-bind="f.progress + '%'"></div>
						      </span>
						    </li>
						    <li ng-repeat="f in errFiles" style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}</li> 
						  </ul>
						<!-- <label class="rig">
							<img ng-src="{{file}}" ngf-thumbnail="upload_file || '{{group.group_avatar}}'" width="52" height="50">
						</label> -->
					</div>
					<div class="padding">
						<button class="button button-block button-positive" type="submit" ng-disabled="myForm.$invalid" ng-click="submit(user)" >提交</button>
					</div>
				</form>
			</ion-content>
		</ion-pane>
</ion-view>