<ion-view hide-tabs="true">
		<ion-pane>
			<ion-content style="margin-bottom:0;">
					<!--搜索你想要的内容  -->
					<div class="item-input-inset" style="border-radius: 10px;">
					  <label class="item-input-wrapper">
					  	<i class="icon ion-ios-search placeholder-icon"></i>
					    <input type="search" placeholder="请输入姓名进行搜索" ng-click="jumpGo('#/lawyer-list/search')">
					  </label>
					</div>

					<div class="row row-center row-no-padding" style="background-color: #fff;text-align: center;height: 45px;line-height: 45px;color:#7f7f7f;padding-bottom: 1px;box-shadow: 0 1px 3px rgba(0,0,0,.3);">
						<div class="col drop-down-arrow" style="border-right:1px solid #e5e5e5;text-align: center;" ng-click="district_toggle()">
							<label ng-if="!district_key">{{district_name}}</label>
							<label ng-if="district_key" class="c48b4ff">{{district_name}}</label>
						</div>
						<div class="col drop-down-arrow" style="border-right:1px solid #e5e5e5;text-align: center;" ng-click="workscope_toggle()">
							<label ng-if="!workscope_key">{{workscope_name}}</label>
							<label ng-if="workscope_key" class="c48b4ff">{{workscope_name}}</label>
						</div>
						<div class="col drop-down-arrow" style="border-right:1px solid #e5e5e5;text-align: center;" ng-click="period_toggle()">
							<label ng-if="!period_key">{{period_name}}</label>
							<label ng-if="period_key" class="c48b4ff">{{period_name}}</label>
						</div>
						<div class="col drop-down-arrow" style="text-align: center;" ng-click="orders_toggle()">
							<label ng-if="!orders_key">{{orders_name}}</label>
							<label ng-if="orders_key" class="c48b4ff">{{orders_name}}</label>
						</div>
					</div>
					
					<ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
					
					<div ng-if="nodata == false" class="nodate">
						<i class="nodate-iocn"></i><br>
						<label>暂无数据！</label>
					</div>

					<div class="card" ng-repeat="item in items" style="border-radius: 10px;">
						<a class="item item-avatar" ng-href="#/lawyer/view/{{item.id}}">
				            <img ng-src="{{item.avatar}}">
				            <div class="row row-no-padding">
					       		<div class="col col-70 col-center row-no-padding">
					       			<h3>
					       				<b>{{item.realname}}</b>
					       				<label class="cf7861e">{{item.average_evaluate_score}}</label>
					       				<label class="font12 cb5b5b5">分</label>
					       			</h3>
					       		</div>
							  	<div class="col col-30 col-center row-no-padding"><b class="cff4670">199</b> <label class="font12">元/次</label></div>
							</div>
							<p style="margin: 10px 0 13px;font-size: 13px;">
								<span style="display: block;">{{item.practice_period}}执业经验</span>
								<span>{{item.province}} {{item.city}}</span>
								<span class="item-note cb5b5b5" style="font-size: 13px;"> {{item.question_count}}人咨询</span>
							</p>
							<p>
								<label ng-repeat="item in item.work_scope" class="radius10">{{item.value}}</label>
							</p>
				          
				        </a>
					</div>
					<ion-infinite-scroll pulling-text="上拉加载" ng-if="moredata" on-infinite="loadMore()" distance="1%"> </ion-infinite-scroll>
	
			</ion-content>
		</ion-pane>

</ion-view>>

<!-- 一个ion-view控制器里面不能放多个ion-content -->
<div ng-hide="masklayer" style="background-color: rgba(0,0,0,.1);position: fixed;top: 100px;left: 0;z-index: 10;width: 100%;height: 100%;"></div>
<ion-content class="scroll-content ionic-scroll baclass" ng-hide="district_cont" style="top:100px;">
	<div class="scroll" style="transform: translate3d(0px, 0px, 0px) scale(1);">
		<ul>
	  		<li ng-repeat="district in districts"  ng-class="{ 'active':inDistrict(district.key) }" ng-click="getDistrictVal(district.key,district.value)">{{district.value}}</li>
	  	</ul>
    </div>
</ion-content>
<ion-content class="scroll-content ionic-scroll baclass" ng-hide="workscope_cont" style="top:100px;">
	<div class="scroll" style="transform: translate3d(0px, 0px, 0px) scale(1);">
		<ul>
	  		<li ng-repeat="workscope in workscopes" ng-class="{ 'active':inWorkscope(workscope.key) }" ng-click="getWorkscopeVal(workscope.key,workscope.value)">{{workscope.value}}</li>
	  	</ul>
    </div>
</ion-content>
<ion-content class="scroll-content ionic-scroll baclass" ng-hide="period_cont" style="top:100px;">
	<div class="scroll" style="transform: translate3d(0px, 0px, 0px) scale(1);">
		<ul>
	  		<li  ng-repeat="period in periods" ng-class="{ 'active':inPeriods(period.key) }" ng-click="getPeriodsVal(period.key,period.value)">{{period.value}}</li>
	  	</ul>
    </div>
</ion-content>
<ion-content class="scroll-content ionic-scroll baclass" ng-hide="order_cont" style="top:100px;">
	<div class="scroll" style="transform: translate3d(0px, 0px, 0px) scale(1);">
		<ul>
	  		<li  ng-repeat="order in orders" ng-class="{ 'active':inOrders(order.key) }" ng-click="getOrderVal(order.key,order.value)">{{order.value}}</li>
	  	</ul>
    </div>
</ion-content>