<ion-view hide-tabs view-title="找律师">
		<ion-pane>
		<h1 class="title">找律师</h1>
			<ion-header-bar class="bar bar-header bar-light">
				<a class="button icon-left ion-chevron-left button-clear button-positive button-small ion-ios-arrow-back" onclick="history.go(-1);"></a>
				<h1 class="title">找律师</h1>
				<a ng-href="#/citypicker" class="icon-right button-clear" style="position: absolute;top: 12px;right: 5px;bottom: 5px;">
					<label ng-bind="currentLocation.city_name"></label>
					<ion class="ion-ios-location-outline" style="font-size: 32px; vertical-align: text-bottom;"></ion>
				</a>
			</ion-header-bar>
			

			<ion-content style="margin-bottom:0;">
					<form id="searchForm" name="searchForm" ng-controller="lawyerlistCtrl">
						<!--搜索你想要的内容  -->
						<div class="item item-input-inset web-body"> 
							<div class="item-input-wrapper">
						    	<input ng-model="q" type="search" name="q" placeholder="搜索你想要的内容" class="search" ng-model-options="{debounce:2000}" >
							</div>
						</div>
						<div class="slct-title item item-input-inset web-body" style="background-color:#fff">
							<div class="select-cnt">
					            <select name="city_id" ng-change="searchCity()" ng-model="city_id">
							      <option value="" selected>所在区域</option>
							      <option ng-repeat="citie in cities" value="{{citie.city_code}}">
							      	{{citie.city_name}}
							      </option>
							    </select>
					            <i class="select"></i>
					        </div>
							<div class="select-cnt">
					            <select name="cat_id" class="opt-bl" ng-change="searchCity()" ng-model="cat_id">
							    	<option value="" selected>法律专长</option>
							      	<option ng-repeat="workscope in workscopes" value="{{workscope.key}}">
							      	{{workscope.value}}
							      </option>
							    </select>
					            <i class="select"></i>
					        </div>
							<div class="select-cnt">
					            <select name="experience" class="opt-bl" ng-change="searchCity()" ng-model="experience">
							      <option value="" selected>执业年限</option>
							      	<option ng-repeat="period in periods" value="{{period.key}}">
							      		{{period.value}}
							      	</option>
							    </select>
					            <i class="select"></i>
					        </div>
							<div class="select-cnt">
					            <select name="order_by" class="opt-bl" ng-change="searchCity()"  ng-model="order_by">
							      	<option value="" selected>默认</option>
							      	<option ng-repeat="order in orders" value="{{order.key}}">
							      		{{order.value}}
							      	</option>
							    </select>
					            <i class="select"></i>
					        </div>
						</div>
						
						<ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
						<div class="list">
						    <a class="item item-thumbnail-left" ng-repeat="item in items" ng-click="jumppage(item.id)">
						      <img class="img-header" src="{{item.avatar}}" style="border-radius: 50px;" />
						      	<!--<img ng-src="img/icon-header.png"/>-->
						      <h4>
						      	<span class="sp-name fc-nan">{{item.realname}}</span>
						      	<span class="sp-level fc-nan">高级律师</span>
						      	<img ng-show="{{item.isDispVipImg}}" class="img-v" src="img/vip.png"/>
						      </h4>
						      <p>
						      	擅长领域：<label ng-repeat="item in item.work_scope">{{item.value}}</label><br /> 所在区域：{{item.province}}<br /> 执业时间：{{item.practice_period}}
						      	<i class="icon ion-compose web-ion-img1-2" style="float:right;margin-right:10px;font-size:12px;">&nbsp;{{item.follows_count}}</i>
							    <i class="icon ion-chatbubble web-ion-img1-2" style="float:right;margin-right:10px;font-size:12px;">&nbsp;{{item.likes_count}}</i>
							    <i class="icon ion-heart web-ion-img1-2" style="float:right;margin-right:10px;font-size:12px;color:#f00;">&nbsp;<span style="color:#666666;">{{item.score}}</span></i>
						      </p>
						    </a>
						</div>
						<ion-infinite-scroll pulling-text="上拉加载" ng-if="moredata" on-infinite="loadMore()" distance="1%"> </ion-infinite-scroll>
				</form>
			</ion-content>
		</ion-pane>

</ion-view>>