<ion-view hide-tabs="true" view-title="一对一咨询">
		<ion-pane>
			<ion-content class="has-tabs">
				<div class="one_div" style="min-height: 191px;">
					<img ng-if="visible" ng-src="../img/questionstext.png" style="height:100%;width:100%;display: inherit;" />
					<img ng-if="!visible" ng-src="../img/questionsphone.png" style="height:100%;width:100%;display: inherit;" />
				</div> 
				<div class="list" style="margin-bottom: 10px;">
					<div class="item" style="border-width: 0px;border-bottom-right-radius: 10px;border-bottom-left-radius: 10px;">
						<h2><b>一对一咨询</b></h2>
						<p class="cb5b5b5 font12">选择专业律师为您解答法律问题</p>
						<div class="hr" style="margin: 15px 0;"></div>
						<h3 style="margin-bottom:20px;"><b class="cff4670" style="font-size: 16px;">19元</b> <font color="b5b5b5">起</font> </h3>
						<div class="row row-no-padding">
   				    		<div class="col col-40 col-center row-no-padding" style="margin-right: 2%;">
   				    			<button class="button button-block"  ng-class="{true: 'button-cff2f5f', false: 'button-light'}[visible]" style="border-radius: 10px;min-height: 30px;line-height:30px;font-size: 12px;" ng-click="toggle('pay_text')">图文咨询</button>
   				    		</div>
   				    		<div class="col col-40 col-center row-no-padding" style="margin-left: 2%;">
   				    			<button class="button button-block" ng-class="{true: 'button-cff2f5f', false: 'button-light'}[!visible]" style="border-radius: 10px;min-height: 30px;line-height:30px;font-size: 12px;" ng-click="toggle('pay_phone')">电话咨询</button>
   				    		</div>
   				    		<div class="col col-center row-no-padding" style="margin-left: 2%;">
   				    		</div>
   				    	</div>
					</div>
				</div>
				<div class="card" style="border-radius: 10px; box-shadow: none;">
					<img ng-if="visible" ng-src="../img/one/paytext.png" style="height:100%;width:100%;display: inherit;" />
					<img ng-if="!visible" ng-src="../img/one/payphone.png" style="height:100%;width:100%;display: inherit;" />
				</div>
				<div class="card" style="border-radius: 10px; box-shadow: none;">
					<img ng-src="../img/one/fwlc.png" style="height:100%;width:100%;display: inherit;" />
				</div>
				<div class="card" style="border-radius: 10px; box-shadow: none;">
					<img ng-src="../img/one/fwbz.png" style="height:100%;width:96%;display: inherit;" />
				</div>
				<div class="card" style="border-radius: 10px;">
					<div class="item item-text-wrap" style="border-width: 0px;">
						<h3 style="margin-bottom: 20px;">
							用户评价
							<a ng-href="#/all-evaluate" class="item-note" style="color: #48b4ff;">>></a>
						</h3>
						<div class="hr mb10"></div>
						<p>
							<span class="subdued cb5b5b5 font12">评价数：<font color="f7861e">{{items.total_count}}</font></span>
				  			
						</p>
						<p>
							<span class="subdued cb5b5b5 font12">好评：<font color="f7861e">{{items.high}}</font>人</span>
				  			&nbsp;&nbsp;
				  			<span class="subdued cb5b5b5 font12">中评：<font color="f7861e">{{items.intermediate}}</font>人</span>
				  			&nbsp;&nbsp;
				  			<span class="subdued cb5b5b5 font12">差评：<font color="f7861e">{{items.low}}</font>人</span>
				  			&nbsp;&nbsp;
						</p>
					</div>
				</div>

			</ion-content>
			<div class="tabs" style="background-color:#fff;padding-top: 0;">
				<div class="row" style="padding: 0 10px;">
					<button class="button button-block button-positive" style="border-radius: 10px;" ng-click="jumpGoQuestionsList()">选择律师</button>
				</div>
			</div>
		</ion-pane>
</ion-view>>