<ion-view hide-tabs="true">
		<ion-pane>
			<ion-header-bar align-title="center" class="bar bar-header">
				<button class="button button-clear button-positive" ng-click="jumpGoBack()">  
	                <i class="icon icon-left ion-ios-arrow-back"></i>  
	            </button>
				<h1 class="title">购买服务</h1>
				<!--<a class="button icon-right ion-chevron-right button-clear button-small"></a>-->
			</ion-header-bar>
			
			<ion-content>
				<div class="list list-borderless">
					<div class="item item-divider"></div>
					<div class="row find-lawyer-item">
						<div class="find-lawyer-item-a">
							<input type="radio" value="" checked="checked"/>
						</div>
						<div class="find-lawyer-item-b">
							<img ng-src="img/ionic.png" width="40" height="40" />
						</div>
						<div class="find-lawyer-item-c">
							<div class="item-title">
									<div class="item-title-a">刘晓乐律师的专业图文咨询</div>
									<div class="item-title-b">5元/次</div>
									<div class="clear"></div>
							</div>
							<div>4小时内通过图片，文字，语音进行咨询</div>
						</div>
						<div class="clear"></div>
					</div>
				</div>
				
				<div class="list list-borderless">
					<div class="item item-divider d-2em">选择支付方式</div>
					<div class="item find-lawyer-item">
						<div class="find-lawyer-item-a">
							<input type="radio" value="" checked="checked"/>
						</div>
						<div class="find-lawyer-item-b">
							<img ng-src="img/pay.png" width="40" height="40" />
						</div>
						<div class="find-lawyer-item-c">
							<div class="item-title">
									<div class="item-title-a">支付宝支付</div>
									<!--<div class="item-title-b"></div>-->
									<div class="clear"></div>
							</div>
							<div>推荐安装支付宝钱包用户使用</div>
						</div>
						<div class="clear"></div>
					</div>
				</div>
				<div>
					<button class="button button-positive button-block">购买</button>
				</div>
				
			</ion-content>
			<!--<ion-footer-bar align-title="left" class="bar-default">

			</ion-footer-bar>-->
		</ion-pane>
</ion-view>