<ion-view hide-tabs="true">
		<ion-pane  class="web-body">
			<ion-header-bar class="bar bar-header bar-light" style="background-color:#2BA1E8;border-bottom:0px;z-index:0;">
				<button class="button button-clear button-positive" ng-click="jumpGoBack()">  
                    <i class="icon icon-left ion-ios-arrow-back" style="color:#ffffff;"></i>  
                </button> 
				<h1 class="title" style="color:#fff; height:44px;">律师个人主页</h1>
			</ion-header-bar>
			<ion-content class="web-body">
				<div class="list view-heard" style="background:url({{items.bg_img}});background-size:100% 100%;">
				    <a class="item item-thumbnail-left">
				      <img class="avatar" ng-src="{{items.avatar}}" spinner-on-load style="left:10px;top:50px;">
				      <h2 class="web-top10" style="color:#ffffff;">{{items.realname}}  <span class="web-font14">律师</span></h2>
				      <h2 class="web-top10" style="color:#ffffff;">您的专属律师</h2>
				      <div style="width:100%;height:2px;clear:both;"></div>
				      <div class="web-listtext web-fc666" style="float:left;font-size:14px;margin-top:5px;border:2px solid #ffffff;border-radius:15px;padding:0px 10px 3px 10px;">
				      	<div star rating-value="ratingVal" max="max" on-hover="onHover" on-leave="onLeave" readonly="{{readonly}}"></div>
				      </div>
				      <div style="font-size:14px;width:50px;height:30px;float:right;line-height:30px;color:#ffffff;">
				      	<p ng-if="items.is_like == false" ng-click="likes(items.id)" style="font-size:14px;width:30px;border-radius:30px;height:30px;float:left;background-color:#ffffff;text-align:center;"><i class="icon ion-android-favorite-outline web-ion-img1-5" style="color:#f00;"></i></p>
				      	<p ng-if="items.is_like == true" style="font-size:14px;width:30px;border-radius:30px;height:30px;float:left;background-color:#ffffff;text-align:center;"><i class="icon ion-android-favorite web-ion-img1-5" style="color:#f00;"></i></p>
				      	&nbsp;{{items.likes_count}}
				      </div>
				    </a>
				</div>
				<div class="button-bar">
				  <a class="button button-clear" style="line-height:20px;"><span style="color:#26A3F1;">{{items.question_count}}</span><br/>服务次数</a>
				  <a class="button button-clear" style="line-height:20px;"><span style="color:#26A3F1;">{{items.score}}</span><br/>评分</a>
				</div>


				<div class="slideBox">
					<div class="hd tabs">
					  <a ng-repeat="tab in tabs"  ng-class="{active:isActiveTab(tab.url)}"  ng-click="onClickTab(tab)" class="tab-item" >{{tab.title}}</a></li>
					</div>
					<div class="bd">
						
							<div ng-include="currentTab"></div>
						
					</div>
				</div>
			</ion-content>

			<div class="tabs tabs-color-positive">
			  <p class="tab-item active" ng-click="graphic5(items.id,5)">图文咨询</p>  
			  <p class="tab-item active" ng-click="graphic5(items.id,6)">电话咨询</p>
			</div>

		</ion-pane>
</ion-view>

<!-- 律师个人主页 - 个人介绍 -->
<script type="text/ng-template" id="selfintro.tpl.html">
    <ul class="list">
	  	<li class="item">
		    <p class="web-fc666 web-font14">擅长领域</p>
		    <p><label ng-repeat="item in items.work_scope">{{item.value}} &nbsp;</label></p>
	  	</li>
		<li class="item">
		    执业时间<span style="color:#37A9F2;">{{items.practice_period}}年</span>
		      <p class="web-fc666 web-font14">专业咨询服务单价</p>
		      <p class="web-fc000">图文资讯5元/次; 电话咨询3元/分钟</p>
		  </li>
		 <li class="item item-icon-right white-space-normal">
		      <p class="web-fc666 web-font14">个人简历</p>
		      <p class="web-fc000">{{ items.introduce == '' ? '未填写' : items.introduce }}</p>
		  </li>
		  <li class="item item-icon-right white-space-normal">
		      <p class="web-fc666 web-font14">成功案例</p>
		      <p class="web-fc000 web-breakall">未填写</p>
		  </li>
	</ul>
</script>

<!-- 律师个人主页 - 评价 -->
<script type="text/ng-template" id="evaluate.tpl.html">
    <ul class="list" ng-controller="viewevaluateCtrl">
    	<ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
	  	<div class="list web-top10" ng-repeat="evaluation in evaluations">
		  <a style="height:auto;padding-left:16px;" class="item web-itemheight45 item-avatar">
		      <p class="web-listtext web-fc000">{{evaluation.creator_realname}}&nbsp;&nbsp;{{evaluation.creator_realname}}</p>
		      <div class="web-listtext web-fc666" style="font-size:14px;margin-top:5px;">
		      	<p class="evaluate_score">{{evaluation.evaluate_score}}</p>
		      	<div class="rig" star rating-value="ratingVal[$index]" max="max" on-hover="onHover" on-leave="onLeave" readonly="{{readonly}}"></div>
				<input type="hidden" name="input" ng-model="max" min="0" max="5" required>
		      </div>
		      <p class="web-listtext web-fc000">{{evaluation.evaluate_comment}}</p>
		    </a>
		</div>
		<ion-infinite-scroll pulling-text="上拉加载" ng-if="moredata" on-infinite="loadMore()" distance="1%" > </ion-infinite-scroll>
	</ul>
</script>

<!-- 律师个人主页 - 文章 -->
<script type="text/ng-template" id="article.tpl.html">
    <ul class="list" ng-controller="viewarticleCtrl">
    	<ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
	  	<ion-list ng-repeat="article in articles">
			<ion-item class="item-thumbnail-left">
				<img ng-src="{{article.avatar}}"/>
				<h2>{{article.title}}</h2>
				<p>{{article.content}}</p>
				<p>{{article.created_at}}</p>
			</ion-item>
		</ion-list>
		<ion-infinite-scroll pulling-text="上拉加载" ng-if="moredata" on-infinite="loadMore()" distance="1%" > </ion-infinite-scroll>
	</ul>
</script>

<!-- 律师个人主页 - 广播 -->
<script type="text/ng-template" id="televise.tpl.html">
    <ul class="list" ng-controller="viewteleviseCtrl">
    	<ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
		<ion-list>
			<div class="item" ng-repeat="item in items" >
			  	<p href="#/broadcast/view/{{item.id}}">
			    	{{item.content}}
				</p>
				<p>{{item.created_at}}</p>
				<div class="web-paddingtb0" style="padding-left:55px;height:30px;line-height:30px;border-top:0px;color:#767676;">
				    <i class="icon ion-compose web-ion-img1-2" style="float:right;font-size:14px;">&nbsp;
				    	<label>{{item.post_extra.comments_count}}</label>
					</i>
				    <i ng-click="likes({{item.id}},[$index])"  class="icon ion-heart web-ion-img1-2" style="float:right;margin-right:10px;font-size:14px;">&nbsp;
				    	<label>{{item.post_extra.likes_count}}</label>
				    </i>
				    <i class="icon ion-chatbubble web-ion-img1-2" style="float:right;margin-right:10px;font-size:14px;">&nbsp;
				    	<label>{{item.post_extra.views_count}}</label>
				    </i>
				  </div>
			</div>

         </ion-list>
		<ion-infinite-scroll pulling-text="上拉加载" ng-if="moredata" on-infinite="loadMore()" distance="1%" > </ion-infinite-scroll>
	</ul> 
</script>