<style type="text/css">
/*4-4s*/
@media only screen and (min-device-width: 320px) and (min-device-height :480px){ 
    .view-heard {height: 143px;}
}
/*5-5s*/
@media only screen and (min-device-width: 320px) and (min-device-height :568px){ 
    .view-heard {height: 160px;}
}
/*6*/
@media only screen and (min-device-width: 375px) and (min-device-height :557px){ 
	.view-heard {height: 180px;}
}
/*6 plus*/
@media only screen and (min-device-width: 414px) and (min-device-height :736px){ 
  	.view-heard {height: 200px;}
}

/*6 plus*/
@media only screen and (min-device-width: 414px) and (min-device-height :736px){
	.view-heard {height: 220px;}
}
.private_follow{margin-top: 10px;width: 100%;height: 37px;line-height: 37px;background-color: #ededed;border-bottom-left-radius: 10px;border-top-left-radius: 10px;text-align: center; display: inline-block;}
</style>
<ion-view hide-tabs="true">
		<ion-pane  class="web-body">
			<ion-content class="has-tabs">
				<div class="list view-heard" style="background:url( {{items.bg_img}} );background-size:100% 100%;">
				    <div class="lawyer-content-top">
					    <h2>{{items.realname}}</h2>
					    
			    		<div class="row row-no-padding lawyer-work_scope">
							<div class="col col-center" ng-repeat="item in items.work_scope">
								{{item.value}}
							</div>
						</div>
				    </div>
				</div>
				<div class="lawyer-content-center">
					<p class="lawyer-company-name c7f7f7f">{{items.company_name}}</p>
					<div class="row row-no-padding lawyer-zgd c7f7f7f">
						<div class="col col-10 col-center" style="text-align: right;">
							<img src="../img/recommend.png">
						</div>
						<div class="col col-center" style="text-align: left;">
							<font color="f7861b">{{items.task_count}}</font> 人咨询
						</div>
						<div class="col col-10 col-center" style="text-align: right;">
							<img src="../img/follow.png">
						</div>
						<div class="col col-center" style="text-align: left;">
							<font color="f7861b">{{items.follower_count}}</font> 人关注
						</div>
						<div class="col col-10 col-center" style="text-align: right;">
							<img src="../img/areward.png" style="width: 56%;">
						</div>
						<div class="col col-center" style="text-align: left;">
							<font color="f7861b">{{items.reward_count}}</font> 人打赏
						</div>
					</div>
				</div>

				<div class="card" style="border-radius: 10px;box-shadow:none;">
					<div class="item item-text-wrap">
					  	<h2 class="mb10">关于律师</h2>
					  	<div class="contents">

					  		<p style="text-indent: 10px;margin-bottom: 10px;">
					  			<span>{{ context_min100 }}</span><span ng-show="context">{{dian}}</span><span class="context" style="display: none;">{{ context_all }}</span>
					  			<!-- <span ng-show="context" >{{ context_all }}</span> -->
					  		</p>
					    	<p class="more" style="border-top:1px solid #ededed;text-align: right;">
					    		<span ng-click="toggle()" style="display: inline-block;background-color: #ededed;padding: 6px 15px;border-bottom-right-radius: 10px;border-bottom-left-radius: 10px;color: #fff;">更多</span>
					    	<!-- 	<span ng-click="context = !context" style="display: inline-block;background-color: #ededed;padding: 6px 15px;border-bottom-right-radius: 10px;border-bottom-left-radius: 10px;color: #fff;">更多</span> -->
					    	</p>
					    </div>
					</div>
				</div>
				<div class="card" style="border-radius: 10px;">
					<div class="item item-text-wrap" style="border-width: 0px;">
						<h3 style="margin-bottom: 20px;">
							用户评价
							<a ng-href="#/lawyer-all-evaluate/{{items.id}}" class="item-note" style="color: #48b4ff;">>></a>
						</h3>
						<div class="hr mb10"></div>
						<p>
							<span class="subdued cb5b5b5 font12">评价数：<font color="f7861e">{{extras.total_count}}</font></span>
						</p>
						<p>
							<span class="subdued cb5b5b5 font12">好评：<font color="f7861e">{{extras.high}}</font> 人</span>
				  			&nbsp;&nbsp;
				  			<span class="subdued cb5b5b5 font12">中评：<font color="f7861e">{{extras.intermediate}}</font> 人</span>
				  			&nbsp;&nbsp;
				  			<span class="subdued cb5b5b5 font12">差评：<font color="f7861e">{{extras.low}}</font> 人</span>
				  			&nbsp;&nbsp;
						</p>
					</div>
				</div>
				<div class="card" style="border-radius: 10px;">
					<div class="item item-text-wrap" style="border-width: 0px;">
						<h3 style="margin-bottom: 20px;">
							发表文章
							<a ng-href="#/lawyer/article" class="item-note" style="color: #48b4ff;">>></a>
						</h3>
						<p>
							<span class="subdued cb5b5b5 font12">{{articles.title}}</span>
						</p>
					</div>
				</div>
				
			</ion-content>	

			<div class="tabs" style="background-color:#fff;height: 59px;">
				<div class="row row-center row-no-padding">
					<div class="col col-20 col-center row-no-padding concern-lawyer" style="padding-left: 10px;">
						<div class="private_follow" style="height: 37px;line-height: 37px;width: 100%;">
							<span ng-if="items.is_following == false || items.is_following == null" ng-click="follow(items.id)" >
					      		<i class="private_following" style="background-size: 80%;"></i>
				      		</span>
					      	<span ng-if="items.is_following == true" ng-click="follow_del(items.id)">
					      		<i class="private_following_s" style="background-size: 80%;"></i>
					      	</span>
						</div>
					</div>
					<div class="col col-80 col-center row-no-padding"  style="padding: 5px 10px 10px 0px;">
						<button class="button button-block button-positive" style="border-bottom-right-radius: 10px;border-bottom-left-radius: 0;border-top-left-radius: 0;border-top-right-radius: 10px;" ng-click="submit()">立即预约</button>
					</div>
					
				</div>
			</div>

		</ion-pane>
</ion-view>