<ion-view hide-tabs view-title="绑定手机">
	<ion-pane>
		<ion-content  style="margin-bottom: 0;">
			<form novalidate name="myForm" id="myForm" ng-controller="boundphoneCtrl" ng-cloak class="ng-cloak">

				<div class="card" style="margin:0; box-shadow: none;">
			    	<div style="border-top: 1px solid #ebebeb;height:1px;"></div>
			    	<div class="row">
			    		<div class="col col-10 col-center  txt-align-c" style="padding: 0;">
			    			<i class="ion-android-phone-portrait" style="font-size: 1.74rem;"></i>
			    		</div>
			    		<div class="col col-90 col-center">
			    			<input type="text" name="phone" ng-model="user.phone" required placeholder="请输入手机号码">
			    		</div>
			    	</div>
			    	<div style="border-top: 1px solid #ebebeb;height:1px;"></div>
			    	<div class="row">
			    		<div class="col col-10 col-center  txt-align-c">
			    			<i class="ion-email" style="font-size: 1.74rem;"></i>
			    		</div>
			    		<div class="col col-60 col-center">
			    			<input type="text" ng-model="user.phonecode" name="phonecode" required placeholder="请输验证码">
			    		</div>
			    		<div class="col col-30 col-center txt-align-c" style="padding: 0;border-left: 1px solid #ebebeb;">
			    			<a style="color: #48b4ff;" ng-if="phone_disabled == true" ng-disabled="!user.username" ng-click="phonecode(user.phone)">获取验证码</a>
							<a style="color: #48b4ff;" ng-if="phone_disabled == false">{{ t }}秒重新获取</a>
			    		</div>

			    	</div>
			    </div>

			    <div style="background-color: #fff;padding:5px 10px;margin-top:50px;">
					<button class="button button-block button-positive" type="submit" ng-click="submit(user)" ng-disabled="myForm.$invalid">绑 定</button>
				</div>
			</form>
		</ion-content>
	</ion-pane>
</ion-view>