<ion-view hide-tabs>
	<ion-pane class="web-body">
		<ion-header-bar align-title="center" class="bar bar-header bar-light">
			<a class="button icon-left ion-chevron-left button-clear button-positive button-small ion-ios-arrow-back" href="#/login"></a>
			<h1 class="title">绑定手机</h1>
		</ion-header-bar>
		<ion-content  style="margin-bottom: 0;">
			<form novalidate name="Form" id="Form" ng-controller="boundphoneCtrl" ng-cloak class="ng-cloak">
				<div class="practitioners-list">
					<div class="item item-input">
						<div class="input-label" style="text-align: center;width: 15%;">
			              <i class="ion-android-phone-portrait" style="font-size: 1.74rem;"></i>
			            </div>
						<input class="cfff" type="text" name="username" ng-model="user.username" required ng-pattern="/^(0|86|17951)?(13[0-9]|15[012356789]|17[678]|18[0-9]|14[57])[0-9]{8}$/" placeholder="请输入手机号码" ng-model-options="{debounce:2000}">
						<p ng-cloak class="log-but ion-wap ng-cloak line-height" ng-show="forgotForm.username.$invalid && !forgotForm.username.$pristine">请输入合法的手机号码</p>
					</div>
					<div class="item item-input">
						<div class="input-label" style="text-align: center;width: 15%;">
			              <i class="ion-email" style="font-size: 1.74rem;"></i>
			            </div>
						<input class="cfff" type="text" ng-model="user.code" name="code" placeholder="请输入验证码" required ng-model-options="{debounce:2000}">
						<button ng-click="phonecode(user.username)" style="border: none;background-color: #fff;color: #666;width: 50%;height: 30px;border-left: 1px solid #f1f1f1;">获取验证码</button>
					</div>
				</div>

				<div>
					<button ng-disabled="Form.$invalid" class="button button-block button-positive" type="submit" ng-click="submit(user)" style="width: 95%;
    margin: 20px auto;">绑 定</button>
				</div>
			</form>
		</ion-content>
	</ion-pane>
</ion-view>