<style type="text/css">
.row.wx_login_top{margin-top: 3rem;}
/*4-4s*/
@media only screen and (min-device-width: 320px) and (min-device-height :480px){ 
    .row.wx_login_top .img_wx_login{vertical-align: middle;width: 8%;}
}
/*5-5s*/
@media only screen and (min-device-width: 320px) and (min-device-height :568px){ 
    .row.wx_login_top .img_wx_login{vertical-align: middle;width: 10%;}
}
/*6*/
@media only screen and (min-device-width: 375px) and (min-device-height :557px){ 
    .row.wx_login_top .img_wx_login{vertical-align: middle;width: 10%;}
}
/*6 plus*/
@media only screen and (min-device-width: 414px) and (min-device-height :736px){ 
    .row.wx_login_top .img_wx_login{vertical-align: middle;width: 10%;}
}
</style>


<ion-view hide-tabs="true">
    <ion-pane>
    	<ion-content style="background-color:#fff;">
    		<form novalidate rol="form" name="loginForm" id="loginForm" ng-controller="loginCtrl" ng-cloak class="ng-cloak">
	    		<h1 class="welcome_lvtuan">欢迎来到律团</h1>
	    		<div class="card" style="margin: auto 10%;border-radius: 5px; box-shadow: none;border: 1px solid #ebebeb;">
	    			<div class="row">
			    		<input  type="text" name="username" ng-model="user.username" required placeholder="手机号码或者邮箱" ng-messages-multiple />
			    	</div>
	    			<div style="border-top: 1px solid #ebebeb;height:1px;"></div>
	    			<div class="row">
			    		<input type="password" name="password" placeholder="登录密码" required ng-model="user.password" ng-minlength="6" ng-maxlength="20">
			    	</div>
	    		</div>

    			<div class="row" style="margin: 6% auto 0 auto;">
					<button ng-disabled="loginForm.$invalid" ng-click="submit(user)" class="button button-block button-positive" style="border-radius: 10px;width: 88%;margin:0 auto;padding: 5px;">登录</button>
				</div>
				<div class="row row-no-padding" style="height: 60px;line-height: 60px;">
		    		<div class="col col-45 col-center textright">
		    			<a ng-href="#/register" style="color: #48b4ff;display: inline-block;width: 100%;">注册律团</a>
		    		</div>
		    		<div class="col col-10 col-center" ></div>
		    		<div class="col col-45 col-center">
		    			<a ng-href="#/forgotpwd" style="display: inline-block;width: 100%;color: #b5b5b5;">忘记密码？</a>
		    		</div>
		    	</div>
		    	<div class="row row-no-padding wx_login_top">
		    		<div class="col col-center txt-align-c">
		    			<a ng-href="#/wxlogin" style="color: #b5b5b5;"><img src="../img/weixin.png" class="img_wx_login"> 微信登录</a>
		    		</div>
		    	</div>
	    	</form>
    	</ion-content>
    	<!-- <div class="bg_div"></div> 
		<div class="log-header">
			<h1>律团</h1>
			<h4>elvtuan.com</h4>
		</div>
		<div class="log-content">
			<form novalidate rol="form" name="loginForm" id="loginForm" ng-controller="loginCtrl" ng-cloak class="ng-cloak">
				<div class="login">
					<div class="log-input-bg">
						<div class="ion-wap ion-row">
							<i class="ion-android-phone-portrait phone-size"></i>
						</div>
						<div class="ion-wap ion-clo">
							<input class="cfff" type="text" name="username" ng-model="user.username" required="required" placeholder="手机号码或者邮箱" ng-messages-multiple />
						</div>
					</div>
					<div class="log-input-bg">
						<div class="ion-wap ion-row">
							<i class="ion-android-lock phone-size"></i>
						</div>
						<div class="ion-wap ion-clo">
							<input class="cfff" type="password" name="password" placeholder="登录密码" ng-model="user.password" ng-minlength="6" ng-maxlength="20" ng-pattern="/^[\@A-Za-z0-9\!\#\$\%\^\&\*\.\~]{6,20}$/" required="required">
						</div>
					</div>
				</div>
				
				<div class="log-but top8">
					<button ng-disabled="loginForm.$invalid" ng-click="submit(user)" class="button button-block" type="button">登录</button>
				</div>
				<div class="log-but">
					<a ng-href="#/forgotpwd" class="lef">忘记密码？</a>
					<a ng-href="#/register" class="rig">还没有账号？快去注册吧。</a>
				</div>
				<div class="login login-img2" style="text-align: center;">
					<a ng-href="#/wxlogin" class="width weixin"></a>
				</div>
				<div class="log-but login-img">
					<label>第三方登录</label>
				</div>
			</form>
		</div> -->
	</ion-pane>
</ion-view>