<ion-view hide-tabs="false" view-title="登录">
    <ion-pane>
      <ion-header-bar class="bar bar-header bar-light">
      	<a class="button button-icon  button-clear button-positive" onclick="history.go(-1)">
      		<img class="v-align" src="/img/smallback.png"/>
      	</a>
        <h1 class="title">登录</h1>
      </ion-header-bar>
      <ion-content>
		<form novalidate name="loginForm" id="loginForm">
			<div class="list login">
				<label class="item item-input item-text-wrap">
					<span class="bg-man login-lbl-pl login-lbl-fc">&nbsp;</span>
					<input type="text" name="username" ng-model="loginData.username" required="required" placeholder="手机号码或者邮箱" ng-messages-multiple />
						
				</label>
				<label class="item item-input">
					<span class="bg-clock login-lbl-pl login-lbl-fc">&nbsp;</span>
					<input type="password" name="password" placeholder="登录密码(6-20位字符)" ng-model="loginData.password" ng-minlength="6" ng-maxlength="20" ng-pattern="/^[\@A-Za-z0-9\!\#\$\%\^\&\*\.\~]{6,20}$/" required="required">
				</label>
				<p class="item" ng-show="loginForm.password.$error.minlength">
					<span class="fc-red">字符不能小于6个字符</span>
				</p>
				<p class="item" ng-show="loginForm.password.$error.maxlength">
					<span class="fc-red">字符的长度不能超过20个</span>
				</p>
				<p class="item" ng-show="(loginForm.password.$invalid && !loginForm.password.$pristine)">
					<span class="fc-red">请输入6-20位字符</span>
				</p>
				<p class="item" ng-show="loginForm.password.$required ">
					<span class="fc-red">密码不能为空</span>
				</p>
				<!--<label class="item item-input">-->
					<button ng-click="submit()" class="button button-block button-positive btn-login-button" type="button">登录</button>
				<!--</label>-->
			</div>			
		</form>
		<div class="list list-noborder">
			<div class="item row">
				<div class="col-50 a-left">
					<a ng-href="#/register">注册</a>
				</div>
				<div class="col-50 a-right">
					<a href="#/resetpwd" >找回密码</a>
				</div>
			</div>
		</div>
		
      </ion-content>
    </ion-pane>
</ion-view>
