<ion-view hide-tabs="true">
    <ion-pane>
    	<div class="bg_div"></div> 
		<div class="log-header">
			<h1>律团</h1>
			<h4>wdlst.com</h4>
		</div>
		<div class="log-content">
			<form novalidate rol="form" name="loginForm" id="loginForm" ng-controller="loginCtrl" ng-cloak class="ng-cloak">
				<div class="login">
					<div class="log-input-bg">
						<div class="ion-wap ion-row">
							<i class="ion-android-phone-portrait phone-size"></i>
						</div>
						<div class="ion-wap ion-clo">
							<input type="text" name="username" ng-model="user.username" required="required" placeholder="手机号码或者邮箱" ng-messages-multiple />
						</div>
					</div>
					<div class="log-input-bg">
						<div class="ion-wap ion-row">
							<i class="ion-android-lock phone-size"></i>
						</div>
						<div class="ion-wap ion-clo">
							<input type="password" name="password" placeholder="登录密码(6-20位字符)" ng-model="user.password" ng-minlength="6" ng-maxlength="20" ng-pattern="/^[\@A-Za-z0-9\!\#\$\%\^\&\*\.\~]{6,20}$/" required="required">
						</div>
					</div>
				</div>
				
				<div class="log-but">
					<button ng-disabled="loginForm.$invalid" ng-click="submit(user)" class="button button-block" type="button">登录</button>
				</div>
				<div class="log-but">
					<a ng-href="#/forgotpwd" class="lef">忘记密码？</a>
					<a ng-href="#/register" class="rig">还没有账号？快去注册吧。</a>
				</div>
				<div class="login login-img2">
					<a ng-href="#/wxlogin" class="width weixin"></a>
					<a ng-href="#" class="width qq" onclick="alert('开发中')"></a>
				</div>
				<div class="log-but login-img">
					<label>第三方登录</label>
				</div>
			</form>
		</div>
	</ion-pane>
</ion-view>