<ion-view hide-tabs="true">
	<ion-header-bar align-title="center" class="bar bar-header bar-light login-header">
		<a ng-href="#/index"></a>
	</ion-header-bar>
    <ion-pane>
		<div class="bg_div"></div> 
		<div class="log-header">
			<h1>律团</h1>
			<h4>elvtuan.com</h4>
		</div>
		<div class="log-content">
			<form novalidate name="registerForm" id="registerForm" ng-controller="registerCtrl" ng-cloak class="ng-cloak">
				<div class="login">
					<div class="log-input-bg">
						<div class="ion-wap ion-row">
							<i class="ion-android-phone-portrait phone-size"></i>
						</div>
						<div class="ion-wap ion-clo">
							<input type="text" name="username" ng-model="user.username" required ng-pattern="/^(0|86|17951)?(13[0-9]|15[012356789]|17[678]|18[0-9]|14[57])[0-9]{8}$/" placeholder="手机号码">
						</div>
						<p class="log-but ion-wap" ng-if="registerForm.username.$invalid && !registerForm.username.$pristine">请输入合法的手机号码</p>
					</div>
					<div class="log-input-bg">
						<div class="ion-wap ion-row">
							<i class="ion-email phone-size"></i>
						</div>
						<div class="ion-wap ion-clo1">
							<input type="text" ng-model="user.phonecode" name="phonecode" placeholder="验证码">
						</div>
						<div class="ion-wap ion-row2" style="padding: 2% 0%;">
							<button ng-if="phone_disabled == true" ng-disabled="!user.username" ng-click="phonecode(user.username)">获取验证码</button>
							<button ng-if="phone_disabled == false">{{ t }}秒重新获取</button>
						</div>
					</div>
					<div class="log-input-bg">
						<div class="ion-wap ion-row">
							<i class="ion-android-lock phone-size"></i>
						</div>
						<div class="ion-wap ion-clo">
							<input type="password" ng-model="user.password" name="password" placeholder="登录密码(6-20位字符)" ng-minlength="6" ng-maxlength="20" ng-pattern="/^[\@A-Za-z0-9\!\#\$\%\^\&\*\.\~]{6,20}$/" required>
						</div>
						<p class="log-but ion-wap" ng-if="registerForm.password.$error.minlength">字符不能小于6个字符</p>
						<p class="log-but ion-wap" ng-if="registerForm.password.$error.maxlength">字符的长度不能超过20个</p>
						<p class="log-but ion-wap" ng-if="(registerForm.password.$invalid && !registerForm.password.$pristine)">请输入6-20位字符</p>
					</div>
				</div>
				<div class="log-but">
					<div class="item item-checkbox">
			        	<div class="checkbox">
					  		<input type="checkbox" name="isCheck" ng-model="user.isCheck"  ng-false-value="false"> 
					  	</div>
					  	是否认证为律师？
			        </div>
				</div>
				<div class="log-but">
					<button ng-disabled="registerForm.$invalid" ng-click="submit(user)" class="button button-block button-positive btn-login-button" type="button">提交</button>
				</div>
				<div class="log-but">
					<a ng-href="#/login" class="rig">已有账户？直接登录</a>
				</div>
			</form>
		</div>
	</ion-pane>
</ion-view>
