<ion-view view-title="我的咨询-全部">
    <ion-content>
    	<ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
			<ion-list ng-repeat="item in items">
	        	<ion-item class="item" ng-href="#/questionsview/{{item.id}}">
		          	<span class="sp-l fc-33">{{item.title}}</span>
					<span class="sp-r fc-33">{{item.created_at}}</span>
		        </ion-item>
		        <ion-item class="item itemdata" >
		        	<div class="row">
		        		<div class="col">
		        			<h2 class="fc-ee">{{item.status}}</h2>
			        	</div>
		        	</div>
		        	<div class="row">
		        		<div class="col">
		        			<p class="fc-33">{{item.post_category}}</p>
			        	</div>
		  				<div class="col" style="text-align: right;">
		  					<button class="button button-small button-positive">抢单</button>
		  					<button class="button button-small button-positive">联系客户</button>
		  					<button class="button button-small button-positive">删除</button>
		  					<button class="button button-small button-positive">查看评论</button>
		  				</div>
		        	</div>
		        </ion-item>
	         </ion-list>
		<ion-infinite-scroll pulling-text="上拉加载" ng-if="moredata" on-infinite="loadMore()" distance="1%"> </ion-infinite-scroll>

    </ion-content>
</ion-view>