<ion-view view-title="我的咨询">
		<ion-pane  class="web-body">
			<ion-header-bar class="bar bar-header bar-light">
				<a class="button icon-left ion-chevron-left button-clear button-positive button-small ion-ios-arrow-back" onclick="history.go(-1);"></a>
				<h1 class="title">我的咨询</h1>
			</ion-header-bar>

			<ion-tabs class="tabs-top">
			    <ion-tab title="待受理" ng-href="#/lawyerquestion/new">
			        <ion-nav-view name="question-new">待受理</ion-nav-view>
			    </ion-tab>

			    <ion-tab title="已受理" ng-href="#/lawyerquestion/ssigned">
			        <ion-nav-view name="question-ssigned">已受理</ion-nav-view>
			    </ion-tab>

			    <ion-tab title="处理中" ng-href="#/lawyerquestion/replied">
			        <ion-nav-view name="question-replied">处理中</ion-nav-view>
			    </ion-tab>

			    <ion-tab title="待确认" ng-href="#/lawyerquestion/waitforconfirmation">
			        <ion-nav-view name="question-waitforconfirmation">待确认</ion-nav-view>
			    </ion-tab>

			    <ion-tab title="已完成" ng-href="#/lawyerquestion/complete">
			        <ion-nav-view name="question-complete">已完成</ion-nav-view>
			    </ion-tab>
			</ion-tabs>
			
			<div class="tabs tabs-icon-top tabs-color-positive" ng-model="is_lawyer">
				  <a class="tab-item" onclick='layer.goHome()'>
				    <i class="icon ion-home"></i>
				    首页
				  </a>
				  <a class="tab-item" ng-href="#/group">
				    <i class="icon ion-android-contacts"></i>
				    圈子
				  </a>
				  <a class="tab-item" ng-href="#/knowledge">
				    <i class="icon ion-social-buffer"></i>
				    知识
				  </a>
				  <a ng-if="is_lawyer == null" ng-href="#/login" class="tab-item">
				    <i class="icon ion-android-contact"></i>
				    我的
				  </a>
				  <a ng-if="is_lawyer == false" ng-href="#/center" class="tab-item">
				    <i class="icon ion-android-contact"></i>
				    我的
				  </a>
				  <a ng-if="is_lawyer == true" ng-href="#/center_lawyer" class="tab-item">
				    <i class="icon ion-android-contact"></i>
				    我的
				  </a>
			</div>
		</ion-pane>
</ion-view>