<ion-view hide-tabs="true" view-title="咨询详情">
	<ion-pane>
		<ion-header-bar class="bar bar-header bar-light">
			<a class="button icon-left ion-chevron-left button-clear button-positive button-small ion-ios-arrow-back" ng-click="jumpGoBack()"></a>
			<h1 class="title">咨询详情</h1>
		</ion-header-bar>
		<ion-content class="web-body">
			<ion-list>
				<div class="row">
					<div class="col">
						<span>{{items.status}}</span>
					</div>
				</div>
				<div class="item" style="padding: 10px 5px;">
					<a class="item item-thumbnail-left">
				      <img ng-src="{{items.product_img}}">
				      <h2 class="web-top10">{{items.post_type}}</h2>
				    </a>
				</div>
		         <ion-item class="item">
					<p>操作时间：{{items.updated_at.date}}</p>
					<p ng-if="items.status_code != 'new'">受理律师：{{items.lawyer.realname}}</p>
					<p class="contents">问题描述：{{items.content}}</p>
  					<p style="text-align: right;" ng-if="items.status_code == 'new'">
  						<button class="button button-small button-positive" ng-click="to_take(item.id)">抢单</button>
  					</p>
  					<p style="text-align: right;" ng-if="items.status_code == 'replied'">
  						<button class="button button-small button-positive" ng-click="ask(item.id)">联系客户</button>
  					</p>
  					<p style="text-align: right;" ng-if="items.status_code == 'complete'">
  						<button class="button button-small button-positive" ng-click="comment(item.id)">查看评论</button>
  						<button class="button button-small button-positive" ng-click="remove(item.id,$index)">删除</button>
  					</p>
		        </ion-item>
		        
	         </ion-list>
	    </ion-content>
	</ion-pane>
</ion-view>