<ion-view hide-tabs="true" view-title="填写信息">
		<ion-pane  class="web-body">
			<ion-content class="web-body">
				<form name="buynowForm" class="css-form" id="buynowForm" novalidate ng-controller="corporatebuynowCtrl">
					<div class="has-header ionic-pseudo">
				        <div class="list">
					        <div class="item item-input padding10">
					          <input placeholder="请输入邮箱地址" ng-model="email" name="email" type="text" required ng-pattern="/^(([0-9a-zA-Z]+)|([0-9a-zA-Z]+[_.0-9a-zA-Z-]*[0-9a-zA-Z]+))@([a-zA-Z0-9-]+[.])+([a-zA-Z]{2} |net|NET|com|COM|gov|GOV|mil|MIL|org|ORG|edu|EDU|int|INT|cn|CN)$/" ng-model-options="{debounce:2000}">
					          <p class="fc-red" ng-if="myForm.email.$invalid && !myForm.email.$pristine">请输入正确的邮箱！</p>
					        </div>
					        <div class="item item-input padding10">
					          <input placeholder="请输入企业名称" ng-model="company_name" name="company_name" type="text" required>
					        </div>
					        <div class="item item-input padding10">
					          <input placeholder="省、市、区" ng-model="address" name="address" type="text" required ng-click="getAddress()" data-disabled="disabled">
					        </div>
					        <div class="item item-input padding10">
					          <textarea placeholder="请输入备注信息" ng-model="memo" name="memo" rows="5" cols="20"></textarea>
					        </div>
					        <div class="list item-borderless">
						        <div class="item item-checkbox">
						        	<div class="checkbox">
								  		<input type="checkbox" name="invoice" ng-model="invoice"  ng-false-value="false" data-disabled="disabled"> 
								  	</div>
								  	是否需要发票
						        </div>
					        </div>
					        <div class="padding">
						        <button class="button button-block button-positive" type="submit" ng-disabled="myForm.$invalid" ng-click="submit()">下一步</button>
							</div>
						</div>
	    			</div>
	    		</form>
			</ion-content>
		</ion-pane>
</ion-view>
