<ion-view hide-tabs="true" view-title="法律顾问">
		<ion-pane  class="web-body page-background">
			<ion-content class="has-tabs">
				<ion-list>
					<div>
						<img ng-src="img/counsel/xwqf-banner.jpg" style="width: 100%;max-width: 720px;max-height: 375px;">
					</div>
					<ion-item class="item-borderless">
						<h2 class="txt-c-66" style="font-size: 18px;"><b>律团 - </b></h2>
						<h2 class="txt-c-66" style="font-size: 18px;"><b>中小企业法律顾问</b></h2>
						<div class="height10"></div>
						<p class="contents text-indent">专为中小企业打造的一款全能型、贴身管家式的法律服务产品，解决企业在日常经营过程中遇到的各种法律问题。</p>
					</ion-item>
				</ion-list>
				<div class="height10"></div>
				<ion-list>
					<ion-item class="item-borderless row-no-padding">
						<div class="height10"></div>
						<div class="height10"></div>
						<h2 class="txt-align-c" style="font-size: 18px;">法律顾问带来的好处</h2>
					  	<div class="item item-avatar item-borderless" ng-repeat="counsel in counsels">
				          <img ng-src="img/counsel/{{counsel.img}}">
				          <h2>{{counsel.title}}</h2>
				          <p class="contents txt-c-66">{{counsel.content}}</p>
				        </div>
					</ion-item>
				</ion-list>
				<ion-list>
					<div>
						<img ng-src="img/counsel/flgw-banner2.jpg" style="width: 100%;">
					</div>
				</ion-list>
			</ion-content>
			<div class="tabs tabs-color-positive positive-bg" style="line-height: 23px;">
			  <p class="tab-item" style="color:#fff;border-right: 1px solid #fff;" ng-click="jumpGo('#/corporate/list/1')">
			  	<b>银卡</b><br>
			  	<span style="font-size:0.8rem">8800元/年</span>
			  </p>
			  <p class="tab-item" style="color:#fff;border-right: 1px solid #fff;" ng-click="jumpGo('#/corporate/list/2')">
			  	<b>金卡</b><br>
			  	<span style="font-size:0.8rem">18800元/年</span>
			  </p>
			  <p class="tab-item" style="color:#fff" ng-click="jumpGo('#/corporate/list/3')">
			  	<b>白金卡</b><br>
			  	<span style="font-size:0.8rem">28800元/年</span>
			  </p>
			</div>
		</ion-pane>
</ion-view>

