<ion-view view-title="小微企服" hide-tabs="true">
		<ion-pane  class="web-body">
			<ion-header-bar class="bar bar-header bar-light">
				<a class="button icon-left ion-chevron-left button-clear button-positive button-small ion-ios-arrow-back" ng-href="#/index"></a>
				<h1 class="title">小微企服</h1>
			</ion-header-bar>
			<!-- <ion-content class="web-body web-top10">
				<div class="basekong40"></div>
				<img src="img/icon-header.png" style="width:60px;height:60px;border-radius:60px;margin:0px auto;display: block;" />
				<div class="basekong5"></div>
				<p class="basetit20">正在开发中<br />敬请期待(第二期)...</p>
			</ion-content> -->
			<ion-content class="web-body">
				<ion-list>
					<div style="margin-bottom:5px;">
						<img src="img/xwqf-banner.jpg" style="width: 100%;">
					</div>
					<ion-item class="item-thumbnail-left">
						<img ng-src="{{item.img}}">
						<h2 style="margin-top:10px;">企业法律顾问卡</h2>
						<p style="margin-top:25px;">￥：18888元/年</p>
					</ion-item>
					<ion-item class="item-thumbnail-left">
						<img ng-src="{{item.img}}">
						<h2 style="margin-top:10px;">企业法律顾问卡</h2>
						<p style="margin-top:25px;">￥：18888元/年</p>
					</ion-item>
					<ion-item class="item-thumbnail-left">
						<img ng-src="{{item.img}}">
						<h2 style="margin-top:10px;">企业法律顾问卡</h2>
						<p style="margin-top:25px;">￥：18888元/年</p>
					</ion-item>
				</ion-list>
			</ion-content>
		</ion-pane>
</ion-view>

