<ion-view hide-tabs="true" view-title="服务详情">
		<ion-pane  class="web-body">
			<ion-content class="has-tabs">
				<ion-list>
					<ion-item class="item-borderless">
						<h2 class="txt-c-66 txt-align-c" style="font-size: 18px;"><b>{{items.title}}</b></h2>
						<div class="height10"></div>
						<h2 class="txt-align-c txt-c-99">{{items.money}}</h2>
						<div class="height10"></div>
						<div class="border_bottom" style="padding-bottom:10px;text-align: center">
							<img ng-src="img/counsel/{{items.banner_img}}" style="width: 100%;max-width: 429px;max-height: 297px;">
						</div>
					</ion-item>
					<ion-item class="item-borderless row-no-padding" ng-repeat="arry in items.counsels_arry">
					  	<div class="item item-icon-left item-borderless">
					  	  <i class="icon bgtag badge-positive">{{$index+1}}</i>
					  	  <div class="border_bottom" style="padding: 0 0 10px 0px; margin-left: 10px;">
					  	  	<h2>{{arry.title}}</h2>
				          	<p class="contents txt-c-66">{{arry.content}}</p>
					  	  </div>
				        </div>
					</ion-item>
				</ion-list>
			</ion-content>

			<div class="tabs" style="background-color:#fff;height: 59px;border-top: 1px solid #999 !important;">
				<div class="row" style="padding: 5px 5%;">
					<button class="button button-block button-positive" style="margin-top:-2px;margin-bottom:0;" ng-click="buynow_btn(items.id)"><b>立即购买</b></button>
				</div>
			</div>
		</ion-pane>
</ion-view>