<ion-view hide-tabs="true">
	<ion-pane  class="web-body">
		<ion-header-bar align-title="center" class="bar bar-header bar-light" style="top: 0;">
			<button class="button button-clear button-positive" ng-click="jumpGoBack()">  
                <i class="icon icon-left ion-ios-arrow-back"></i>  
            </button>
			<h1 class="title">广播详情</h1>
		</ion-header-bar>


		<ion-content class="web-body">
			<div style="width:100%;height:180px;text-align: center;">
				    <img ng-src="{{items.user.bg_img}}" style="width:100%;height:165px;"/>
				   	<img ng-src="{{items.user.avatar}}" style="width:60px;height:60px;border-radius:40px;margin-top:-60px;border:2px solid #ffffff;" />
				</div>
				<div style="width:100%;height:10px;clear:both;"></div>
				<div class="list">
				  <div class="item">
				    <p class="contents" style="line-height:25px;">{{items.content}}</p>
				    <p style="margin-bottom:10px;margin-top:10px;">
					    <a ng-model="file" ng-repeat="postAttach in items.postAttach" style="float:left;width:25%;heigth:60px;">
					    	<img ng-src="{{postAttach.src}}" width="60" height="60">
					    </a>
					</p>
				    <p style="text-align: right;">{{items.created_at}}</p>
				  </div>
				  <div class="item web-paddingtb0" style="padding-left:55px;height:30px;line-height:30px;border-top:0px;color:#767676;margin:0;">
				  	
				  	<!-- <i ng-click="share(items.id)" class="icon ion-android-share-alt web-ion-img1-2" style="float:right;font-size:14px;">&nbsp;
					</i> -->
					<!-- <i ng-click="share(items.id)" class="televise-share"></i> -->
					<span class="details-counts">{{items.post_extra.comments_count}}</span>
					<i ng-click="comments(items.id)" class="details-comments"></i>
                    <span class="details-counts">{{items.post_extra.likes_count}}</span>
				    <i ng-if="items.post_extra.likes_count == true" ng-click="likes(items.id)" class="details-tpraise"></i>
				    <i ng-if="items.post_extra.likes_count == false" ng-click="likes(items.id)" class="details-fpraise"></i>
				  	<!-- <i ng-click="comments(items.id)" class="icon ion-compose web-ion-img1-2" style="float:right;margin-right:10px;font-size:14px;">&nbsp;
				    	<label>{{items.post_extra.comments_count}}</label>
					</i>
				    <i ng-click="likes(items.id)"  class="icon ion-heart web-ion-img1-2" style="float:right;margin-right:10px;font-size:14px;">&nbsp;
				    	<label>{{items.post_extra.likes_count}}</label>
				    </i>
				    <i class="icon ion-chatbubble web-ion-img1-2" style="float:right;margin-right:10px;font-size:14px;">&nbsp;
				    	<label>{{items.post_extra.views_count}}</label>
				    </i> -->
				  </div>
				  <div class="item web-item web-paddingtb5 web-font14 web-item-topb0 web-item-botb0" style="color:#f00;margin:0;">
				    <i class="icon ion-heart"></i>
				    <span style="color:#35A9F2;">广播广播广播广播广播广播</span>
				  </div>
				  <div class="item web-item web-paddingtb5 web-font14 web-item-topb0 web-item-botb0" style="margin:0;">
				    全部评论
				  </div>
				  <div class="item web-item web-paddingtb5 web-font14 web-item-topb0 web-item-botb0" style="margin:0;">
				    <span style="color:#35A9F2;">{{items.comments.content}}&nbsp;:&nbsp;</span>{{items.comments.content}}
				    <p>{{items.comments.created_at}}</p>
				  </div>
				</div>
		</ion-content>


	</ion-pane>
</ion-view>