<ion-view hide-tabs="true">
	<ion-pane  class="web-body">
		<ion-header-bar class="bar bar-header bar-light">
			<button class="button button-clear button-positive" ng-click="jumpGoBack()">  
                <i class="icon icon-left ion-ios-arrow-back"></i>  
            </button>
			<h1 class="title">创建圈子</h1>
			<button ng-click="createSubmit()" class="button button-clear button-positive" type="button">保存</button>
		</ion-header-bar>


		<ion-content style="margin-bottom: 0px;">
				<form id="createGroup_form">
					<div class="list login">
						<div class="item item-input item-text-wrap">
							<input type="text" name="group_name" ng-model="group_name" required="required" placeholder="圈子名称" />
						</div>
						<div class="item item-input ">
							
							<label ng-show="group_avatar" style="width: 100%;">
								<img ng-src="{{file}}" ngf-thumbnail="group_avatar || '/thumb.jpg'" width="52" height="50">
								<span class="progress" ng-show="progress >= 0">
				                  <div style="width:{{progress}}%" ng-bind="progress + '%'"></div>
				                </span>
				            </label>
							<label ng-show="!group_avatar" style="width: 100%;">上传群头像</label>

							<div ng-disabled="booleans" ng-model="group_avatar" accept="image/*" ngf-pattern="'image/*'" ngf-max-size="20MB" ngf-min-height="100" ngf-select="uploadFiles($file)" class="icon-right" style="font-size:40px;padding:0 20px;color:#ccc;float:right"><i class="icon ion-ios-plus-outline"></i></div>
							<input type="hidden" name="group_avatar" value="{{group_path}}" />
							
						</div>
					</div>	
				</form>	
				<ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
				<ul class="list">
			        <li class="item item-avatar" ng-repeat="item in items">
			        	<img ng-src="{{item.avatar}}" style="left:6px;border-radius:50px;" width="40px" height="40px">
			          	<h2 style="line-height: 40px;float: left;">{{item.realname}} 律师</h2>
			          	<label class="checkbox" style="float: right;">
			          		<input type="checkbox" value="{{item.follow_id}}" name="name{{$index+1}}" ng-model="isCheck[$index]" ng-true-value="{{item.follow_id}}"  ng-false-value="false"  ng-change="checkItem(isCheck[$index],{{item.follow_id}})" >
			          	</label>
			        </li>
			    </ul>
				<ion-infinite-scroll pulling-text="上拉加载" ng-if="moredata" on-infinite="loadMore()" distance="1%"> </ion-infinite-scroll>
			
		</ion-content>
	</ion-pane>
</ion-view>