<ion-view hide-tabs="true" view-title="创建律圈">
	<ion-pane  class="web-body">
		<ion-content class="has-tabs">
				<form novalidate name="Form" id="createGroup_form"  ng-cloak class="ng-cloak">
					<div class="list login">
						<div class="item item-input" style="padding: 10px">
							<div class="row item-borderless row-no-padding">
							  <div class="col col-30 col-center">
							  	<label class="txt-c-99">律圈名称</label>
							  </div>
							  <div class="col col-center">
							  	<input style="width: 100%;padding-right: 0%;text-align: right;" type="text" name="group_name" ng-model="group_name" required="required" placeholder="请输入律圈名称" ng-minlength="1" ng-maxlength="14" />
							  </div>
							</div>
						</div>
						<div class="item item-input" style="padding: 10px;height: 47px;" ng-if="Form.group_name.$error.maxlength">
							<label class="error">律圈名称字符的长度不能超过14个</label>
						</div>
						<div class="item item-input" style="padding: 10px">
							<div class="row item-borderless row-no-padding">
							  <div class="col col-30 col-center">
							  	<label class="txt-c-99">律圈头像</label>
							  </div>
							  <div class="col col-70 col-center">
							  	<div ng-disabled="booleans" ng-model="group_avatar" accept="image/*" ngf-pattern="'image/*'" ngf-max-size="2MB" ngf-min-height="100" ngf-select="uploadFiles($file,$invalidFiles)" class="icon-right" width="52" height="52px" style="color:#ccc;float:right;text-align: right;">
							  			<div style="width:52px; height:52px;overflow: hidden;">
							  				<img ng-src="{{file}}" ngf-thumbnail="group_avatar || '../img/add_avatar.png'" width="52" height="52">
									  	</div>
										
									</div>
									<br>
									<!-- <span class="progress" ng-show="progress >= 0 || progress <= 99 ">
								      <div style="width:{{progress}}%" ng-bind="progress + '%'"></div>
								    </span> -->
									<input type="hidden" name="group_avatar" value="{{group_path}}" />
							  </div>
							</div>
						</div>
					</div>	
				</form>	
		</ion-content>
		<div class="tabs" style="background-color:#fff;height: 59px;">
			<div class="row" style="padding: 5px 10px;">
				<button class="button button-block button-positive" type="button" style="border-radius: 10px;" ng-click="createSubmit()">下一步</button>
			</div>
		</div>
	</ion-pane>
</ion-view>