<ion-view view-title="创建圈子">
	<ion-pane  class="web-body">
		<ion-header-bar class="bar bar-header bar-light">
			<a class="button icon-left ion-chevron-left button-clear button-positive button-small ion-ios-arrow-back" onclick="history.go(-1);"></a>
			<h1 class="title">创建圈子</h1>
			<button ng-click="submitseve()" class="button button-clear button-positive" type="button">保存</button>
		</ion-header-bar>
		<ion-content>
			<form if="createGroup_form">
				<div class="list login">
					<div class="item item-input item-text-wrap">
						<input type="text" name="group_name" ng-model="loginData.username" required="required" placeholder="圈子名称" ng-messages-multiple />
					</div>
					<div class="item item-input ">
						<label style="width: 100%;">上传群头像</label>
						<a class="icon-right" style="font-size:40px;padding:0 20px;color:#ccc;float:right"><i class="icon ion-ios-plus-outline"></i></a>
					</div>
				</div>			
			</form>
		</ion-content>
	</ion-pane>
</ion-view>