<ion-view hide-tabs="true" >
	<ion-pane  class="web-body">
		<ion-header-bar class="bar bar-header bar-light">
			<button class="button button-clear button-positive" ng-click="jumpGoBack()">  
                <i class="icon icon-left ion-ios-arrow-back"></i>  
            </button>
			<h1 ng-show="is_mine == true" class="title">圈子设置</h1>
			<h1 ng-show="is_mine == false" class="title">圈子详情</h1>
			<button ng-show="is_mine == true" ng-click="edit()" class="button button-clear button-positive" type="button">保存</button>
		</ion-header-bar>


		<ion-content style="margin-bottom: 0px;">
			<form name="myForm" id="myForm">
				<div class="item group-site" style="padding:16px 5px;line-height: 34px;">
					<label>圈子名称：</label>
					<label class="rig color999">
						<input ng-show="is_mine == true" type="text" name="group_name" ng-model="group_name" placeholder="圈子名称" />
						<input ng-show="is_mine == false" type="text" name="group_name" ng-model="group_name" disabled="disabled" style="background-color: #fff;" />
						
					</label>
				</div>
				<div class="item group-site">
					<label class="name">群头像：</label>

					<div ng-show="is_mine == true" class="rig" style="width: 92px;">
						<div ng-disabled="booleans" ng-model="group_avatar" accept="image/*" ngf-pattern="'image/*'" ngf-max-size="20MB" ngf-min-height="100" ngf-select="uploadFiles($file)" class="icon-right" style="font-size:4em;padding:0 20px;color:#ccc;float:right"><i class="icon ion-ios-plus-outline"></i></div>
						<input type="hidden" name="group_avatar" value="{{file}}" />
					</div>
					<label class="rig">
						<img ng-src="{{file}}" ngf-thumbnail="group_avatar || '{{group.group_avatar}}'" width="52" height="50">
					</label>
				</div>
			</form>
			<div class="item group-site">
				<a ng-repeat="member in group.members">
					<img class="avatar" src="{{member.avatar}}">
					<i ng-if="member.user_id != currentUser.id" ng-show="isclose" class="icon ion-close-circled color999 close" ng-click="del({{member.user_id}},$index)"></i>
					<br>
					<p>{{member.realname}}</p>
				</a>
				
				<a ng-show="is_mine == true" ng-href="#/group/add/{{group.id}}">
					<i class="icon ion-ios-plus-outline color999"></i>
				</a>
				<a ng-show="is_mine == true"  ng-click="isclose = !isclose" >
					<i class="icon ion-ios-minus-outline color999"></i>
				</a>
			</div>
			
			<div class="item group-site">
				<button ng-show="is_mine == true" class="button button-full button-positive web-wid8c web-top30" ng-click="logoutGroup()">解散该群</button>
				<button ng-show="is_mine == false" class="button button-full button-positive web-wid8c web-top30" ng-click="quitGroup()">退出该群</button>
			</div>
				
		</ion-content>
	</ion-pane>
</ion-view>