<a class="item item-icon-right"  ng-href="#/groupcreate" style="background: none;border: 0px;width: 41px;height: 41px;float: right;margin-right: 10px;border-radius: 25px;position: absolute;z-index: 10000;bottom: 5rem;right:0px;">
	<span class="item-note" style="color:#387ef5;margin-left:20px;"><i class="icon ion-ios-plus" style="font-size: 47px;"></i></span>
</a>
<ion-view cache-view="false">
    <ion-content>

		<ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
		<ion-list>
        	<ion-item class="item item-thumbnail-left" ng-repeat="item in items" ng-href="#/group/view/{{item.group_id}}">
        		<img ng-src="{{item.group_avatar}}" style="left:6px;border-radius:5px;">
				<h2 style="line-height:30px;">
					<span class="item-note">{{item.created_at}}</span>{{item.group_name}}
				</h2>
				<p>【{{item.member_cnt}}条新消息】</p>
				<p>
					<span class="badge badge-assertive" style="top:40px;">{{item.member_cnt}}</span>
					{{item.group_intro}}
				</p>
	        </ion-item> 

         </ion-list>
		<ion-infinite-scroll pulling-text="上拉加载" ng-if="moredata" on-infinite="loadMore()" distance="1%"> </ion-infinite-scroll>
    </ion-content>
</ion-view>