<a ng-if="user_group_id == null" ng-href="#/login" class="item item-icon-right"  style="background: none;border: 0px;width: 40px;height: 40px;float: right;margin-right: 10px;border-radius: 25px;position: absolute;z-index: 10000;bottom: 60px;right:0px;">
	<span class="item-note" style="color:#387ef5;margin-left:20px;"><i class="icon ion-ios-plus"></i></span>
</a>
<a ng-if="user_group_id == 2 && is_verified == 1" class="item item-icon-right" href="#/televisecreate" style="background: none;border: 0px;width: 40px;height: 40px;float: right;margin-right: 10px;border-radius: 25px;position: absolute;z-index: 10000;bottom: 60px;right:0px;">
	<span class="item-note" style="color:#387ef5;margin-left:20px;"><i class="icon ion-ios-plus"></i></span>
</a>
<ion-view view-title="group-televise">
    <ion-content>
		<ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
		<ion-list>
			<div class="item" ng-repeat="televis in televise" >
			  	<a href="#/broadcast/view/{{televis.id}}">
			    	{{televis.content}}
				</a>
				<p>{{televis.created_at}}</p>
				<div class="web-paddingtb0" style="padding-left:55px;height:30px;line-height:30px;border-top:0px;color:#767676;">
				    <i class="icon ion-compose web-ion-img1-2" style="float:right;font-size:14px;">&nbsp;
				    	<label>{{televis.post_extra.comments_count}}</label>
					</i>
				    <i ng-click="likes({{televis.id}},[$index])"  class="icon ion-heart web-ion-img1-2" style="float:right;margin-right:10px;font-size:14px;">&nbsp;
				    	<label>{{televis.post_extra.likes_count}}</label>
				    </i>
				    <i class="icon ion-chatbubble web-ion-img1-2" style="float:right;margin-right:10px;font-size:14px;">&nbsp;
				    	<label>{{televis.post_extra.views_count}}</label>
				    </i>
				  </div>
			</div>

         </ion-list>
			
		<ion-infinite-scroll pulling-text="上拉加载" ng-if="moredata" on-infinite="loadMore()" distance="1%"> </ion-infinite-scroll>
    </ion-content>
</ion-view>