<style type="text/css">
	.item-input-wrapper .search {
		width: 100%;
	}
</style>
<ion-view view-title="group-attention">
    <ion-content>
   		<ul class="list">
			<form id="search_form">
				<div class="item item-input-inset web-body">
					<div class="item-input-wrapper">
				    	<input name="q" type="search" placeholder="请输入你感兴趣的内容" class="search">
				    	<i class="icon ion-search placeholder-icon" ng-click="search()"></i>
					</div>
				</div>
			</form>
		  	<div class="list">
		  		<ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
			    <a class="item item-thumbnail-left" style="padding-left:95px;" ng-repeat="recommended in recommendeds">
			      <img ng-src="{{recommended.group_avatar}}" style="left:6px;border-radius:5px;">
			      <h2 style="line-height:30px;"><span class="item-note">
			      	<button class="button button-small button-outline button-stable bar-positive" style="color:#373737;padding: 0 20px;" ng-click="groupjoin({{recommended.group_id}} ,$index )">关注</button>
			      </span>{{recommended.group_name}}</h2>
			      <p>【{{recommended.post_count}}条新消息】</p>
			      <p>{{recommended.group_intro}}</p>
			      <p>
			      	<label>关注:&nbsp;{{recommended.member_cnt}}</label>
				  </p>
			    </a>
			    <ion-infinite-scroll pulling-text="上拉加载" ng-if="moredata" on-infinite="loadMore()" distance="1%" > </ion-infinite-scroll>
			</div>
		</ul>
    </ion-content>
</ion-view>