<ion-view cache-view="false">
    <ion-content>
    	<div ng-if="nodata == false" class="nodate">
			<i class="nodate-iocn"></i><br>
			<label>暂无数据！</label>
		</div>
		
		<ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
		<ion-list>
			<div class="item televise-lists" ng-repeat="item in items" >
			  	<a href="#/broadcast/view/{{item.id}}">
			    	{{item.content}}
				</a>
				<p>{{item.created_at}}</p>
				<div class="web-paddingtb0 televise-details">
				    <!-- <i class="icon ion-compose web-ion-img1-2" style="float:right;font-size:14px;">&nbsp;
				    	<label>{{item.post_extra.comments_count}}</label>
					</i>
				    <i ng-click="likes({{item.id}},[$index])"  class="icon ion-heart web-ion-img1-2" style="float:right;margin-right:10px;font-size:14px;">&nbsp;
				    	<label>{{item.post_extra.likes_count}}</label>
				    </i>
				    <i class="icon ion-chatbubble web-ion-img1-2" style="float:right;margin-right:10px;font-size:14px;">&nbsp;
				    	<label>{{item.post_extra.views_count}}</label>
				    </i> -->
                    <!-- <span class="televise-counts">{{item.post_extra.views_count}}</span>
                    <i class="televise-share"></i> -->
                    <span class="televise-counts">{{item.post_extra.comments_count}}</span>
                    <i class="televise-comments"></i>
                    <span class="televise-counts">{{item.post_extra.likes_count}}</span>
				    <i class="televise-praise"></i>
				</div>
			</div>

         </ion-list>
			
		<ion-infinite-scroll pulling-text="上拉加载" ng-if="moredata" on-infinite="loadMore()" distance="1%"> </ion-infinite-scroll>
    </ion-content>
</ion-view>