<ion-view hide-tabs="true" cache-view="false">
	<ion-pane  class="web-body">
		<form id="form" name="form" ng-controller="groupdelCtrl">
			<ion-header-bar align-title="center" class="bar bar-header bar-light">
				<button class="button button-clear button-positive" ng-click="clearGoBack()">  
	                取消
	            </button>
				<h1 class="title">删除成员</h1>
				<button ng-click="delSubmit(items,selIds)" class="button button-clear button-positive" type="button">
						确定<label ng-if="selIds.length > 0">({{selIds.length}})</label>
				</button>
			</ion-header-bar>


			<ion-content style="margin-bottom: 0px;">
			
				<!--搜索你想要的内容  -->
				<div class="item-input-inset web-body"> 
					<div class="item-input-wrapper">
						<i class="icon ion-ios-search placeholder-icon" style="font-size: 1.8rem;"></i>
				    	<input id="search" ng-model="q" type="search" name="q" placeholder="通过姓名搜索" class="search" ng-model-options="{debounce:2000}" >
					</div>
				</div>
				
				<div ng-if="nodata == false" class="nodate">
					<i class="nodate-iocn"></i><br>
					<label>暂无数据！</label>
				</div>
				<ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
				<ul class="list">
			        <li class="item item-avatar" ng-repeat="item in items">
			        	<img ng-src="{{item.avatar}}" style="left:6px;border-radius:50px;" width="40px" height="40px">
			          	<h2 style="line-height: 40px;float: left;">{{item.realname}} 律师</h2>
			          	<label class="checkbox" style="float: right;">
			          		<input type="checkbox" value="{{item.id}}" name="name{{$index+1}}" ng-model="isCheck[$index]" ng-change="checkItem(isCheck[$index],{{item.id}})" ng-checked="ischecked(item.id,selIds)">
			          	</label>
			        </li>
			    </ul>
				<ion-infinite-scroll pulling-text="上拉加载" ng-if="moredata" on-infinite="loadMore()" distance="1%"> </ion-infinite-scroll>
			</ion-content>
		</form>
	</ion-pane>
</ion-view>