<ion-view hide-tabs="true" cache-view="false" view-title="律圈设置">
	<ion-pane  class="web-body">
		<!-- <ion-header-bar align-title="center" class="bar bar-header bar-light" style="top: 0;">
			<button class="button button-clear button-positive" ng-click="jumpGoBack()">  
                <i class="icon icon-left ion-ios-arrow-back"></i>  
            </button>
			<h1 ng-if="is_mine == true" class="title">律圈设置</h1>
			<h1 ng-if="is_mine == false" class="title">律圈详情</h1>
			<button ng-click="edit()" class="button button-clear button-positive" type="button">保存</button>
		</ion-header-bar> -->


		<ion-content style="margin-bottom: 0px;">
			<div class="item group-site">
				<a ng-repeat="item in items.members">
					<img class="avatar" ng-src="{{item.avatar}}">
					<!-- <i ng-if="item.user_id != currentUser.id" ng-if="isclose" class="icon ion-close-circled color999 close" ng-click="del({{item.user_id}},$index)"></i> -->
					<br>
					<p>{{item.realname}}</p>
				</a>
				
				<a ng-href="#/group/add/{{items.id}}">
					<i class="icon ion-ios-plus-outline color999"></i>
				</a>
				<a ng-if="is_mine == true" ng-href="#/group/del/{{items.id}}" >
					<i class="icon ion-ios-minus-outline color999"></i>
				</a>
			</div>

			<form novalidate name="myForm" id="myForm"  ng-cloak class="ng-cloak">
				<div class="list login">
					<div class="item item-input" style="padding: 10px">
						<div class="row item-borderless row-no-padding">
						  <div class="col col-30 col-center">
						  	<label class="txt-c-99">律圈名称</label>
						  </div>
						  <div class="col col-center">
						  	<input style="text-align: right;width: 100%;padding-right: 0%;" type="text" name="group_name" ng-model="group_name" placeholder="律圈名称" ng-minlength="1" ng-maxlength="14" />
						  </div>
						</div>
					</div>
					<div class="item item-input" style="padding-left: 3%;height: 47px;" ng-if="Form.group_name.$error.maxlength">
						<label class="error">律圈名称字符的长度不能超过14个</label>
					</div>
					<div class="item item-input" style="padding: 10px">
						<div class="row item-borderless row-no-padding">
						  <div class="col col-30 col-center">
						  	<label class="txt-c-99">律圈头像</label>
						  </div>
						  <div class="col col-60 col-center">
						  	<div ng-model="group_avatar" accept="image/*" ngf-pattern="'image/*'" ngf-max-size="2MB" ngf-min-height="100" ngf-select="uploadFiles($file,$invalidFiles)" class="icon-right" width="52" height="52px" style="color:#ccc;float:right;text-align: right;">
						  			<div style="width:52px; height:52px;overflow: hidden;">
						  				<img ng-src="{{file}}" ngf-thumbnail="group_avatar || '{{items.group_avatar}}'"  width="52" height="52">
								  	</div>
									
								</div>
								<br>
								<!-- <span class="progress" ng-show="progress >= 0 || progress <= 99 ">
							      <div style="width:{{progress}}%" ng-bind="progress + '%'"></div>
							    </span> -->
								<input type="hidden" name="group_avatar" value="{{file_path}}" />
						  </div>
						  <div class="col clo-10 col-center">
						  	<i class="icon ion-chevron-right" style="font-size: 20px;"></i>
						  </div>
						</div>
					</div>
				</div>	
			</form>
			
			<div class="item group-site" style=" padding: 20px 10px;">
				<button ng-if="is_mine == true" class="button button-block button-positive" ng-click="logoutGroup()">删除并退出</button>
				<button ng-if="is_mine == false" class="button button-block button-positive" ng-click="quitGroup()">退出</button>
				<button class="button button-block button-cff2f5f" ng-click="edit()" style="margin-top:10px;">保存</button>
			</div>
				
		</ion-content>
	</ion-pane>
</ion-view>