<ion-view view-title="圈子">
		<ion-pane  class="web-body">
			<ion-header-bar class="bar bar-header bar-light">
				<a class="button icon-left ion-chevron-left button-clear button-positive button-small ion-ios-arrow-back" onclick="history.go(-1);"></a>
				<h1 class="title">圈子</h1>
			</ion-header-bar>
			
			<ion-tabs class="tabs-top">
			    <ion-tab title="圈子" href="#/group/list">
			        <ion-nav-view name="group-list">圈子</ion-nav-view>
			    </ion-tab>

			    <ion-tab title="推荐关注" href="#/group/attention">
			        <ion-nav-view name="group-attention">推荐关注</ion-nav-view>
			    </ion-tab>

			    <ion-tab title="广播" href="#/group/televise">
			        <ion-nav-view name="group-televise">广播</ion-nav-view>
			    </ion-tab>
			</ion-tabs>

			<div class="tabs tabs-icon-top tabs-color-positive" ng-model="is_lawyer">
				  <a class="tab-item active" onclick='layer.goHome()'>
				    <i class="icon ion-home"></i>
				    首页
				  </a>
				  <a ng-if="is_lawyer == null" href="#/login" class="tab-item">
				    <i class="icon ion-android-contacts"></i>
				    圈子
				  </a>
				  <a ng-if="is_lawyer == true" href="#/group" class="tab-item">
				    <i class="icon ion-android-contacts"></i>
				    圈子
				  </a>
				  <a class="tab-item" href="#/knowledge">
				    <i class="icon ion-social-buffer"></i>
				    知识
				  </a>
				  <a ng-if="is_lawyer == null" href="#/login" class="tab-item">
				    <i class="icon ion-android-contact"></i>
				    我的
				  </a>
				  <a ng-if="is_lawyer == false" href="#/center" class="tab-item">
				    <i class="icon ion-android-contact"></i>
				    我的
				  </a>
				  <a ng-if="is_lawyer == true" href="#/center_lawyer" class="tab-item">
				    <i class="icon ion-android-contact"></i>
				    我的
				  </a>
			</div>
		</ion-pane>
</ion-view>