<ion-view view-title="创建广播">
	<ion-pane  class="web-body">
		<ion-header-bar class="bar bar-header bar-light">
			<a class="button icon-left ion-chevron-left button-clear button-positive button-small ion-ios-arrow-back" onclick="history.go(-1);"></a>
			<h1 class="title">创建广播</h1>
			<button ng-click="createSubmit()" class="button button-clear button-positive" type="button">保存</button>
		</ion-header-bar>


		<ion-content style="margin-bottom: 0px;">
				<form id="myForm" name="myForm" novalidate>
					<div class="list login">
						<div class="item item-input item-text-wrap">
							<textarea ng-model="content" name="content" required ng-minlength="2" ng-maxlength="140" placeholder="请输入你的广播"></textarea>
						</div>
						<p class="item" ng-show="myForm.content.$error.minlength">
							<span class="fc-red">字符不能小于2个字符</span>
						</p>
						<p class="item" ng-show="myForm.content.$error.maxlength">
							<span class="fc-red">字符的长度不能超过140个</span>
						</p>
					</div>	
				</form>
		</ion-content>
	</ion-pane>
</ion-view>