<ion-view hide-tabs="true" view-title="创建广播">
	<ion-pane  class="web-body">
		<ion-header-bar class="bar bar-header bar-light">
			<a class="button icon-left ion-chevron-left button-clear button-positive button-small ion-ios-arrow-back" onclick="history.go(-1);"></a>
			<h1 class="title">创建广播</h1>
			<button ng-click="createSubmit()" class="button button-clear button-positive" type="button">保存</button>
		</ion-header-bar>


		<ion-content style="margin-bottom: 0px;">
				<form id="myForm" name="myForm" novalidate>
					<div class="list login">
						<div class="item item-input item-text-wrap">
							<textarea ng-model="content" name="content" required ng-minlength="2" ng-maxlength="140" placeholder="请输入你的广播"></textarea>
						</div>
						<p class="item" ng-show="myForm.content.$error.minlength">
							<span class="fc-red">字符不能小于2个字符</span>
						</p>
						<p class="item" ng-show="myForm.content.$error.maxlength">
							<span class="fc-red">字符的长度不能超过140个</span>
						</p>
					</div>	
					<div class="item group-site">
						<a ng-model="file" ng-repeat="file in file">
						  <img class="avatar" ng-src="{{file}}">
						  <i ng-show="isclose" class="icon ion-close-circled color999 close" ng-click="del($index)"></i>
						</a>
						<a>
						  <div ng-model="group_avatar" ngf-select="uploadFiles($files, $invalidFiles)" multiple accept="image/*" ngf-max-height="1000" ngf-max-size="6MB" ngf-pattern="'image/*'"  ngf-min-height="100" class="icon-right" style="font-size:4em;padding:0 20px;color:#ccc;"> 
						  	<i class="icon ion-ios-plus-outline color999" style="font-size:1em;"></i> 
						  </div>
						</a>
						<a ng-show="file" ng-click="isclose = !isclose" >
							<i class="icon ion-ios-minus-outline color999"></i>
						</a>

					</div>
				</form>
		</ion-content>
	</ion-pane>
</ion-view>