<style type="text/css">
	.list .col{
		font-size:14px;
	}
	.list .item.item-divider {
	    padding-top: 12px;
	    padding-bottom: 12px;
	}
</style>
<ion-view hide-tabs="true" cache-view="false" view-title="我的商品">
	<ion-pane>
		<ion-content class="web-body">
			<div ng-if="nodata == false" class="nodate">
				<i class="nodate-iocn"></i><br>
				<label>暂无数据！</label>
			</div>
			
	    	<ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
		    	<div class="card" ng-repeat="item in items" style="border-radius: 10px;">
					<div class="item item-text-wrap" style="border-width: 0px;">
						<h3 style="margin-bottom: 12px;">
							订单编号：{{item.order_no}}
						</h3>
						<div class="hr mb10"></div>
						<p>
							创建时间：{{item.created_at}}
						</p>
						<p>
							订单金额：{{item.price}}元
						</p>
						<p>
							订单信息：{{item.type_name}}
						</p>
						<p class="mb10">
							订单状态：<label ng-if="item.state == 1">待付款</label>
						</p>
						<p style="text-align: right;">
		  					<button class="button button-small button-light" style="min-height: 28px;line-height: 28px;" ng-click="to_cancel(item.id,item)">取消订单</button>
		  					<button class="button button-small button-positive" style="min-height: 28px;line-height: 28px;" ng-click="to_payorder(item.id,item.type)">支付订单</button>
		  				</p>
					</div>
				</div>
			<ion-infinite-scroll pulling-text="上拉加载" ng-if="moredata" on-infinite="loadMore()" distance="1%"> </ion-infinite-scroll>
	    </ion-content>
	</ion-pane>
</ion-view>