<ion-view hide-tabs="true" cache-view="false">
    <ion-content>
    	<div ng-if="nodata == false" class="nodate">
			<i class="nodate-iocn"></i><br>
			<label>暂无数据！</label>
		</div>
		
    	<ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
    		<ion-list>
	        	<ion-item ng-repeat="item in items">
		        	<p>
		        		<a class="display" ng-href="#/question/pay_text/view/{{item.id}}" style="color: #333;">{{item.title}}</a>
		        	</p>
		        	<p class="fc-33">{{item.post_category}}</p>
		        	<p style="text-align: right;" ng-if="currentUser.status == 1 || currentUser.status == 2">
		        		<button class="button button-small button-positive" ng-click="to_cancel(item.transitions[0].to_cancel,item)">取消</button>
	  				</p>
	  				<p style="text-align: right;" ng-if="currentUser.status == 3">
	  					<button class="button button-small button-positive" ng-click="to_refuse(item.transitions[1].to_refuse,item)">拒绝</button>
	  					<button class="button button-small button-positive" ng-click="to_accept(item.transitions[0].to_accept)">受理</button>
	  				</p>
		        </ion-item>
	         </ion-list>
		<ion-infinite-scroll pulling-text="上拉加载" ng-if="moredata" on-infinite="loadMore()" distance="1%"> </ion-infinite-scroll>

    </ion-content>
</ion-view>