<ion-view hide-tabs="true" cache-view="false">
    <ion-content>
    	<ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
    		<ion-list>
	        	<ion-item ng-repeat="item in items">
		        	<p>
		        		<a class="display" ng-href="#/question/paytext/view/{{item.id}}" style="color: #333;">{{item.title}}</a>
		        	</p>
		        	<p class="fc-33">{{item.post_category}}</p>
		        	<p style="text-align: right;" ng-if="currentUser.status == 1 || currentUser.status == 2">
	  					<button class="button button-small button-positive" ng-click="to_evaluate(item.id,$index)">评价</button>
	  				</p>
		        </ion-item>
	        </ion-list>
		<ion-infinite-scroll pulling-text="上拉加载" ng-if="moredata" on-infinite="loadMore()" distance="1%"> </ion-infinite-scroll>
    </ion-content>
</ion-view>