<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
		<title></title>

		<link href="lib/ionic/css/ionic.css" rel="stylesheet">
		<!--<link href="css/login.css" rel="stylesheet">-->
		<link href="css/ask_lawyer_lawyer_info.css" rel="stylesheet">
		<link href="css/common.css" rel="stylesheet">

		<!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

		<!-- ionic/angularjs js -->
		<script src="lib/ionic/js/ionic.bundle.js"></script>

		<!-- cordova script (this will be a 404 during development) -->
		<script src="cordova.js"></script>

		<!-- your app's js -->
		<!--<script src="js/ask_lawyer_server.js"></script>-->
		<script src="js/ask_lawyer_lawyer_info_controller.js"></script>
		
	</head>

	<body ng-app="LawyerInfoCenter">
		<ion-pane>
			<ion-header-bar class="bar bar-header">
				<a class="button icon-left ion-chevron-left button-clear button-small"></a>
				<!--<h1 class="title">律师个人页</h1>-->
				<a class="button icon-right ion-chevron-right button-clear button-small"></a>
			</ion-header-bar>
			<ion-content>
				<div class="list-lawyerinfo" ng-controller="LawyerIntroductionCtr">
					<div ng-repeat="intrItem in IntrItems">
						<a href="#" class="item item-thumbnail-left list-item1">
							<img class="item1-img" src="{{intrItem.lawyerHearderIcon}}" alt="" />
							<h2><span class="sp-name">{{intrItem.lawyerName}}</span><span class="sp-level">{{intrItem.lawyerLevel}}</span></h2>
							<p>
								<div>{{intrItem.lawyerSignature}}</div>
								<div class="item-star">
									<div class="item-star-a"><!--<img src="img/clock.png"/>-->{{intrItem.lawyerStarNum}}</div>
									<div class="item-star-b">{{intrItem.lawyerLove}}</div>
									<div class="clear"></div>
								</div>
							</p>
						</a>
						
						<div class="row item list-item2">
							<div class="col"><span class="fc-nan">{{intrItem.lawyerSeviceNum}}</span><br />服务次数</div>
							<div class="col bg-left"><span class="fc-nan">{{intrItem.lawyerMark}}</span><br />评分</div>
							<div class="col bg-left"><span class="fc-nan">{{intrItem.lawyerFanNum}}</span><br />粉丝数</div>
						</div>							
					</div>
				
				</div>
				
				<!--内容-->
				<div class="list list-nav0">
					<div class="item tabs">
					    <span class="tab-item tab-item-border">
							个人介绍
					    </span>
					    <span class="tab-item tab-item-noborder">
					    	评价
					    </span>
					    <span class="tab-item tab-item-noborder">
						 	动态
					    </span>
					</div>		
				</div>
				
				<!--个人介绍列表-->
				
				<div ng-controller="LawyerIntrCtr">
					<div class="list">
						<div ng-repeat="lawyerIntrItem in lawyerIntrItems">
							<div class="item">
								<span class="txt-fw">擅长领域</span><br />
								<span class="fc-ee">{{lawyerIntrItem.lawyerFiled}}</span>						
							</div>
							<div class="item">
								<span class="txt-fw">职业时间</span>
								<span class="fc-nan">{{lawyerIntrItem.lawyerJobYear}}</span>
							</div>
							<div class="item">
								<span class="txt-fw">专业咨询访问单价</span><br />
								<span class="fc-ee">{{lawyerIntrItem.lawyerConsultPrice}}</span>
							</div>
							<div class="item">
								<span class="txt-fw">个人简历</span><br />
								<span class="fc-ee">{{lawyerIntrItem.lawyerResume}}</span>
							</div>
							<div class="item">
								<span class="txt-fw">工作经历</span><br />
								<span class="fc-ee">{{lawyerIntrItem.lawyerWorkExperience}}</span>
							</div>
							<div class="item">
								<span class="txt-fw">成功案例</span><br />
								<span class="fc-ee">{{lawyerIntrItem.lawyerGoodCase}}</span>
							</div>								
						</div>
					</div>
				</div>
				
				<!--评价列表-->
				<div class="list list-answer" ng-controller="otherCmtCtr">
					<div class="item" ng-repeat="otherCmtItem in otherCmtItems">
						<span class="sp-name fc-ee">{{otherCmtItem.otherName}}</span>
						<span class="sp-time fc-ee">{{otherCmtItem.otherTime}}</span><br />
						<span class="sp-star">{{otherCmtItem.otherStar}}</span><br />
						<span class="sp-cmt">{{otherCmtItem.otherContent}}</span>
					</div>
				</div>
				
				<!--动态列表-->
				<div class="list list-comment" ng-controller="DynamicCtr">
					<div class="item" ng-repeat="items in DynamicItems">
						<div class="item-main">
							<div class="item-a">
								<span class="sp-date txt-fw">{{items.dynamicDate}}</span><br />
								<span class="sp-month">{{items.dynamicMonth}}</span>
							</div>
							<div class="item-b">
								<div class="item-b-t fc-ee">
									{{items.dynamicTitle}}<br />{{items.dynamicTime}}
								</div>
								<div class="item-b-b">	
									<span>{{items.dynamicMan}}</span>
									<span>&nbsp;</span>
									<span>{{items.dynamicLove}}</span>
									<span class="clear"></span>
								</div>
							</div>
							<div class="clear"></div>							
						</div>
						<div class="item-who fc-nan lh-2em"><span>{{items.dynamicOtherName}}</span>等{{items.getOtherNum}}位赞过</div>
						<div class="item-who-title fc-ee">全部评论</div>
						<div>
							<div class="list list-other-cmt">
								<div class="item lh-2em" ng-repeat="allCmt in items.dynamicAllCmt">
									<span class="fc-nan">{{allCmt.name}}:</span>
									<span class="fc-ee">{{allCmt.discript}}</span>
								</div>
							</div>
						</div>
					</div>
				</div>

			</ion-content>
			<ion-footer-bar align-title="left" class="bar-default">
				<div class="tabs" ng-controller="showWin">
				    <a class="tab-item" ng-click="showConfirm()" href="#">电话咨询</a>
				    <a class="tab-item" href="#">图文咨询</a>
				    <a class="tab-item" href="#">专业咨询</a>
				</div>
			</ion-footer-bar>
		</ion-pane>
	</body>

</html>