<!DOCTYPE html>
<html  ng-app="lvtuanApp">
  <head>
    <title>微首页</title>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta name="format-detection" content="telephone=no"/>
    <link href="/lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/common.css" rel="stylesheet">
    <link href="/css/find_lawyer.css" rel="stylesheet">
    <link href="css/webconment.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->
    
    <!-- ionic/angularjs js -->
    
    <!-- <script src="js/jweixin-1.0.0.js"></script> -->
   
    <script src="js/jquery-1.11.1.js"></script>
    <script src="/lib/ionic/js/ionic.bundle.js"></script>
    
    <script src="/lib/ionic/js/ngCordova/dist/ng-cordova.js"></script>

    <script src="js/ng-file-upload-master/dist/ng-file-upload-shim.js"></script>
    <script src="js/ng-file-upload-master/dist/ng-file-upload.js"></script>

    <!-- cordova script (this will be a 404 during development) 
    <script src="cordova.js"></script>
     -->
    
    
    <!-- your app's js -->
    <script src="/js/layer.1.0.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/controller/index_ctrl.js"></script>

    


    <style>
      body {
        font-family: "Microsoft YaHei","Microsoft JhengHei",STHeiti,MingLiu;
      }
    </style>
  </head>
  <body>
    
  	<ion-nav-view></ion-nav-view>
    <div class="tabs tabs-icon-top tabs-color-positive" ng-model="user_group_id" ng-class="{'tabs-item-hide': $root.hideTabs}" ng-controller="HeaderController" >
          <a ng-href="#/index"  class="tab-item" ng-class="{active:isActives('/index')}">
            <i class="icon ion-home"></i>
            首页
          </a>
          <a ng-if="user_group_id == null" ng-href="#/login" class="tab-item">
            <i class="icon ion-android-contacts"></i>
            圈子
          </a>
          <a ng-if="user_group_id == 2 && is_verified == 1" ng-href="#/group" class="tab-item" ng-class="{active:isActives('/group/list')}">
            <i class="icon ion-android-contacts"></i>
            圈子
          </a>
          <a  ng-href="#/knowledge"  class="tab-item"  ng-class="{active:isActives('/knowledge')}">
            <i class="icon ion-social-buffer"></i>
            知识
          </a>
          <a ng-if="user_group_id == null" ng-href="#/login" class="tab-item">
            <i class="icon ion-android-contact"></i>
            我的
          </a>
          <a ng-if="user_group_id == 1 || user_group_id == 2" ng-href="#/center" class="tab-item" ng-class="{active:isActives('/center')}">
            <i class="icon ion-android-contact"></i>
            我的
          </a>
    </div>

  </body>
</html>