<!--律师注册页面-->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
	<link href="css/lowyer_login.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/lowyer.js"></script>
  </head>
  <body ng-app="starter">

    <ion-pane>
      <ion-header-bar class="bar bar-header bar-light">
      	<a class="button button-icon  button-clear button-positive">
      		<img class="v-align" src="img/smallback.png"/>
      	</a>
        <h1 class="title">注册</h1>
      </ion-header-bar>
      <ion-content>
		<form name="lawyerLogin">
			<div class="list login">
				<label class="item item-input">
					<span class="bg-man login-lbl-pl login-lbl-fc">&nbsp;</span>
					<input type="text" name="tel" ng-model="loginData.tel1" required="required" ng-pattern="/^(0|86|17951)?(13[0-9]|15[012356789]|17[678]|18[0-9]|14[57])[0-9]{8}$/" placeholder="手机号码">
					<button class="button button-positive button-outline button-small button-border-left">
						获取验证码
					</button>
				</label>
				<p class="item fc-red" ng-show="lawyerLogin.tel.$invalid && !lawyerLogin.tel.$pristine">请输入合法的手机号码</p>
				<p class="item fc-red" ng-show="lawyerLogin.tel.$required">手机号码不能为空</p>
				<label class="item item-input">
					<span class="bg-mobel login-lbl-pl login-lbl-fc">&nbsp;</span>
					<input type="password" name="validCode" placeholder="验证码" ng-model="loginData.validcode">
				</label>
				<p class="item fc-red" ng-show="lawyerLogin.validCode.$required">手机号码不能为空</p>
				<label class="item item-input">
					<span class="bg-clock login-lbl-pl login-lbl-fc">&nbsp;</span>
					<input type="password" name="pwd" placeholder="登录密码(6-20位字符)" ng-minlength="6" ng-maxlength="20" ng-pattern="/^[\@A-Za-z0-9\!\#\$\%\^\&\*\.\~]{6,20}$/" required="required" ng-model="loginData.password">
				</label>
				<p class="item" ng-show="lawyerLogin.pwd.$error.minlength">
					<span class="fc-red">字符不能小于6个字符</span>
				</p>
				<p class="item" ng-show="lawyerLogin.pwd.$error.maxlength">
					<span class="fc-red">字符的长度不能超过20个</span>
				</p>
				<p class="item" ng-show="(lawyerLogin.pwd.$invalid && !lawyerLogin.pwd.$pristine)">
					<span class="fc-red">请输入6-20位字符</span>
				</p>
				<p class="item" ng-show="lawyerLogin.pwd.$required ">
					<span class="fc-red">密码不能为空</span>
				</p>
			</div>
			
			<div class="list">
				<div class="item item-divider">
					资格认证
				</div>
				<label class="item item-input">
					<span class="input-label">姓名</span>
					<input type="text">
				</label>
				<div class="item row">
					<div class="col"><span class="input-label">性别</span></div>
					<div class="col"><input type="checkbox">男<input type="checkbox">女</div>
										
				</div>
				<label class="item item-input">
					<span class="input-label">执业机构</span>
					<input type="text">
				</label>
				<label class="item item-input">
					<span class="input-label">律师证编号</span>
					<input type="text">
				</label>
				<!--<div class="item item-button-right">
					<span class="input-label">资质证照片<br>上传律师资格证照片</span>
					<button class="button button-stable button-large">
						<i class="icon ion-plus"></i>
					</button>
				</div>-->
				<div class="item item-thumbnail-right" href="#">
			      <img src="img/plus.png">
			      <h2>资质证照片</h2>
			      <p>上传律师资格证照片</p>
			    </div>
			    
			    <div class="item item-divider">
					擅长领域(必选项，最多三项)
				</div>
								
				<div class="item">
					<div class="row">
						<div class="col">
							<div class="list">
								<div class="item item-checkbox">
									<label class="checkbox">
						    			<input type="checkbox">
						    		</label>刑事辩护
								</div>
							</div>
						</div>
						<div class="col">
							<div class="list">
								<div class="item item-checkbox">
									<label class="checkbox">
						    			<input type="checkbox">
						    		</label>刑事辩护
								</div>
							</div>
						</div>
						<div class="col">
							<div class="list">
								<div class="item item-checkbox">
									<label class="checkbox">
						    			<input type="checkbox">
						    		</label>刑事辩护
								</div>
							</div>
						</div>	
					</div>
					<div class="row">
						<div class="col">
							<div class="list">
								<div class="item item-checkbox">
									<label class="checkbox">
						    			<input type="checkbox">
						    		</label>刑事辩护
								</div>
							</div>
						</div>
						<div class="col">
							<div class="list">
								<div class="item item-checkbox">
									<label class="checkbox">
						    			<input type="checkbox">
						    		</label>刑事辩护
								</div>
							</div>
						</div>
						<div class="col">
							<div class="list">
								<div class="item item-checkbox">
									<label class="checkbox">
						    			<input type="checkbox">
						    		</label>刑事辩护
								</div>
							</div>
						</div>	
					</div>
					
					<div class="row">
						<div class="col">
							<div class="list">
								<div class="item item-checkbox">
									<label class="checkbox">
						    			<input type="checkbox">
						    		</label>刑事辩护
								</div>
							</div>
						</div>
						<div class="col">
							<div class="list">
								<div class="item item-checkbox">
									<label class="checkbox">
						    			<input type="checkbox">
						    		</label>刑事辩护
								</div>
							</div>
						</div>
						<div class="col">
							<div class="list">
								<div class="item item-checkbox">
									<label class="checkbox">
						    			<input type="checkbox">
						    		</label>刑事辩护
								</div>
							</div>
						</div>	
					</div>
					
					<div class="row">
						<div class="col">
							<div class="list">
								<div class="item item-checkbox">
									<label class="checkbox">
						    			<input type="checkbox">
						    		</label>刑事辩护
								</div>
							</div>
						</div>
						
					</div>
										 
				</div>
				
				<div class="item item-divider">
					擅长领域<span class="fc-red">(必选项，最多三项)</span>
				</div>
				<label class="item item-input">
					<span class="input-label">邀请码</span>
					<input type="text" placeholder="为推荐人增加积分，可不填">
				</label>
			</div>	
			
			<div class="list">
				<!--<label class="item item-input">-->
					<button class="button button-block button-positive btn-login-submit" type="submit">提交</button>
				<!--</label>-->
			</div>


			
			<ul class="list login2">
			  <li class="item">
			     <label class="checkbox">
			       <input type="checkbox" ng-model="loginData.isRead">
			     </label>
			     <a href="http://www.baidu.com" class="button button-clear button-positive"><em class="fc-ee">已阅读并同意</em>《律团用户端协议》</a>
			  </li>
			  
			</ul>
			
		</form>
      </ion-content>
    </ion-pane>
  </body>
</html>
