<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter">

    <ion-pane>
      <ion-header-bar class="bar bar-header bar-light">
      	<a class="button button-icon  button-clear button-positive">
      		<img class="v-align" src="img/smallback.png"/>
      	</a>
        <h1 class="title">注册</h1>
      </ion-header-bar>
      <ion-content>
		<form novalidate name="regForm">
			<div class="list login">
				<label class="item item-input">
					<span class="bg-man login-lbl-pl login-lbl-fc">&nbsp;</span>
					<input type="text" name="tel1" ng-model="regObj.tel1" required="required" ng-pattern="/^(0|86|17951)?(13[0-9]|15[012356789]|17[678]|18[0-9]|14[57])[0-9]{8}$/" placeholder="手机号码">
					<button class="button button-positive button-outline button-small button-border-left">
						获取验证码
					</button>
				</label>
				<p class="item fc-red" ng-show="regForm.tel1.$invalid && !regForm.tel1.$pristine">请输入合法的手机号码</p>
				<p class="item fc-red" ng-show="regForm.tel1.$required">手机号码不能为空</p>
				<label class="item item-input">
					<span class="bg-mobel login-lbl-pl login-lbl-fc">&nbsp;</span>
					<input type="password" ng-model="regObj.validateCode" name="validateCode" placeholder="验证码">
				</label>
				<p class="item fc-red" ng-show="regForm.validateCode.$required">手机号码不能为空</p>
				<label class="item item-input">
					<span class="bg-clock login-lbl-pl login-lbl-fc">&nbsp;</span>
					<input type="password" ng-model="regObj.pwd" name="password" placeholder="登录密码(6-20位字符)" ng-minlength="6" ng-maxlength="20" ng-pattern="/^[\@A-Za-z0-9\!\#\$\%\^\&\*\.\~]{6,20}$/" required="required">
				</label>
				<p class="item" ng-show="regForm.password.$error.minlength">
					<span class="fc-red">字符不能小于6个字符</span>
				</p>
				<p class="item" ng-show="regForm.password.$error.maxlength">
					<span class="fc-red">字符的长度不能超过20个</span>
				</p>
				<p class="item" ng-show="(regForm.password.$invalid && !regForm.password.$pristine)">
					<span class="fc-red">请输入6-20位字符</span>
				</p>
				<p class="item" ng-show="regForm.password.$required ">
					<span class="fc-red">密码不能为空</span>
				</p>
				<!--<label class="item item-input">-->
					<button class="button button-block button-positive btn-login-submit" type="submit">提交</button>
				<!--</label>-->
			</div>
		</form>	
			<ul class="list login2">
			  <li class="item">
			     <label class="checkbox">
			       <input type="checkbox">
			     </label>
			     <a href="http://www.baidu.com" class="button button-clear button-positive"><em class="fc-ee">已阅读并同意</em>《律团用户端协议》</a>
			  </li>
			  
			</ul>
			

      </ion-content>
    </ion-pane>
  </body>
</html>
