<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
		<title></title>
		<link href="lib/ionic/css/ionic.css" rel="stylesheet">
		<link href="css/webconment.css" rel="stylesheet">
		<script src="lib/ionic/js/ionic.bundle.js"></script>
		<script src="cordova.js"></script>
		<script src="js/web127.js"></script>
	</head>
	<body ng-app="web127" class="web-body">
		<ion-pane>
			<ion-header-bar class="bar bar-header bar-light">
				<a class="button icon-left ion-chevron-left button-clear button-positive button-small ion-ios-arrow-back"></a>
				<h1 class="title">关于</h1>
			</ion-header-bar>
			<ion-content class="web-body" ng-controller="PopupCtrl">
				<a class="item web-item item-icon-right web-padd-right40" ng-click="showAlert()">
				          公司介绍
				    <i class="icon icon-right ion-ios-arrow-right"></i>
				</a>
				<a class="item web-item item-icon-right web-padd-right40" ng-click="showAlert()">
				    <span class="item-note">www.wdlst.com</span>
				          公司官网
				    <i class="icon icon-right ion-ios-arrow-right"></i>
				</a>
				<a class="item web-item item-icon-right web-padd-right40" ng-click="showConfirm()">
				    <span class="item-note">v1.0</span>
				          软件版本
				    <i class="icon icon-right ion-ios-arrow-right"></i>
				</a>
				<a class="item web-item item-icon-right web-padd-right40"  ng-click="showConfirm2()">
				    <span class="item-note">400-810-810</span>
				          客服电话
				    <i class="icon icon-right ion-ios-arrow-right"></i>
				</a>
				<a class="item web-item item-icon-right web-padd-right40" href="#">
				          用户协议
				    <i class="icon icon-right ion-ios-arrow-right"></i>
				</a>
			</ion-content>
			
		</ion-pane>
	</body>

</html>