<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
		<title></title>

		<link href="lib/ionic/css/ionic.css" rel="stylesheet">
		<!--<link href="css/login.css" rel="stylesheet">-->
		<link href="css/ask_lawyer.css" rel="stylesheet">
		<link href="css/common.css" rel="stylesheet">

		<!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

		<!-- ionic/angularjs js -->
		<script src="lib/ionic/js/ionic.bundle.js"></script>

		<!-- cordova script (this will be a 404 during development) -->
		<script src="cordova.js"></script>

		<!-- your app's js -->
		<!--<script src="js/ask_lawyer_server.js"></script>-->
		<script src="js/ask_lawyer_controller.js"></script>
		
	</head>

	<body ng-app="askLawyer">
		<ion-pane>
			<ion-header-bar class="bar bar-header bar-light">
				<a class="button button-icon  button-clear button-positive" onclick="history.go(-1);">
      				<img class="v-align" src="img/smallback.png"/>
      			</a>
				<h1 class="title">问律师</h1>
			</ion-header-bar>
			<ion-content>
				<div ng-controller="selectTypeItem">	
					<div class="list list-case-searchtype">
						<div class="item item-input" ng-click="toggleMenu()">
							<input type="text" placeholder="请选择案例类型" value="" />
							<span class="button button-positive button-clear button-icon ion-chevron-up"></span>
						</div>
					</div>
					
					<div class="list list-case-type" ng-show="isShowObj.show">
						<div class="item item-button-right" ng-repeat="typeItem in askLawyerTypeItems" ng-click="toggleMenu()">						
							{{typeItem.name}}
							<i class="button button-clear icon-right ion-arrow-up-c icon-r-wn"></i>
						</div>
						
					</div>	
					
				</div>
				
				<div class="item-divider txt-center fc-ee">看看其他人问了什么</div>
				
				<!--搜索你想要的内容-->
				<div class="item-input-inset">
					<label class="item-input-wrapper">
				    	<i class="icon ion-search placeholder-icon"></i>
				    	<input type="search" placeholder="搜索你想要的内容">
					</label>
					<button class="button button-icon ion-funnel button-clear"></button>
				</div>
				<hr />
				<!--评论-->
				<div class="list list-inset" ng-controller="lawyerComment">
					<div onclick="location.href=''" class="item card item-borderless noboxshadow" ng-repeat="item in lawyerCommentItems">
						<div class="item item-button-right">
						    {{item.lcTitle}}
						 <i class="button button-clear icon-right ion-ios-star-outline"></i>
						</div>
						<div class="item item-text-wrap item-avatar item-divider item-borderless">
						    <img src="{{item.lcImgSrc}}">
						    <h2 class="fc-nan txt-fw">{{item.lcName}}</h2>
						    <p>{{item.lcContent}}<br />
						    	{{item.lcTime}}
						    </p>
						</div>
					</div>
				</div>

			</ion-content>
			
		</ion-pane>
	</body>

</html>