<ion-view hide-tabs="true" view-title="认证律师">
		<ion-pane  class="web-body">
			<!-- <ion-header-bar align-title="center" class="bar bar-header bar-light headers">
				<a class="button icon-left ion-chevron-left button-clear button-positive button-small ion-ios-arrow-back" ng-href="#/center"></a>
				<h1 ng-if="currentUser.status == 1 || currentUser.status == 2" class="title">认证律师</h1>
				<h1 ng-if="currentUser.status == 3" class="title">修改认证律师</h1>
			</ion-header-bar> -->

			<ion-content class="web-body web-top10 becomenav-content">
				<!-- <div class="basekong20"></div> -->
				<div ng-if="!currentUser.is_verified_lawyer" class="list" style="padding: 0px;background-color: #fff;">
					<div class="item row becomenav-list item-borderless row-no-padding">
						<div class="col col-75 col-center">
						  	<a ng-href="#/practitioners">
							    从业信息
							</a>
						</div>
					    <div class="col col-center">
					    	<i ng-if="infochecks.work == true" class="selected"></i>
					    	<i ng-if="infochecks.work == false" class="not-selected"></i>
					    </div>
					</div>
					<div class="item row becomenav-list item-borderless row-no-padding">
						<div class="col col-75 col-center">
						  	<a ng-href="#/verified">
							    实名认证
							</a>
						</div>
					    <div class="col col-center">
					    	<i ng-if="infochecks.identity == true" class="selected"></i>
					    	<i ng-if="infochecks.identity == false" class="not-selected"></i>
					    </div>
					</div>
					<div class="item row becomenav-list item-borderless row-no-padding">
						<div class="col col-75 col-center">
						  	<a ng-href="#/tariffset">
							    资费设置
							</a>
						</div>
					    <div class="col col-center">
					    	<i ng-if="infochecks.fee == true" class="selected"></i>
					    	<i ng-if="infochecks.fee == false" class="not-selected"></i>
					    </div>
					</div>
					<div class="item row becomenav-list item-borderless row-no-padding">
						<div class="col col-75 col-center">
						  	<a ng-href="#/field">
							    擅长领域
							</a>
						</div>
					    <div class="col col-center">
					    	<i ng-if="infochecks.workscope == true" class="selected"></i>
					    	<i ng-if="infochecks.workscope == false" class="not-selected"></i>
					    </div>
					</div>
					<div class="item row becomenav-list item-borderless row-no-padding">
						<div class="col col-75 col-center">
						  	<a ng-href="#/case">
							    经历案例
							</a>
						</div>
					    <div class="col col-center">
					    	<i ng-if="infochecks.experience == true" class="selected"></i>
					    	<i ng-if="infochecks.experience == false" class="not-selected"></i>
					    </div>
					</div>
					<div class="submit-examine">
						<button ng-disabled="infochecks.work == false && infochecks.identity == false && infochecks.fee == false && infochecks.workscope == false" type="submit" ng-click="submit()" class="button button-positive">提交审核</button>
					</div>
				</div>

				<div ng-if="currentUser.is_verified_lawyer" class="list">
					<div class="item row becomenav-list item-borderless row-no-padding">
						<div class="col col-75 col-center">
						  	<a ng-href="#/practitioners">
							    从业信息
							</a>
						</div>
					    <div class="col col-center">
					    	<i ng-if="infochecks.work == true" class="selected"></i>
					    	<i ng-if="infochecks.work == false" class="not-selected"></i>
					    </div>
					</div>
					<div class="item row becomenav-list item-borderless row-no-padding">
						<div class="col col-75 col-center">
						  	<a ng-href="#/verified">
							    实名认证
							</a>
						</div>
					    <div class="col col-center">
					    	<i ng-if="infochecks.identity == true" class="selected"></i>
					    	<i ng-if="infochecks.identity == false" class="not-selected"></i>
					    </div>
					</div>
					<div class="item row becomenav-list item-borderless row-no-padding">
						<div class="col col-75 col-center">
						  	<a ng-href="#/tariffset">
							    资费设置
							</a>
						</div>
					    <div class="col col-center">
					    	<i ng-if="infochecks.fee == true" class="selected"></i>
					    	<i ng-if="infochecks.fee == false" class="not-selected"></i>
					    </div>
					</div>
					<div class="item row becomenav-list item-borderless row-no-padding">
						<div class="col col-75 col-center">
						  	<a ng-href="#/field">
							    擅长领域
							</a>
						</div>
					    <div class="col col-center">
					    	<i ng-if="infochecks.workscope == true" class="selected"></i>
					    	<i ng-if="infochecks.workscope == false" class="not-selected"></i>
					    </div>
					</div>
					<div class="item row becomenav-list item-borderless row-no-padding">
						<div class="col col-75 col-center">
						  	<a ng-href="#/case">
							    经历案例
							</a>
						</div>
					    <div class="col col-center">
					    	<i ng-if="infochecks.experience == true" class="selected"></i>
					    	<i ng-if="infochecks.experience == false" class="not-selected"></i>
					    </div>
					</div>
				</div>
				
				<!-- <div style="width:100%;height:50px;clear:both;"></div> -->
			</ion-content>
		</ion-pane>
</ion-view>