<ion-view hide-tabs="true" view-title="经历案例">
	<form name="caseForm" class="css-form" id="caseForm" ng-controller="caseCtrl">
		<ion-pane  class="web-body">
			<ion-content style="margin-bottom: 0;">
				<!-- <div class="basekong20"></div> -->
				<div class="list">
					<div class="item item-input case-list">
						<div class="row">
						  <div class="col">个人简介</div>
						</div>
					</div>
					<div class="item item-input case-content">
						<div class="row">
						  <div class="col">
						  	<textarea placeholder="请简单对自己做下介绍" ng-model="introduce" name="introduce" ng-minlength="" ng-maxlength="" ng-pattern="" ng-trim="">
							</textarea>
						  </div>
						</div>
					</div>
					<!-- <div class="basekong20"></div> -->
					<div class="item item-input case-list">
						<div class="row">
						  <div class="col">执业经历</div>
						</div>
					</div>
					<div class="item item-input case-content">
						<div class="row">
						  <div class="col">
						  	<textarea placeholder="请简单描述下执业经历" ng-model="experience" name="experience" ng-minlength="" ng-maxlength="" ng-pattern="" ng-trim="">
							</textarea>
						  </div>
						</div>
					</div>
					<!-- <div class="basekong20"></div> -->
					<div class="item item-input case-list">
						<div class="row">
						  <div class="col">成功案例</div>
						</div>
					</div>
					<div class="item item-input case-content">
						<div class="row">
						  <div class="col">
						  	<textarea placeholder="请简单描述下成功案例" ng-model="law_cases" name="law_cases" ng-minlength="" ng-maxlength="" ng-pattern=""  ng-trim="">
							</textarea>
						  </div>
						</div>
					</div>
				</div>
				<div style="background-color:#fff;height: 59px;margin-top: 50px;">
					<div class="row" style="padding: 5px 10px;">
						<button ng-click="submit()" class="button button-block button-positive" type="button" style="border-radius: 10px;">保存</button>
					</div>
				</div>
			</ion-content>
		</ion-pane>
	</form>
</ion-view>