<style type="text/css">
	.workscope{
		text-align: center;
	}
	.workscope span{
		background-color: #fff;
	    border-radius: 10%;
	    padding: 5px 8px;
	    margin: 10px;
	    display: inline-block;
	}
	.bg_positive span{
		background-color: #387ef5;
	    border-radius: 10%;
	    padding: 5px 8px;
	    margin: 10px;
	    display: inline-block;
	    color: #fff;
	}
	.bg_positive .errer{
		color: #ccc;
		 padding: 5px 8px;
    	margin: 10px;
	}

	.workscope span.active{
		background-color: #387ef5;
	    color: #fff;
	}
</style>
<ion-view hide-tabs="true">
	<ion-pane  class="web-body">
		<ion-header-bar align-title="center" class="bar bar-header bar-light headers">
			<a class="button icon-left ion-chevron-left button-clear button-positive button-small ion-ios-arrow-back" ng-href="#/becomenav"></a>
			<h1 class="title">擅长领域</h1>
			<button ng-click="submit()" class="button button-clear button-positive" type="submit">保存</button>
		</ion-header-bar>

		<ion-content class="field-content">
			<!-- <h4 class="title web-title web-fc666">资格认证 <span class="web-ftcred" style="font-size:14px;">(审核通过后，不可修改)</span></h4> -->
			<!-- <div class="basekong20"></div> -->
			<div class="list" style="margin-bottom:0;">
				<div class="workscope border_bottom">
					<label style="line-height: 50px;" class="errer" ng-show="showscopes.length == 0 ">设置领域可更精确搜索到您，最多三个！</label>
					<span ng-repeat="showscope in showscopes">
						<label data-id="{{showscope.key}}">{{showscope.value}}</label>
					</span>
				</div>
			</div>
			<div class="list workscope" >
				<span ng-repeat="workscope in workscopes" ng-class="{ 'active':inShowscopes(workscope, showscopes) }"> 
					<label ng-click="click_workscope(workscope.key,workscope.value)" >{{workscope.value}}</label>
				</span>
			</div>
		</ion-content>
	</ion-pane>
</ion-view>