<ion-view hide-tabs="true" view-title="从业信息">
	<form name="practitionForm" class="css-form" id="practitionForm" novalidate ng-controller="practitionersCtrl">
		<ion-pane  class="web-body practitioners">
			<ion-content style="margin-bottom: 0;">
				<!-- <div class="basekong20"></div> -->
				<div class="practitioners-list">
					<div class="item item-input">
						<div class="input-label">
			              执业证号
			            </div>
						<input ng-disabled="currentUser.is_verified_lawyer && items.license" placeholder="请输入执业证号"  ng-model="license" name="license" type="text" required>
					</div>
					<div class="item item-input">
						<div class="input-label">
			              执业机构
			            </div>
						<input placeholder="请输入执业机构"  ng-model="company_name" name="company_name" type="text" required>
					</div>
					<div class="item item-input item-select">
						<div class="input-label">
			              执业年限
			            </div>
					  	<select class="web-font16" required ng-model="practice_period" name="practice_period" ng-options="period as period.value for period in periods track by period.key" style="position: relative;padding: 0px 8% 0.2rem 3%;direction: ltr;">
								<option value="">--执业年限--</option>
					    </select>
					</div>
					<div class="item item-input">
						<div class="input-label">
			              执业地址
			            </div>
			            <input placeholder="请选择执业地址" ng-model="address" type="text" required ng-click="getAddress()" data-disabled="disabled">
			            <input type="hidden" ng-model="province" name="province" value="{{province}}" /> 
			            <input type="hidden" ng-model="city" name="city" value="{{city}}" /> 
			            <input type="hidden" ng-model="district" name="district" value="{{city}}" /> 
					</div>
					<div class="item item-input">
						<div class="input-label">
			              执业证书
			            </div>
			            <img ng-if=" file != '' " ng-src="{{file}}" ngf-thumbnail="file || ''" width="52" height="50">

			            <div ng-if="!currentUser.is_verified_lawyer" class="uploapoto" ng-model="license_file" ngf-pattern="'image/*'"  accept="image/*" ngf-max-size="2MB" ngf-min-height="100" ngf-select="uploadFiles($file, $invalidFiles)" ></div>

						<input ng-if="!currentUser.is_verified_lawyer" type="hidden" name="license_file" value="{{file_path}}" />
						<!-- <span class="progress" ng-show="progress > 0">
		                  <div style="width:{{progress}}%" ng-bind="progress + '%'"></div>
		                </span> -->
					</div>
					<div style="background-color:#fff;height: 59px;margin-top: 50px;">
						<div class="row" style="padding: 5px 10px;">
							<button ng-click="submit()" class="button button-block button-positive" type="button" ng-disabled="practitionForm.$invalid" style="border-radius: 10px;">保存</button>
						</div>
					</div>
				</div>
			</ion-content>
		</ion-pane>
	</form>
</ion-view>