<ion-view hide-tabs="true" view-title="资费设置">
	<ion-pane  class="web-body tariffset">
		<form name="tariffsetForm" class="css-form" id="tariffsetForm" novalidate ng-controller="tariffsetCtrl">
			<ion-content class="has-tabs">
				<!-- <div class="basekong20"></div> -->
				<div class="tariffset-list">
					<div class="item item-input">
						<div class="row tariffset-content">
						  <div class="col col-25 col-center">图文咨询</div>
						  <div class="col col-60 col-center">
						  	<input placeholder="请输入图文咨询价格" ng-model="textreplyfee" name="text_reply_fee" type="number" required ng-model-options="{debounce:2000}">
						  	<!-- <span class="error" ng-show="tariffsetForm.text_reply_fee.$error.number">您输入的不是数字!</span> -->
						  	<!-- <strong></strong> -->
						  </div>
						  <div class="col col-14 col-center">元/次</div>
						</div>
					</div>
					<div class="item item-input">
						<div class="row tariffset-content">
						  <div class="col col-25 col-center">语音咨询</div>
						  <div class="col col-60 col-center">
						  	<input placeholder="请输入语音咨询价格" ng-model="phonereplyfee" name="phone_reply_fee" type="number" required ng-model-options="{debounce:2000}">
						  	<!-- <span class="error" ng-show="tariffsetForm.phone_reply_fee.$error.number">您输入的不是数字!</span> -->
						  	<!-- <strong></strong> -->
						  </div>
						  <div class="col col-14 col-center">元/次</div>
						</div>
					</div>
				</div>
			</ion-content>
			<div class="tabs" style="background-color:#fff;padding-top: 0;">
				<div class="row" style="padding: 0 10px;">
					<button ng-click="submit()" class="button button-block button-positive" type="button" ng-disabled="tariffsetForm.$invalid" style="border-radius: 10px;">保存</button>
				</div>
			</div>
		</form>
	</ion-pane>
</ion-view>