<ion-view hide-tabs="true" view-title="昵称修改">
	<ion-pane  class="web-body">
		<ion-content class="web-body web-top10">
			<form name="niknameForm" class="css-form" id="niknameForm">
				<div class="list">
					<div class="item item-input">
						<div class="row">
						  <div class="col col-99 col-center">  <!-- ng-model-options="{debounce:2000}" --> 
						  	<input ng-model="user.nikname" name="nikname" type="text" required placeholder="请输入昵称">
						  </div>
						</div>
					</div>
				</div>
				<div style="background-color:#fff;height: 59px;margin-top: 50px;">
					<div class="row" style="padding: 5px 10px;">
						<button ng-click="submit()" class="button button-block button-positive" type="submit" style="border-radius: 10px;" ng-disabled="niknameForm.$invalid">保存</button>
					</div>
				</div>
			</form>
		</ion-content>
	</ion-pane>
</ion-view>