<ion-view hide-tabs view-title="我的咨询-送心意">
    <ion-pane>
        <ion-header-bar class="bar bar-header bar-light">
            <a class="button icon-left ion-chevron-left button-clear button-positive button-small ion-ios-arrow-back" ng-click="jumpGoBack()"></a>
            <h1 class="title">我的咨询-送心意</h1>
        </ion-header-bar>
        <ion-content class="web-body">
            <form novalidate name="myForm" id="myForm" ng-controller="sendmindCtrl" ng-cloak class="ng-cloak">
                <div class="mind-pic">
                    <div>
                        <!-- <span>您将是第</span>
                        <i>3</i>
                        <strong>位给Ta送心意的用户哦</strong> -->
                        <span>感谢您的支持，我们将会做的更好。</span>
                    </div>
                    <input ng-model="user.money" name="money" type="number" placeholder="请输入金额" required/>
                </div>
                <div class="payment-method">请选择支付方式</div>
                <div class="method">
                    <dl class="clearfix">
                        <dt>
                            <img src="" alt="微信支付" />
                        </dt>
                        <dd class="clearfix">
                            <h2>微信支付</h2>
                            <span>推荐安装了微信客户端的用户使用</span>
                            <i></i>
                        </dd>
                    </dl>
                    <dl class="clearfix">
                        <dt>
                            <img src="" alt="律团钱包" />
                        </dt>
                        <dd class="clearfix">
                            <h2>微信支付</h2>
                            <span>推荐充值了律团钱包的用户使用</span>
                            <i></i>
                        </dd>
                    </dl>
                </div>
                <div>
                    <button class="button button-block button-assertive" type="button" ng-disabled="myForm.$invalid" ng-click="submit()" >提交</button>
                </div>
            </form>
        </ion-content>
    </ion-pane>
</ion-view>