<ion-view hide-tabs="true" cache-view="false">
    <ion-content>
    	<ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
    		<ion-list ng-repeat="item in items">
	        	<ion-item class="item" >
		          	<span class="sp-l fc-33"><a ng-href="#/user/question/view/{{item.id}}">{{item.title}}</a></span>
					<span class="sp-r fc-33">{{item.created_at}}</span>
		        </ion-item>
		        <ion-item class="item itemdata">
		        	<div class="row">
		        		<div class="col">
		        			<p class="fc-33">{{item.post_category}}</p>
			        	</div>
		  				<div class="col" style="text-align: right;">
		  					<button class="button button-small button-positive" ng-click="evaluate(item.id,$index)">评价</button>
		  				</div>
		        	</div>
		        </ion-item>
	         </ion-list>
	         
		<ion-infinite-scroll pulling-text="上拉加载" ng-if="moredata" on-infinite="loadMore()" distance="1%"> </ion-infinite-scroll>

    </ion-content>
</ion-view>