<ion-view hide-tabs="true" cache-view="false">
	<ion-pane>
		<ion-header-bar class="bar bar-header bar-light">
			<button class="button button-clear button-positive" ng-click="jumpGoBack()">  
                <i class="icon icon-left ion-ios-arrow-back"></i>  
            </button>
			<h1 class="title">订单详情</h1>
		</ion-header-bar>
		<ion-content class="web-body">
			<ion-list>
				<div class="row">
					<div class="col">
						<span>{{item.status}}</span>
					</div>
				</div>
				<div class="item" style="padding: 10px 5px;">
					<a class="item item-thumbnail-left">
				      <img ng-src="{{item.product_img}}">
				      <h2 class="web-top10">{{item.post_type}} <span style="font-size: 20px;color: #c40000;font-weight: bolder;font-family: Arial;-webkit-font-smoothing: antialiased;float:right">￥{{item.price}}</span></h2>

				      <p class="web-top5" >{{item.post_category}}</p>
				    </a>
				</div>
		         <ion-item class="item">
		        	<p>创建时间：{{item.created_at}}</p>
					<p>订单编号：{{item.order_no}}</p>
					<p>问题标题：{{item.title}}</p>
					<p>问题描述：{{item.content}}</p>
  					<p style="text-align: right;">
  						<button ng-if="item.status_code == 'wait_pay' || item.status_code == 'complete'" class="button button-small button-positive" ng-click="remove(item.post_id)">删除</button>
  						<button ng-if="item.status_code == 'wait_pay'" class="button button-small button-positive" ng-click="pay(item.post_id)">付款</button>
  					</p>
  					<p style="text-align: right;" ng-if="item.status_code == 'new'">
  						<button class="button button-small button-positive" ng-click="cancel(item.post_id)">取消</button>
  					</p>
  					<p style="text-align: right;" ng-if="item.status_code == 'replied'">
  						<button class="button button-small button-positive" ng-click="ask(item.post_id)">联系律师</button>
  						<button class="button button-small button-positive" ng-click="complete(item.post_id)">确认</button>
  					</p>
  					<p style="text-align: right;" ng-if="item.status_code == 'wait_for_evaluation'">
  						<button class="button button-small button-positive" ng-click="evaluate(item.post_id)">评价</button>
  					</p>
		        </ion-item>
		        
	         </ion-list>
	    </ion-content>
	</ion-pane>
</ion-view>