<ion-view hide-tabs="true">
    <ion-content>

    	<ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
    	<ion-list ng-repeat="item in items">
        	<ion-item class="item" ng-href="#/userorderdetail/{{item.id}}">
				<span class="sp-l fc-33" style="width: 50%;">{{item.title}}</span>
				<span class="sp-r fc-33" style="width: 50%;">{{item.created_at}}</span>
	        </ion-item>
	        <ion-item class="item itemdata">
	        	<div class="row all-button">
	        		<div class="col">
	        			<h2 class="fc-ee">{{item.post_type}}</h2>
		        	</div>
	  				<div class="col all-new" style="text-align: right;">
	  					<button class="button button-small button-positive" ng-click="remove(item.id,$index)">删除</button>
	  					<button class="button button-small button-positive" ng-click="pay(item.id)">付款</button>
	  				</div>
	        	</div>
	        </ion-item>
         </ion-list>
		<ion-infinite-scroll pulling-text="上拉加载" ng-if="moredata" on-infinite="loadMore()" distance="1%"> </ion-infinite-scroll>

    </ion-content>
</ion-view>