<ion-view>
	<ion-pane>
		<ion-header-bar align-title="center" class="bar-light">
		    <button class="button button-clear button-positive" ng-click="jumpGoBack()">  
                <i class="icon icon-left ion-ios-arrow-back"></i>  
            </button>
		    <h1 class="title">案件委托</h1>
		</ion-header-bar>
		
		<ion-content>
			<div class="list">
				<div class="itme item-divider lh-dot5em"></div>
				<div class="item"><h2>案件委托，为您私人定制的快速法律服务</h2></div>
				<div class="item item-text-wrap">
					<p class="fc-ee">
						当您有法律问题要求律师服务时，使用该系统第一时间根据案情为您不限次数的推荐资深律师服务，解决你的法律问题。
					</p>
				</div>
				<div class="item row fc-ee">
					<div class="col">
						服务对象 
					</div>
					<div class="col txt-right">
						<label><input type="checkbox" />企业</label>
						<label><input type="checkbox" />个人</label>						
					</div>
				</div>
				<div class="item item-txtarea fc-ee">
					<textarea name="" placeholder="请详细描述你的定制要求"></textarea>
				</div>
				<div class="item item-divider"></div>
				<div class="item item-button-right fc-ee">
					请选择案件类型<button class="button button-icon ion-chevron-down fc-ee"></button>
				</div>
				<div class="item item-toggle item-button-right fc-ee">
					是否加急
					<label class="toggle toggle-positive">
				        <input type="checkbox">
				        <div class="track">
				        	<div class="handle"></div>
				       	</div>
				    </label>
				</div>
				<div class="item item-input">
					<label class="input-label fc-ee">联系人</label>
					<input type="text">
				</div>
				<div class="item item-input">
					<label class="input-label fc-ee">你的手机号</label>
					<input type="text">
				</div>
				<div class="item item-input">
					<label class="input-label fc-ee">企业名称</label>
					<input type="text">
				</div>
				<div class="item item-divider"></div>
				<div class="item">
					<button class="button button-positive button-block">提交</button>
				</div>
			</div>
			
		</ion-content>
			
	</ion-pane>
</ion-view>