<style type="text/css">
.citypicker{
	/*position: fixed;
    top: 0;
    left: 0;
    bottom: 0;*/
    width: 100%;
	z-index: 1;
}
.citypicker .list{
	margin-bottom: 0px;
}
.navbar{
	position: fixed;
    top: 53%;
    right: 5%;
    width: 20px;
    z-index: 2;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    border-radius: 5px;
    width: 10%;
    text-align: center;
}
.navbar li{
	height: 1.3rem;
    line-height: 2rem;
    font-size: 1.1rem;
}
.tabs.tabs-icon-top.tabs-color-positive{
	display: none;
}

</style>
<ion-view hide-tabs="true">
		<ion-pane  class="web-body">
			<ion-header-bar class="bar bar-header bar-light">
				<i class="button icon-left ion-chevron-left button-clear button-positive button-small ion-ios-arrow-back"  ng-click="jump_citypicke_GoBack()"></i>
				<h1 class="title">选择地址</h1>
				<!-- <button ng-click="createSubmit()" class="button button-clear button-positive" type="button">保存</button> -->
			</ion-header-bar>

			<ion-content delegate-handle="mainScroll" style="margin-bottom:0;">
				<div class="citypicker">
					<div class="province">
						<div class="list" id="{{key}}" ng-repeat="(key, value) in provinces">
							<div class="item item-divider item-borderless">
								{{key}}
						    </div>
					        <div class="item" ng-repeat="(key, value) in value" style="padding:0;">
					        	<label class="item item-borderless" ng-click="province(value)" style="display: inline-block;width: 80%;">{{value.value}}</label>
					        </div>
						</div>
					</div>
					<div class="cities">
						<div class="list">
					        <div class="item" ng-repeat="(key, value) in citys" ng-click="citie(value)">
					        	{{value.value}}
					        </div>
						</div>
					</div>
				</div>
		</ion-content>
		<ul class="navbar">
			<li ng-repeat="(key, value) in str" ng-click="goto(value)">{{value}}</li>
		</ul>
	</ion-pane>
</ion-view>