<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
		<title></title>

		<link href="lib/ionic/css/ionic.css" rel="stylesheet">
		<!--<link href="css/login.css" rel="stylesheet">-->
		<link href="css/ask_lawyer_lawyer_info.css" rel="stylesheet">
		<link href="css/common.css" rel="stylesheet">

		<!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

		<!-- ionic/angularjs js -->
		<script src="lib/ionic/js/ionic.bundle.js"></script>

		<!-- cordova script (this will be a 404 during development) -->
		<script src="cordova.js"></script>

		<!-- your app's js -->
		<!--<script src="js/ask_lawyer_server.js"></script>-->
		<script src="js/ask_lawyer_lawyer_info_controller.js"></script>
		
	</head>

	<body ng-app="LawyerInfoCenter">
		<ion-pane>
			<ion-header-bar class="bar bar-header hbg">
				<button class="button button-clear button-light icon-left ion-ios-arrow-left"></button>
				<!--<a class="button button-icon  button-clear button-positive">
      				<img class="v-align" src="img/smallback.png"/>
      			</a>-->
				<!--<h1 class="title">律师个人页</h1>-->
				<!--<a class="button button-icon  button-clear button-positive">
      				<img class="v-align" src="img/smallback.png"/>
      			</a>-->
			</ion-header-bar>
			<ion-content>
				<div class="list-lawyerinfo" ng-controller="LawyerIntroductionCtr">
					<div ng-repeat="intrItem in IntrItems">
						<a href="#" class="item item-thumbnail-left list-item1">
							<img class="item1-img" src="{{intrItem.lawyerHearderIcon}}" alt="" />
							<h2><span class="sp-name">{{intrItem.lawyerName}}</span><span class="sp-level">{{intrItem.lawyerLevel}}</span></h2>
							<p>
								<div>{{intrItem.lawyerSignature}}</div>
								<div class="item-star">
									<div class="item-star-a">
										<i class="icon ion-ios-star"></i>
										<i class="icon ion-ios-star"></i>
										<i class="icon ion-ios-star"></i>
										<i class="icon ion-ios-star"></i>
										<i class="icon ion-ios-star-outline"></i>
										<!--{{intrItem.lawyerStarNum}}-->
									</div>
									<div class="item-star-b">
										<img src="img/xin.png"/>
										{{intrItem.lawyerLove}}
									</div>
									<div class="clear"></div>
								</div>
							</p>
						</a>
						
						<div class="row item list-item2">
							<div class="col"><span class="fc-nan">{{intrItem.lawyerSeviceNum}}</span><br />服务次数</div>
							<div class="col bg-left"><span class="fc-nan">{{intrItem.lawyerMark}}</span><br />评分</div>
							<div class="col bg-left"><span class="fc-nan">{{intrItem.lawyerFanNum}}</span><br />粉丝数</div>
						</div>							
					</div>
				
				</div>
				
				<!--内容-->
				<div class="list list-nav0">
					<div class="item tabs">
					    <span class="tab-item tab-item-noborder">
							个人介绍
					    </span>
					    <span class="tab-item tab-item-border">
					    	评价
					    </span>
					    <span class="tab-item tab-item-noborder">
						 	动态
					    </span>
					</div>		
				</div>
				
				
				<!--评价列表-->
				<div class="list list-answer" ng-controller="otherCmtCtr">
					<div class="item" ng-repeat="otherCmtItem in otherCmtItems">
						<span class="sp-name fc-ee">{{otherCmtItem.otherName}}</span>
						<span class="sp-time fc-ee">{{otherCmtItem.otherTime}}</span><br />
						<span class="sp-star">{{otherCmtItem.otherStar}}</span><br />
						<span class="sp-cmt">{{otherCmtItem.otherContent}}</span>
					</div>
				</div>
			</ion-content>
			<ion-footer-bar align-title="left" class="bar-default">
				<div class="tabs" ng-controller="showWin">
				    <a class="tab-item" ng-click="showConfirm()" href="#">电话咨询</a>
				    <a class="tab-item" href="#">图文咨询</a>
				    <a class="tab-item" href="#">专业咨询</a>
				</div>
			</ion-footer-bar>
		</ion-pane>
	</body>

</html>