<ion-view hide-tabs="false">
	
	<ion-header-bar align-title="center" class="bar bar-header bar-light">
		<button class="button button-clear button-positive" >  
            <i class="logo"></i>  
        </button>
		<h1 class="title" style="text-indent: -9999px;"></h1>
		<div class="buttons button-clear">
			<a ng-href="#/citypicker/index" class="button-clear" style="line-height: 34px;color:#fff;">
				{{currentLocation.city_name}} &nbsp;<i class="icon ion-arrow-down-b"></i>
			</a>
		</div>
		<!-- <button class="button button-clear button-positive" >  
            <i class="logo"></i>  
        </button> -->
	</ion-header-bar>

	<!-- <ion-nav-bar class="headers" style="background-color: #004799;"></ion-nav-bar>
	<ion-nav-buttons side="left">
		<i class="logo"></i>
	</ion-nav-buttons>
	<ion-nav-title>律团</ion-nav-title>
	<ion-nav-buttons side="right">
		<a ng-href="#/citypicker/index" class="button-clear" style="line-height: 34px;color:#fff;">
			{{currentLocation.city_name}} &nbsp;<i class="icon ion-arrow-down-b"></i>
		</a>

	</ion-nav-buttons> -->
	<!-- <ion-nav-buttons ng-model="currentUser.user_group_id" side="right" >
		<a ng-if="currentUser.user_group_id == null" ng-href="#/login" class="button button-icon">
			<img ng-src="../img/13.png"/>
		</a>
	</ion-nav-buttons> -->
	<ion-content class="index">
		<div class="slide1">
			<ion-slide-box active-slide="myActiveSlide1" does-continue="true" show-pager="true" slide-interval="3000" auto-play="true"  active-slide="index">
		        <ion-slide>
		            <img ng-src="../img/banner1-01.png">
		        </ion-slide>
		        <ion-slide>
		            <img ng-src="../img/banner1-02.png">
		        </ion-slide>
		        <ion-slide>
		            <img ng-src="../img/banner1-03.png">
		        </ion-slide>
			</ion-slide-box>
		</div>

		<div class="list list1">
			<div class="row padding1">
				<div class="col col-66 col-center a-left">
				  	<img ng-src="img/mfzx.png" style="width:80%;padding-left: 10%;" />
				</div>
				<div class="col col-center" style="text-align: left;line-height: 22px;">
					<b style="font-size:18px;color:#ff2f5f;">免费咨询</b><br>
					<font style="font-size:12px;color:#666;">24小时有问必答</font><br>
					<a class="button button-small" ng-href="#/questionslist" style="border-color:#004799;background-color:#004799;color:#fff;min-height: 22px;line-height: 22px;margin-bottom: 0;margin-top:0;border-radius:0;margin-top:10px;padding: 2px 8px 1px;">
					  立即咨询
					</a>
				</div>
			</div>
		</div>

		<div class="list list2">
			<div class="row">
				<div class="col">
					<a class="col padding3" ng-href="#/one-questions">
				  	 	<img ng-src="img/zyzx.png" style="width:35%;height:35%;" /><br/>
				  	    <font style="font-size: 14px;">专业咨询</font><br>
						<font style="font-size: 12px;">一对一付费服务</font>
				    </a>
				</div>
				<div class="col">
					<a class="col padding3" ng-href="#/document/list">
				  	 	<img ng-src="img/flws.png" style="width:35%;height:35%;" /><br/>
				  	 	<font style="font-size: 14px;">法律文书</font><br>
						<font style="font-size: 12px;">海量文书免费下载</font>
				    </a>
				</div>
				<div class="col">
					<a class="col padding3" ng-href="#/corporate">
				  	 	<img ng-src="img/xwqf.png" style="width:35%;height:35%;" /><br/>
						<font style="font-size: 14px;">法律顾问</font><br>
						<font style="font-size: 12px;">为企业保驾护航</font>
				    </a>
				</div>
			</div>
		</div>

		<div class="content bottom_50">
			<ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>

			<div class="bar-header">
				<div class="title" style="margin-top:0;margin-bottom:5px;font-size: 14px;padding-left:10px;">推荐律师</div>
		    </div>
	      <ul class="list">
	      	<div ng-if="nodata == false" class="nodate">
				<i class="nodate-iocn"></i><br>
				<label>暂无数据！</label>
			</div>
            <ion-list>
            	<ion-item class="item item-thumbnail-left i-lawyer-list item-avatar" ng-repeat="item in items" ng-href="#/lawyer/view/{{item.id}}">
		          	<img ng-src="{{item.avatar}}" class="item-image" />
					<h2>{{item.realname}}</h2>
					<p>执业{{item.practice_period}}/{{item.city}}</p>
					<p>
						<label ng-repeat="item in item.work_scope">{{item.value}}</label>
					</p>
		        </ion-item>
	         </ion-list>
	      </ul>

	      <ion-infinite-scroll pulling-text="上拉加载" ng-if="moredata" on-infinite="loadMore()" distance="1%"> </ion-infinite-scroll>
	      <!-- ion-infinite-scroll 上拉加载数据指令 distance默认1% ng-if的值为false时，就禁止执行on-infinite  -->

	    </div>

	</ion-content>
</ion-view>