<link href="css/webconment.css" rel="stylesheet">
<ion-view view-title="首页">
			<ion-header-bar class="bar bar-header bar-light">
				<a class="button icon-left ion-chevron-left button-clear button-positive button-small ion-ios-arrow-back" onclick="history.go(-1);"></a>
				<h1 class="title">我的律师团</h1>
			    <div class="list icon-right button" style="width:100px;padding:5px 0px 0px 0px;border:0px;">
				  <label class="item item-input item-select" style="height:30px;padding:0px;border:0px;">
				    <select style="padding:0px 27px 0px 0px;max-width:100%;">
				      <option>深圳</option>
				      <option selected>广州</option>
				      <option>惠州</option>
				    </select>
				  </label>
				</div>
			</ion-header-bar>
			<ion-content class="web-body web-top10">
				<div class="item item-input-inset web-body" style="border:0px;background-color:#B2B2B2;">
				    <label class="item-input-wrapper" style="background-color:#ffffff;">
				    	<i class="icon ion-android-search web-ion-img1-2"></i>&nbsp;
				        <input type="text" placeholder="请输入你感兴趣的内容">
				    </label>
				</div>
				<img ng-src="img/index.png" style="width:100%;max-height:150px;" />
				<div class="list web-bottom0" style="width:50%;padding:10px 0px;padding-left:5%;float:left;background-color:#ffffff;">
					  <div onclick="location.href='web7.html'" class="item item-icon-left" style="border:0px;border-right:1px solid #cccccc;padding-top:14px;padding-bottom:0px;">
					    <i class="icon ion-chatbox-working web-ion-img0-8" style="color:#24A3F1;margin-top:-5px;"></i>
					    问律师<br/>资深律师解答
					  </div>
				</div>
				<div class="list web-bottom0" style="width:50%;padding-left:5%;float:left;background-color:#ffffff;">
					  <div onclick="location.href='web13.html'" class="item item-icon-left" style="border:0px;">
					    <i class="icon ion-android-search web-ion-img0-8" style="color:#24A3F1;margin-top:-5px;"></i>
					    找律师<br/>6万位律师为您服务
					  </div>
				</div>
				<div style="width:100%;height:10px;clear:both;"></div>
			    <div class="row" style="background-color:#ffffff;">
				  <div class="col" style="text-align:center;" onclick="location.href='web23.html'">
				  	 <img ng-src="img/web_person114.png" style="width:50px;height:50px;border-radius:50px;" /><br/>
				  	    法律文书
				  </div>
				  <div class="col" style="text-align:center;" onclick="location.href='web79.html'">
				  	 <img ng-src="img/web_person115.png" style="width:50px;height:50px;border-radius:50px;" /><br/>
				  	    法律讲堂
				  </div>
				  <div class="col" style="text-align:center;" onclick="location.href='p32.html'">
				  	 <img ng-src="img/web_person116.png" style="width:50px;height:50px;border-radius:50px;" /><br/>
				  	    法律资讯
				  </div>
				  <div class="col" style="text-align:center;" onclick="location.href='p36.html'">
				  	 <img ng-src="img/web_person117.png" style="width:50px;height:50px;border-radius:50px;" /><br/>
				  	    案件委托
				  </div>
				</div>
				<div class="row" style="background-color:#ffffff;">
				  <div class="col" style="text-align:center;">
				  	 <img ng-src="img/web_person118.png" style="width:50px;height:50px;border-radius:50px;" /><br/>
				  	    我的律团
				  </div>
				  <div class="col" style="text-align:center;" onclick="location.href='web79.html'">
				  	 <img ng-src="img/web_person119.png" style="width:50px;height:50px;border-radius:50px;" /><br/>
				  	    法律助手
				  </div>
				  <div class="col" style="text-align:center;" onclick="location.href='p30.html'">
				  	 <img ng-src="img/web_person120.png" style="width:50px;height:50px;border-radius:50px;" /><br/>
				  	    律团联盟
				  </div>
				  <div class="col" style="text-align:center;" onclick="location.href='web27.html'">
				  	 <img ng-src="img/web_person121.png" style="width:50px;height:50px;border-radius:50px;" /><br/>
				  	    人才交流
				  </div>
				</div>
				<div style="width:100%;height:10px;clear:both;"></div>
				<div class="list web-bottom0" style="border:0px;">
					<div class="item" style="background-color:#eeeeee;">金牌律师推荐</div>
				</div>
				<div class="list">
				    <a class="item item-thumbnail-left" style="padding-left:95px;" href="web18.html">
				      <img ng-src="img/icon-header.png" style="left:6px;border-radius:5px;max-height:80px;">
				      <h2 style="line-height:30px;">王律师<span style="color:#666666;">高级律师</span></h2>
				      <p><span style="color:#333333;">擅长领域&nbsp;:&nbsp;型事辩护</span></p>
				      <p><span style="color:#333333;">所在区域&nbsp;:&nbsp;深圳市宝安区</span></p>
				    </a>
				    <div class="item web-paddingtb0" style="padding-left:55px;height:30px;line-height:30px;border-top:0px;color:#767676;margin-top:-10px;">
				    <i class="icon ion-compose web-ion-img1-2" style="float:right;margin-right:10px;font-size:12px;">&nbsp;</i>
				    <i class="icon ion-chatbubble web-ion-img1-2" style="float:right;margin-right:10px;font-size:12px;">&nbsp;32</i>
				    <i class="icon ion-heart web-ion-img1-2" style="float:right;margin-right:10px;font-size:12px;color:#f00;">&nbsp;<span style="color:#666666;">17</span></i>
				  </div>
				</div>
				<div class="list">
				    <a class="item item-thumbnail-left" style="padding-left:95px;" href="web18.html">
				      <img ng-src="img/icon-header.png" style="left:6px;border-radius:5px;max-height:80px;">
				      <h2 style="line-height:30px;">王律师<span style="color:#666666;">高级律师</span></h2>
				      <p><span style="color:#333333;">擅长领域&nbsp;:&nbsp;型事辩护</span></p>
				      <p><span style="color:#333333;">所在区域&nbsp;:&nbsp;深圳市宝安区</span></p>
				    </a>
				    <div class="item web-paddingtb0" style="padding-left:55px;height:30px;line-height:30px;border-top:0px;color:#767676;margin-top:-10px;">
				    <i class="icon ion-compose web-ion-img1-2" style="float:right;margin-right:10px;font-size:12px;">&nbsp;</i>
				    <i class="icon ion-chatbubble web-ion-img1-2" style="float:right;margin-right:10px;font-size:12px;">&nbsp;32</i>
				    <i class="icon ion-heart web-ion-img1-2" style="float:right;margin-right:10px;font-size:12px;color:#f00;">&nbsp;<span style="color:#666666;">17</span></i>
				  </div>
				</div>
				<div class="list">
				    <a class="item item-thumbnail-left" style="padding-left:95px;" href="web18.html">
				      <img ng-src="img/icon-header.png" style="left:6px;border-radius:5px;max-height:80px;">
				      <h2 style="line-height:30px;">王律师<span style="color:#666666;">高级律师</span></h2>
				      <p><span style="color:#333333;">擅长领域&nbsp;:&nbsp;型事辩护</span></p>
				      <p><span style="color:#333333;">所在区域&nbsp;:&nbsp;深圳市宝安区</span></p>
				    </a>
				    <div class="item web-paddingtb0" style="padding-left:55px;height:30px;line-height:30px;border-top:0px;color:#767676;margin-top:-10px;">
				    <i class="icon ion-compose web-ion-img1-2" style="float:right;margin-right:10px;font-size:12px;">&nbsp;</i>
				    <i class="icon ion-chatbubble web-ion-img1-2" style="float:right;margin-right:10px;font-size:12px;">&nbsp;32</i>
				    <i class="icon ion-heart web-ion-img1-2" style="float:right;margin-right:10px;font-size:12px;color:#f00;">&nbsp;<span style="color:#666666;">17</span></i>
				  </div>
				</div>
				<div style="width:100%;height:50px;clear:both;"></div>
			</ion-content>
</ion-view>