<ion-view view-title="首页">
	<ion-nav-bar>
  		<ion-nav-back-button></ion-nav-back-button>
  	</ion-nav-bar>
	<ion-nav-title>律团</ion-nav-title>
	<ion-nav-buttons side="left">
		<button class="button button-icon" ng-click="mylvteam()">
			<img src="../img/20.png"/>深圳
		</button>
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
		<a href="#/login" class="button button-icon">
			<img src="../img/13.png"/>
		</a>
	</ion-nav-buttons>
	<ion-content>
		<ion-slide-box does-continue="true" show-pager="true" slide-interval="3000" auto-play="true"  active-slide="index" pager-click="go(index)">
	        <ion-slide>
	            <img src="../img/tupian.png">
	        </ion-slide>
	        <ion-slide>
	            <img src="../img/tupian.png">
	        </ion-slide>
		</ion-slide-box>
		<div class="subtitle">
			<div class="list web-bottom0" style="width:50%;padding:10px 0px;padding-left:5%;float:left;background-color:#ffffff;">
				  <div onclick="location.href='#/questions'" class="item item-icon-left" style="border:0px;border-right:1px solid #cccccc;padding-top:14px;padding-bottom:0px;">
				    <i class="icon ion-chatbox-working web-ion-img0-8" style="color:#24A3F1;margin-top:-5px;"></i>
				    问律师<br/>资深律师解答
				  </div>
			</div>
			<div class="list web-bottom0" style="width:50%;padding-left:5%;float:left;background-color:#ffffff;">
				  <div onclick="location.href='#/lawyerlist'" class="item item-icon-left" style="border:0px;">
				    <i class="icon ion-android-search web-ion-img0-8" style="color:#24A3F1;margin-top:-5px;"></i>
				    找律师<br/>6万位律师为您服务
				  </div>
			</div>
		</div>
		
		<div class="nav-swap">
			<div class="n-swapmain">
				<div class="row" style="background-color:#ffffff;">
				  <div class="col" style="text-align:center;" onclick="location.href='#/findlawyer'">
				  	 <img src="img/web_person114.png" style="width:50px;height:50px;border-radius:50px;" /><br/>
				  	    法律咨询
				  </div>
				  <div class="col" style="text-align:center;" onclick="location.href='web79.html'">
				  	 <img src="img/web_person115.png" style="width:50px;height:50px;border-radius:50px;" /><br/>
				  	    法律讲堂
				  </div>
				  <div class="col" style="text-align:center;" onclick="location.href='p32.html'">
				  	 <img src="img/web_person116.png" style="width:50px;height:50px;border-radius:50px;" /><br/>
				  	    律团联盟
				  </div>
				  <div class="col" style="text-align:center;" onclick="location.href='p36.html'">
				  	 <img src="img/web_person117.png" style="width:50px;height:50px;border-radius:50px;" /><br/>
				  	    案件委托
				  </div>
				</div>
				<div class="row" style="background-color:#ffffff;">
					  <div class="col" style="text-align:center;">
					  	 <img src="img/web_person118.png" style="width:50px;height:50px;border-radius:50px;" /><br/>
					  	    我的律团
					  </div>
					  <div class="col" style="text-align:center;" onclick="location.href='web79.html'">
					  	 <img src="img/web_person119.png" style="width:50px;height:50px;border-radius:50px;" /><br/>
					  	    法律助手
					  </div>
					  <div class="col" style="text-align:center;" onclick="location.href='p30.html'">
					  	 <img src="img/web_person120.png" style="width:50px;height:50px;border-radius:50px;" /><br/>
					  	    法律文书
					  </div>
					  <div class="col" style="text-align:center;" onclick="location.href='web27.html'">
					  	 <img src="img/web_person121.png" style="width:50px;height:50px;border-radius:50px;" /><br/>
					  	    人才交流
					  </div>
				</div>
			</div>
		</div>
		<div class="st2-swap">
			<div class="listimg">
				<a class="leftimg" href="#"><img src="img/01.png"></a>
			</div>
			<div class="listimg">
				<a class="top" href="#"><img src="img/02.png"></a>
				<a class="left" href="#"><img src="img/03.png"></a>
				<a class="right" href="#"><img src="img/04.png"></a>
			</div>
		</div>

		<div class="content">
			<div class="bar-header">
		      <div class="h3 title">金牌律师推荐</div>
		    </div>
	      <ul class="list">
	      	<!-- <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher> -->
            <ion-list>
		       <li class="item item-thumbnail-left" ng-repeat="item in items">
		          	<img src="{{item.avatar}}"/>
					<h2>{{item.realname}}</h2>
					<p>执业{{item.practice_period}}/{{item.city}}</p>
					<p>
						<label ng-repeat="val in item.work_scope track by $index">{{val}}</label>
					</p>
					<p>
					    <i class="icon ion-compose web-ion-img1-2" style="float:right;margin-right:10px;font-size:12px;">&nbsp;{{item.likes_count}}</i>
					    <i class="icon ion-chatbubble web-ion-img1-2" style="float:right;margin-right:10px;font-size:12px;">&nbsp;{{item.collects_count}}</i>
					    <i class="icon ion-heart web-ion-img1-2" style="float:right;margin-right:10px;font-size:12px;color:#f00;">&nbsp;<span style="color:#666666;">{{item.follows_count}}</span></i>
					  </p>
		        </li>
	         </ion-list>
	         <ion-infinite-scroll pulling-text="上拉加载" ng-if="moredata" on-infinite="loadMore()" distance="1%"> </ion-infinite-scroll>
			<!-- ion-infinite-scroll 上拉加载数据指令 distance默认1% nf-if的值为false时，就禁止执行on-infinite  -->
	      </ul>
	    </div>
	</ion-content>

	<div class="tabs tabs-icon-top tabs-color-positive" ng-model="is_verified">
		  <a class="tab-item active" href="#/index">
		    <i class="icon ion-home"></i>
		    首页
		  </a>
		  <a class="tab-item" href="#/group">
		    <i class="icon ion-android-contacts"></i>
		    圈子
		  </a>
		  <a class="tab-item" href="#/knowledge">
		    <i class="icon ion-social-buffer"></i>
		    知识
		  </a>
		  <a class="tab-item" ng-if="is_verified == 0" href="#/center">
		    <i class="icon ion-android-contact"></i>
		    我的
		  </a>
		  <a class="tab-item" ng-if="is_verified == 1" href="#/center_lawyer">
		    <i class="icon ion-android-contact"></i>
		    我的
		  </a>
	</div>

</ion-view>

