<ion-view view-title="知识">
		<ion-pane  class="web-body">
			<ion-header-bar class="bar bar-header bar-light">
				<a class="button icon-left ion-chevron-left button-clear button-positive button-small ion-ios-arrow-back" onclick="history.go(-1);"></a>
				<h1 class="title">知识</h1>
			</ion-header-bar>
			<ion-content class="web-body web-top10 ">
				<div class="button-bar web-bodywhite web-borderbottom1">
				   <a class="button button-clear web-padding0 web-fintc37 web-borderbottom2" href="web87.html">法规</a>
				   <a class="button button-clear web-padding0 web-fintc37" href="web94.html">文库</a>
				   <a class="button button-clear web-padding0 web-fintc37" href="web93.html">案例</a>
				</div>
				<div style="width:100%;height:10px;clear:both;"></div>
				<div class="list">
				  <div class="item item-input-inset web-body">
				    <label class="item-input-wrapper" style="background-color:#ffffff;">
				    	<i class="icon ion-android-search"></i>&nbsp;
				        <input type="text" placeholder="请输入你感兴趣的内容">
				    </label>
				  </div>
				</div>
				<div onclick="location.href='web89.html'">
					<div class="item item-body web-item-botb0" style="padding:0px;">
					<img class="full-image" src="img/index.png" style="max-height:150px;">
				    </div>
					<div class="item item-body web-item-topb0" style="padding-top:0px;">
				    <p class="web-fintc37">
				      This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
				      the content is from a card-body consisting of an image and paragraph text. The footer
				      consists of tabs, icons aligned left, within the card-footer.
				    </p>
				    <p class="web-paddingtb5" style="margin:0px;">
				      律团
				    </p>
				    <p class="item web-paddingtb5" style="margin:0px;padding:0px;border:0px;">
				       <span class="item-note"><i class="icon ion-ios-star-outline web-ion-img1-2">&nbsp;152</i></span>
				      201501100000
				    </p>
				  </div>
			  </div>
			  <div style="width:100%;height:50px;"></div>
			</ion-content>
			<div class="tabs tabs-icon-top tabs-color-positive">
				  <a class="tab-item" href="#/index">
				    <i class="icon ion-home"></i>
				    首页
				  </a>
				  <a class="tab-item" href="#/group">
				    <i class="icon ion-android-contacts"></i>
				    圈子
				  </a>
				  <a class="tab-item active" href="#/knowledge">
				    <i class="icon ion-social-buffer"></i>
				    知识
				  </a>
				  <a class="tab-item" href="#/center">
				    <i class="icon ion-android-contact"></i>
				    我的
				  </a>
			</div>
		</ion-pane>
</ion-view>