<ion-view>
	<ion-pane>
		<ion-header-bar class="bar bar-header">
			<button class="button button-clear button-positive" ng-click="jumpGoBack()">  
                <i class="icon icon-left ion-ios-arrow-back"></i>  
            </button>
			<h1 class="title">法律资讯</h1>
		</ion-header-bar>
		
		<ion-content>
	   		<form id="search_form">
				<div class="item item-input-inset web-body">
					<div class="item-input-wrapper">
				    	<input name="q" type="search" placeholder="搜索你想要的内容" class="search">
				    	<i class="icon ion-search placeholder-icon" ng-click="search()"></i>
					</div>
				</div>
			</form>
			<ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
			<ion-list>
	        	<ion-item class="item" ng-repeat="knowledge in knowledges" ng-href="#/knowknowledgesview/{{knowledge.id}}">
		          	<img class="full-image" ng-src="{{knowledge.img}}" style="max-height:150px;">
					<h2> {{knowledge.title}}</h2>
				    <p class="web-paddingtb5" style="margin:0px;">
				      律团
				    </p>
				    <p class="item web-paddingtb5" style="margin:0px;padding:0px;border:0px;">
				       <span class="item-note"><i class="icon ion-ios-star-outline web-ion-img1-2">&nbsp;{{knowledge.views_count}}</i></span>
				      {{knowledge.created_at}}
				    </p>
		       
		        </ion-item>
	         </ion-list>
			<ion-infinite-scroll pulling-text="上拉加载" ng-if="moredata" on-infinite="loadMore()" distance="1%"> </ion-infinite-scroll>

	    </ion-content>
	</ion-pane>
</ion-view>