<ion-view view-title="法律资讯">
	<ion-pane>
		<ion-header-bar class="bar bar-header">
			<a class="button button-icon  button-clear button-positive" onclick="history.go(-1);">
  				<img class="v-align" src="img/smallback.png"/>
  			</a>
			<h1 class="title">法律资讯</h1>
		</ion-header-bar>
		
		<ion-content>
			<div class="item item-input-inset web-body">
			    <label class="item-input-wrapper" style="background-color:#ffffff;">
			    	<i class="icon ion-android-search"></i>&nbsp;
			        <input type="text" placeholder="请输入你感兴趣的内容">
			    </label>
			</div>
			
			<ion-list>
            	<ion-item><!-- ng-href="#/lawyer" -->
		          	<img class="full-image" height="200" src="img/smallback.png"/>
					<h2>法律资讯</h2>
				    <p class="content">
				      图文咨询：￥30.00/次(24小时内有效，不限条数)图文咨询：￥30.00/次(24小时内有效，不限条数)次(24小时内有效，不限条数)
				    </p>
				    <p>律团</p>
				    <p>
				      <a href="#" class="subdued">2015-10-14 18:45:47</a>
				      <a href="#" class="subdued icon icon-left ion-star rig">法律资讯</a>
				    </p>
		        </ion-item>
	         </ion-list>
		</ion-content>
	</ion-pane>
</ion-view>