<ion-view view-title="律团联盟">
	<ion-pane>
		<ion-header-bar class="bar bar-header">
			<a class="button icon-left ion-chevron-left button-clear button-positive button-small ion-ios-arrow-back" ng-click="jumpGoBack()"></a>
			<h1 class="title">律团联盟</h1>
			<a class="button icon-right button-clear">深圳<i class="icon ion-arrow-down-b"></i></a>
		</ion-header-bar>
		<ion-content>
			<div class="list bb">
				<div class="item item-thumbnail-left">
					<img ng-src="{{union.avatar}}" alt="{{union.name}}" />
					<div class="p30-title">{{union.name}}</div>
					<p>地址：{{union.address}}</p>
					<p>邮箱：{{union.email}}</p>
					<p>编号：{{union.postcode}}</p>
				</div>
				<div class="item">
					<p class="contents">{{union.introduction}}</p>
				</div>
				
			</div>
		</ion-content>
	</ion-pane>
</ion-view>