<ion-view hide-tabs="true" view-title="付款">
	<ion-pane>
		<ion-header-bar class="bar bar-header">
			<a class="button button-icon  button-clear button-positive" onclick="history.go(-1);">
  				<img class="v-align" src="img/smallback.png"/>
  			</a>
			<h1 class="title">付款</h1>
		</ion-header-bar>
		<ion-content>
				<ion-list>
	            	<ion-item class="item" style="padding:16px 0;">
		            	<div class="row">
		            		<div class="col col-20"><img ng-src="img/pay.png" width="40" height="40" /></div>
		            		<div class="col col-60">
		            			xx咨询<br>
		            			24小时内有效，不限条数
		            		</div>
		            		<div class="col col-20">
		            			50 元/次
		            		</div>
		            	</div>
			        </ion-item>
		        </ion-list>
		        <div class="item item-divider">
		          选择支付方式
		        </div>
				<ion-list>
	            	<ion-item class="item" style="padding:16px 0;">
		            	<div class="row">
		            		<div class="col col-20"><img ng-src="img/pay.png" width="40" height="40" /></div>
		            		<div class="col col-60">
		            			微信宝支付<br>
		            			推荐安装支付宝钱包用户使用
		            		</div>
		            		<div class="col col-20">
		            			<label class="checkbox" style="float: right;">
					          		<input type="radio" value="" name="name" ng-model="isCheck" ng-true-value=""  ng-false-value="false"  ng-change="checkItem(isCheck)" >
					          	</label>
		            		</div>
		            	</div>
			        </ion-item>
			        <ion-item class="item" style="padding:16px 0;">
		            	<div class="row">
		            		<div class="col col-20"><img ng-src="img/pay.png" width="40" height="40" /></div>
		            		<div class="col col-60">
		            			支付宝支付<br>
		            			推荐安装支付宝钱包用户使用
		            		</div>
		            		<div class="col col-20">
		            			<label class="checkbox" style="float: right;">
					          		<input type="radio" value="" name="name" ng-model="isCheck" ng-true-value=""  ng-false-value="false"  ng-change="checkItem(isCheck)" >
					          	</label>
		            		</div>
		            	</div>
			        </ion-item>
		        </ion-list>
				<div>
					<button class="button button-block button-positive web-wid8c web-top10" type="submit" ng-disabled="myForm.$invalid" ng-click="pay()">支付</button>
				</div>
				
			</ion-content>
	</ion-pane>
</ion-view>