<ion-view hide-tabs>
	<ion-pane class="web-body">
		<ion-header-bar align-title="center" class="bar bar-header bar-light">
			<a class="button icon-left ion-chevron-left button-clear button-positive button-small ion-ios-arrow-back" ng-click="jumpGoBack()"></a>
			<h1 class="title">支付</h1>
		</ion-header-bar>
		<ion-content>
			<form name="myForm" ng-controller="payCtrl">
				<ion-list>
	            	<ion-item class="item" style="border-color: #fff;">
		            	<div class="row">
		            		<div class="col">
		            			{{item.type}}
		            			<br>
		            			<label>24小时内有效，不限条数</label>
		            		</div>
		            		<div class="col col-30">
		            			￥ {{item.price}}
		            		</div>
		            	</div>
			        </ion-item>
		        </ion-list>
		        <div class="item item-divider" style="padding:12px 16px;border-color: #fff;">
		          选择支付方式
		        </div>
				<ion-list>
	            	<ion-item style="border-color: #fff;">
		            	<div class="row row-no-padding padding_bottom16">
		            		<div class="col col-center"><img src="../img/weixinbg.png" style="width: 80%"></div>
		            		<div class="col col-70 col-center">微信支付</div>
		            		<div class="col col-center">
		            			<label class="checkbox" style="float: right;">
					          		<input type="radio" name="name" ng-model="user.radioval" value="weixin">
					          	</label>
		            		</div>
		            	</div>
		            	<div class="row row-no-padding padding_bottom16">
		            		<div class="col col-center"><img src="../img/qianbao.png" style="width: 80%"></div>
		            		<div class="col col-70 col-center">
		            			律团余额({{mymoney}}元)<label style="font-size: 12px;" ng-if="mymoney == 0">(余额不足)</label>
		            		</div>
		            		<div class="col col-center">
		            			<label class="checkbox" style="float: right;">
					          		<input type="radio" name="name" ng-model="user.radioval" value="qianbao">
					          	</label>
		            		</div>
		            	</div>
			        </ion-item>
		        </ion-list>
				<div>
					<button class="button button-block button-positive web-wid8c web-top10" type="submit" ng-click="pay(user)">支付</button>
				</div>
			</form>
		</ion-content>
	</ion-pane>
</ion-view>