<div class="modal modal-win">
	<ion-header-bar align-title="center">
		  <h1 class="title">分享到</h1>
	</ion-header-bar>
	<ion-content>
		  <div class="list">
		  	<div class="item item-text-wrap">
		  		分享您的邀请码<span class="fc-red">2wk4</span>给你的朋友，只需等待您的好友注册后，优惠码（积分）肌肤即可向您发出。
		  	</div>
		  	<div class="item tabs tabs-icon-top">
		  		<a href="#" class="tab-item">
			  		<i class="icon ion-thumbsup"></i>
			  		微信好友		  			
		  		</a>
		  		<a href="#" class="tab-item">
			  		<i class="icon ion-thumbsup"></i>
			  		微信好友		  			
		  		</a>
		  		<a href="#" class="tab-item">
			  		<i class="icon ion-thumbsup"></i>
			  		微信好友		  			
		  		</a>
		  	</div>
		  </div>
	</ion-content>
</div>