<ion-view view-title="人才交流">
		<ion-pane>
			<ion-header-bar class="bar bar-header">
				<a class="button icon-left ion-chevron-left button-clear button-positive button-small ion-ios-arrow-back" onclick="history.go(-1);"></a>
				<h1 class="title">人才交流</h1>
				<a class="button icon-right button-clear">深圳<i class="icon ion-arrow-down-b"></i></a>
			</ion-header-bar>
			<ion-content>

				<div class="list">
					<div class="item row" ng-repeat="position in positions" style="padding:10px 5px;">
						<div class="col-15">
							<label class="checkbox"> <!-- checked="" -->
				             	<input type="checkbox">
				            </label>
				        </div>
						<div class="col-85">
							<h2><a ng-href="#/talentview/{{position.id}}">{{position.title}}</a></h2>
							<p>
								<label>{{position.created_at}}</label>
								<label>{{position.company_address}}</label>
								<label>人数：{{position.position_count}}人</label>
							</p>
						</div>
					</div>
				</div>
			</ion-content>
			<div class="tabs tabs-icon-top tabs-color-positive">
				  <a class="tab-item" href="#">
				    <i class="icon ion-home"></i>
				    收藏
				  </a>
				  <a class="tab-item" href="#">
				    <i class="icon ion-android-contacts"></i>
				   	分享
				  </a>
				  <a class="tab-item" href="#">
				    <i class="icon ion-social-buffer"></i>
				    申请职位
				  </a>
			</div>
		</ion-pane>
</ion-view>