<ion-view view-title="人才交流">
		<ion-pane>
			<ion-header-bar class="bar bar-header">
				<a class="button button-icon  button-clear button-positive" onclick="history.go(-1);">
      				<img class="v-align" src="img/smallback.png"/>
      			</a>
				<h1 class="title">人才交流</h1>
				<a class="button icon-right button-clear">深圳<i class="icon ion-arrow-down-b"></i></a>
			</ion-header-bar>
			<ion-content>
				<div class="list">
					<div class="item row">
						<div class="col-10"><input type="checkbox" value="" /></div>
						<div class="col-90">
							<h2>律师助理</h2>
							<p>
								<label>2015/08/04</label>
								<label>深圳福田区</label>
								<label>27</label>
							</p>
						</div>
					</div>
					<div class="item row">
						<div class="col-10"><input type="checkbox" value="" /></div>
						<div class="col-90">
							<h2>律师助理</h2>
							<p>
								<label>2015/08/04</label>
								<label>深圳福田区</label>
								<label>27</label>
							</p>
						</div>
					</div>
				</div>
			</ion-content>
			
		</ion-pane>
</ion-view>