<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/user_center.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/login.js"></script>
  </head>
  <body ng-app="starter">

    <ion-pane>
      <ion-header-bar class="bar bar-header bar-light">	
        <h1 class="title">我的律师团</h1>
        <!--<button class="button icon-right ion-chevron-right button-clear button-positive button-small"></button>-->
        <div class="button button-large button-clear">
        	<div class="list">
        		<label class="item item-input item-select item-borderless">
					<div class="input-label">深圳</div>
					<select>
					  <option>北京</option>
					  <option selected>深圳</option>
					  <option>广州</option>
					  <option>上海</option>
					</select>
				</label>   
        	</div>
			     	
        </div>

      </ion-header-bar>
      <ion-content>
      	<div class="bar bar-header item-input-inset">
		  <label class="item-input-wrapper">
		    <i class="icon ion-ios7-search placeholder-icon"></i>
		    <input type="search" placeholder="Search">
		  </label>
		  <button class="button button-clear">
		    Cancel
		  </button>
		</div>
		<div class="list card">
			<div class="item-image">
			    <img ng-src="img/ionic.png">
			</div>
		</div>
		
		
    	<div class="list">
		<div class="item item-divider">
			
		</div>
		<div class="row">
			<div class="col col-50 list">
				<a class="item item-avatar" href="#">
			      <img ng-src="img/ionic.png">
			      <h2>问律师</h2>
			      <p>资深律师解答</p>
			    </a>
			</div>
			<div class="col col-50 list">
				<a class="item item-avatar" href="#">
			      <img ng-src="img/ionic.png">
			      <h2>找律师</h2>
			      <p>6万位律师为你服务。</p>
			    </a>
			</div>
		</div>
		<div class="item item-divider">
			
		</div>
		<div class="item item-borderless">
			<div class="tabs tabs-icon-top button button-bar button-clear">
			    <a class="tab-item" href="#">
			      <i class="icon ion-home"></i>
			      首页
			    </a>
			    <a class="tab-item" href="#">
			      <i class="icon ion-person-stalker"></i>
			      律圈
			    </a>
			    <a class="tab-item" href="#">
			      <i class="icon ion-ios-book"></i>
			      知识
			    </a>
			    <a class="tab-item" href="#">
			      <i class="icon ion-person"></i>
			      我的
			    </a>			    
			</div>
			
		</div>
		<div class="item item-borderless">
			<div class="tabs tabs-icon-top button button-bar button-clear">
			    <a class="tab-item" href="#">
			      <i class="icon ion-home"></i>
			      首页
			    </a>
			    <a class="tab-item" href="#">
			      <i class="icon ion-person-stalker"></i>
			      律圈
			    </a>
			    <a class="tab-item" href="#">
			      <i class="icon ion-ios-book"></i>
			      知识
			    </a>
			    <a class="tab-item" href="#">
			      <i class="icon ion-person"></i>
			      我的
			    </a>			    
			</div>
			
		</div>
		
		<div class="item item-divider">
			金牌律师推荐
		</div>
		
			<a class="item item-thumbnail-left" href="#">
		      <img ng-src="img/ionic.png">
		      <h2>王律师 高级律师</h2>
		      <p>擅长领域：xxxx,xxxxx,xxxxx
		      	<br>所在区域：xxxxxxxxx
		      	<br>
	      		<span>177</span><span>32</span><span>120</span>
		      </p>
		    </a>
		
			<a class="item item-thumbnail-left" href="#">
		      <img ng-src="img/ionic.png">
		      <h2>王律师 高级律师</h2>
		      <p>擅长领域：xxxx,xxxxx,xxxxx
		      	<br>所在区域：xxxxxxxxx
		      	<br>
	      		<span>177</span><span>32</span><span>120</span>
		      </p>
		    </a>
		
			<a class="item item-thumbnail-left" href="#">
		      <img ng-src="img/ionic.png">
		      <h2>王律师 高级律师</h2>
		      <p>擅长领域：xxxx,xxxxx,xxxxx
		      	<br>所在区域：xxxxxxxxx
		      	<br>
	      		<span>177</span><span>32</span><span>120</span>
		      </p>
		    </a>
		
		
	</div>
      </ion-content>
      
	<!--<div class="bar bar-footer">
		<div class="tabs tabs-icon-top">
		    <a class="tab-item tab-item-active" href="#">
		      <i class="icon ion-home"></i>
		      首页
		    </a>
		    <a class="tab-item" href="#">
		      <i class="icon ion-person-stalker"></i>
		      律圈
		    </a>
		    <a class="tab-item" href="#">
		      <i class="icon ion-ios-book"></i>
		      知识
		    </a>
		    <a class="tab-item" href="#">
		      <i class="icon ion-person"></i>
		      我的
		    </a>
		</div>
	</div>-->
		<ion-footer-bar align-title="left" class="bar-default">
		  <div class="tabs tabs-icon-top">
		    <a class="tab-item tab-item-active" href="#">
		      <i class="icon ion-home"></i>
		      首页
		    </a>
		    <a class="tab-item" href="#">
		      <i class="icon ion-person-stalker"></i>
		      律圈
		    </a>
		    <a class="tab-item" href="#">
		      <i class="icon ion-ios-book"></i>
		      知识
		    </a>
		    <a class="tab-item" href="#">
		      <i class="icon ion-person"></i>
		      我的
		    </a>
		</div>
		</ion-footer-bar>
    </ion-pane>
  </body>
</html>
