<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
		<title></title>
		<link href="lib/ionic/css/ionic.css" rel="stylesheet">
		<link href="css/webconment.css" rel="stylesheet">
		<script src="lib/ionic/js/ionic.bundle.js"></script>
		<script src="cordova.js"></script>
		<script src="js/web120.js"></script>
	</head>
	<body ng-app="web120" class="web-body">
		<ion-pane  class="web-body">
			<ion-header-bar class="bar bar-header bar-light">
				<h1 class="title">所在地区</h1>
			</ion-header-bar>
			<ion-content class="web-body web-top10">
				<div class="list web-bottom0">
				  <label class="item item-input web-paddingtb0">
				    <i class="button button-clear web-button-clearlineh30 icon ion-search placeholder-icon"></i>
				    <input type="text" placeholder="Search">
				  </label>
				</div>
				<h4 class="title web-title web-fc666">定位地址</h4>
				<ul class="list web-bottom0">
					  <li class="item web-paddingtb10">深圳</li>
				</ul>
				<h4 class="title web-title web-fc666">热门地址</h4>
				<ul class="list web-bottom0">
					  <li class="item web-paddingtb10">上海</li>
					  <li class="item web-paddingtb10">北京</li>
					  <li class="item web-paddingtb10">广东</li>
				</ul>
				<ul class="list web-bottom0">
					 <li class="item item-divider  web-paddingtb10">A</li>
					  <li class="item  web-paddingtb10">安徽</li>
					  <li class="item item-divider  web-paddingtb10">B</li>
					  <li class="item  web-paddingtb10">北京</li>
				</ul>
			</ion-content>
		</ion-pane>
	</body>
</html>