<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
		<title></title>
		<link href="lib/ionic/css/ionic.css" rel="stylesheet">
		<link href="css/webconment.css" rel="stylesheet">
		<script src="lib/ionic/js/ionic.bundle.js"></script>
		<script src="cordova.js"></script>
		<script src="js/web125.js"></script>
	</head>
	<body ng-app="web125" class="web-body">
		<ion-pane  class="web-body">
			<ion-header-bar class="bar bar-header bar-light">
				<a class="button icon-left ion-chevron-left button-clear button-positive button-small ion-ios-arrow-back "onclick="history.go(-1);"></a>
				<h1 class="title">工作经历</h1>
				<button class="button button-clear icon-right button-positive web-fts15">保存</button>
			</ion-header-bar>
			<ion-content class="web-body web-top10 ">
				<div class="list">
				  <label class="item item-input web-padd-right16 web-fts15 item-input-wrapper">
				    <textarea class="web_height200" placeholder="请填写您的工作经历"></textarea>
				  </label>
				</div>
			</ion-content>
			
		</ion-pane>
	</body>
<script type="text/javascript">
</script>
</html>