<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
		<title></title>
		<link href="lib/ionic/css/ionic.css" rel="stylesheet">
		<link href="css/webconment.css" rel="stylesheet">
		<script src="lib/ionic/js/ionic.bundle.js"></script>
		<script src="cordova.js"></script>
		<script src="js/web49.js"></script>
	</head>
	<body ng-app="web49" class="web-body">
		<ion-pane  class="web-body">
			<ion-header-bar class="bar bar-header bar-light">
				<a class="button icon-left ion-chevron-left button-clear button-positive button-small ion-ios-arrow-back" onclick="history.go(-1);"></a>
				<h1 class="title">我的咨询</h1>
			</ion-header-bar>
			<ion-content class="web-body web-top10 ">
				<div class="button-bar web-bodywhite web-borderbottom1">
				   <a class="button button-clear web-fintc37 web-font14" href="web40.html">待受理</a>
				   <a class="button button-clear web-fintc37 web-font14" href="web42.html">已受理</a>
				   <a class="button button-clear web-fintc37 web-font14" href="web44.html">处理中</a>
				   <a class="button button-clear web-fintc37 web-font14" href="web46.html">待确认</a>
				   <a class="button button-clear web-fintc37 web-font14 web-borderbottom2" href="web49.html">已完成</a>
				</div>
				<div class="button-bar web-bodywhite web-borderbottom1">
				   <a class="button button-clear web-button-clearlineh30 web-font14 web-fintc37 web-borderbottom2" href="web49.html">咨询详情</a>
				   <a class="button button-clear web-button-clearlineh30 web-font14 web-fintc37" href="web50.html">在线交互</a>
				   <a class="button button-clear web-button-clearlineh30 web-font14 web-fintc37" href="web51.html">过程记录</a>
				</div>
				
				<div class="list web-top10">
				  <a class="item web-itemheight45 web-paddingleft55 item-avatar" href="#">
				      <img src="img/icon-header.png" class="web-listimg">
				      <p class="web-listtext">本次服务已结束</p>
				    </a>
				</div>
				<div class="list web-top10 web-bottom0 web-item-botb0">
				  <div style="height:70px;padding-left:16px;" class="item web-itemheight45 web-item-botb0 item-avatar">
				      <p class="web-listtext web-fc000">服务评分</p>
				      <p class="web-listtext web-fc666" style="font-size:14px;margin-top:5px;">
				      	<i class="icon ion-star"></i>
				      	<i class="icon ion-star"></i>
				      	<i class="icon ion-star"></i>
				      	<i class="icon ion-star"></i>
				      	<i class="icon ion-star"></i>
				      </p>
				    </div>
				</div>
				<ul class="list web-bottom0 web-item-topb0">
				  <li class="item web-paddingtb5 web-font14 web-fc666 web-item-botb0">
				    免费咨询
				  </li>
				  <li class="item web-paddingtb10 web-fc000 web-item-topb0">
				    房产纠纷
				  </li>
				<li class="item web-paddingtb5 web-font14 web-fc666 web-item-botb0">
				    受理律师所
				  </li>
				  <li class="item web-paddingtb10 web-fc000 web-item-topb0 web-item-botb0">
				    深圳市浩盛律师事务所
				  </li>
				  <li class="item item-icon-right web-item-topb0">
				      <p class="web-fc666 web-font14">受理律师</p>
				      <p class="web-fc000">苏小芬</p>
				      <i class="icon ion-ios-arrow-right"></i>
				  </li>
				 <li class="item item-icon-right">
				      <p class="web-fc666 web-font14">受理时间</p>
				      <p class="web-fc000">2014/12/13 11:32 33</p>
				  </li>
				  <li class="item item-icon-right">
				      <p class="web-fc666 web-font14">问题描述</p>
				      <p class="web-fc000 web-breakall">客户和中介私自客户和中介私自客户和中介私自客户和中介私自</p>
				  </li>
				</ul>
				
			</ion-content>
		</ion-pane>
	</body>
</html>