<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
		<title></title>
		<link href="lib/ionic/css/ionic.css" rel="stylesheet">
		<link href="css/webconment.css" rel="stylesheet">
		<script src="lib/ionic/js/ionic.bundle.js"></script>
		<script src="cordova.js"></script>
		<script src="js/web100.js"></script>
	</head>
	<body ng-app="web100" class="web-body">
		<ion-pane  class="web-body">
			<ion-header-bar class="bar bar-header bar-light">
				<a class="button icon-left ion-chevron-left button-clear button-positive button-small ion-ios-arrow-back" onclick="history.go(-1);"></a>
				<h1 class="title">法律讲堂</h1>
			</ion-header-bar>
			<ion-content class="web-body web-top10">
				<div class="basekong40"></div>
				<img src="img/icon-header.png" style="width:60px;height:60px;border-radius:60px;margin:0px auto;display: block;" />
				<div class="basekong5"></div>
				<p class="basetit20">正在开发中<br />敬请期待(第二期)...</p>
			</ion-content>
		</ion-pane>
	</body>
</html>