<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
		<title></title>
		<link href="lib/ionic/css/ionic.css" rel="stylesheet">
		<link href="css/webconment.css" rel="stylesheet">
		<script src="lib/ionic/js/ionic.bundle.js"></script>
		<script src="cordova.js"></script>
		<script src="js/web82.js"></script>
	</head>
	<body ng-app="web82" class="web-body">
		<ion-pane  class="web-body">
			<ion-header-bar class="bar bar-header bar-light">
				<a class="button icon-left ion-chevron-left button-clear button-positive button-small ion-ios-arrow-back" onclick="history.go(-1);"></a>
				<h1 class="title">律圏</h1>
			</ion-header-bar>
			<ion-content class="web-body web-top10 ">
				<div class="button-bar web-bodywhite web-borderbottom1">
				   <a class="button button-clear web-padding0 web-fintc37" href="web81.html">圈子</a>
				   <a class="button button-clear web-padding0 web-fintc37 web-borderbottom2" href="web82.html">广播</a>
				   <a class="button button-clear web-padding0 web-fintc37" href="web83.html">关注</a>
				</div>
				<div style="width:100%;height:10px;clear:both;"></div>
				<div class="list" onclick="location.href='web85.html'">
				  <div class="item web-paddingtb0" style="padding-left:55px;height:30px;line-height:30px;border-bottom:0px;">
				    <span class="web-spant">08</span>
				    广播广播广播广播广播广播广播广播广播广播广播广播广播广播广播广播
				  </div>
				  <div class="item web-paddingtb0" style="padding-left:55px;height:30px;line-height:30px;border-top:0px;">
				    <span class="web-spant" style="font-size:16px;border-top:0px;">7月</span>
				    12:18
				  </div>
				  <div class="item web-paddingtb0" style="padding-left:55px;height:30px;line-height:30px;border-top:0px;color:#767676;">
				    <i class="icon ion-compose web-ion-img1-2" style="float:right;margin-right:5px;font-size:12px;">&nbsp;</i>
				    <i class="icon ion-heart web-ion-img1-2" style="float:right;margin-right:5px;font-size:12px;">&nbsp;17</i>
				    <i class="icon ion-chatbubble web-ion-img1-2" style="float:right;margin-right:5px;font-size:12px;">&nbsp;32</i>
				  </div>
				  <div class="item web-item web-paddingtb5 web-font14 web-item-topb0 web-item-botb0" style="color:#f00;">
				    <i class="icon ion-heart"></i>
				    <span style="color:#35A9F2;">广播广播广播广播广播广播</span>
				  </div>
				  <div class="item web-item web-paddingtb5 web-font14 web-item-topb0 web-item-botb0">
				    全部评论
				  </div>
				  <div class="item web-item web-paddingtb5 web-font14 web-item-topb0 web-item-botb0">
				    <span style="color:#35A9F2;">广播广&nbsp;:&nbsp;</span>广播广广播广
				  </div>
				</div>
				
				<div class="list">
				  <a class="item item-icon-right"  style="background:none;border:0px;background-color:#24A3F1;min-width:40px;padding:0px; width:40px;height:40px;float:right;margin-right:10px;border-radius:25px;" href="#">
				    <span class="item-note" style="color:#ffffff;margin-left:20px;"><i class="icon ion-compose web-ion-compose"></i></span>
				  </a>
				</div>
				<div class="basekong50"></div>
			</ion-content>
			
			<div class="tabs tabs-icon-top tabs-color-positive">
				  <a class="tab-item" href="web2.html">
				    <i class="icon ion-home"></i>
				    首页
				  </a>
				  <a class="tab-item active" href="web81.html">
				    <i class="icon ion-android-contacts"></i>
				    律圈
				  </a>
				  <a class="tab-item" href="web87.html">
				    <i class="icon ion-social-buffer"></i>
				    知识
				  </a>
				  <a class="tab-item" href="web117.html">
				    <i class="icon ion-android-contact"></i>
				    我的
				  </a>
			</div>
		</ion-pane>
	</body>
</html>