<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
		<title></title>
		<link href="lib/ionic/css/ionic.css" rel="stylesheet">
		<link href="css/webconment.css" rel="stylesheet">
		<script src="lib/ionic/js/ionic.bundle.js"></script>
		<script src="cordova.js"></script>
		<script src="js/web117.js"></script>
	</head>
	<body ng-app="web117" class="web-body">
		<ion-pane  class="web-body">
			<ion-header-bar class="bar bar-header bar-light">
				<h1 class="title">我的</h1>
			</ion-header-bar>
			<ion-content class="web-body web-top10 ">
				<div class="list">
				    <a class="item item-thumbnail-left item-icon-right">
				      <img src="img/web_header.png">
				      <h2 class="web-top10">令狐冲  <span class="web-font14">律师</span></h2>
				      <p  class="web-top5">1388******8000</p>
				      <img onclick="location.href='web115.html'" src="img/web_person002.png" style="width:20px;height:18px;float:right;margin-right:-18px;" />
				    </a>
				</div>
				
				<div class="list">
					  <a class="item" href="web96.html">
					    <img src="img/web_person110.png" style="width:20px;height:20px;float:left;margin-top:1px;margin-right:5px;" />
					    我的资料
					  </a>
					  <a class="item" href="web113.html">
					    <img src="img/web_person003.png" style="width:20px;height:20px;float:left;margin-top:1px;margin-right:5px;" />
					    我的积分
					  </a>
					  <a class="item" href="web114.html">
					    <img src="img/web_person004.png" style="width:20px;height:20px;float:left;margin-top:1px;margin-right:5px;" />
					    我的收藏
					  </a>
					  <a class="item" href="#">
					    <img src="img/web_person005.png" style="width:20px;height:20px;float:left;margin-top:1px;margin-right:5px;" />
					    邀请好友
					  </a>
					  <a class="item" href="web104.html">
					    <img src="img/web_person006.png" style="width:20px;height:20px;float:left;margin-top:1px;margin-right:5px;" />
					    关于律团
					  </a>
					  <a class="item" href="web110.html">
					    <img src="img/web_person007.png" style="width:20px;height:20px;float:left;margin-top:1px;margin-right:5px;" />
					    设置
					  </a>
				
				</div>
				<div style="width:100%;height:50px;clear:both;"></div>
			</ion-content>
			<div class="tabs tabs-icon-top">
				  <a class="tab-item">
				    <i class="icon ion-home"></i>
				    首页
				  </a>
				  <a class="tab-item">
				    <i class="icon ion-android-people"></i>
				    律圈
				  </a>
				  <a class="tab-item">
				    <i class="icon ion-android-globe"></i>
				    知识
				  </a>
				  <a class="tab-item">
				    <i class="icon ion-android-person"></i>
				    我的
				  </a>
				</div>
		</ion-pane>
	</body>
</html>