<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
		<title></title>
		<link href="lib/ionic/css/ionic.css" rel="stylesheet">
		<link href="css/webconment.css" rel="stylesheet">
		<script src="lib/ionic/js/ionic.bundle.js"></script>
		<script src="cordova.js"></script>
		<script src="js/web93.js"></script>
	</head>
	<body ng-app="web93">
		<ion-pane class="web-body">
			<ion-header-bar class="bar bar-header bar-light">
				<a class="button icon-left ion-chevron-left button-clear button-positive button-small ion-ios-arrow-back" onclick="history.go(-1);"></a>
				<h1 class="title">知识</h1>
			</ion-header-bar>
			<ion-content class="web-body web-top10">
				<div class="button-bar web-bodywhite" style="border-top:1px solid #cccccc;border-bottom:1px solid #cccccc;">
				   <a class="button button-clear web-padding0 web-fintc37 web-font15" href="web87.html">法规</a>
				   <a class="button button-clear web-padding0 web-fintc37 web-font15" href="web94.html">文库</a>
				   <a class="button button-clear web-padding0 web-fintc37 web-font15 web-borderbottom2" href="web93.html">案例</a>
				</div>
				<div class="item item-input-inset web-body">
				    <label class="item-input-wrapper" style="background-color:#ffffff;color:#0050EF">
				    	<i class="icon ion-ios-search web-ion-img1-5" style="margin-top:3px;"></i>&nbsp;
				        <input type="text" placeholder="请输入法官，律师，案由，关健词...">
				    </label>
				</div>
				<div style="width:100%;height:10px;clear:both;"></div>
				<a class="button icon-right ion-ios-close-empty web-icon15 web-ion-img1-2" style="margin-left:10px;padding:5px 10px;min-height:15px;line-height:15px;">律师费</a>
				<a class="button icon-right ion-ios-close-empty web-icon15 web-ion-img1-2" style="margin-left:10px;padding:5px 10px;min-height:15px;line-height:15px;">律师费</a>
				<div style="width:100%;height:10px;clear:both;"></div>
				<div class="button-bar web-bodywhite" style="border-top:1px solid #cccccc;border-bottom:1px solid #cccccc;">
				   <a class="button button-clear web-padding0 web-fintc37 web-font15">相关性</a>
				   <a class="button button-clear web-padding0 web-fintc37 web-font15 web-borderbottom2">裁判日期</a>
				   <i class="icon ion-funnel web-ion-img2" style="color:#A5A5A5;margin-top:17px;margin-right:20px;margin-left:20px;"></i>
				</div>
				<div class="list web-top10">
				  <p class="item item-icon-right web-paddingtb5" style="color:#25A3F1;">
				    <span class="item-note"><i class="icon ion-ios-star-outline web-ion-img0-7"></i></span>
				    某某刑事案例定书
				  </p>
			      <p class="item item-icon-right web-paddingtb5 web-item-topb0">
				    某某刑事案例定书
				  </p>
				  <p class="item item-icon-right web-paddingtb0 web-item-topb0 web-font12 web-fc666">
				    2015-12-11 12:12
				  </p>
				  <p class="item item-icon-right web-paddingtb5 web-item-topb0" style="overflow: hidden;white-space: normal;padding-right:15px;">
				    某某刑事案例定书某某刑事案例定书某某刑事案例定书某某刑事案例定书某某刑事案例定书
				  </p>
			    </div>
			</ion-content>
			<div class="tabs tabs-icon-top tabs-color-positive">
				  <a class="tab-item" href="web2.html">
				    <i class="icon ion-home"></i>
				    首页
				  </a>
				  <a class="tab-item" href="web81.html">
				    <i class="icon ion-android-contacts"></i>
				    律圈
				  </a>
				  <a class="tab-item active" href="web87.html">
				    <i class="icon ion-social-buffer"></i>
				    知识
				  </a>
				  <a class="tab-item" href="web117.html">
				    <i class="icon ion-android-contact"></i>
				    我的
				  </a>
			</div>
		</ion-pane>
	</body>

</html>