<ion-view view-title="order-replied">
    <ion-content>

    	<ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
			<ion-list items ng-repeat="item in items">
	        	<ion-item class="item" >
		          	<span class="sp-l fc-33">{{item.order_status}}</span>
					<span class="sp-r fc-33">{{item.updated_at}}</span>
		        </ion-item>
		        <ion-item class="item" >
		          	<h2 class="fc-ee">免费咨询</h2>
					<p class="fc-33">{{item.product_name}}</p>
		        </ion-item>
		        <ion-item class="item item-text-wrap">
		          	<h2 class="fc-ee">问题描述</h2>
					<p class="fc-33">xxxxxx返回数据里面没有这个字段</p>
		        </ion-item>
	         </ion-list>
		<ion-infinite-scroll pulling-text="上拉加载" ng-if="moredata" on-infinite="loadMore()" distance="1%"> </ion-infinite-scroll>

    </ion-content>
</ion-view>