<ion-view hide-tabs view-title="咨询参考">
		<ion-pane>
			<ion-header-bar class="bar bar-header bar-light">
				<button class="button button-clear button-positive" ng-click="jumpGoBack()">  
	                <i class="icon icon-left ion-ios-arrow-back"></i>  
	            </button>
				<h1 class="title">咨询参考</h1>
			</ion-header-bar>
			<ion-content class="web-body web-top10 ">
				
				<div class="bar bar-header item-input-inset web-top10" style="background:none;border:0px;">
				  <label class="item-input-wrapper" style="background-color:#ffffff;border:1px solid #cccccc;padding:2px 3px">
				    <button class="button button-clear ion-ios-search" style="min-height:20px;line-height:20px;"></button>
				    <input type="search" placeholder="Search" style="height:20px;line-height:20px;">
				  </label>
				  <button class="button button-clear ion-funnel" style="min-height:20px;line-height:20px;"></button>
				</div>
				<div class="list list-inset web-top10 border-none web-margin0 web-body" >
					<div class="item web-paddinglr5 card item-borderless noboxshadow" style="margin-top:0px;margin-bottom:10px;">
						<div class="item item-button-right web-paddingtb14-5" style="border-bottom:0px;">
						   <a ng-href="#/queryreferdetail"> 咨询参考</a>
						</div>
						<div class="item item-avatar item-divider item-borderless" style="border-radius:2px;border:0px;">
						    <img ng-src="{{item.lcImgSrc}}">
						    <h2 class="fc-nan" style="color:#32A9F2;">咨询参考</h2>
						    <p>咨询参考<br />
						    	<span class="web-font12">咨询参考</span>
						    </p>
						</div>
						<a class="item item-icon-right web-padd-right40" style="border-top:0px;box-shadow: none;" href="web77.html">
						          点击查看全部
						    <i class="icon ion-ios-arrow-right"></i>
						</a>
					</div>
				</div>
			</ion-content>
		</ion-pane>
</ion-view>