<ion-view hide-Tabs="true" cache-view="false" view-title="打赏">
	<ion-pane>
		<ion-content>
				<div class="main" style="margin-top:20%;">
					<div style="text-align: center;">
						<p>
							<img style="max-width: 40px;max-height: 40px;width: 100%;height: 100%;border-radius: 50%;" src="http://www.runoob.com/try/demo_source/mcfly.jpg">
						</p>
						<p>陈刚律师</p>
					</div>

					<div style="width: 80%;margin: 0 auto;">
						<div class="item item-input">
						    <span class="input-label cb5b5b5" style="width: 15%;padding: 7px 10px 7px 10px;">￥</span>

						    <input class="main animated bounceInUp readonly" readonly="readonly" name="money" ng-model="money" type="number" value="{{money}}"  style="color: #b5b5b5;">
						    <span ng-click="mathRandom()" class="input-label" style="display: inline-block;width: 17%;padding: 7px 10px 7px 10px;"><img class="item-note" width="30" height="30" src="../img/sieve.png"></span>
						</div>
          </div>
	      </div>
	      <div style="background-color: #fff;padding:5px 10px;margin-top:50px;">
					<button class="button button-block button-cff2f5f" type="button"  ng-click="rewardsPlay()" >去打赏</button>
				</div>
		</ion-content>
	</ion-pane>
</ion-view>
