<ion-view view-title="问律师">
		<ion-pane>
			<ion-header-bar class="bar bar-header bar-light">
				<a class="button button-icon  button-clear button-positive" onclick="history.go(-1);">
      				<img class="v-align" src="img/smallback.png"/>
      			</a>
				<h1 class="title">问律师</h1>
			</ion-header-bar>
			<ion-content>
				<form id="questions_form" name="myForm" novalidate>

					<div class="ist-case-searchtype">	
						<select required ng-model="user.cat_id" ng-options="value.key as value.value for value in workscopes" style="width:100%;height:50px;line-height:50px;border: none;">
								<option value="">-- 请选择案例类型 --</option>
					    </select>
					</div>
					<div class="list">
						<label class="item item-input">
						  <input ng-model="user.title" name="title" type="text" placeholder="请输入标题" required>
						</label>
						<label class="item item-input">
				          <textarea ng-model="user.content" name="content" rows="10" placeholder="请输入问题" required></textarea>
				        </label>
					</div>
					<div class="padding">
						<button class="button button-block button-positive" type="submit" ng-disabled="myForm.$invalid" ng-click="submit(user)" />提交</button>
					</div>
				</form>

				<div class="item-divider txt-center fc-ee">看看其他人问了什么</div>
				
				<!--搜索你想要的内容-->
				<div class="item-input-inset">
					<div class="item-input-wrapper">
				    	<input type="search" placeholder="搜索你想要的内容" class="search">
				    	<i class="icon ion-search placeholder-icon" ng-click="search()"></i>
					</div>
					<button class="button button-icon ion-funnel button-clear"></button>
				</div>
				<hr />
				<!--评论-->
				<div class="list list-inset">
					<div ng-repeat="item in list_questions" class="item card item-borderless noboxshadow">
						<div class="item item-button-right">
						   <a ng-href="#/questionsview/{{item.id}}"> {{item.title}}</a>
						 <i class="button button-clear icon-right ion-ios-star-outline"></i>
						</div>
						
						<div ng-repeat="comment in item.comments|limitTo:1" class="item item-text-wrap item-avatar item-divider item-borderless">
						    <img ng-src="{{comment.owner.avatar}}">
						    <h2 class="fc-nan txt-fw">{{comment.owner.realname}}</h2>
						    <p>{{comment.content}}<br />
						    	{{comment.created_at}}
						    </p>
						</div>
					</div>
				</div>
				<ion-infinite-scroll pulling-text="上拉加载" ng-if="moredata" on-infinite="loadMore()" distance="1%"> </ion-infinite-scroll>

			</ion-content>
			
		</ion-pane>
</ion-view>