<style type="text/css">
	.textareacss.active{
		position: fixed;
		z-index: 9999;
		top: 50px;
	}
	.textareacss.inactive{
		position: static;
		top: auto;
	}
	
</style>
<ion-view hide-Tabs="true" cache-view="false" view-title="发布提问">
		<ion-pane>
			<ion-content>
				<form id="questions_form" name="myForm" novalidate ng-controller="questionsCtrl">
					<div class="row row-center row-no-padding" style="background-color: #fff;text-align: center;height: 45px;line-height: 45px;color:#7f7f7f;padding-bottom: 1px;box-shadow: 0 1px 3px rgba(0,0,0,.3);">
						<div class="col drop-down-arrow" style="border-right:1px solid #e5e5e5;text-align: center;" ng-click="toggle()">
							<label ng-if="!key">{{name}}</label>
							<label ng-if="key" class="c48b4ff">{{name}}</label>
						</div>
					</div>
					<div ng-hide="rgba" style="background-color: rgba(0,0,0,.1);position: fixed;top: 44px;left: 0;z-index: 10;width: 100%;height: 100%;"></div>
					
			        <ion-content class="scroll-content ionic-scroll baclass" ng-hide="visible" style="top:44px;">
			        	<div class="scroll" style="transform: translate3d(0px, 0px, 0px) scale(1);">
							<ul>
						  		<li ng-repeat="workscope in workscopes" ng-class="{ 'active':inShowscopes(workscope.key) }" ng-click="getval(workscope.key,workscope.value)">{{workscope.value}}</li>
						  	</ul>
				        </div>
				    </ion-content>
				    <div class="main">
					    <label class="item-input mb10">
						  <input ng-model="title" name="title" type="text" ng-minlength="2" ng-maxlength="30" placeholder="咨询标题：(2-30字)" required>
						</label>
						<label class="item-input mb10">
				          <!-- <textarea class="textareacss" ng-model="content" name="content" rows="10" placeholder="详情描述：(10-300字)" ng-minlength="10" ng-maxlength="300" required ></textarea> -->
				          <textarea class="textareacss" ng-class="{true: 'active', false: 'inactive'}[isActive]" ng-model="content" name="content" rows="10" placeholder="详情描述：(10-300字)" ng-minlength="10" ng-maxlength="300" required ng-focus="textfocus()" ng-blur="textblur()" ></textarea>
				        </label>

					</div>
					
					<div style="background-color: #fff;padding:5px 10px;margin-top:50px;">
						<button class="button button-block button-positive" style="border-radius: 10px;" ng-disabled="myForm.$invalid" ng-click="question_Submit()">提交</button>
					</div>
					<!-- <div style="background-color: #fff;padding:5px 10px;margin-top:50px;">
						<button class="button button-block button-positive" type="submit" ng-disabled="myForm.$invalid" ng-click="question_Submit()" >提交</button>
					</div> -->
				</form>
			</ion-content>
			
		</ion-pane>
</ion-view>