<ion-view hide-tabs view-title="问律师参考">
		<ion-pane>
			<ion-header-bar class="bar bar-header bar-light">
				<a class="button icon-left ion-chevron-left button-clear button-positive button-small ion-ios-arrow-back" ng-click="jumpGoBack()"></a>
				<h1 class="title">问律师参考</h1>
			</ion-header-bar>
			<ion-content>				
				<!--搜索你想要的内容-->
				<div class="item-input-inset">
					<div class="item-input-wrapper">
				    	<input type="search" placeholder="搜索你想要的内容" class="searchq">
				    	<i class="icon ion-search placeholder-icon" ng-click="search()"></i>
					</div>
				</div>
				
				<!--评论-->
				<ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
				<div class="list list-inset">
					<div class="item card item-borderless noboxshadow" ng-repeat="item in items">
						<div class="item item-button-right">
						   <a ng-href="#/questionsview/{{item.id}}">{{item.title}}</a>
						 <i class="button button-clear icon-right ion-ios-star-outline"></i>
						</div>
						<div ng-repeat="comment in item.comments|limitTo:1" class="item item-text-wrap item-avatar item-divider item-borderless item-mb">
						    <img ng-src="{{comment.owner.avatar}}">
						    <h2 class="fc-nan txt-fw">{{comment.owner.realname}}</h2>
						    <p>{{comment.content}}<br />
						    	{{comment.created_at}}
						    </p>
						</div>
					</div>
				</div>
				<ion-infinite-scroll pulling-text="上拉加载" ng-if="moredata" on-infinite="loadMore()" distance="1%" immediate-check="false"> </ion-infinite-scroll>
			</ion-content>
		</ion-pane>

</ion-view>