<ion-view hide-tabs="true" view-title="免费咨询">
	<ion-pane>
		<ion-content>	
			<form id="searchForm" name="searchForm" ng-controller="questionslistsearchCtrl">
				<!--搜索你想要的内容  -->
			  	<div class="item-input-inset" style="border-radius: 10px;">
				  <label class="item-input-wrapper">
				  	<i class="icon ion-ios-search placeholder-icon"></i>
				    <input ng-model="q" type="search" name="q" placeholder="输入您要咨询的问题，搜索现有的答案" class="search" ng-model-options="{debounce:2000}" required >
				  </label>
				</div>

				
				<ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
				
				<div ng-if="nodata == false" class="nodate">
					<i class="nodate-iocn"></i><br>
					<label>暂无数据，请稍后再试</label>
				</div>
				
				<div class="card" ng-repeat="item in items" style="border-radius: 10px;">
				  <div class="item item-text-wrap">
				  	<h2><a ng-href="#/questionsview/{{item.id}}">{{item.title}}</a></h2>
				  	<p class="font12 mt10">
				  		<span class="subdued cb5b5b5">回答</span>
				  		<label class="cf7861e">10</label>
				  		<label class="cb5b5b5">·</label>
					  	<span class="subdued cb5b5b5">收藏</span>
					  	<label class="cf7861e">10</label>
					  	<span class="font12 cb5b5b5">{{item.created_at}}</span>
				  	</p>
				  </div>
				</div>
				<ion-infinite-scroll pulling-text="上拉加载" ng-if="moredata" on-infinite="loadMore()" distance="1%"> </ion-infinite-scroll>
			</form>
		</ion-content>
	</ion-pane>
</ion-view>