<ion-view>
        <ion-pane>
            <ion-header-bar class="bar bar-header bar-light headers">
                <a class="button icon-left ion-chevron-left button-clear button-positive button-small ion-ios-arrow-back" ng-href="#/questions"></a>
                <h1 class="title">咨询帮助</h1>
            </ion-header-bar>
            <ion-content class="help-content">
                <div class="item item-avatar">
                  <img src="../img/compass.png">
                  <h2>交易指南</h2>
                  <p class="contents">免费咨询：指律师对用户在律团网发布免费咨询事项，自愿无偿进行回复，解答问题，提供专业法律帮助。</p>
                </div>
                <div class="item item-avatar">
                  <img src="../img/pen.png">
                  <h2>用户填写咨询事项</h2>
                  <p class="contents">用户进入咨询填写界面，输入咨询标题，详细描述咨询内容，确认无误后发布咨询，等待律团网注册律师抢单。</p>
                </div>
                <div class="item item-avatar">
                  <img src="../img/reply.png">
                  <h2>律师回复</h2>
                  <p class="contents">律师抢单后，通过即时聊天与您进行沟通。</p>
                </div>
                <div class="item item-avatar">
                  <img src="../img/evaluate.png">
                  <h2>评价</h2>
                  <p class="contents">律师解答您的咨询后，您需要确认该咨询已经完成，对该律师的服务进行评价，评价完成后自愿对该律师进行送心意。</p>
                </div>
                <div class="item item-avatar">
                  <img src="../img/follow-up.png">
                  <h2>后续服务</h2>
                  <p class="contents">如您对该律师的解答比较认可，并希望其继续提供有偿服务，您可以点击该律师进入他的个人主页界面，选择其他服务项目，向其发布咨询请求。</p>
                </div>
            </ion-content>
        </ion-pane>
</ion-view>