<ion-view hide-Tabs="true" cache-view="false">
		<ion-pane>
			<ion-header-bar align-title="center" class="bar bar-header bar-light">
				<button class="button button-clear button-positive pull-left" ng-click="jumpGo('#/index')">  
	                <i class="icon icon-left ion-ios-arrow-back"></i>  
	            </button>
	            <button class="button button-clear pull-right" ng-click="jumpGo('#/question/list/search')">  
	                <i class="icon ion-ios-search-strong" style="color: #fff;"></i>
	            </button>
				<h1 class="title">问律师</h1>
			</ion-header-bar>
			<ion-content class="has-tabs">	
				<div ng-if="nodata == false" class="nodate">
					<i class="nodate-iocn"></i><br>
					<label>暂无数据！</label>
				</div>
		
				<!--评论-->
				<ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
				<div class="list">
					<a class="item" ng-repeat="item in items" ng-href="#/questionsview/{{item.id}}">
						<span>{{item.title}}</span>
						<span class="item-note">{{item.post_category}}</span>
						<br>
						<span style="color: #aaa;font-size: 14px;">{{item.lawyer.realname}} 律师</span>
						<span class="item-note">{{item.created_at}}</span>
					</a>
				</div>
				<ion-infinite-scroll pulling-text="上拉加载" ng-if="moredata" on-infinite="loadMore()" distance="1%"> </ion-infinite-scroll>
			</ion-content>
			<div class="tabs" style="background-color:#fff;height: 59px;">
				<div class="row" style="padding: 5px 5%;">
					<button class="button button-block button-positive" style="margin-top:-2px;margin-bottom:0;" ng-click="questions_btn()"><b>我要问律师</b></button>
				</div>
			</div>
		</ion-pane>

</ion-view>