<ion-view hide-Tabs="true" view-title="问律师参考">
		<ion-pane>
		<ion-header-bar class="bar bar-header bar-light">
				<a class="button icon-left ion-chevron-left button-clear button-positive button-small ion-ios-arrow-back" ng-click="jumpGoBack()"></a>
				<h1 class="title">问律师参考</h1>
			</ion-header-bar>
			<ion-content>
				<div class="item-divider divider-h"></div>
				<div class="item">
					<h2 class="fc-nan txt-fw">{{items.title}}</h2>
					<p class="content">{{items.content}}</p>
				    <p>
				    	<label>提问者：xxxxx</label>
				    	<label>提问时间：{{items.created_at}}</label>
				    </p>
				</div>
		
				<div class="item-divider dvd-title">你查找的律师类型：<span class="sp-blue">律师辩护</span>，共找到<span class="sp-blue">{{items.comments.length}}</span>位律师。</div>

				<ion-list ng-repeat="comment in items.comments">
	            	<ion-item class="item item-thumbnail-left">
			          	<img ng-src="{{comment.owner.avatar}}"/>
						<h4 class="fc-nan"><span class="sp-name">{{comment.owner.realname}}</span>律师类型</h4>
						<p class="content">{{comment.content}}</p>
						<p>{{comment.created_at}}</p>
			        </ion-item>
			        <div class="item-divider divider-h"></div>
		         </ion-list>
			</ion-content>
			
		</ion-pane>
</ion-view>