.scroll{
	background-color: #EEEEEE;
}
.item-input-wrapper{
	background-color: #FFFFFF;
}
.list{
	margin-top: auto;
	background-color: #EEEEEE;
}
.list .item{
	margin: 10px 0px;
	border: none;
}
.item-mb{
	margin-bottom: 3px;
}
.card{
	border: none;
}
.card .item:last-child, .list-inset .item:last-child {
    margin-bottom: 1em;
}
