.find-lawyer-item{
	margin: 3px 0px;
	padding: 0px;
	width:100%;
}
.find-lawyer-item-a{
	margin: 0px;
	padding: 0.5em 0 0 0.5em;
	vertical-align: middle;
	line-height: 2em;
	float: left;
}
.find-lawyer-item-b{
	margin: 0px;
	padding: 0.1em 0.5em;
	float: left;
	min-width: 40px;
	vertical-align: middle;
}
.find-lawyer-item-c{
	margin: 0px;
	padding: 0px;
	float: left;
}
.find-lawyer-item-b img{
	margin: 0px;
	padding: 0px;
	width:40px;
	height:40px;
}
.clear{
	clear:both;
}


.find-lawyer-item-b .item-title{
	margin: 0px;
	padding: 0px;
	/*width:100%;*/
}
.item-title .item-title-a{
	margin: 0px;
	padding: 0px;
	float: left;
	font-weight: bold;
	color: #333333;
	line-height: 1.5em;
}
.item-title .item-title-b{
	margin: 0px;
	padding: 0px;
	float: right;
	line-height: 1.5em;
	color: #333333;
}
.d-2em{
	line-height: 2em;
}
.item{
	margin: 0.5em 0px;
}

