.bdh{
	margin: 0px;
	margin-top: 10px;
	padding: 0px;
}
.bdh .bdh-a{
	width:50%;
	height:30px;
	float: left;
	text-align: center;
	border: 2px solid #FFFFFF;
	display: inline-block;
}
.bdh .bdh-b{
	width:50%;
	float:right;
	text-align:center;
	border: 2px solid #FFFFFF;
}
.bdh .bb-cn{
	border-bottom: 2px solid #32a9f2;
}
.tbg{
	height:10px;
	background-color: #EEEEEE;
}
.bd-list{
	margin: 0px;
	padding: 0px;
	width:100%;
	height:100%;
}
.bd-list .bd-item{
	margin: 5px;
	padding: 1em;
	min-width:6em;
	border: 1px solid #DDDDDD;
	text-align: center;
	float: left;
}
.bd-list .bd-item img{
	width:5em;
	height:6em;
	vertical-align: center;
}

.list-nomtb{
	margin-top: 0;
	margin-bottom: 0;
}
.icon-r-wn{
	transform:rotate(-45deg);
}
.list-case-searchtype{
	margin-bottom:0;
}
.list-case-type{
	margin-top: -1px;
}

