/* Empty. Add your own CSS if you like */
/*
 页面上所用的蓝色：#32a9f2
 页面所用的黑色字体：#333333
 页面上所用灰色字体是：#999999
 页面衬托用灰色底板：#eeeeee
 字体统一是：微软雅黑
 蓝色按钮上的字体为白色：#FFFFFF
 以像素分割线或者边框描边 #DDDDDD
 页面底色为纯白色 FFFFFF
 * */
body,
.ionic-body{
    font-family: "微软雅黑";
    color: #333333;
}
.scroll-content{
    background-color: #eee;
}
.content.bottom_50,.pane .bottom_50,.bottom_50{
    margin-bottom: 50px;
}
.item-input{
     padding: 6px 0 5px 0px;
}
.fc-33{
    color: #333333;
}
.fc-ee{
    color: #999999;
    
}
.item h2.fc-ee,.error{
    font-size: 14px;
}
.fc-red,.error,.item p.fc-red{
    color: #FF0000;
}
.button-border-left{
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: 1px solid #ddd!important;
}
.list-margin-top{
    margin-top: 19px;
}

.login2 .item{
    border: none;
}
.bg-man,.bg-clock,.bg-mobel{
    background-repeat: no-repeat;
    background-position: left;
    width: 30px;height: 22px;
    display: inline-block;
    }
.bg-man{
    background-image: url(../img/man.png);
    
}
.bg-mobel{
    background-image: url(../img/mobel.png);
}
.bg-clock{
    background-image: url(../img/clock.png);
}
.login2 .item{
    background-color: #EEEEEE;
}


/*----------*/
.nav-bar-title .idx-titleimg{
    height:2em;
    width:2em;
    vertical-align: middle;
}
.nav-bar-title{
    line-height: 2em;
    vertical-align: middle;
    font-size: x-large;
}
.right-buttons img,
.left-buttons img{
    height:2em;
    /*width:2em;*/
    vertical-align: middle;
}


.slider-pager .slider-pager-page{
    color:#32a9f2;
}

.search-main{
     width:100%;
     height:3em;
     position: absolute;
     left: 0px;
     top: 0px;
     margin: 25px auto 23px auto;
}
.item-search{
     margin:0px auto;
     width:90%;
}
.item .btn-srch{
    margin: 0px;
    padding: 0px;
    height:2em;
    width:2em;
}
.subtitle{
    margin: 10px auto;
    padding: 0px;
    background-color: #FFFFFF;
    overflow: hidden;
}
.subtitle .subtitle-a{
    min-width: 180px;
    width:50%;
    margin: 0px;
    padding: 0px;
    float: left;
    background-image: url(../img/14.png);
    background-repeat: no-repeat;
    background-position: 1em center;
    background-size: 3em 3em;
    text-align: center;
    text-indent: 4em;
}
.subtitle .subtitle-b{
    min-width: 180px;
    width:50%;
    margin: 0px;
    padding: 0px;
    float: left;
    background-image:url(../img/15.png);
    background-repeat: no-repeat;
    background-position: 1em center;
    background-size: 3em 3em;
    text-align: center;
    text-indent: 4em;
}
.clear{
    clear:both;
}
.clearfix:after {
    content:"\200B"; 
    display:block; 
    height:0; 
    clear:both; 
}
.clearfix { *zoom:1; }
.nav-swap{
    margin: 10px auto;
    padding: 0px;
    width:100%;
    background-color: #FFFFFF;
}
.nav-swap .n-swapmain{
    margin: 0px auto;
}
.nav-swap .n-main-item{
    float: left;
    text-align: center;
    width:25%;
}
.nav-swap .n-main-item img{
    width:80px;
    height:80px;
}


.icon-i img{
    width:30px;
    height:30px;    
}

/*login*/
a{
    text-decoration: none;
    color: #32a9f2;
}
a:link{
    text-decoration: none;
    color: #32a9f2;
}
a:visited{
    text-decoration: none;
    color: #32a9f2;
}
a:active{
    text-decoration: none;
    color: #32a9f2;
}
a:hover{
    text-decoration: none;
    color: #32a9f2;
}
.a-left{
    text-align: left;
}
.a-right{
    text-align: right;
}
.txt-align-c{
    text-align: center;
}
.bg-c-white{
    background-color: #FFFFFF;
}
.txt-c-99{
    color: #999999;
}
.fc-33{
    color: #333333;
}
.fc-ee{
    color: #999999;
}

.list-margin-top{
    margin-top: 19px;
}

.login-lbl-fc{
    display: inline-block;
    width: 30px;
    height: 22px;
    color: #999999;
}

.v-align{
    vertical-align: middle;
}
.smback-bg{
    vertical-align:center;
    background-image: url(../img/smallback.png);
    background-repeat: no-repeat;
    background-position: center;
}
.item .praise, .item .messages {
    display: inline-block;
    width: 10%;
    height: 2rem;
    margin: 0;
    margin-right: 10px;
}
.item .praise {
    background: url("../img/praise.png") left 0.5rem no-repeat;
    background-size: contain;
    vertical-align: text-bottom;
}
.item .messages {
    background: url("../img/messages.png") left 0.7rem no-repeat;
    background-size: contain;
    vertical-align: text-bottom;
}

.item p label{
    text-align: center;
    padding: 0.7rem 0.6rem 0 0;
    font-size: 12px;
}

.col-66 .praisea, .col-66 .collectiona, .col-66 .messagesa {
    float: left;
    width: 33%;
    height: 2.25rem;
    line-height: 2.25rem;
}
.col-66 a label, .col-66 i label {
    display: block;
    line-height: 2.25rem;
}
.col-66 .tpraisea {
    background: url("../img/praises.png") center center no-repeat;
    background-size: 37%;
}
.col-66 .tcollectiona {
    background: url("../img/collections.png") center center no-repeat;
    background-size: 37%;
}
.col-66 .fpraisea {
    background: url("../img/praise.png") center center no-repeat;
    background-size: 37%;
}
.col-66 .fcollectiona {
    background: url("../img/collection.png") center center no-repeat;
    background-size: 37%;
}
.col-66 .messages {
    background: url("../img/messages.png") center center no-repeat;
    background-size: 35%;
}
.col-66 .messagesa {
    font-size: 1.4rem;
    color: #444;
}

.list.mato20{margin-top: 20px;}
.ion-chevron-right:before,.ion-chevron-down:before{float: right;}
.ion-chevron-down:before{margin-top: 5px;}
.tab-item.tab-item-active, .tab-item.active, .tab-item.activated {
  opacity: 1;
  color:#21a0f1;
  border-bottom: 2px solid #21a0f1;
}
.item .reply{  background-color: #EEEEEE;
  padding: 2px 10px;
  margin-top: 10px;overflow: visible;position: relative;}
.ion-arrow-up-b:before{color: #eee;top: -9px;
  position: absolute;}

.messages .ion-chevron-right:before{margin-top: 12%;}
.item p.content{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space:normal;
}
.item p.contents,.item p.contents p,.ngbindhtml .item p{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    white-space:normal;
}
.ngbindhtml .item p{
    line-height: 30px;
    margin-bottom: 10px;
}

img.avatar{
    border-radius: 50%;
    box-shadow: 0 0 0 2px #fff;
}


.slideBox .bd ul{display: none;}
.slideBox .bd ul:first-child{display: block;}





.scroll{
    position: absolute;
    top: -1px;
    width: 100%;
    background-color: #eeeeee;
}
.corporate-list .corporate-items a {
    padding: 20px 30px 20px 134px;
    min-height: 84px;
}
.corporate-list .corporate-items a:active {
    background-color: #fff;
}
#corporate-pic {
    position: absolute;
    top: 20px;
    left: 14px;
    max-width: 100px;
    max-height: 65px;
    width: 100%;
    height: 100%;
}
.corporate-list .corporate-items p {
    margin-top:5px;
}

.list-lawyerinfo{
    margin: 0px;
    padding: 0px;
    padding-top: 1em;
    background-color: #32a9f2;
    color: #FFFFFF;
}
.list-lawyerinfo .item{
    background:none;
    border: none;
}
.list-lawyerinfo .item1-img{
    width:200%;
    height:200%;
    border: 5px solid #FFFFFF;
    border-radius:50%;
}
.list-lawyerinfo .list-item2{
    text-align: center;
    margin-top: 1em;
    background-color: #FFFFFF;
    color: #999999;
}
.list-lawyerinfo .list-item1 h2{
    color: #FFFFFF;
}
.list-item1 .sp-name{
    zoom: 2;
    font-weight: bold;
}
.list-item1 .sp-level{
    margin: 0 1em;
    font-weight: bold;
}
.item-star{
    margin: 0.3em 0;
    padding: 0.3em 0;
}
.item-star .item-star-a{
    padding: 0 10px;
    width:auto;
    height:50px;
    border: 3px solid #FFFFFF;
    border-radius: 15px;
    margin-right: 3em;
    float: left;
    line-height: 40px;
}
.item-star .item-star-b{
    width: 50px;
    height: 50px;
    line-height: 50px;  
    float: left;
}
.item-star .item-star-b img{
    margin: 0px;
    padding: 0px;
    vertical-align: middle;
    margin: 0px;
    padding: 5px;
    width:30px;
    height:30px;
    border-radius: 15px;
     background:rgba(255,255,255,.8);
}
.bg-left{
    border-left: 1px solid #DDDDDD;
}
.list-nav0{
    margin-top: 1em;
}
.list-nav0 .tab-item-border{
    border-bottom: 3px solid #32a9f2;
}
.list-nav0 .tab-item-noborder{
    border-bottom: 3px solid #FFFFFF;
}

.lh-2em{
    line-height: 2em;
}
.lh-1em{
    line-height: 1em;
}
.list-comment{
    line-height: 2em;
}
.list-comment .item-main .item-a{
    margin-right: 1em;
    text-align: center;
    float: left;
}
.list-comment .item-main .item-b{
    float: left;
}
.list-comment .item-a .sp-date{
    zoom:2;
}
.list-comment .list-other-cmt{
    margin: 0px;
    padding: 0px;
}
.list-comment .list-other-cmt .item{
    margin: 0px;
    padding: 0px;
    border: none;
}

.list-answer .sp-time{
    margin-left: 1em;
}
.item-bb .item-b-b span{
    display: inline-block;
    float: right;
}
.hbg{
    background-color: #32a9f2;
}
.lef{float: left;}
.rig{float: right;}
.list .item.white-space-normal,.list .item.white-space-normal p{
    word-break: break-all;
  word-wrap: break-word;
  white-space: normal;
}
.viewinfo{
    
    overflow: hidden;
    border: 1px solid red;
    height: 100%;
    width: 100%;
    top: 250px;
    position: absolute;

}
.viewinfo .tabs-top > .tabs{
    top: 0px;
}

/* --------------------插件----------------------------------------- */
#change_screen_div{position:relative;width:100%;height:100%;overflow:hidden;margin:auto;}
#change_screen_ul{/*width:1280px;*/height:100%;position:absolute;}
#change_screen_ul .change_screen_ul_li{float:left;display:block;width:50%;overflow-x:hidden;}

.slideBox .hd{    padding-top: 0;
    background-position: bottom;
    border-top-width: 0;
    border-bottom-width: 1px;}
.slideBox .tabs{
    position: relative;
}
/*.item-complex .item-content{padding-right: 26px;}*/

.item .badge{
    top: 62px;
}
.my-integral .badge {
    background-color: #31c27c;
}
.asklawyer{
    display: inline-block;
    width: 86px;
    height: 45px;
    background: url(../img/asklawyer.png) no-repeat;
    background-size: 42px;
}
.findlawyer{
    background-size: 42px;
    width: 78px;
    height: 45px;
    background: url(../img/findlawyer.png) no-repeat;
    display: inline-block;
}

.slide1 .slider-slide img{
    width: 100%;
}
.slide2 .slider{
    height: 140px;
}
.slide2 .slider-slide img{
    width: 100%;
    height: 140px;
}
.st2-swap{
    margin: 0;
    width: 100%;
    background-color: #EEEEEE;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 20px;
    height: 140px;
    padding: 0;
}
.st2-swap .listimg{
    float: left;
    overflow: hidden;
    height: 140px;
    border-right: 1px solid #cccccc; padding: 0px;
}
.st2-swap .listimg a{
    display: inline-block;
}

.st2-swap .listimg .top,.st2-swap .listimg .left,.st2-swap .listimg .right{
    overflow: hidden;
    height: 70px;
}
.st2-swap .listimg .left,.st2-swap .listimg .right{
    float: left;
    width: 50%;
}
.st2-swap .listimg .top{
    width: 100%;float: left;border-bottom: 1px solid #cccccc;
}
.st2-swap .listimg .left{border-right: 1px solid #cccccc;}
.st2-swap .listimg .leftimg{
    width: 100%;height: 140px;float: left;
}
.st2-swap .listimg .leftimg img{
    width: 100%;
    height: 140px;
}
.st2-swap .listimg .top img,.st2-swap .listimg .left img,.st2-swap .listimg .right img{
    width: 100%;
    height: 70px;
}

.st2-swap .st2-main{
    margin: 0 auto;
    padding: 0px;
}
.st2-swap .st2-item{
    width:40%;
    margin: 0 2px;
    padding: 0px;
    text-align: center;
    /*border-bottom: 2px solid #32a9f2;*/
    border-bottom: 2px solid #EEEEEE;
    float: left;
    line-height: 2em;
}
.st2-swap .st2-item2{
    border-bottom: 2px solid #32a9f2;
}


/*星星的显示*/
.rating {
  color: #a9a9a9;
  margin: 0;
  padding: 0;
  font-size: 1.5em;
}
ul.rating {
  display: inline-block;
}
.rating li {
  list-style-type: none;
  display: inline-block;
  padding: 1px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}
.rating .filled {
  color: #ffee33;
}

.itemdata .row{padding: 0;}
.itemdata .row .col{padding:5px 0;}

.item.group-site{padding: 5px;}
.group-site a{width: 25%;float:left;text-align: center;position:relative;height: 84px;}
.group-site a p{text-align:center;}
.group-site a i.close{font-size: 2em;position: absolute;top: 0;right: 0;}
.group-site a img{width: 60px;height: 60px;}
.group-site a i.ion-ios-plus-outline,.group-site a i.ion-ios-minus-outline{font-size: 4em;}
.color999{color: #999;}
.group-site .rig img{width: 60px;height: 60px;}
.group-site label.name{line-height: 60px;}
/*送心意样式*/
.mind-pic {
    width: 100%;
    height: 185px;
    padding-top: 15px;
    background: url("../img/mind-letter.png") 0 0 no-repeat;
    background-size: 100% 100%;
}
.mind-pic div {
    color: #fff;
    text-align: center;
}
.mind-pic div span, .mind-pic div strong, .mind-pic div i {
    font-weight: normal;
    font-size: 14px;
}
.mind-pic input {
    display: block;
    width: 70%;
    height: 30px;
    padding-left: 3%;
    margin: 100px auto 0;
    border: 1px solid #9b9b9b;
    font-size: 14px;
    line-height: 30px;
}
.payment-method {
    width: 100%;
    height: 28px;
    padding-left: 3%;
    background-color: #df0b31;
    font-size: 16px;
    line-height: 28px;
    color: #fff;
}
.method dl {
    padding: 30px 0 5px 6%;
    margin-bottom: 0px;
}
.method dt {
    float: left;
    width: 22%;
    height: 50px;
}
.method dt img {
    display: block;
    width: 100%;
    height: 50px;
}
.method dd {
    position: relative;
    float: left;
    width: 72%;
    height: 50px;
    margin-left: 5%;
}
.method dd h2 {
    float: left;
    width: 90%;
    font-size: 16px;
    color: #666;
}
.method dd span {
    float: left;
    overflow: hidden;
    display: block;
    width: 90%;
    font-size: 12px;
    color: #999;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.method dd i {
    position: absolute;
    right: 0;
    top: 35%;
    width: 7%;
    height: 15px;
    border: 2px solid #666;
    border-radius: 50%;
}
.mind-button {
    display: block;
    width: 94%;
    height: 32px;
    margin: 30px auto 100px;
    border: 0;
    background-color: #df0b31;
    font-size: 18px;
    color: #fff;
}
.mind-button:hover{
    color: #fff;
}
/*去除输入金额右边的小箭头*/
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
/*文书下载页--收藏、分享*/
.share span {
    float: right;
    margin-left: 10px;
    font-size: 16px;
}
.share i, .share strong {
    font-size: 20px;
}
.share i {
    color: #ffb007;
}
.share strong {
    color: skyblue;
}


/*登录 - 注册*/
.bg_div{background: url(../img/loginbg.png);position:fixed;top:0; left:0; bottom:0; right:0; z-index:-1; 
    background-size: cover;
}
.log-header{text-align: center;padding-top: 15%;}
.log-header>h1,.log-header>h4,.log-but a,.login-img label,.ion-wap{color: #fff;}
.log-header>h1{margin-bottom: 0;font-weight: 900;font-size: 2.8rem;}
.log-header>h4{margin-top: 0;}
.log-content{width: 90%;margin: 0 auto;}
.log-content .login,.log-but,.log-input-bg{overflow: hidden;}
.log-but{width: 100%;}
.login .ion-wap input,.ion-row2 button,.button.button-positive.activated, .button.button-positive.active{
    background-color: rgba(225,225,225,0); color: #fff;width: 100%;
    border-color: #fff;
    box-shadow: inset 0 1px 4px rgba(225,225,225,.1);
}
.login .ion-wap input::-webkit-input-placeholder{color:#fff;}
.login .ion-wap input:-moz-placeholder{color:#fff;}
.login .ion-wap input::-moz-placeholder{color:#fff;}
.login .ion-wap input:-ms-input-placeholder{color:#fff;}
.ion-wap{background-color: #fff;background-color: rgba(225,225,225,0.3);height: 50px;border-bottom: 1px solid #599ad2;float:left;padding: 2% 4%;}
.log-but .item{background-color: #fff;background-color: rgba(225,225,225,0);border:0;color: #fff;}
.ion-row{border-right: 1px solid #599ad2;width:25%;text-align: center;padding: 3% 4%;}
.ion-clo{width:75%;}
.ion-clo1{width: 40%;border-right:1px solid #599ad2;}
.ion-row2{width: 35%;}
.ion-row2 button{border:0;padding: 0;margin:0;height: 34px;line-height: 34px;}
.phone-size{font-size: 1.74rem;color:#fff;}
.log-but .button{border-color: #fff;background-color: #fff;background-color: rgba(225,225,225,0);color:#fff;font-weight: 700;border-radius: 6px;}
.login .width{text-align: center;display: inline-block;height: 104px;}
.login-img{text-align: center;padding-top: 20%;}
.login .qq,.login .weixin{width: 49%;}
.login .qq{background: url(../img/qq.png) center center no-repeat;background-size: 40%;}
.login .weixin{background: url(../img/weixin.png) center center no-repeat;background-size: 40%;}
.login-img label{display: inline-block;}
.log-content form{margin: 0;}
.color999{color: #999;}
input,select{-webkit-appearance: none; /*去除input默认样式*/}
.select-cnt {            
    width: 24%;
    position: relative;            
    height:40px;
    line-height: 40px;
    margin-left: 1%;
}
.select-cnt select {
    width:100%;
    padding:5px;
    overflow: hidden;text-overflow: ellipsis;white-space: nowrap;
  border: solid 1px #ddd;
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  background: url("../img/arrow.png") no-repeat scroll right center transparent;
  padding-right: 14px;
  font-size: 0.8rem;
}


/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
/*select::-ms-expand { display: none; }*/

/*其它分辨率支持*/
/*.slct-title select{width: 24%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;margin-right: 1%;}*/
.index .list .row,.index .list .row .col{padding: 0;}

/*4-4s*/
@media only screen and (min-device-width: 320px) and (min-device-height :480px){ 
    .slide1 .slider,.slide1 .slider-slide img{
        height: 120px;
    }

    .index .list.list1{
        text-align:center;
        margin-bottom:10px;
        background-color: #FFFFFF;
        color: #333;
        border-top: 1px solid #333;
    }
    .index .list.list1 .row.padding1{
        padding: 1.2rem 0;
    }
    .index .list.list1 .row.padding2{
        padding: 0 20% 2% 20%;
    }
    .index .list.list2 .row .col.padding3{
        padding: 12% 0;
        text-align: center;
        margin-bottom: 0;
        background-color: #FFFFFF;
        color: #333
    }

    .log-header{padding-top: 15%;}
    .login .width{height:50px;}
    .login .weixin,.login .qq{background-size: 35%;}
    .log-content{padding-top: 5%;}
    .login-img{padding-top: 9%;}
    .login-img2{padding-top: 9%;}
}
/*5-5s*/
@media only screen and (min-device-width: 320px) and (min-device-height :568px){ 
    .slide1 .slider,.slide1 .slider-slide img{
        height: 140px;
    }

    .index .list.list1{
        text-align:center;
        margin-bottom:10px;
        background-color: #FFFFFF;
        color:#333;
        border-top: 1px solid #333;
    }
    .index .list.list1 .row.padding1{
        padding: 1.6rem 0 1.6rem;
    }
    .index .list.list1 .row.padding2{
        padding: 0 20% 1.6rem 20%;
    }
    .index .list.list2 .row .col.padding3{
        padding: 25% 0;
        text-align: center;
        margin-bottom: 0;
        background-color: #FFFFFF;
        color: #333;
    }

    .log-header{padding-top: 15%;}
    .login .width{height:50px;}
    .login .weixin,.login .qq{background-size: 35%;}
    .log-content{padding-top: 8%;}
    .login-img{padding-top: 10%;}
    .login-img2{padding-top: 10%;}
}
/*6*/
@media only screen and (min-device-width: 375px) and (min-device-height :557px){ 
    .slide1 .slider,.slide1 .slider-slide img{
        height: 200px;
    }

    .index .list.list1{
        text-align: center;
        margin-bottom: 10px;
        background-color: #FFFFFF;
        color: #333;
        border-top: 1px solid #333;
    }
    .index .list.list1 .row.padding1{
        padding: 1.4rem 0 1.4rem;
    }
    .index .list.list1 .row.padding2{
        padding:0 20% 4% 20%;
    }
    .index .list.list2 .row .col.padding3{
        padding: 2rem 0 1.4rem;
        text-align: center;
        margin-bottom: 0;
        background-color: #FFFFFF;
        color: #333;
    }
    .padding3 b {
        display: inline-block;
        margin-top: 0.6rem;
    }

    .log-header{
        padding-top: 18%;
    }
    .login .width{
        height: 80px;
    }
    .login .weixin,.login .qq{
        background-size: 35%;
    }
    .log-content{
        padding-top: 8%;
    }
    .login-img{
        padding-top: 10%;
    }
    .login-img2{
        padding-top: 10%;
    }
}
/*6 plus*/
@media only screen and (min-device-width: 414px) and (min-device-height :736px){ 
    .slide1 .slider,.slide1 .slider-slide img{height: 220px;}
    .index .list.list1{
        text-align: center;
        margin-bottom: 10px;
        background-color: #FFFFFF;
        color: #333;
        border-top: 1px solid #333;
    }
    .index .list.list1 .row.padding1{
        padding: 2rem 0 1.4rem;
    }
    .index .list.list1 .row.padding2{
        padding:0 20% 6% 20%;
    }
    .index .list.list2 .row .col.padding3{
        padding: 2.4rem 0 2rem;
        text-align: center;
        margin-bottom: 0;
        background-color: #FFFFFF;
        color: #333;
    }
    .padding3 b {
        display: inline-block;
        margin-top: 0.9rem;
    }

    .log-header{
        padding-top: 20%;
    }
    .login .width{
        height:104px;
    }
    .login .weixin,.login .qq{
        background-size: 35%;
    }
    .log-content{
        padding-top: 8%;
    }
    .login-img{
        padding-top: 10%;
    }
    .login-img2{
        padding-top: 20%;
    }
}

.item-input-wrapper input {
    width: 100%;
}
.scroll .view-heard {
    width: 100%;
    height: 161px;
    border-top: 0px;
    padding: 0px;
    margin: 0px 0 20px 0;
}
.view-heard .item-thumbnail-left {
    background: none;
    border: 0px;
    padding-left: 100px;
    padding-top: 47px;
    margin: 0px;
    background: rgba(43,159,230,0.5);
}


.knowledge-love {
    margin: 0 0.7rem 0 0.2rem;
    font-size: 1.4rem;
}
.knowledge-stars {
    margin-right: 0.7rem;
    font-size:1.6rem;
}

.grade-a .nav-set {
    padding-top: 0;
}
.grade-a .nav-set .tab-item {
    font-size: 0.8rem;
}
.tab-item .home {
    width: 32px;
    margin-top: 2px;
    background: url("../img/index.png") center center no-repeat;
    /*background-size: 30% 73%;*/
    background-size: 75%;
}
.nav-set a.active i.home {
    width: 32px;
    margin-top: 2px;
    background: url("../img/indexs.png") center center no-repeat;
    /*background-size: 29% 72%;*/
    background-size: 75%;
    color: #00cafa;
}
.tab-item .group {
    width: 32px;
    margin-top: 2px;
    background: url("../img/circle.png") center center no-repeat;
    background-size: 75%;
}
.nav-set a.active i.group {
    width: 32px;
    margin-top: 2px;
    background: url("../img/circles.png") center center no-repeat;
    /*background-size: 30% 73%;*/
    background-size: 75%;
    color: #00cafa;
}
.tab-item .knowledge {
    width: 32px;
    margin-top: 2px;
    background: url("../img/knowledge.png") center center no-repeat;
    /*background-size: 30% 73%;*/
    background-size: 75%;
}
.nav-set a.active i.knowledge {
    width: 32px;
    margin-top: 2px;
    background: url("../img/knowledges.png") center center no-repeat;
    /*background-size: 30% 73%;*/
    background-size: 75%;
    color: #00cafa;
}
.tab-item .center {
    width: 32px;
    margin-top: 2px;
    background: url("../img/my.png") center center no-repeat;
    /*background-size: 32% 85%;*/
    background-size: 75%;
}
.nav-set a.active i.center {
    width: 32px;
    margin-top: 2px;
    background: url("../img/mys.png") center center no-repeat;
    /*background-size: 32% 85%;*/
    background-size: 75%;
    color: #00cafa;
}
/*6 plus*/
@media only screen and (min-device-width: 414px) and (min-device-height :736px){
    .grade-a .nav-set {
        height: 56px;
        padding-top: 0;
    }
    .grade-a .nav-set a {
        height: 56px;
    }
    .navs {
        height: 3.6rem;
    }
    .tab-item .home {
        width: 39px;
        height: 2.4rem;
        background: url("../img/index.png") center center no-repeat;
        /*background-size: 32% 73%;*/
        background-size: 75%;
    }
    .nav-set a.active i.home {
        width: 39px;
        height: 2.4rem;
        background: url("../img/indexs.png") center center no-repeat;
        /*background-size: 32% 73%;*/
        background-size: 75%;
    }
    .tab-item .group {
        width: 39px;
        height: 2.4rem;
        background: url("../img/circle.png") center center no-repeat;
        /*background-size: 32% 75%;*/
        background-size: 75%;
    }
    .nav-set a.active i.group {
        width: 39px;
        height: 2.4rem;
        background: url("../img/circles.png") center center no-repeat;
        /*background-size: 32% 75%;*/
        background-size: 75%;
    }
    .tab-item .knowledge {
        width: 39px;
        height: 2.4rem;
        background: url("../img/knowledge.png") center center no-repeat;
        /*background-size: 30% 77%;*/
        background-size: 75%;
    }
    .nav-set a.active i.knowledge {
        width: 39px;
        height: 2.4rem;
        background: url("../img/knowledges.png") center center no-repeat;
        /*background-size: 30% 77%;*/
        background-size: 75%;
    }
    .tab-item .center {
        width: 39px;
        height: 2.4rem;
        background: url("../img/my.png") center center no-repeat;
        /*background-size: 31% 80%;*/
        background-size: 75%;
    }
    .nav-set a.active i.center {
        width: 39px;
        height: 2.4rem;
        background: url("../img/mys.png") center center no-repeat;
        /*background-size: 31% 80%;*/
        background-size: 75%;
    }
}

.nav-set .nav-home.active, .nav-set .nav-circle.active, .nav-set .nav-knowledge.active, .nav-set .nav-my.active {
    color: #00cafa;
}
.nav-set .tab-item {
    color: #333;
}

.emails {
    width: 13%;
    background: url("../img/emails.png") center center no-repeat;
    background-size: 90% 26%;
}

.css-form  input, select{border:1px solid #ccc;}
.item .counts {
    padding-right: 8%;
    font-size: 1rem;
    padding-right: 10%;
}
.item .article-content {
    height: 19px;
    margin-bottom: 0;
}

.css-form  input, select{
    border:1px solid #ccc;
    padding-left: 3%;
}

.televise-praise, .televise-comments, .televise-share {
    float: right;
    height: 2rem;
    margin: 0;
    margin-right: 3%;
    vertical-align: text-bottom;
}
.televise-counts, .details-counts {
    float: right;
    padding-right: 6%;
    font-size: 1rem;
}
.televise-praise, .details-praise {
    width: 6%;
    background: url("../img/praise.png") center center no-repeat;
    background-size: contain;
}
.televise-comments, .details-comments {
    width: 6%;
    background: url("../img/messages.png") center center no-repeat;
    background-size: contain;
}
.televise-share {
    width: 7%;
    background: url("../img/gray-share.png") center center no-repeat;
    background-size: contain;
}
.televise-details {
    height: 2.4rem;
    padding-left: 20%;
    margin-top: 1rem;
    border-top: 0px;
    line-height: 2.4rem;
    color: #767676;
}
.televise-details span:nth-child(1), .item .details-counts:nth-child(1) {
    padding-right: 0;
}
.list .televise-lists {
    padding: 1.3rem;
    padding-bottom: 0.3rem;
}
.details-comments, .details-tpraise, .details-fpraise {
    float: right;
    height: 2rem;
    margin: 0;
    margin-right: 3%;
    vertical-align: text-bottom;
}
.details-counts {
    float: right;
    padding-right: 6%;
    font-size: 1.2rem;
}
.details-fpraise {
    width: 6%;
    background: url("../img/praise.png") center center no-repeat;
    background-size: contain;
}
.details-tpraise {
    width: 7%;
    background: url("../img/praises.png") center center no-repeat;
    background-size: contain;
}
.details-comments {
    width: 6%;
    background: url("../img/messages.png") center center no-repeat;
    background-size: contain;
}

.lawyer-lists {
    padding-bottom: 0.5rem;
    padding-right: 0.7rem;
}
.list-details {
    height: 1.6rem;
}
.order-number, .concern-number {
    float: right;
    height: 1.6rem;
    padding: 0.2rem 0 0.2rem 5%;
}
.concern-number, .order-number {
    width: 25%;
}
.concern-number {
    border-right: 0.1rem #999999 solid;
}
.concern-number span, .order-number span {
    display: block;
    height: 1.2rem;
    padding-left: 50%;
    line-height: 1.2rem;
    font-size: 0.8rem;
}
.concern-number span {
   background: url("../img/gray-love.png") 0 center no-repeat;
    background-size: 28%;
}
.order-number span {
    background: url("../img/order-number.png") 0 center no-repeat;
    background-size: 24%;
}
.star-score, .lawyer-name {
    float: left;
}
.lawyer-name {
    height: 11px;
    margin-right: 3%;
    line-height: 14px;
}
.concern-lawyer {
    float: right;
    width: 50px;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    color: #ffffff;
}
.concern-lawyer p {
    float: left;
    width: 30px;
    height: 30px;
    margin-right: 0.5rem;
    background-color: #ffffff;
    font-size: 14px;
    text-align: center;
    border-radius: 30px;
}
.concern-lawyer p i {
    color: #f00;
}
.lawyer-score {
    float: left;
    padding: 0px 10px 3px 10px;
    margin-top: 5px;
    border: 2px solid #ffffff;
    font-size: 14px;
    border-radius: 15px;
}

.list .i-lawyer-list a {
    padding-top: 1.5rem;
    padding-left: 33%;
    min-height: 8rem;
}
.list .i-lawyer-list label {
    font-size: 14px;
    padding: 0;
}


/*个人中心图标*/
.center-list {
    background-color: #fff;
}
.center-list .item {
    color: #666666;
    padding-left: 0;
    margin: 0;
    border-bottom: 0.1rem #eee solid;
}
.center-list div {
    padding-left: 14%;
}
.center-list .my-order {
    background: url("../img/my-order.png") 3% center no-repeat;
    background-size: 7%;
}
.center-list .my-consultation {
    background: url("../img/my-consultation.png") 3% center no-repeat;
    background-size: 7%;
}
.center-list .my-wallet {
    background: url("../img/my-wallet.png") 3% center no-repeat;
    background-size: 7%;
}
.center-list .become-lawyer {
    background: url("../img/become-lawyer.png") 3% center no-repeat;
    background-size: 7%;
}
.center-list .my-integral {
    background: url("../img/my-integral.png") 3% center no-repeat;
    background-size: 7%;
}
.center-list .my-collection {
    background: url("../img/my-collection.png") 3% center no-repeat;
    background-size: 7%;
}
.center-list .my-comment {
    background: url("../img/my-comment.png") 3% center no-repeat;
    background-size: 7%;
}
.center-list .my-follow {
    background: url("../img/my-follow.png") 3% center no-repeat;
    background-size: 7%;
}
.center-list .my-set {
    background: url("../img/my-set.png") 3% center no-repeat;
    background-size: 7%;
}
.center-list .my-article {
    background: url("../img/my-article.png") 3% center no-repeat;
    background-size: 7%;
}

/*登录头部返回键设置*/
.pane .login-header {
    position: relative;
    height: 3rem;
    border: 0;
    background-color: rgba(255,255,255,0);
}
.login-header a {
    position: absolute;
    top: 12%;
    right: 3%;
    width: 10%;
    height: 2.3rem;
    background: url("../img/white-index.png") center center no-repeat;
    background-size: 90%;
}

/*问律师页面样式修改*/
.questions-content a {
    overflow: hidden;
    float: left;
    width: 100%;
    height: 21px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/*律师个人主页*/
.pane .tabs .pic-consultation, .pane .tabs .phone-consultation {
    color: #21a0f1;
}

/*头部样式*/
.headers {
    box-shadow: 0 1px 0 0 #999;
}
.nav-bar-block .headers {
    border: none;
    margin: 0;
}
.headers .title-center {
    height: 44px;
}
.headers .title-center span {
    display: block;
    height: 44px;
    line-height: 44px;
    color: #32a9f2;
}
.headers.bar-light .title {
    height: 44px;
    font-family: 'Microsoft YaHei';
    font-size: 1.4rem;
    color: #00cafa;
}
.headers.bar-light .icon-left {
    color: #00cafa;
}
.headers.bar-light button.button-clear {
    font-family: 'Microsoft YaHei';
    font-size: 1.2rem;
    color: #00cafa;
}
.center-list .my-consultation {
    background: url("../img/my-consultation.png") 3% center no-repeat;
    background-size: 7%;
}
.center-list .my-wallet {
    background: url("../img/my-wallet.png") 3% center no-repeat;
    background-size: 7%;
}
.center-list .become-lawyer {
    background: url("../img/become-lawyer.png") 3% center no-repeat;
    background-size: 7%;
}
.center-list .my-integral {
    background: url("../img/my-integral.png") 3% center no-repeat;
    background-size: 7%;
}
.center-list .my-collection {
    background: url("../img/my-collection.png") 3% center no-repeat;
    background-size: 7%;
}
.center-list .my-comment {
    background: url("../img/my-comment.png") 3% center no-repeat;
    background-size: 7%;
}
.center-list .my-follow {
    background: url("../img/my-follow.png") 3% center no-repeat;
    background-size: 7%;
}
.center-list .my-set {
    background: url("../img/my-set.png") 3% center no-repeat;
    background-size: 7%;
}
.center-list .my-article {
    background: url("../img/my-article.png") 3% center no-repeat;
    background-size: 7%;
}

/*认证律师*/
.becomenav-content, .becomenav-content .scroll {
    margin-top: 1px;
    background-color: #fff;
}
.scroll .list .becomenav-list {
    width: 94%;
    height: 3.8rem;
    padding: 0 0 0 11%;
    margin: 0 3%;
    border-bottom: 1px #eee solid;
}
.list .becomenav-list:nth-child(1) {
    background: url("../img/practitioners.png") 1% center no-repeat;
    background-size: 8%;
}
.list .becomenav-list:nth-child(2) {
    background: url("../img/name-authentication.png") 1% center no-repeat;
    background-size: 8%;
}
.list .becomenav-list:nth-child(3) {
    background: url("../img/tariff-set.png") 1% center no-repeat;
    background-size: 8%;
}
.list .becomenav-list:nth-child(4) {
    background: url("../img/good-field.png") 1% center no-repeat;
    background-size: 8%;
}
.list .becomenav-list:nth-child(5) {
    background: url("../img/case.png") 1% center no-repeat;
    background-size: 8%;
}
.submit-examine {
    margin: 1.4rem 0;
}
.submit-examine button {
    display: block;
    width: 94%;
    height: 3.26rem;
    margin: 0 auto;
    border: none;
    background-color: #00cafa;
    color: #fff;
    font-size: 1.4rem;
    border-radius: 3px;
}
.becomenav-list a {
    font-size: 1.2rem;
    color: #333;
}
.becomenav-list .col {
    padding: 0;
}
.becomenav-list .col .item-checkbox {
    width: 100%;
    height: 3.8rem;
    padding: 0;
    margin: 0;
}
.becomenav-list .col .checkbox {
    position: absolute;
    top: 36%;
    right: 0;
    height: 3.8rem;
    padding: 0;
}
.becomenav-list .checkbox input {
    float: right;
    width: 1.74rem;
    height: 1.74rem;
    margin-top: 20%;
}

/*经历案例*/
.scroll .list .case-list {
    height: 4.1rem;
    margin: 0px 0 0 0;
    background-color: #eee;
}
.scroll .list .case-content {
    margin: 0;
    padding-top: 0;
}
.list .case-content .row {
    padding-top: 0;
}
.case-content .row textarea {
    height: 6rem;
}

/*擅长领域*/
.pane .field-content {
    margin-bottom: 0;
    padding-top: 2px;
    background-color: #fff;
}
.field-content .scroll {
    margin-top: 3px;
}
.field-content .list {
    padding: 0;
    background-color: #fff;
}
.field-content .list:nth-child(1) {
    margin-bottom: 1.6rem;
}
.field-content .list .item {
    padding: 0 0 0.8rem 0;
    margin: 0;
}
.field-content .item .errer {
    padding: 0px;
    margin-left: 5%;
    font-family: 'Microsoft YaHei';
    font-size: 1.2rem;
}
.field-content .item span {
    margin-left: 6%;
    margin-right: 6%;
}
.field-content .list span {
    width: 29%;
    margin: 0.8rem 1% 0rem;
    background-color: #eee;
    border-radius: 3px;
    text-align: center;
}
.field-content .list label {
    font-size: 1.2rem;
    color: #666;
}
.field-content .list span.active {
    background-color: #00cafa;
}
.field-content span.active label {
    color: #fff;
}
.field-content .item span:nth-child(2) {
    margin-left: 4.4%;
}