/* Empty. Add your own CSS if you like */
/*
 页面上所用的蓝色：#32a9f2
 页面所用的黑色字体：#333333
 页面上所用灰色字体是：#999999
 页面衬托用灰色底板：#eeeeee
 字体统一是：微软雅黑
 蓝色按钮上的字体为白色：#FFFFFF
 以像素分割线或者边框描边 #DDDDDD
 页面底色为纯白色 FFFFFF
 * */
body,
.ionic-body{
	font-family: "微软雅黑";
	color: #333333;
}
.scroll-content{
	background-color: #EEEEEE;
	margin-bottom: 50px;
}
.fc-33{
	color: #333333;
}
.fc-ee{
	color: #999999;
}
.fc-red{
	color: #FF0000;
}
.button-border-left{
	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: 1px solid #DDDDDD!important;
}
.list-margin-top{
	margin-top: 19px;
}
.login-lbl-pl{
	text-indent: 25px;
}

.login-lbl-fc{
	color: #999999;
}

/*.login2 {
	margin: 0px 0px 41px 0px;
}*/
.login2 .item{
	border: none;
}

.bg-man{
	background-image: url(../img/man.png);
	background-repeat: no-repeat;
	background-position: left;
}
.bg-mobel{
	background-image: url(../img/mobel.png);
	background-repeat: no-repeat;
	background-position: left;
}
.bg-clock{
	background-image: url(../img/clock.png);
	background-repeat: no-repeat;
	background-position: left;
}
.login{
	margin: 0;
	margin-top: 19px;
}
.login .placeholder-icon:last-child {
    padding-left: 25px;
}
.login .placeholder-icon:first-child {
    padding-right: 25px;
}
.login .input-label{
	width:25px !important;
}

.login .btn-login-submit{
	margin-top: 41px;
	margin-bottom: 30px;
}
.login2 .item{
	background-color: #EEEEEE;
}


/*----------*/
.nav-bar-title .idx-titleimg{
	height:2em;
	width:2em;
	vertical-align: middle;
}
.nav-bar-title{
	line-height: 2em;
	vertical-align: middle;
	font-size: x-large;
}
.right-buttons img,
.left-buttons img{
	height:2em;
	/*width:2em;*/
	vertical-align: middle;
}

.slider-slide img{
	height:301px;
	width:100%;
}

.slider-pager .slider-pager-page{
	color:#FFFFFF;
}

.search-main{
	 width:100%;
	 height:3em;
	 position: absolute;
	 left: 0px;
	 top: 0px;
	 margin: 25px auto 23px auto;
}
.item-search{
	 margin:0px auto;
	 width:90%;
}
.item .btn-srch{
	margin: 0px;
	padding: 0px;
	height:2em;
	width:2em;
}
.subtitle{
	margin: 23px auto;
	padding: 0px;
	background-color: #FFFFFF;
	overflow: hidden;
}
.subtitle .subtitle-a{
	min-width: 180px;
	width:50%;
	margin: 0px;
	padding: 0px;
	float: left;
	background-image: url(../img/14.png);
	background-repeat: no-repeat;
	background-position: 1em center;
	background-size: 3em 3em;
	text-align: center;
	text-indent: 4em;
}
.subtitle .subtitle-b{
	min-width: 180px;
	width:50%;
	margin: 0px;
	padding: 0px;
	float: left;
	background-image:url(../img/15.png);
	background-repeat: no-repeat;
	background-position: 1em center;
	background-size: 3em 3em;
	text-align: center;
	text-indent: 4em;
}
.clear{
	clear:both;
}
.nav-swap{
	margin: 25px auto;
	padding: 0px;
	width:100%;
	background-color: #FFFFFF;
}
.nav-swap .n-swapmain{
	margin: 0px auto;
}
.nav-swap .n-main-item{
	float: left;
	text-align: center;
	width:25%;
}
.nav-swap .n-main-item img{
	width:80px;
	height:80px;
}

.st2-swap{
	margin: 0;
	padding: 0 1em;
	width:100%;
	background-color: #EEEEEE;
	overflow: hidden;
	margin-top: 25px;
	margin-bottom: 20px;
	height: 184px;
}
.st2-swap .listimg{
	width: 50%;  
	float: left;
	overflow: hidden;
	height: 184px;
}
.st2-swap .listimg a{display: inline-block;}

.st2-swap .listimg .top,.st2-swap .listimg .left,.st2-swap .listimg .right{
	height: 92px;
  overflow: hidden;
}
.st2-swap .listimg .left,.st2-swap .listimg .right{
	width: 50%;float: left;
}
.st2-swap .listimg .top{
	width: 100%;float: left;
}
.st2-swap .listimg .leftimg{
	width: 100%;height: 184px;float: left;
}
.st2-swap .listimg .leftimg img{
	width: 100%;
	height: 184px;
}
.st2-swap .listimg .top img,.st2-swap .listimg .left img,.st2-swap .listimg .right img{
	width: 100%;
	height: 92px;
}

.st2-swap .st2-main{
	margin: 0 auto;
	padding: 0px;
}
.st2-swap .st2-item{
	width:40%;
	margin: 0 2px;
	padding: 0px;
	text-align: center;
	/*border-bottom: 2px solid #32a9f2;*/
	border-bottom: 2px solid #EEEEEE;
	float: left;
	line-height: 2em;
}
.st2-swap .st2-item2{
	border-bottom: 2px solid #32a9f2;
}

.icon-i img{
	width:30px;
	height:30px;	
}

/*login*/
a{
	text-decoration: none;
	color: #32a9f2;
}
a:link{
	text-decoration: none;
	color: #32a9f2;
}
a:visited{
	text-decoration: none;
	color: #32a9f2;
}
a:active{
	text-decoration: none;
	color: #32a9f2;
}
a:hover{
	text-decoration: none;
	color: #32a9f2;
}
.a-left{
	text-align: left;
}
.a-right{
	text-align: right;
}
.txt-align-c{
	text-align: center;
}
.bg-c-white{
	background-color: #FFFFFF;
}
.txt-c-99{
	color: #999999;
}
.fc-33{
	color: #333333;
}
.fc-ee{
	color: #999999;
}

.list-margin-top{
	margin-top: 19px;
}
.login-lbl-pl{
	text-indent: 25px;
}

.login-lbl-fc{
	color: #999999;
}

.v-align{
	vertical-align: middle;
}
.smback-bg{
	vertical-align:center;
	background-image: url(../img/smallback.png);
	background-repeat: no-repeat;
	background-position: center;
}

.item p label{margin-right: 5px;}

.list.mato20{margin-top: 20px;}
.item-input-inset .item-input-wrapper input{width: 100%;}
.ion-chevron-right:before,.ion-chevron-down:before{float: right;}
.ion-chevron-down:before{margin-top: 5px;}
.tab-item.tab-item-active, .tab-item.active, .tab-item.activated {
  opacity: 1;
  color:#21a0f1;
  border-bottom: 2px solid #21a0f1;
}
.item .reply{  background-color: #EEEEEE;
  padding: 2px 10px;
  margin-top: 10px;overflow: visible;position: relative;}
.ion-arrow-up-b:before{color: #eee;top: -9px;
  position: absolute;}

.messages .ion-chevron-right:before{margin-top: 12%;}
.item p.content{
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	white-space:normal;
}
.item p.contents,.item p.contents p{
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	white-space:normal;
}

img.avatar{border-radius: 50%;border:2px solid #fff;}


.slideBox .bd ul{display: none;}
.slideBox .bd ul:first-child{display: block;}





.scroll{
	background-color: #eeeeee
}
.list-lawyerinfo{
	margin: 0px;
	padding: 0px;
	padding-top: 1em;
	background-color: #32a9f2;
	color: #FFFFFF;
}
.list-lawyerinfo .item{
	background:none;
	border: none;
}
.list-lawyerinfo .item1-img{
	width:200%;
	height:200%;
	border: 5px solid #FFFFFF;
	border-radius:50%;
}
.list-lawyerinfo .list-item2{
	text-align: center;
	margin-top: 1em;
	background-color: #FFFFFF;
	color: #999999;
}
.list-lawyerinfo .list-item1 h2{
	color: #FFFFFF;
}
.list-item1 .sp-name{
	zoom: 2;
	font-weight: bold;
}
.list-item1 .sp-level{
	margin: 0 1em;
	font-weight: bold;
}
.item-star{
	margin: 0.3em 0;
	padding: 0.3em 0;
}
.item-star .item-star-a{
	padding: 0 10px;
	width:auto;
	height:50px;
	border: 3px solid #FFFFFF;
	border-radius: 15px;
	margin-right: 3em;
	float: left;
	line-height: 40px;
}
.item-star .item-star-b{
	width: 50px;
	height: 50px;
	line-height: 50px;	
	float: left;
}
.item-star .item-star-b img{
	margin: 0px;
	padding: 0px;
	vertical-align: middle;
	margin: 0px;
	padding: 5px;
	width:30px;
	height:30px;
	border-radius: 15px;
	 background:rgba(255,255,255,.8)
}
.bg-left{
	border-left: 1px solid #DDDDDD;
}
.list-nav0{
	margin-top: 1em;
}
.list-nav0 .tab-item-border{
	border-bottom: 3px solid #32a9f2;
}
.list-nav0 .tab-item-noborder{
	border-bottom: 3px solid #FFFFFF;
}

.lh-2em{
	line-height: 2em;
}
.lh-1em{
	line-height: 1em;
}
.list-comment{
	line-height: 2em;
}
.list-comment .item-main .item-a{
	margin-right: 1em;
	text-align: center;
	float: left;
}
.list-comment .item-main .item-b{
	float: left;
}
.list-comment .item-a .sp-date{
	zoom:2;
}
.list-comment .list-other-cmt{
	margin: 0px;
	padding: 0px;
}
.list-comment .list-other-cmt .item{
	margin: 0px;
	padding: 0px;
	border: none;
}

.list-answer .sp-time{
	margin-left: 1em;
}
.item-bb .item-b-b span{
	display: inline-block;
	float: right;
}
.hbg{
	background-color: #32a9f2;
}
.rig{float: right;}
.list .item.white-space-normal,.list .item.white-space-normal p{
	word-break: break-all;
  word-wrap: break-word;
  white-space: normal;
}
.viewinfo{
	
    overflow: hidden;
    border: 1px solid red;
    height: 100%;
    width: 100%;
    top: 250px;
    position: absolute;

}
.viewinfo .tabs-top > .tabs{
	top: 0px;
}

/* --------------------插件----------------------------------------- */
#change_screen_div{position:relative;width:100%;height:100%;overflow:hidden;margin:auto}
#change_screen_ul{/*width:1280px;*/height:100%;position:absolute;}
#change_screen_ul .change_screen_ul_li{float:left;display:block;width:50%;overflow-x:hidden;}

.slideBox .hd{    padding-top: 0;
    background-position: bottom;
    border-top-width: 0;
    border-bottom-width: 1px;}
.slideBox .tabs{
	position: relative;
}
/*.item-complex .item-content{padding-right: 26px;}*/


