/* Empty. Add your own CSS if you like */
/*
 页面上所用的蓝色：#32a9f2
 页面所用的黑色字体：#333333
 页面上所用灰色字体是：#999999
 页面衬托用灰色底板：#f0f1f3
 字体统一是：微软雅黑
 蓝色按钮上的字体为白色：#FFFFFF
 以像素分割线或者边框描边 #DDDDDD
 页面底色为纯白色 FFFFFF
 * */
body, html, .pane, .ionic-body,h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
    font-family: 'Microsoft YaHei';
    color: #3b3b3b;
}
input{-webkit-user-modify: read-write-plaintext-only;}
.scroll-content {
    background-color: #f0f1f3;
}
.scroll-content.bg-fff,.bg-fff{
    background-color: #fff;
}
.content.bottom_50,.pane .bottom_50,.bottom_50{
    top: 0;
    margin-bottom: 50px;
}
.item-input {
    padding: 2px 0 1px 0px
}
.item h2.fc-ee,.error{
    font-size: 14px;
}
.item>p>a.display{width: 100%;display: inline-block;line-height: 25px}
.fc-red,.error,.item p.fc-red,.item p.error{
    color: #FF0000;
}
/*.bar .title {
    font-size: 1.4rem;
}*/
.padding0{
    padding: 0;
}
.padding5{
    padding: 5px;
}
.padding10{
    padding: 10px;
}
.border_bottom{
    border-bottom: 1px solid #ddd;
}
.padding_bottom5{
    padding-bottom: 5px;
}
.padding_bottom16{
    padding-bottom: 16px;
}
.item-icon-left .icon.bgtag{
    background-color: #48b4ff;
    color: #fff;
    z-index: 1;
    display: inline-block;
    min-width: 35px;
    border-radius: 50px;
    vertical-align: baseline;
    text-align: center;
    white-space: nowrap;
    font-size: 14px;
    line-height: 35px;
    height: auto;
    top: 15px;
}
/*----------*/
/*.bar.bar-light{
   border-bottom: 1px solid #999;
}*/
.nav-bar-title {
    line-height: 2em;
    vertical-align: middle;
    font-size: x-large;
}
.right-buttons img,
.left-buttons img{
    height:2em;
    vertical-align: middle;
}

.slider-pager .slider-pager-page {
    color:#48b4ff;
}
.ng-cloak{
    display: none !important;
}
.clear{
    clear:both;
}
.clearfix:after {
    content: "\200B"; 
    display: block; 
    height: 0; 
    clear: both; 
}
.clearfix { *zoom:1; }

/*login*/
a, a:link, a:visited, a:active, a:hover{
    text-decoration: none;
    color: #3b3b3b;
}
.a-left{
    text-align: left;
}
.a-right, .textright{
    text-align: right;
}
.txt-align-c{
    text-align: center;
}
.bg-c-white{
    background-color: #FFFFFF;
}
.txt-c-ff{
    color: #fff;
}
.txt-c-99,.item p.txt-c-99{
    color: #999;
}
.txt-c-66,.txt-c-66 a,.txt-c-66 a:link{
    color: #b5b5b5;
}

.txt-c-33{
    color: #b5b5b5;
}
.fc-33{
    color: #333;
}
.fc-ee{
    color: #999;
}
.height5{
    height: 5px;
    clear:both;
}
.height10{
    height: 10px;
    clear:both;
}

.nav-bar-block .headers {
    background-color: #48b4ff;
}
.logo{ background: url("../img/logo.png") 5px center no-repeat;
    background-size: 50%; 
    vertical-align: text-bottom;
    display: inline-block;
    width: 95px;
    height: 34px;
}

.item .praise, .item .messages, .item .collection {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0;
    margin-right: 10px;
}
.item .praise {
    background: url("../img/praise.png") left center no-repeat;
    background-size: 20px;
    vertical-align: middle;
}
.item .messages {
    background: url("../img/messages.png") left center no-repeat;
    background-size: 20px;
    vertical-align: middle;
}
.item .collection {
    background: url("../img/collection.png") left center no-repeat;
    background-size: 20px;
    vertical-align: middle;
}

.item p label{
    text-align: center;
    padding: 0 0.6rem 0 0;
    font-size: 12px;
}
.item p label.radius10{
    text-align: center;
    padding: 3px 6px;
    font-size: 12px;
    background-color: #f5f5f5;
    margin-right: 8px;
    border-radius: 10px;
    display: inline-block;
}
.item p.text-indent{
    text-indent: 2em;
}
.col-66 .praisea, .col-66 .collectiona, .col-66 .messagesa {
    float: left;
    width: 33%;
    height: 27px;
    line-height: 27px;
}
.col-66 a label, .col-66 i label {
    display: block;
    line-height: 27px;
}
.col-66 .tpraisea {
    background: url("../img/praises.png") center center no-repeat;
    background-size: 20px;
}
.col-66 .tcollectiona {
    background: url("../img/collections.png") center center no-repeat;
    background-size: 20px;
}
.col-66 .fpraisea {
    background: url("../img/praise.png") center center no-repeat;
    background-size: 20px;
}
.col-66 .fcollectiona {
    background: url("../img/collection.png") center center no-repeat;
    background-size: 20px;
}
.col-66 .messages {
    background: url("../img/messages.png") center center no-repeat;
    background-size: 20px;
}
.col-66 .messagesa {
    font-size: 1.4rem;
    color: #444;
}

.list.mato20 {
    margin-top: 20px;
}
.ion-chevron-right:before, .ion-chevron-down:before {
    float: right;
}
.ion-chevron-down:before {margin-top: 5px;}
.tab-item.tab-item-active, .tab-item.active, .tab-item.activated {
    opacity: 1;
    color:#48b4ff;
    border-bottom: 2px solid #48b4ff;
}
.item .reply{  
    overflow: visible;
    position: relative;
    padding: 2px 10px;
    margin-top: 10px;
    background-color: #f0f1f3;
}
.ion-arrow-up-b:before {
    position: absolute;
    top: -9px;
    color: #f0f1f3;
}

.messages .ion-chevron-right:before {
    margin-top: 12%;
}
.item p.content,.content_txt2{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space:normal;
}
.item p.content_txt1,.content_txt1{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space:normal;
}
.contents, .item p.contents,.item p.contents p,.ngbindhtml .item p{
    color: #7f7f7f;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    white-space:normal;
}
.ngbindhtml .item p{
    line-height: 30px;
    margin-bottom: 10px;
}

img.avatar{
    border-radius: 50%;
    box-shadow: 0 0 0 2px #fff;
}

.slideBox .bd ul{display: none;}
.slideBox .bd ul:first-child{display: block;}

.scroll{
    position: absolute;
    top: -1px;
    width: 100%;
    /*background-color: #f0f1f3;*/
}
.corporate-list .corporate-items a {
    padding: 20px 30px 20px 134px;
    min-height: 84px;
}
.corporate-list .corporate-items a:active {
    background-color: #fff;
}
#corporate-pic {
    position: absolute;
    top: 20px;
    left: 14px;
    max-width: 100px;
    max-height: 65px;
    width: 100%;
    height: 100%;
}
.corporate-list .corporate-items p {
    margin-top:5px;
}

.list-lawyerinfo{
    margin: 0px;
    padding: 0px;
    padding-top: 1em;
    background-color: #32a9f2;
    color: #FFFFFF;
}
.list-lawyerinfo .item{
    background:none;
    border: none;
}
.list-lawyerinfo .item1-img{
    width:200%;
    height:200%;
    border: 5px solid #FFFFFF;
    border-radius:50%;
}
.list-lawyerinfo .list-item2{
    text-align: center;
    margin-top: 1em;
    background-color: #FFFFFF;
    color: #999999;
}
.list-lawyerinfo .list-item1 h2{
    color: #FFFFFF;
}
.list-item1 .sp-name{
    zoom: 2;
    font-weight: bold;
}
.list-item1 .sp-level{
    margin: 0 1em;
    font-weight: bold;
}
.item-star{
    margin: 0.3em 0;
    padding: 0.3em 0;
}

.lh-2em {
    line-height: 2em;
}
.lef{
    float: left;
}
.rig{
    float: right;
}
.list .item.white-space-normal,.list .item.white-space-normal p{
    word-break: break-all;
    word-wrap: break-word;
    white-space: normal;
}

/* --------------------插件----------------------------------------- */
#change_screen_div {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: auto;
}
#change_screen_ul {
    position: absolute;
    height: 100%;
}
#change_screen_ul .change_screen_ul_li {
    float: left;
    display: block;
    overflow-x: hidden;
    width: 50%;
}

.slideBox .hd{    
    padding-top: 0;
    background-position: bottom;
    border-top-width: 0;
    border-bottom-width: 1px;
}
.slideBox .tabs{
    position: relative;
    background-color: #fff;
    border-bottom: 1px solid #b2b2b2;
}
.slideBox .tabs a{
    color: #333;
    font-size: 1.0rem;
    height: 49px;
}
.slideBox .tabs a.active{
    color: #48b4ff;
    height: 49px;
}

/*.item .badge{
    top: 62px;
}*/
.my-integral .badge {
    background-color: #31c27c;
}
.slide1 .slider-slide img {
    width: 100%;
}
.slide2 .slider {
    height: 140px;
}
.slide2 .slider-slide img {
    width: 100%;
    height: 140px;
}


/*星星的显示*/
.rating {
  color: #a9a9a9;
  margin: 0;
  padding: 0;
  font-size: 1.5em;
}
ul.rating {
  display: inline-block;
}
.rating li {
  list-style-type: none;
  display: inline-block;
  padding: 1px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}
.rating .filled {
  color: #ffee33;
}

.itemdata .row{
    padding: 0;
}
.itemdata .row .col{
    padding:5px 0;
}

.item.group-site{
    padding: 5px;
}
.group-site a{
    width: 25%;
    float:left;
    text-align: center;
    position: relative;
    height: 84px;
}
.group-site a p{
    text-align:center;
}
.group-site a i.close{
    font-size: 2em;
    position: absolute;
    top: 0;
    right: 0;
}
.group-site a img{
    width: 60px;
    height: 60px;
}
.group-site a i.ion-ios-plus-outline,.group-site a i.ion-ios-minus-outline{
    font-size: 4em;
}
.color999{
    color: #999;
}
.group-site .rig img{
    width: 60px;
    height: 60px;
}
.group-site label.name{
    line-height: 60px;
}
/*送心意样式*/
.mind-pic {
    width: 100%;
    height: 285px;
    padding-top: 15px;
    background: #fff url("../img/mind-letter.png") 0 0 no-repeat;
    background-size: contain;
}
.mind-pic div {
    text-align: center;
    height: 35px;
    line-height: 35px;
}
.mind-pic div span, .mind-pic div strong, .mind-pic div i {
    font-weight: normal;
    font-size: 14px;
}


/*去除输入金额右边的小箭头*/
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
/*文书下载页--收藏、分享*/
.share span {
    float: right;
    margin-left: 10px;
    font-size: 16px;
}
.share i, .share strong {
    font-size: 20px;
}
.share i {
    color: #ffb007;
}
.share strong {
    color: skyblue;
}


/*登录 - 注册*/
.bg_div{
    position:fixed;
    top:0; 
    left:0; 
    bottom:0; 
    right:0; 
    z-index:-1; 
    background: url(../img/loginbg.png);
    background-size: cover;
}
.log-header{
    text-align: center;
    padding-top: 15%;
}
.log-header > h1, .log-header > h4, .log-but a, .login-img label, .ion-wap{
    color: #fff;
}
.log-header > h1{
    margin-bottom: 0;
    font-weight: 900;
    font-size: 2.8rem;
}
.log-header > h4 {
    margin-top: 0;
}
.log-content {
    width: 90%;
    margin: 0 auto;
}
.log-content .login,.log-but,.log-input-bg {
    overflow: hidden;
}
.log-but{
    width: 100%;
}
.log-but.top8{
    margin-top: 8%;
}
.login .ion-wap input,.ion-row2 button {
    background-color: rgba(225,225,225,0); color: #fff;width: 100%;
    border-color: #fff;
    box-shadow: inset 0 1px 4px rgba(225,225,225,.1);
    margin-top:3px;
}
.login .ion-wap input::-webkit-input-placeholder {
    color:#fff;
}
.login .ion-wap input:-moz-placeholder {
    color:#fff;
}
.login .ion-wap input::-moz-placeholder{
    color:#fff;
}
.login .ion-wap input:-ms-input-placeholder{
    color:#fff;
}
.ion-wap {
    background-color: #fff;
    background-color: rgba(225,225,225,0.3);
    height: 50px;
    border-bottom: 1px solid #599ad2;
    float: left;
    padding: 2% 4%;
}
.line-height{
    line-height:37px;
}
.log-but .item {
    background-color: #fff;
    background-color: rgba(225,225,225,0);
    border: 0;
    color: #fff;
}
.ion-row{
    border-right: 1px solid #599ad2;
    width: 25%;
    text-align: center;
    padding: 3% 4%;
}
.ion-clo{
    width:75%;
}
.ion-clo1{
    width: 40%;
    border-right: 1px solid #599ad2;
}
.ion-row2{
    width: 35%;
}
.ion-row2 button{
    border: 0;
    padding: 0;
    height: 34px;
    line-height: 34px;
}
.phone-size{
    font-size: 1.74rem;
    color: #fff;
}
.log-but .button {
    border-color: #fff;
    background-color: #fff;
    background-color: rgba(225,225,225,0);
    color: #fff;
    font-weight: 700;
    border-radius: 6px;
}
.login .width {
    text-align: center;
    display: inline-block;
    height: 104px;
}
.login-img{
    text-align: center;
    padding-top: 20px;
}
.login .qq,.login .weixin {
    width: 49%;
}
.login .qq {
    background: url(../img/qq.png) center center no-repeat;
    background-size: 40%;
}
.login .weixin{
    background: url(../img/weixin.png) center center no-repeat;
    background-size: 40%;
}
.login-img label{
    display: inline-block;
}
.log-content form{
    margin: 0;
}
.color999{
    color: #999;
}
input, select {
    -webkit-appearance: none; /*去除input默认样式*/
}
.bar .button.button-clear .icon.ion-ios-help-outline:before{  
    font-size: 2.2rem;
}

/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
/*select::-ms-expand { display: none; }*/

/*其它分辨率支持*/
/*.slct-title select{width: 24%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;margin-right: 1%;}*/
.index .list .row,.index .list .row .col{
    padding: 0;
}

/*4-4s*/
@media only screen and (min-device-width: 320px) and (min-device-height :480px){ 
    .slide1 .slider,.slide1 .slider-slide img{
        height: 120px;
    }

    .index .list.list1{
        text-align:center;
        margin-bottom:0;
        color: #333;

    }
    .index .list.list1 .row.padding1{
        padding: 1.2rem 0;
    }
    .index .list.list1 .row.padding2{
        padding: 0 20% 2% 20%;
    }
    .index .list.list2{
        padding: 0;
         border-width: 1px 0px;
        border-style: solid;
        border-color: #dcdcdc;
        margin-bottom: 5px;
    }
    .index .list.list2 .row .col.padding3{
        padding: 15% 0;
        text-align: center;
        margin-bottom: 0;
        background-color: #FFFFFF;
        color: #333;
    }

    .log-header{padding-top: 15%;}
    .login .width{height:50px;}
    .login .weixin,.login .qq{background-size: 50px;}
    .log-content{padding-top: 5%;}
    .login-img,.login-img2{padding-top: 20px;}
}
/*5-5s*/
@media only screen and (min-device-width: 320px) and (min-device-height :568px){ 
    .slide1 .slider,.slide1 .slider-slide img{
        height: 140px;
    }

    .index .list.list1{
        text-align:center;
        margin-bottom:0;
        color: #333;
    }
    .index .list.list1 .row.padding1{
        padding: 1.6rem 0 1.6rem;
    }
    .index .list.list1 .row.padding2{
        padding: 0 20% 1.6rem 20%;
    }
    .index .list.list2{
        padding: 0;
         border-width: 1px 0px;
        border-style: solid;
        border-color: #dcdcdc;
        margin-bottom: 5px;
    }
    .index .list.list2 .row .col.padding3{
        padding: 15% 0;
        text-align: center;
        margin-bottom: 0;
        background-color: #FFFFFF;
        color: #333;
    }

    .log-header{padding-top: 15%;}
    .login .width{height:50px;}
    .login .weixin,.login .qq{background-size: 50px;}
    .log-content{padding-top: 8%;}
    .login-img,.login-img2{padding-top: 20px;}
}
/*6*/
@media only screen and (min-device-width: 375px) and (min-device-height :557px){ 
    .slide1 .slider,.slide1 .slider-slide img{
        height: 200px;
    }

    .index .list.list1{
        text-align:center;
        margin-bottom:0;
        color: #333;
    }
    .index .list.list1 .row.padding1{
        padding: 1.4rem 0 1.4rem;
    }
    .index .list.list1 .row.padding2{
        padding:0 20% 4% 20%;
    }
    .index .list.list2{
        padding: 0;
         border-width: 1px 0px;
        border-style: solid;
        border-color: #dcdcdc;
        margin-bottom: 5px;
    }
    .index .list.list2 .row .col.padding3{
        padding: 2rem 0 1.4rem;
        text-align: center;
        margin-bottom: 0;
        background-color: #FFFFFF;
        color: #333;
    }
    .padding3 b {
        display: inline-block;
        margin-top: 0.6rem;
    }

    .log-header{
        padding-top: 18%;
    }
    .login .width{
        height: 80px;
    }
    .login .weixin,.login .qq{background-size: 50px;}
    .log-content{
        padding-top: 8%;
    }
    .login-img,.login-img2{
        padding-top: 20px;
    }
}
/*6 plus*/
@media only screen and (min-device-width: 414px) and (min-device-height :736px){ 
    .slide1 .slider,.slide1 .slider-slide img{height: 220px;}
    .index .list.list1{
        text-align:center;
        margin-bottom:0;
        color: #333;
    }
    .index .list.list1 .row.padding1{
        padding: 2rem 0 1.4rem;
    }
    .index .list.list1 .row.padding2{
        padding:0 20% 6% 20%;
    }
    .index .list.list2{
        padding: 0;
         border-width: 1px 0px;
        border-style: solid;
        border-color: #dcdcdc;
        margin-bottom: 5px;
    }
    .index .list.list2 .row .col.padding3{
        padding: 2.4rem 0 2rem;
        text-align: center;
        margin-bottom: 0;
        background-color: #FFFFFF;
        color: #333;
    }
    .padding3 b {
        display: inline-block;
        margin-top: 0.9rem;
    }

    .log-header{
        padding-top: 20%;
    }
    .login .width{
        height:104px;
    }
    .login .weixin,.login .qq{background-size: 50px;}
    .log-content{
        padding-top: 8%;
    }
    .login-img,.login-img2{
        padding-top: 20px;
    }
}
.item-input-wrapper{
    background-color: #fff;
}
.item-input-wrapper input {
    width: 100%;
}
.scroll .view-heard {
    width: 100%;
    height: 143px;
    border-top: 0px;
    padding: 0px;
    margin: 0;
}

.knowledge-love {
    margin: 0 0.7rem 0 0.2rem;
    font-size: 1.4rem;
}
.knowledge-stars {
    margin-right: 0.7rem;
    font-size:1.6rem;
}

.nav-set a span {
    display: block;
    position: absolute;
    bottom: 0.2rem;
    width: 100%;
    text-align: center;
}
.grade-a .nav-set {
    padding-top: 0;
}
.grade-a .nav-set .tab-item {
    position: relative;
    font-size: 0.8rem;
}
.tab-item .home, .nav-set a.active i.home, .tab-item .group, .nav-set a.active i.group, .tab-item .knowledge, .nav-set a.active i.knowledge, .tab-item .center, .nav-set a.active i.center {
    width: 32px;
    margin-top: 2px;
}
.nav-set a.active i.home, .nav-set a.active i.group, .nav-set a.active i.knowledge, .nav-set a.active i.center {
    color: #48b4ff;
}
.tab-item .home {
    background: url("../img/index.png") center center no-repeat;
    background-size: 75%;
}
.nav-set a.active i.home {
    background: url("../img/indexs.png") center center no-repeat;
    background-size: 75%;
}
.tab-item .group {
    background: url("../img/circle.png") center center no-repeat;
    background-size: 75%;
}
.nav-set a.active i.group {
    background: url("../img/circles.png") center center no-repeat;
    background-size: 75%;
}
.tab-item .knowledge {
    background: url("../img/knowledge.png") center center no-repeat;
    background-size: 75%;
}
.nav-set a.active i.knowledge {
    background: url("../img/knowledges.png") center center no-repeat;
    background-size: 75%;
}
.tab-item .center {
    background: url("../img/my.png") center center no-repeat;
    background-size: 75%;
}
.nav-set a.active i.center {
    background: url("../img/mys.png") center center no-repeat;
    background-size: 75%;
}
/*6 plus*/
@media only screen and (min-device-width: 414px) and (min-device-height :736px){
    .grade-a .nav-set {
        height: 56px;
        padding-top: 0;
    }
    .grade-a .nav-set a {
        height: 56px;
    }
    .navs {
        height: 3.6rem;
    }
    .tab-item .home, .nav-set a.active i.home, .tab-item .group, .nav-set a.active i.group, .tab-item .knowledge, .nav-set a.active i.knowledge, .tab-item .center, .nav-set a.active i.center {
        width: 39px;
    }
    .tab-item .home {
        background: url("../img/index.png") center center no-repeat;
        background-size: 75%;
    }
    .nav-set a.active i.home {
        background: url("../img/indexs.png") center center no-repeat;
        background-size: 75%;
    }
    .tab-item .group {
        background: url("../img/circle.png") center center no-repeat;
        background-size: 75%;
    }
    .nav-set a.active i.group {
        background: url("../img/circles.png") center center no-repeat;
        background-size: 75%;
    }
    .tab-item .knowledge {
        background: url("../img/knowledge.png") center center no-repeat;
        background-size: 75%;
    }
    .nav-set a.active i.knowledge {
        background: url("../img/knowledges.png") center center no-repeat;
        background-size: 75%;
    }
    .tab-item .center {
        background: url("../img/my.png") center center no-repeat;
        background-size: 75%;
    }
    .nav-set a.active i.center {
        background: url("../img/mys.png") center center no-repeat;
        background-size: 75%;
    }
}

.nav-set .nav-home.active, .nav-set .nav-circle.active, .nav-set .nav-knowledge.active, .nav-set .nav-my.active {
    color: #48b4ff;
}
.nav-set .tab-item {
    color: #b5b5b5;
}


.item .counts {
    padding-right: 8%;
    padding-right: 10%;
    vertical-align: middle;
}

.televise-praise, .televise-comments, .televise-share {
    float: right;
    height: 2rem;
    margin: 0;
    margin-right: 3%;
    vertical-align: text-bottom;
}
.televise-counts, .details-counts {
    float: right;
    padding-right: 6%;
    font-size: 1rem;
}
.televise-praise, .details-praise {
    width: 6%;
    background: url("../img/praise.png") center center no-repeat;
    background-size: contain;
}
.televise-comments, .details-comments {
    width: 6%;
    background: url("../img/messages.png") center center no-repeat;
    background-size: contain;
}
.televise-share {
    width: 7%;
    background: url("../img/gray-share.png") center center no-repeat;
    background-size: contain;
}
.televise-details {
    height: 2.4rem;
    padding-left: 20%;
    margin-top: 1rem;
    border-top: 0px;
    line-height: 2.4rem;
    color: #767676;
}
.televise-details span:nth-child(1), .item .details-counts:nth-child(1) {
    padding-right: 0;
}
.list .televise-lists {
    padding: 1.3rem;
    padding-bottom: 0.3rem;
}
.details-comments, .details-tpraise, .details-fpraise {
    float: right;
    height: 2rem;
    margin: 0;
    margin-right: 3%;
    vertical-align: text-bottom;
}
.details-counts {
    float: right;
    padding-right: 6%;
    font-size: 1.2rem;
}
.details-fpraise {
    width: 6%;
    background: url("../img/praise.png") center center no-repeat;
    background-size: contain;
}
.details-tpraise {
    width: 7%;
    background: url("../img/praises.png") center center no-repeat;
    background-size: contain;
}
.details-comments {
    width: 6%;
    background: url("../img/messages.png") center center no-repeat;
    background-size: contain;
}

.lawyer-lists {
    padding-bottom: 0.5rem;
    padding-right: 0.7rem;
}
.list-details {
    height: 1.6rem;
}
.order-number, .concern-number {
    float: right;
    height: 1.6rem;
    padding: 0.2rem 0 0.2rem 5%;
}
.concern-number, .order-number {
    width: 25%;
}
.concern-number {
    border-right: 0.1rem #999999 solid;
}
.concern-number span, .order-number span {
    display: block;
    height: 1.2rem;
    padding-left: 50%;
    line-height: 1.2rem;
    font-size: 0.8rem;
}
.concern-number span {
   background: url("../img/gray-love.png") 0 center no-repeat;
    background-size: 28%;
}
.order-number span {
    background: url("../img/order-number.png") 0 center no-repeat;
    background-size: 24%;
}
.star-score, .lawyer-name {
    float: left;
    font-size: 1rem;
}
.lawyer-name {
    height: 11px;
    margin-right: 3%;
    line-height: 14px;
}
.concern-lawyer {
    font-size: 14px;
    line-height: 30px;
    padding: 4px 15px 4px 5px;
    position: absolute;
    right: 0;
    top:20px;
    background: url("../img/concern-lawyer.png") 100% 100% no-repeat;
    max-width: 100%;
    min-width: 80px;
    
}
.concern-lawyer p {
    position: relative;
    float: left;
    width: 30px;
    height: 30px;
    margin-right: 0.5rem;
    background-color: #ffffff;
    font-size: 14px;
    text-align: center;
    border-radius: 30px;
    margin: 0;
}
.border1{
    width: 1px;
    height: 37px;
    background: #f0f1f3;
    background-color:rgba(238,238,238,0.5);
    display: inline-block;
    margin-top: 5px;
}
.lawyer-score {
    float: left;
    font-size: 14px;

}
.bg_radius{
    background: #ffffff;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    position: absolute;
    bottom: 1.5rem;
    left: 0.6rem;

}

.bg_transparent{
    background: #ffffff;
    position: absolute;
    background-color:rgba(0,0,0,0.3);
    bottom: 0;
}

.bgf2f2f2{
    background-color:#f2f2f2;
}

.pading510{
    padding: 3px 8px;
    margin-right:5px;
    font-size: 12px;
    display: inline-block;
    margin-bottom: 5px;
}
.list .i-lawyer-list a {
    padding-top: 1.5rem;
}
.list .i-lawyer-list label {
    font-size: 14px;
    padding: 0;
}


/*个人中心图标*/
.center-list {
    background-color: #fff;
}
.center-list .item {
    color: #b5b5b5666;
    padding-left: 0;
    margin: 0;
    border-width: 0 0 1px 0;
    border-bottom: 1px #f0f1f3 solid;
}
.border-bottom-colorf2f2{
    border-bottom: 1px #f2f2f2 solid;
}
.center-list div {
    padding-left: 14%;
}
.center-list .my-order {
    background: url("../img/my-order.png") 3% center no-repeat;
    background-size: 7%;
}
.center-list .my-consultation {
    background: url("../img/my-consultation.png") 3% center no-repeat;
    background-size: 7%;
}
.center-list .my-wallet {
    background: url("../img/my-wallet.png") 3% center no-repeat;
    background-size: 7%;
}
.center-list .become-lawyer {
    background: url("../img/become-lawyer.png") 3% center no-repeat;
    background-size: 7%;
}
.center-list .my-integral {
    background: url("../img/my-integral.png") 3% center no-repeat;
    background-size: 7%;
}
.center-list .my-collection {
    background: url("../img/my-collection.png") 3% center no-repeat;
    background-size: 7%;
}
.center-list .my-comment {
    background: url("../img/my-comment.png") 3% center no-repeat;
    background-size: 7%;
}
.center-list .my-follow {
    background: url("../img/my-follow.png") 3% center no-repeat;
    background-size: 7%;
}
.center-list .my-about {
    background: url("../img/my-about.png") 3% center no-repeat;
    background-size: 7%;
}
.center-list .my-set {
    background: url("../img/my-set.png") 3% center no-repeat;
    background-size: 7%;
}
.center-list .my-article {
    background: url("../img/my-article.png") 3% center no-repeat;
    background-size: 7%;
}
.header-information a label {
    color: #48b4ff;
}

/*登录头部返回键设置*/
.pane .login-header {
    position: relative;
    height: 3rem;
    border: 0;
    background-color: rgba(255,255,255,0);
}
.login-header a {
    position: absolute;
    top: 12%;
    left: 3%;
    width: 15%;
    height: 2.3rem;
    background-size: 90%;
    color: #fff;
    line-height: 3rem;
    z-index: 2;
}

/*问律师页面样式修改*/
.questions-content a {
    overflow: hidden;
    float: left;
    width: 100%;
    height: 21px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.questions-type select {
    width: 100%;
    height: 50px;
    border: none;
    line-height: 50px;
}
.questions-site .rig {
    width: 92px;
}
.questions-site .rig .icon-right {
    float: right;
    font-size: 4rem;
    color: #ccc;
}

/*律师个人主页*/
.pane .tabs .pic-consultation, .pane .tabs .phone-consultation {
    color: #48b4ff;
}

/*头部样式*/

.nav-bar-block .headers {
    border: none;
    margin: 0;
}
.headers .title-center {
    height: 44px;
}
.headers .title-center span {
    display: block;
    height: 44px;
    line-height: 44px;
    color: #48b4ff;
}
.headers.bar-light .title {
    font-family: 'Microsoft YaHei';
}
.headers.bar-light button.button-clear {
    font-family: 'Microsoft YaHei';
    font-size: 1.2rem;
}

/*认证律师*/
.uploapoto{
    background: url("../img/add.png") center center no-repeat;
    width: 20%;
    max-width: 200px;
    max-height: 200px;
    background-size: 60%;
    position: absolute;
    right: 5%;
    display: inline-block;
    height: 100%;
    top: 0px;
}
.becomenav-content, .becomenav-content .scroll {
    margin-top: 1px;
    background-color: #fff;
}
.scroll .list .becomenav-list {
    width: 94%;
    padding: 0 0 0 11%;
    margin: 0 3%;
    border-bottom: 1px #f0f1f3 solid;
    height: 50px;
    line-height: 50px;
}
.list .becomenav-list:nth-child(1) {
    background: url("../img/practitioners.png") 1% center no-repeat;
    background-size: 8%;
}
.list .becomenav-list:nth-child(2) {
    background: url("../img/name-authentication.png") 1% center no-repeat;
    background-size: 8%;
}
.list .becomenav-list:nth-child(3) {
    background: url("../img/tariff-set.png") 1% center no-repeat;
    background-size: 8%;
}
.list .becomenav-list:nth-child(4) {
    background: url("../img/good-field.png") 1% center no-repeat;
    background-size: 8%;
}
.list .becomenav-list:nth-child(5) {
    background: url("../img/case.png") 1% center no-repeat;
    background-size: 8%;
}
.submit-examine {
    margin: 1.4rem 0;
}
.submit-examine button {
    display: block;
    width: 94%;
    height: 3.26rem;
    margin: 0 auto;
    font-size: 1.4rem;
    border-radius: 3px;
}
.becomenav-list a {
    font-size: 1.2rem;
    color: #333;
}
.becomenav-list .col .item-checkbox {
    width: 100%;
    height: 3.8rem;
    padding: 0;
    margin: 0;
}
.becomenav-list .col .checkbox {
    position: absolute;
    top: 36%;
    right: 0;
    height: 3.8rem;
    padding: 0;
}
.becomenav-list .checkbox input {
    float: right;
    width: 1.74rem;
    height: 1.74rem;
    margin-top: 20%;
}
/*.not-selected {
    float: right;
    width: 60%;
    height: 3.8rem;
    background: url("../img/button-gray.png") right center no-repeat;
    background-size: 43%;
}
.selected {
    float: right;
    width: 60%;
    height: 3.8rem;
    background: url("../img/button-blue.png") right center no-repeat;
    background-size: 43%;
}*/

/*经历案例*/
.scroll .list .case-list {
    height: 4.1rem;
    margin: 0px 0 0 0;
    background-color: #f0f1f3;
}
.scroll .list .case-content {
    margin: 0;
    padding-top: 0;
}
.list .case-content .row {
    padding-top: 0;
}
.case-content .row textarea {
    height: 6rem;
}

/*擅长领域*/
.pane .field-content {
    margin-bottom: 0;
    padding-top: 2px;
    background-color: #fff;
}

.field-content .item .errer {
    padding: 0px;
    margin-left: 5%;
    font-family: 'Microsoft YaHei';
    font-size: 1.2rem;
}
.field-content .list span {
    background-color: #f0f1f3;
    border-radius: 3px;
    text-align: center;
}
.field-content .list label {
    font-size: 1.2rem;
    color: #b5b5b5;
}
.field-content .list span.active {
    background-color: #48b4ff;
}
.field-content span.active label {
    color: #fff;
}

.verified .has-header, .tariffset .has-header, .practitioners .has-header {
    margin-bottom: 0;
    background-color: #fff;
}
.tariffset-list, .verified-list, .practitioners-list {
    margin-top: 3px;
}

.tariffset-content div:nth-child(1) {
    text-align: right;
    font-family: 'Microsoft YaHei', Arial;
    color: #333;
}
.tariffset-content div:nth-child(3) {
    padding-right: 0;
    font-family: 'Microsoft YaHei', Arial;
    color: #b5b5b5;
}
.col-14 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 14%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 14%;
    -ms-flex: 0 0 14%;
    flex: 0 0 14%;
    max-width: 14%;
}
.tariffset-content .col input, .verified-name input {
    padding-left: 8%;
    border: none;
    font-family: 'Microsoft YaHei', Arial;
    font-size: 1.2rem;
}
.verified-name input {
    padding-right: 8%;
}

.verified-list .verified-name {
    padding-right: 0;
}
.verified-name .col-center, .verified-pic .col-center div, .tariffset-content div {
    font-size: 1.32rem;
}
.verified-name div:nth-child(2) {
    padding-right: 0;
}
.verified-pic .col-center span {
    font-size: 1.08rem;
    color: #999;
}
.verified-pic .col-60 .button {
    border-color: #999;
    color: #999;
}
.practitioners-list .item-input .input-label {
    width: 28%;
    padding-left: 4%;
    line-height: 1.7rem;
    font-size: 1.32rem;
}
.practitioners-list .item-input input {
    height: 2.7rem;
    padding: 0 8% 0.2rem 3%;
    border: none;
    line-height: 1.7rem;
    font-size: 1.2rem;
}


/*法律文书*/
.document-list .list {
    padding: 0;
}

/*律圈*/
.group-title {
    display: inline-block;
    overflow: hidden;
    width: 73%;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/*我的订单模块设置*/
.all-button .col button {
    display: inline-block;
    text-align: center;
    font-size: 0.8rem;
}
.all-button .all-replied button, 
.all-button .all-complete button:nth-child(1) {
    width: 39%;
}
.all-button .all-new button, 
.all-button .all-complete button:nth-child(2) {
    width: 23%;
}

/*去除高亮*/
a,button,input{
    -webkit-tap-highlight-color:rgba(255,255,255,0);
}

/*我的钱包*/
.wallet-list .item.item-icon-right {
    padding-right: 0;
}

/*修改密码*/
.resetpwd-list .item-input span {
    display: table;
    padding: 7px 0px 7px 0;
    max-width: 200px;
    width: 10%;
    color: #444;
    font-size: 16px;
    text-align: center;
}

/*咨询帮助*/
.pane .help-content {
    background-color: #fff;
}
.help-content .scroll {
    padding: 0 3%;
    background-color: #fff;
}
.help-content .scroll div {
    min-height: 72px;
    padding: 16px 0 16px 16%;
    margin: 0;
    border: none;
    border-bottom: 1px #f0f1f3 solid;
}
.help-content .item img {
    position: absolute;
    top: 16px;
    left: 8px;
    width: 2rem;
    height: 2rem;
    max-width: 2rem;
    max-height: 2rem;
    border-radius: 0;
}
.help-content .item h2 {
    margin-bottom: 0.6rem;
    font-size: 1.2rem;
    font-family: 'Microsoft YaHei';
    color: #b5b5b5;
}
.help-content .item p {
    font-size: 0.8rem;
    line-height: 1.2rem;
    color: #999;
}

/*文书详情*/
.download-content .download-name {
    margin-bottom:0;
}
.download-content .list {
    padding: 0;
}
.download-content .list .item {
    margin: 0;
}
.download-name span {
    font-size: 1.36rem;
    line-height: 1.4rem;
    color: #333;
}
.download-content .list span {
    display: block;
    margin-bottom: 0.6rem;
    font-size: 1.22rem;
    line-height: 1.26rem;
    color: #b5b5b5;
}
.download-content .item p {
    line-height: 1.2rem;
    font-size: 0.8rem;
    color: #999;
}
.download-content .row {
    padding: 5px 0;
}
.download-content .row div:nth-child(1) {
    padding: 5px 0 0 0;
}
.download-content .row div:nth-child(2) {
    padding-right: 0px;
    text-align: right;
}
.download-content .row img {
    display: block;
    width: 100%;
}

.nodate{
    margin: 30% auto;
    text-align: center;
}
.nodate-iocn{
    background-image: url(../img/nodate-iocn.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 80px;
    height: 39px;

}
.nodate label{
    color: #999;
    height: 25px;
    line-height: 25px;
}



.positive, a.positive {color: #48b4ff; }
.positive-bg {background-color: #48b4ff; }
.bar {border: none;background-image: linear-gradient(0deg, #48b4ff, #48b4ff 50%, transparent 50%);background-position: bottom;background-size: 100% 1px;background-repeat: no-repeat; }
.bar.bar-light {border-color: #48b4ff;background-color: #48b4ff;background-image: linear-gradient(0deg, #48b4ff, #48b4ff 50%, transparent 50%);color: #fff;border-bottom: 1px solid #48b4ff;}
.bar.bar-light .title {color: #fff; }
.bar.bar-light.bar-footer {background-image: linear-gradient(180deg, #48b4ff, #48b4ff 50%, transparent 50%); }
.tabs-striped .tab-item.tab-item-active, .tabs-striped .tab-item.active, .tabs-striped .tab-item.activated {border-color: #48b4ff; }
.tabs-striped.tabs-light .tab-item.tab-item-active, .tabs-striped.tabs-light .tab-item.active, .tabs-striped.tabs-light .tab-item.activated {color: #444;border-color: #48b4ff; }
.tabs-striped.tabs-stable .tab-item.tab-item-active, .tabs-striped.tabs-stable .tab-item.active, .tabs-striped.tabs-stable .tab-item.activated {color: #444;border-color: #48b4ff; }
.tabs-color-positive .tab-item.tab-item-active, .tabs-color-positive .tab-item.active, .tabs-color-positive .tab-item.activated {color: #48b4ff;border: 0 solid #48b4ff; }
.button.button-positive {border-color: #48b4ff;background-color: #48b4ff;color: #fff; }
.button.button-positive:hover {color: #fff;text-decoration: none; }
.button.button-positive.active, .button.button-positive.activated {border-color: #48b4ff;background-color: #48b4ff;}
.button.button-positive.button-clear {color: #fff; }
.button.button-cff2f5f {border-color: #ff2f5f;background-color: #ff2f5f;color: #fff; }
.button.button-cff2f5f:hover {color: #fff;text-decoration: none; }
.button.button-cff2f5f.active, .button.button-cff2f5f.activated {border-color: #ff2f5f;background-color: #ff2f5f;}
.button.button-cff2f5f.button-clear {color: #fff; }
.button-small {padding: 2px 16px 1px;min-width: 28px;min-height: 30px;font-size: 12px;line-height: 26px; }
.button-clear.button-clear{color: #fff;}
.item-complex .item-content, .item-radio .item-content{padding: 8px 8px 16px 106px;}
.badges{position: absolute;background-color: #ef473a;color: #fff;z-index: 1;display: inline-block;padding: 3px 7px;min-width: 10px;border-radius: 10px;vertical-align: baseline;text-align: center;white-space: nowrap;font-weight: 500;font-size: 14px;line-height: 16px;}


/* 免费咨询 */
.font12{font-size: 12px;}
.font14{font-size: 14px;}
.c48b4ff{color:#48b4ff;}
.cff4670{color:#ff4670;}
.cb5b5b5, .item p.cb5b5b5{color: #b5b5b5}
.cf7861e{color: #f7861e}
.mt10{margin-top: 10px;}
.mb10,.card .item h2{margin-bottom:10px;}

.card, .list-inset{margin: 14px 10px;}
.drop-down-arrow{    background: url("../img/drop-down-arrow.png") no-repeat scroll 93% 88% transparent;
padding-right: 1rem;
font-size: 14px;
background-size: 1rem;
}
.baclass{background-color: #fff;position: absolute;z-index: 999;width: 100%;height: 270px;margin-top: 1px;}
.baclass ul li{height: 45px;line-height: 45px;padding-left: 10px;}
.baclass ul li.active{background-color: #f0f1f3;}
.bar.transparent{background: transparent;}

/* 发布提问 */
.main{margin: 14px 10px;}
.main .item-input{background-color: #fff;border-radius: 10px;}
button.button{border-radius: 10px;}
.button{min-height: 35px;line-height: 35px;}
.button.button-block, .button.button-full {
    margin-top: 5px;
    margin-bottom: 5px;
}
textarea {height: auto; }
/*input[placeholder], [placeholder], *[placeholder] { 
    color:#b5b5b5 !important; 
} */
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"]
{
    color: #3d3d3d;
}


/*咨询参考*/
.hederpading{width: 100%;text-align: right;padding: 16px 10px 0;height: 49px;}
.comment{background: url("../img/comment.png") no-repeat scroll center center transparent;}
.comment_s{background: url("../img/comment_s.png") no-repeat scroll center center transparent;}
.collect{background: url("../img/collect.png") no-repeat scroll center center transparent;}
.collect_s{background: url("../img/collect_s.png") no-repeat scroll center center transparent;}
.comment, .comment_s, .collect, .collect_s, .hederpading span{display: inline-block;width: 48px;height: 33px;background-size: 70%;}
.like{background: url("../img/like.png") no-repeat scroll center top transparent;}
.like_s{background: url("../img/like_s.png") no-repeat scroll center top transparent;}
/*.gift{background: url("../img/gift.png") no-repeat scroll center top transparent;}*/
.gift_s{background: url("../img/gift_s.png") no-repeat scroll center top transparent;}
.like, .like_s{display: inline-block;width: 48px;height: 19px;background-size: 40%;}
.gift, .gift_s{display: inline-block;width: 48px;height: 19px;background-size: 50%;}
.card .carditem{padding: 10px 10px 0;border: 1px solid #ebebeb;margin: 1px 16px 16px;border-radius: 10px;}
