body,
.ionic-body{
	font-family: "微软雅黑";
}
a{
	text-decoration: none;
	color: #32a9f2;
}
a:link{
	text-decoration: none;
	color: #333333;
}
a:visited{
	text-decoration: none;
	color: #333333;
}
a:active{
	text-decoration: none;
	color: #333333;
}
a:hover{
	text-decoration: none;
	color: #32a9f2;
}
.card{
	box-shadow:none;/* 0 1px 3px rgba(0, 0, 0, 0.3); */
}
.row{
	padding: 0px;
}
.row .col{
	margin-bottom: 0px;
	padding: 0px;
	border: none;
}
.row .col .item{
	border: none;
}
